[2019-10-29 20:53] bogdandrutu commented on #515
I tried a PR to build this using java11 which fails because of bootclasspath warning. I think what we want is probably to run the testbed with java11 and the jars maybe built with java8?

[2019-10-29 22:38] samvaity opened #654 "Add remote parent information to Span Context"
Currently, we do not have a way to tell if a span is created by a remote parent. So we should pass the remote parent context information down to the child span and set `isRemote` accordingly.

[2019-10-30 07:16] yelcat commented on #302
Need OpenCensus -Shim for gRPC

[2019-10-30 22:12] #650 closed

[2019-10-31 13:30] pavolloffay commented on #515
Yes, I think that is exactly what we do for java 9. We just need to bump the version.

[2019-10-31 19:53] #617 closed

[2019-10-31 19:56] bogdandrutu commented on #515
That was not the case, we build and run tests with java9 currently

[2019-10-31 22:35] samvaity opened #659 "Make getter for invalid SpanContext public"
Set the access modifier to be public for [this ](https://github.com/open-telemetry/opentelemetry-java/blob/0b21928db5085fe3deff6dfd8d28bd49dcde9e71/api/src/main/java/io/opentelemetry/trace/SpanContext.java#L53).

Currently, users outside of the package don't have the ability to create Invalid SpanContext.

[2019-11-01 00:04] samvaity commented on #659
@bogdandrutu When porting from opencensus to opentelemetry found that we no more have public getter for Invalid SpanContext. Do we want to support this?

[2019-11-01 15:03] bogdandrutu opened #660 "Add capability to record attributes in the Span.Builder"

[2019-11-01 15:06] bogdandrutu opened #661 "Add benchmarks for the tracing package"

[2019-11-02 09:36] HaojunRen opened #662 "What's plan to support Spring/SpringBoot/SpringCloud"
Opentracing has already support these, how about opentelemetry? Thanks a lot

[2019-11-04 15:31] dansiviter opened #663 "Stackdriver Exporter"
OpenCensus has this for both trace and metrics however I cannot find a single reference to this in Java OpenTelemetry and is not on the default specification open-telemetry/opentelemetry-specification#6. It seems other languages are looking at this (see [opentelemetry-dotnet/OpenTelemetry.Exporter.Stackdriver](https://github.com/open-telemetry/opentelemetry-dotnet/tree/master/src/OpenTelemetry.Exp

[2019-11-04 15:35] bogdandrutu commented on #663
We are waiting to create a new org/repo for the stackdriver expoters. OpenTelemetry decided to not host the Stackdriver exporters in the main repos and all languages will remove that soon, we will move them in a separate repo.

[2019-11-04 15:36] dansiviter commented on #663
Thanks for the info. I'm assuming Googlers are going to get involved with this soon? Any idea of timelines?

[2019-11-04 16:09] bogdandrutu commented on #663
Yes. Don't have right now a real timeline estimate.

[2019-11-05 07:47] bogdandrutu opened #664 "Rename Tracer/MeterFactory to Tracer/MeterRegistry"

[2019-11-05 10:56] arminru commented on #664
Where does this requirement originate from?

[2019-11-05 17:56] #654 closed

[2019-11-05 22:44] samvaity opened #665 "Jaeger Exporter not setting Span Attributes"
Jaeger Exporter:

<img width="1156" alt="1" src="https://user-images.githubusercontent.com/16845631/68252432-642af100-ffda-11e9-93dd-f18113dbe6ee.png">

Logging Exporter:
[code]

[2019-11-05 22:53] samvaity opened #666 "Jaeger Exporter throwing an NPE"
Jaeger Exporter throwing an NPE but same program running fine with LoggingExporter
[code]

[2019-11-05 23:18] samvaity commented on #659
[code]
Gets an invalid span context.
Closing this.

[2019-11-05 23:18] #659 closed

[2019-11-06 15:41] objectiser commented on #665
@samvaity Could you obtain the json from the Jaeger UI - when a trace instance is selected, in the top right corner (Trace JSON). Would like to check what is actually inside the json?

[2019-11-07 10:21] #666 closed

[2019-11-07 21:29] samvaity commented on #665
@objectiser
This is another sample Trace JSON that I have running for a simple span trying to set an attribute.
Not just the status but I see that we are unable to retrieve  **values**  for any of the attributes on the span.

[code]

[2019-11-08 16:17] breedx-nr commented on #642
This issue could use some clarification.  See https://github.com/open-telemetry/opentelemetry-java/pull/645 for one way to not do this.  :)

[2019-11-11 10:12] arminru opened #670 "Add library resources to named meters in the SDK"
Part of / follow-up for #588:

The implementation of `MeterSdkFactory` added in #668 currently discards the passed instrumentation name and version. As specified in the [OTEP](
https://github.com/open-telemetry/oteps/blob/master/text/0016-named-tracers.md#internal-details), it has to be made available as a `Resource` (in case of Java we use a dedicated info object `InstrumentationLibraryInfo`, see

[2019-11-11 15:18] #665 closed

[2019-11-12 01:37] shengxil opened #671 "OT Bridge: Nullcheck parent span's DistributedContext before inherit"
[Failed code](https://github.com/open-telemetry/opentelemetry-java/blob/master/opentracing_shim/src/main/java/io/opentelemetry/opentracingshim/SpanBuilderShim.java#L186), see https://github.com/open-telemetry/opentelemetry-java/pull/648

`spanContextTable().get(parentSpan)` may return null because when starting a root span, if it has no `DistributedContext`, it wouldn't register on `spanContextTab

[2019-11-12 01:41] shengxil commented on #671
Otherwise, we must always register on `spanContextTable`. If there's no parent or parent doesn't have `DistributedContext `, create an `emptyDistributedContext` instead

[2019-11-12 22:35] samvaity opened #674 "Alpha release for Tracing API and Tracing sdk."
Currently, the release schedule mentions releasing an alpha version of the library by middle October 2019 [Oct 21st, 2019]. But we still do not have a non-snapshot version.

What could be the best estimate to get a non-snapshot version of this library released on Maven?

[2019-11-13 01:21] bogdandrutu commented on #674
@carlosalberto can you please make a release to maven for `0.2.0-alpha` version (or just `0.2.0`)?

[2019-11-13 21:25] #588 closed

[2019-11-15 18:17] joshfree commented on #674
Thank you @bogdandrutu and @carlosalberto -- yes pushing a non-snapshot to Maven will help keep the Azure SDK for Java team's infra happy (https://github.com/Azure/azure-sdk-for-java/issues/6301).  Would it be possible to get a 0.2.0 (or 0.2.0-alpha) pushed to Maven before 11/22 (https://github.com/Azure/azure-sdk-for-java/milestone/62)?

Thank you

[2019-11-17 19:10] lizthegrey commented on #674
Can you also update the website ASAP to indicate this status so I don't misrepresent your status onstage at KubeCon? Thx. cc @austinlparker

[2019-11-17 20:27] austinlparker commented on #674
The website data is generated from the milestones in GitHub (see https://github.com/open-telemetry/community/issues/201). Please update the milestones in this repo and ping me on this thread and I can force a website update.

[2019-11-18 05:00] samvaity commented on #674
@carlosalberto, @bogdandrutu Do we have any update on the release of the packages? I still don't see them on Maven yet.

[2019-11-22 19:40] samvaity commented on #674
Packages released to Maven - https://repo.maven.apache.org/maven2/io/opentelemetry/
Thank you for doing this @carlosalberto  and @bogdandrutu  :)

[2019-11-22 19:40] #674 closed

[2019-11-23 09:30] ZShUn opened #680 "Will the method level span be achieved?"

[2019-11-27 15:45] bogdandrutu commented on #670
@arminru I think all the libraries should use a different object and not resource.

[2019-11-27 15:55] bogdandrutu commented on #664
I like the names better than `Factory`. Main reason is that we do have an internal shared state between all Tracers that is owned by the `Registry` or `Factory`, usually factories do not share state with elements created.

I don't feel very strong but I do think it is a better name.

[2019-11-27 15:56] bogdandrutu commented on #680
Can you please clarify a bit more what is the problem that you are trying to solve?

[2019-11-27 16:23] arminru commented on #664
I'm perfectly fine with TracerRegistry and do agree with your considerations, I just didn't know where this issue originated from. Once https://github.com/open-telemetry/opentelemetry-specification/pull/354 is merged we are free to name it either way, I'm all in for TracerRegistry then.

[2019-11-27 16:25] arminru commented on #670
@bogdandrutu The OTEP mentions that a `Resource` has to be used but the spec doesn't impose any limitations so I'm fine with keeping the `InstrumentationLibraryInfo`.

[2019-11-27 16:54] bogdandrutu opened #683 "Revisit the createLabelSet API"
Current API may not be the final:
1. Need to support more than 4 labels
1. The current API may be error prone because of the ordering k,v

[2019-11-27 17:16] bogdandrutu opened #684 "SDK: Implement all methods in MeterSdk."

[2019-11-28 02:50] carlosalberto commented on #664
+1 on having it as `Registry`.

[2019-12-04 18:29] songy23 commented on #680
Is this something you're looking for? https://github.com/open-telemetry/opentelemetry-auto-instr-java

[2019-12-05 17:34] Oberon00 commented on #664
In my python PR (https://github.com/open-telemetry/opentelemetry-python/pull/301) I named it `TracerSource` because it does not keep track of the created tracers, so registry would be wrong.

[2019-12-05 18:49] #660 closed

[2019-12-05 18:50] #671 closed

[2019-12-05 19:29] carlosalberto commented on #547
This is fixed via #596

[2019-12-05 19:29] #547 closed

[2019-12-07 01:00] carlosalberto opened #688 "Create a FAQ file"
Today in our SIG call there was a question regarding why `Span` does not implement the `Closeable` interface, which has a reason but is not so obvious. Because of this, it would be nice to have a FAQ with common questions/issues.

[2019-12-07 01:03] carlosalberto commented on #532
Currently, we are only missing `SamplerHint` at the API level, as the rest has been done already.

[2019-12-09 16:36] Oberon00 opened #690 "TraceId.getLowerLong returns idHi"
See the following code:

https://github.com/open-telemetry/opentelemetry-java/blob/9afb1e405919f7516f2af8e27e65546a5abe7866/api/src/main/java/io/opentelemetry/trace/TraceId.java#L213-L214

It seems this should use `idLo` instead of `idHi` to match the method name.

[2019-12-09 22:43] JonathanGiles opened #691 "Support JDK 9 modules"
Refer to http://branchandbound.net/blog/java/2017/12/automatic-module-name/ for useful background.

Our issue at Microsoft is that our JDK 9-supporting libraries have a dependency on opentelemetry, but our build gives us a warning that we have a dependency on a library that does not have a module name specified. If the library could at the least have a `Automatic-Module-Name`, that would be hugely

[2019-12-10 08:49] arminru opened #692 "Provide usage examples"
We should add samples for using OpenTelemetry Java to make it easier for beginners to get a feeling of how to use the API properly.
OpenCensus had examples included right in the repo and so do OTel [Python](https://github.com/open-telemetry/opentelemetry-python/tree/master/examples), [JS](https://github.com/open-telemetry/opentelemetry-js/tree/master/examples), [Go](https://github.com/open-telemet

[2019-12-10 08:54] thisthat commented on #692
I can take care of it!

[2019-12-10 12:58] arminru commented on #692
Should we make the examples a subproject which breaks the build if the API is changed without updating the examples accordingly?

Having the examples as standalone projects which reference OTel via Maven makes more sense for users looking at them but this way they're more likely to get outdated if no one cares to update them regularly.

[2019-12-12 19:20] carlosalberto commented on #692
I personally like this, as otherwise it would be *very* easy to forget about them ;)

[2019-12-16 08:06] Oberon00 opened #699 "RecordEventsReadableSpan.getAttributes/toSpanData not properly synchronized"
See: https://github.com/open-telemetry/opentelemetry-java/blob/ba05a6514f69c7c4605d637fc965c7145513b6de/sdk/src/main/java/io/opentelemetry/sdk/trace/RecordEventsReadableSpan.java#L288-L290

`RecordEventsReadableSpan.getAttributes` returns an unmodifieableMap, which is not a copy of but an (synchronized) reference to `attributes`. `toSpanData` calls `getAttributes` without further synchronization.

[2019-12-16 11:25] thisthat commented on #690
I think the problem is not the implementation but the naming of the method. My suggestion is to rename it using the keyword *leftmost* following the suggestion of @c24t in [PR 331](https://github.com/open-telemetry/opentelemetry-specification/pull/331#issue-330774237)

[2019-12-16 16:43] jkwatson commented on #699
Is the concern here that someone might add attributes after `toSpanData` has been called, but that the `SpanData` instance is intended to be a snapshot in time that is fully immutable?

[2019-12-16 17:13] jkwatson commented on #699
I just verified that when we create the `SpanData` instance, we do make a copy of the attributes in the build method on the builder. So, the results on the `SpanData` are fully immutable, if this was the concern.

[2019-12-16 20:32] Oberon00 commented on #699
Indeed, I did miss the `new HashMap` here: https://github.com/open-telemetry/opentelemetry-java/blob/ba05a6514f69c7c4605d637fc965c7145513b6de/sdk/src/main/java/io/opentelemetry/sdk/trace/SpanData.java#L291

Then this is an invalid report, sorry for the noise.

[2019-12-16 22:50] jkwatson commented on #585
this was completed by #612

[2019-12-16 22:50] #585 closed

[2019-12-16 22:50] jkwatson commented on #552
Related spec issue:  https://github.com/open-telemetry/opentelemetry-specification/issues/390

[2019-12-16 22:51] jkwatson commented on #517
related to spec issue:  https://github.com/open-telemetry/opentelemetry-specification/issues/390

[2019-12-16 22:52] jkwatson commented on #518
related to spec issue:  https://github.com/open-telemetry/opentelemetry-specification/issues/390

[2019-12-16 23:07] bogdandrutu opened #700 "Rename getBound to bind and removeBound to unBind"

[2019-12-16 23:07] bogdandrutu opened #701 "Remove getDefaultBound()"

[2019-12-16 23:44] jkwatson opened #703 "Rename the metrics to have the value type first."
For example CounterDouble -> DoubleCounter

[2019-12-17 00:06] #700 closed

[2019-12-17 08:28] Oberon00 commented on #699
I closed this too quickly. Even though the `new HashMap` is there in `SpanData.Builder.build()`, the call to `build()` in `Span.toSpanData()` is not synchronized, so `Span.setAttribute` could modify the map while `build` iterates over it.

[2019-12-17 12:47] Oberon00 opened #705 "Confusing naming around "Bound""
The metrics API has (at least 😄) two things that confuse me:
* It often talks about "a Bound" which would be "a Boundary" to me, not "a bound instrument"
* The function `unbind(BoundFoo)` is confusing. After calling that function, do I have an unbound BoundFoo? Maybe `removeBoundInstrument` would be a better name (or `BoundFoo.close`).

[2019-12-17 15:11] Oberon00 commented on #699
See #706 / https://circleci.com/gh/open-telemetry/opentelemetry-java/1076: You'll get the following Exception if you try to call `setAttribute` concurrently with `toSpanData`:

[code]

[2019-12-17 15:41] jkwatson commented on #705
Yes, I want to get rid of "bound" as a noun, and make sure it's always being used as an adjective. This is on my very near-term radar (like, this week).

How about `release(BoundFoo)` ?

[2019-12-18 09:27] Oberon00 opened #709 "SpanBuilderSdk.truncatedLinks may keep references to thrown away links"
`truncatedLinks` uses `ArrayList.subList` to truncate the links.

https://github.com/open-telemetry/opentelemetry-java/blob/7505c1297f7eaf324b16a68d07142a93a5472b50/sdk/src/main/java/io/opentelemetry/sdk/trace/SpanBuilderSdk.java#L226

However, `subList` returns a `ArrayList.SubList` object which has a reference to the full parent list (along with the start/end index to which it refers). Since the

[2019-12-18 14:54] arminru opened #710 "Implement exporter timeout for BatchSpansProcessor"
https://github.com/open-telemetry/opentelemetry-specification/pull/326 extended the SDK spec for the `BatchSpansProcessor` by a configurable timeout for the attached exporter:

  The default value is `30000`.

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-tracing.md#batching-processor

This is a MUST requirement and thus needs to be implemented in the

[2019-12-18 17:09] jkwatson commented on #705
Hi @Oberon00 . I'm also confused by the current shape of the metrics API. I think it needs a major re-think before 1.0, because I don't think that it is very usable or discoverable as it is right now. I also don't think it's actually meeting the spec, either (especially around non-bound-instrument usage).

[2019-12-18 17:45] jkwatson opened #711 "Add non-bound-instrument calling convention usage to the metric API"
We need to allow using the instruments in a non-bound-instrument usage model, directly making recordings without going through the binding step.

[2019-12-18 17:46] jkwatson commented on #705
See #711 for the issue to get the non-bound-instrument calling convention added to the API.

[2019-12-18 18:18] #701 closed

[2019-12-18 19:32] jkwatson opened #713 "Add an empty LabelSet access method to the Meter"
The API user should be able to create/access an empty `LabelSet` instance. Currently, the Meter only allows for non-empty versions.

[2019-12-18 19:38] #703 closed

[2019-12-18 20:48] jkwatson opened #714 "Rename Metric to Instrument"
This will match up with the spec a little better, and makes it clearer that the things that the API works with are Instruments, not metrics directly.

[2019-12-18 22:04] #713 closed

[2019-12-18 23:51] jkwatson commented on #705
see #717 for a bunch more cleanup that should help with this.

[2019-12-19 09:29] Oberon00 opened #718 "No way to change HttpTextFormat"
There is no way to change the HttpTextFormat in the `TracerSdk`.

https://github.com/open-telemetry/opentelemetry-java/blob/a8d14d8886c7359705710d92e4679b80f8514e93/sdk/src/main/java/io/opentelemetry/sdk/trace/TracerSdk.java#L34

I know this will probably be reworked with #655 or https://github.com/open-telemetry/oteps/pull/66 but honestly, these look like mid- to long-term projects. So in the mea

[2019-12-19 14:06] Oberon00 opened #719 "Remove @VisibleForTesting getters from RERSpan and use toSpanData in tests instead?"
As noted by @bogdandrutu in https://github.com/open-telemetry/opentelemetry-java/pull/706#discussion_r359499162 and https://github.com/open-telemetry/opentelemetry-java/pull/706#discussion_r359499245: We could remove the `@VisibleForTesting` getters from `RecordEventsReadableSpan` if we used `toSpanData` instead in unit tests.

[2019-12-20 00:28] #711 closed

[2019-12-24 07:54] dschulten commented on #295
Making this an official feature is still important. In the meantime, for java there is https://github.com/opentracing-contrib/java-api-extensions

[2019-12-25 15:26] #714 closed

[2019-12-30 17:50] jkwatson opened #723 "Replace labelset creation API with simple varargs creation"
We can get down to a single labelset creator method if we just use varargs, rather than having all the methods with specific numbers of arguments.

[2019-12-30 17:57] jkwatson commented on #705
@Oberon00 Are things looking better now? Can we close this with the various cleanup I did?

[2019-12-31 14:30] kbrockhoff commented on #525
I am working on this issue.

[2019-12-31 14:31] kbrockhoff commented on #662
This work is part of #522 which I am currently working on,

[2019-12-31 14:37] HaojunRen commented on #662
Cool

[2019-12-31 16:09] jkwatson commented on #663
I think we should close this, since it won't be hosted by the otel project.

[2019-12-31 16:15] jkwatson commented on #406
`ThreadLocalRandom` is available in java 7, so this should be ok for the versions of Android we're targeting, correct?

[2019-12-31 16:40] jkwatson commented on #406
nevermind. I see that it's not valid for android 14, even though it's in java 7.  :(

[2019-12-31 18:05] jkwatson commented on #642
Agree with @breedx-nr . Unless someone can clarify what this means, I think we should close it.

[2019-12-31 18:48] dansiviter commented on #663
Happy for it to be closed, but would be useful to get some clarity on where it will be hosted.

[2019-12-31 21:22] jkwatson opened #729 "Simplify the BatchSpansProcessor"
I believe this class can be re-implemented to use a simple Queue and a background thread to process it.

[2020-01-07 01:11] #664 closed

[2020-01-07 08:06] Oberon00 commented on #705
Looks much better now, but GitHub search still turns up a few instances in test code, like https://github.com/open-telemetry/opentelemetry-java/blob/91053c45c8432ce29111e7883fa7ce03f189c6bf/api/src/test/java/io/opentelemetry/metrics/LongGaugeTest.java#L107

[2020-01-07 16:14] jkwatson opened #734 "Create a builder for the MeterSdkRegistry"

[2020-01-07 20:27] kbrockhoff opened #735 "No way to change implementations wrapped by TracerSharedState"
Due to private access, there is no current way to swap out implementations of Clock, IdsGenerator or Resource.

[2020-01-07 20:31] jkwatson commented on #735
Does #727 fix this?

[2020-01-07 20:37] kbrockhoff commented on #735
Yes it does.

[2020-01-07 22:27] #406 closed

[2020-01-08 00:05] #518 closed

[2020-01-08 00:05] #735 closed

[2020-01-08 02:53] jkwatson commented on #705
Got it. I'll get to this soonish.

[2020-01-08 21:38] #628 closed

[2020-01-08 21:57] #705 closed

[2020-01-08 23:18] jkwatson commented on #723
This can also be done with a `Map<String, String>` if we don't like varargs for some reason. Although, we'll end up with a lot of methods for creating LabelSets that way.

[2020-01-09 14:12] Oberon00 commented on #699
Fixed via #706.

[2020-01-09 14:12] #699 closed

[2020-01-10 16:49] jkwatson commented on #719
Note: while working on this, I found there are also some unused pieces of data in the RERSpan that are being exposed only for testing. I'm planning on removing that data; we can add it back if we end up with a use case for it.

[2020-01-10 22:26] bogdandrutu opened #744 "Change min java/android version for SDK"
The proposal is to increase the minimum java version and android api level only for the SDK (the API will remain the same, in order to allow gRPC to depend on opentelemetry-api).

The new proposed versions are (some details here https://developer.android.com/studio/write/java8-support):
* Java 8
* Android 24

I would like every vendor to comment on this.

[2020-01-10 22:28] jkwatson commented on #744
New Relic strongly endorses this change!  Thumbs way up!

[2020-01-10 22:34] bogdandrutu commented on #744
Waiting for:

DD: @tylerbenson
LS: @tedsuo
MS: @SergeyKanzhelev
DT: @Oberon00
SK: @tigrannajaryan

[2020-01-10 23:25] tedsuo commented on #744
I don't have the adoption numbers currently. But it is true is that we had Java 7 support in both OpenTracing and OpenCensus.  Won't we be abandoning users if we do this? Those users will then demand continued support from OpenTracing and OpenCensus projects, which could hinder our ability to EOL those projects.

[2020-01-10 23:32] bogdandrutu commented on #744
That is what I am asking, if we do abort users. In OpenCensus very few people (close to 0) use the implementation that is java7 compatible (almost everyone use the java8 version).

Are the OpenTracing implementations java7 as well?

[2020-01-10 23:36] bogdandrutu commented on #744
@yurishkuro do you have an opinion here?

[2020-01-11 01:46] tedsuo commented on #744
I’ll check our numbers. I queried the internet: https://twitter.com/opentelemetry/status/1215811993724055552?s=21

[2020-01-11 17:59] kbrockhoff opened #747 "Registries created through builders should be returned by OpenTelemetry static methods"
TracerSdkRegistry, MeterSdkRegistry and DistributedContextManagerSdk objects created programmatically using the builders and intended to be global registries should be returned by the static methods of the OpenTelemetry class. Currently new registry objects with default configuration get created using the Java ServiceLoader mechanism. This should be the fallback if they are not set explicitly.

[2020-01-13 08:28] Oberon00 commented on #744
Forwarding that to @arminru

[2020-01-13 13:56] kbrockhoff commented on #747
Relates to PR #724

An alternate approach could be similar to log4j 2.x.
http://logging.apache.org/log4j/2.x/log4j-core/apidocs/org/apache/logging/log4j/core/config/ConfigurationFactory.html

[2020-01-13 14:15] Oberon00 commented on #744
Java 7 vs 8 is an important issue for Dynatrace. We have some use cases where we might still need Java 7 support from the SDK. We are currently researching if these use cases are actually still needed by customers, but it may take us till next week to reach a decision here. I hope you are not in a rush for this issue?

We would be fine with the Android API level change though.

CC @arminru

[2020-01-13 16:14] tylerbenson commented on #744
I strongly support this.

[2020-01-13 16:20] bogdandrutu commented on #744
@Oberon00 I can definitely wait until next week, that's why I asked here and not changed directly the sdk :)

[2020-01-13 21:17] jkwatson opened #750 "Don't block the span processor thread waiting for the exporter to complete."
Follow-on from #728

[2020-01-13 21:30] #710 closed

[2020-01-13 22:15] jkwatson commented on #747
So, if something like #724 was in place, then you could use the setter to assign to the global OpenTelemetry instance. I wouldn't expect that the builder would do that itself. For Spring, it would probably make sense for some sort of helper class in the Spring integration would call the setter on the global instance to assign it. Do think think that's a viable approach? I'd be happy to have an alt

[2020-01-13 23:50] kbrockhoff commented on #747
In Spring, it will be the auto-configuration mechanism which would use the build to create a TracerFactory, etc, then set using the static setter in OpenTelemetry, and then return the built TracerFactory as a bean. At that point, whether TracerFactory is injected by Spring or retrieved using OpenTelemetry.getTracerFactory() the same instance would be seen.

The only thing I am concerned about with

[2020-01-14 13:54] kbrockhoff commented on #662
Partially implemented by PR #736

[2020-01-14 18:57] #723 closed

[2020-01-14 22:20] #719 closed

[2020-01-15 17:57] tedsuo commented on #744
For vendors who are requesting Java 8: is this because you don't perceive the need for Java 7 support any longer, or is it because you plan to accomplish Java 7 support via another APM product?

I am getting push back from on high, to say that Java 7 support is critical for us. It would be helpful to have some data to support moving to Java 8. The version is officially retired, but the perception

[2020-01-15 20:46] jkwatson commented on #744
My thinking is this: Users of Java 7 are the least likely to be adopters of things like Open Telemetry. They are unlikely to want to update a monitoring library or use a brand new one if they aren't even willing to update their JDK to something that is at least under LTS.

[2020-01-16 00:02] tylerbenson opened #762 "HttpTextFormat.Setter.put is an odd naming convention"
It seems really odd to me that we name the class `Setter` but use `put` as the method name.  I think we should change the name to `set` for consistency, especially when we have `Getter.get`

[2020-01-16 08:49] Oberon00 commented on #744
@jkwatson I agree with you that users of Java 7 are not very likely to instrument their app with OpenTelemetry themselves. But there is the case of providing an auto-instrumenting agent that could be used without code modifications. For such an use case it may make sense to still support Java 7.

[2020-01-16 17:29] tylerbenson commented on #744
@tedsuo I would like to point out that it seems Lightstep has never supported Java 7: https://github.com/lightstep/lightstep-tracer-java/issues/213

[2020-01-16 17:31] tedsuo commented on #744
@tylerbenson that is issue a request for us to support java 7, from our own sales engineering team. :)

[2020-01-16 18:04] tedsuo commented on #744
Basically, my question is: what would it take to move the API to Java 8, and then work on a backwards compatibility story for Java 7? If Java 7 support could be added later, I would be fine with not having it now.

[2020-01-16 18:09] bogdandrutu commented on #744
API is not going to move soon to Java8. This issue is about the SDK. Maybe we can drop initially the android API level and stay at least at full java7 for SDK is a good initial step, then changing to java8 later.

[2020-01-16 23:28] prydin opened #765 "Span::setAttribute null-checking of value may be detrimental"
This came up as an issue when working on the auto-instrumentation project.

The ```Span::setAttribute()``` method is commonly used in interceptors to copy attributes from an invocation to span attributes. This method will, by design, throw a ```NullPointerException``` if a null value is supplied. Given that many frameworks may treat certain attributes as optional, there's a chance that attributes

[2020-01-17 02:37] jkwatson commented on #765
Would you want the `null` value to propagate and end up being reported somewhere, or should it always be ignored?  To rephrase: are there use-cases for null valued attributes?

[2020-01-17 02:45] prydin commented on #765
As far as I'm concerned, a null value on an attribute is perfectly fine. But there may be other parts of the code that doesn't agree with me.  :)

My particular use case is this: The auto instrumenter picks up a bunch of values from a call to some service that we're instrumenting. We pick up those values and stick them as attribute on a Span. Sometimes the values we get extract from the call are n

[2020-01-17 15:38] jkwatson opened #766 "Consider creating metrics for dropped span information"
Links, attributes and events all have a maximum. If it is exceeded, we'll start dropping data. We should consider incrementing OTel counters when we do so.

[2020-01-17 15:44] jkwatson commented on #765
Our 3 options:
1) Leave the API as-is, reject null valued attributes, requiring instrumenters to filter out nulls.
2) Add an additional method on the API to allow setting possibly null-valued attributes
3) Change the API to allow null valued attributes and pass those on to exporters to deal with.

I'd love some input from other folks.  @tylerbenson, @trask, @bogdandrutu , your thoughts?

[2020-01-17 15:50] arminru commented on #766
see also:
https://github.com/open-telemetry/opentelemetry-java/blob/ba17e1fd16ff8b3acb6014c71983a812cf0210e0/sdk/src/main/java/io/opentelemetry/sdk/trace/export/BatchSpansProcessor.java#L274-L278

[2020-01-17 16:07] prydin opened #767 "HttpTraceContext::extract() fails on traceparent == null"
```io.opentelemetry.trace.propagation.HttpTraceContext::extract()``` can be used to construct a ```SpanContext``` from HTTP headers/request attributes. This is very useful when instrumenting servlets, for example.

However, this method fails on an ```IllegalArgumentException``` when the ```traceparent``` attribute can't be located. I don't think this exception should be called, since root spans sh

[2020-01-17 16:17] prydin commented on #767
Also, catching the exception and trying to manually set the parent to null through ```Span.Builder::setParent()``` doesn't work either, since it doesn't accept null parameters.

[2020-01-17 16:20] tylerbenson commented on #765
Decision from the call:  We are going to update the API to allow nullable values (but not keys), and that null values will result in the call being a noop.

[2020-01-17 16:22] arminru commented on #765
From today's SIG call:
We agree that it would make things easier for use cases like yours if we don't throw on null. We tend towards changing the existing API to accept null values (not keys) and just drop them immediately as if they were never provided, so the null value wouldn't be propagated.

[2020-01-17 17:46] Sandared opened #768 "Add OSGi support for API and SDK"
It would be awesome if ot api and sdk could provide manifests with proper OSGi entries, e.g., by using the [bnd gradle plugin](https://github.com/bndtools/bnd/tree/master/biz.aQute.bnd.gradle) that calculates them automatically :)

[2020-01-17 17:52] carlosalberto commented on #767
I agree on this, and I think we should try to *not* throw exceptions for non-fatal cases.

[2020-01-17 18:10] trask commented on #744
I tend to agree with @Oberon00's point [above](https://github.com/open-telemetry/opentelemetry-java/issues/744#issuecomment-575047634) that Java 7 users are unlikely to manually instrument their apps, but may still want an auto-instrumentation solution.

Also, I think there's a lot more value in moving the API to Java 8 (which would provide value for users) than in moving the SDK to Java 8, so wou

[2020-01-17 18:17] carlosalberto commented on #744
This sounds good to me.

[2020-01-17 18:20] trask commented on #765
Any thoughts on what to do with empty strings? E.g. DataDog's agent [also removes the attribute if passed an empty string](https://github.com/DataDog/dd-trace-java/blob/v0.41.0/dd-trace-ot/src/main/java/datadog/opentracing/DDSpanContext.java#L324)

I'm not sure I have a preference one way or another, just wanted to raise while this is being discussed. Thx!

[2020-01-17 18:31] prydin opened #770 "Span::isValid() is needed"
Some code use the ```DefaultSpan::getInvalid()``` to generate a deliberately invalid span, typically for the sake of signaling a condition such as "No valid span exists yet".

Since there are situations where an invalid span is returned from e.g. ```Tracer::getCurrentSpan()``` it would be very useful if there was a way to  query a ```Span``` to find out whether it's valid.

[2020-01-17 18:36] prydin commented on #770
Nevermind. ```Span.getContext().isValid()``` does this.

[2020-01-17 18:36] #770 closed

[2020-01-17 19:31] jkwatson commented on #765
I think the empty string should be considered the same as a `null` for this change.

[2020-01-17 21:54] #762 closed

[2020-01-17 22:58] thisthat opened #773 "Metric classes have "get" instead of "is" methods"
Several classes that implement the metric behavior use the "get" naming convention to return a `boolean` value. A better naming convention would be to use "is".

Currently affected classes:
- [AbstractCounterBuilder](https://github.com/open-telemetry/opentelemetry-java/blob/master/sdk/src/main/java/io/opentelemetry/sdk/metrics/AbstractCounterBuilder.java#L35)
- [AbstractGaugeBuilder](https://githu

[2020-01-17 23:10] #765 closed

[2020-01-17 23:15] #709 closed

[2020-01-17 23:36] prydin opened #774 "Should setAttribute() on an ended span throw an exception?"
Currently, setting an attribute on an ended span fails silently. I would argue that this should throw an exception instead, since you're attempting an operation in a state where it's invalid.

Suggestion: Throw an exception when ```Span::setAttribute()``` is called on an ended span.

[2020-01-18 02:35] carlosalberto commented on #774
I'd be up against that, as we are trying to avoid throwing errors as part of instrumentation, unless it's a fatal error.

I.e. instrumentation should **not** raise errors in the actual application ;)

[2020-01-18 02:37] carlosalberto commented on #718
Now that OTEP 66 has been merged, I'd expect the related changes to land relatively soon :)

[2020-01-18 02:39] prydin commented on #774
Yeah, I know I argued the opposite position earlier today. :) But in this particular case, I think that setting attributes on an ended span indicates that someone is doing something very wrong. (I know I was when I came across this).

But there's a reason I put a question mark at the end of the title. I'm not sure myself. But I think it would be a good idea to try to draw the line what we consider

[2020-01-18 04:18] carlosalberto opened #775 "Jaeger example not working"
Using the Jaeger example to send traces provides nothing. Inspecting the docker logs, I got this:

[code]

@thisthat

[2020-01-18 19:39] thisthat commented on #775
Also on gitter another user had problem with Jaeger locally. I'll update the example removing the encryption on the channel (this was the fix).

[2020-01-19 00:48] #775 closed

[2020-01-19 09:44] DotSpy commented on #661
@bogdandrutu hello can u provide more information? i would like to help

[2020-01-20 14:47] Oberon00 commented on #744
(To follow up on https://github.com/open-telemetry/opentelemetry-java/issues/744#issuecomment-573682660:)
Staying at full Java 7 for now sounds fine. Moving to Java 8 would be a problem for Dynatrace as we discovered that we do indeed still require Java 7 support.

[2020-01-20 16:27] arminru opened #778 "Add a typed API for providing span attributes"
It would be great to have a typed API for providing span attributes adhering to the [semantic conventions defined in the spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/data-semantic-conventions.md). This would make it easier to assure required attributes are set (by making them part of the (builder's) constructor) and that the correct keys and value f

[2020-01-20 18:06] jkwatson commented on #778
I think this is a great idea. It probably belongs in contrib at first, but I could definitely see eventually moving this to the API as the first-class way to encourage the semantic convention usage.

[2020-01-21 09:42] Oberon00 commented on #778
I vote for an API that at least *can* be move to a new package, e.g. `HttpServerSpan = HttpServerSpan.newBuilder(tracer, "GET", "https://example.com") ... .start/build()`. Even if we decide to package (a core set of) typed spans with the API in the same jar.

[2020-01-21 15:54] jkwatson commented on #744
Can we get a show of thumbs on keeping java 7, but letting the android level requirement be dropped for now?

[2020-01-21 16:38] #773 closed

[2020-01-21 16:40] DotSpy commented on #767
I will try fix it, please assign me

[2020-01-21 16:49] bogdandrutu commented on #778
I do agree with @Oberon00. We should have a contrib/typed_spans artifact which depends only on the otel-api and adds all these helpers. We will release this contrib artifact in sync with the main API as well as the SDK artifact.

[2020-01-21 16:56] austinlparker opened #780 "Java project status isn't updated properly because milestones aren't correct"
👋 Howdy, just a little housekeeping note, but I've had people contact me with questions as to why Java progress seems so far behind on the project status page (https://opentelemetry.io/project-status/). You can find out how to align your milestones with the project status page in this issue: https://github.com/open-telemetry/community/issues/201

[2020-01-21 17:02] bogdandrutu commented on #774
I think it is probably useful to support a "debug" level for the SDK where we may throw exception there or simply log error with stacktrace to see where that happens.

[2020-01-21 17:18] jkwatson commented on #774
Interesting idea, @bogdandrutu . Kind of like turning on java assertions? Or, we could put java assertions in the code and you could run with assertions turned on?

[2020-01-21 17:20] jkwatson commented on #778
If we made this contrib module java 8+, we could think about start building java 8+ features into the more fluent/opininated APIs, as well.

[2020-01-21 17:32] DotSpy commented on #767
@pavolloffay how do u think should we return null here (https://github.com/open-telemetry/opentelemetry-java/blob/7b601b1ad08e62d3d0bfb321027fe58b95c3c3ce/api/src/main/java/io/opentelemetry/trace/propagation/HttpTraceContext.java#L113) or ```SpanContext.INVALID``` ?
Also i think that it's kinda heavy method, maybe should i also refactor it?

[2020-01-21 17:47] jkwatson commented on #767
I'd love to see some refactoring in there, @DotSpy !

[2020-01-21 17:57] trask commented on #774
+1 for just logging it at debug level with stack trace

[2020-01-21 18:14] carlosalberto commented on #767
My advise is to keep different PRs for any refactoring (given it's not only about code style, but actual improved readability) and for the null-handling cases.

[2020-01-21 18:15] carlosalberto commented on #778
+1 for having such library in contrib (API-only dependent).

[2020-01-21 18:16] carlosalberto commented on #774
+1 for logging as well.

[2020-01-22 09:13] DotSpy commented on #767
@jkwatson @carlosalberto how do u think what should i return instead of throwing
null - but here in Java Doc it said https://github.com/open-telemetry/opentelemetry-java/blob/bd4f3737d4dd8af212c7a2066345c3f196a7a2b6/context_prop/src/main/java/io/opentelemetry/context/propagation/HttpTextFormat.java#L98
or ``` SpanContext.INVALID```

[2020-01-22 17:12] jkwatson commented on #767
I'm not a Tracing expert, but I think `INVALID` seems like a great answer.

[2020-01-22 17:22] carlosalberto commented on #767
`SpanContext.INVALID` definitely.

[2020-01-23 02:22] #691 closed

[2020-01-24 00:36] carlosalberto opened #787 "API: Make SpanContext.getInvalid() public"
For Propagators and other components returning invalid `SpanContext` instances it would be handy to share the `SpanContext.getInvalid()` instance, which is currently private.

If I remember correctly, there were a few reasons having keeping it private, mostly around users not abusing it. Do we want to change this?

(Observe this would be mostly an optimization. **Any** `SpanContext` can be created

[2020-01-24 08:33] lmineiro commented on #744
Disclaimer: Zalando is not an observability vendor.

Zalando operates a couple thousand services. A few hundreds of those  have been around for quite some time and are still relevant for our business. Approximately 100 of them depend on Java7 and none of them are instrumented in code. We observe those "vintage" systems with the Opentracing java agent.

It was/is difficult to get the agent working

[2020-01-24 18:12] carlosalberto commented on #744
@lmineiro thanks for the feedback/info.

So it sounds we have initial agreement on sticking to Java 7 for now, while dropping the Android level, based also on the votes on @jkwatson comment.

Now we need a PR for updating the build ;)

[2020-01-24 18:53] jkwatson opened #788 "Benchmark usage of the Tracer APIs with no SDK installed"

[2020-01-24 18:54] jkwatson opened #789 "Benchmark usage of the Metric APIs with no SDK installed"

[2020-01-24 18:55] jkwatson opened #790 "Benchmark default SDK BatchSpanProcessor performance"

[2020-01-24 18:57] jkwatson opened #791 "Benchmark usage of the API Baggage"

[2020-01-24 19:00] jkwatson opened #792 "Benchmark usage of the SpanContext"

[2020-01-24 20:05] jkwatson opened #793 "Create an exporter for the OpenTelemetry protocol"

[2020-01-24 20:06] jkwatson opened #794 "Verify naming of things matches the specification"
(note: probably the registries aren't matching this now)

[2020-01-24 20:14] jkwatson commented on #4
The OpenTracingShim does this, correct? Can we close this issue?

[2020-01-24 20:15] jkwatson opened #795 "Create examples of configuring the SDK and using it"
We'd like some more full-featured example code to make it easy for people to get started using OTel.

Here's what I'd like to see in this example:
* Configuring sampling
* Choosing a built-in span processor and adding an exporter to it.
* Shutting down the span processor when exiting.

[2020-01-24 20:18] jkwatson opened #796 "Implement remotely configurable sampling for Jaeger exporter"
details needed on what this entails....

[2020-01-24 20:19] jkwatson opened #797 "Create Jaeger "helper function" to create the export pipeline."

[2020-01-24 20:20] jkwatson opened #798 "Create an example of how to configure sampling and limits for the Tracer SDK"

[2020-01-24 22:35] jkwatson commented on #744
@lmineiro Not criticizing here. Just trying to understand. You have services that you can upgrade the monitoring library, and even use a custom build of the monitoring library, but not upgrade the JVM that the code is running on? Can you explain the disconnect?

[2020-01-24 23:26] bogdandrutu commented on #293
Obsolate.

[2020-01-24 23:26] #293 closed

[2020-01-24 23:26] bogdandrutu commented on #392
Obsolate.

[2020-01-24 23:26] #392 closed

[2020-01-24 23:26] bogdandrutu commented on #291
Obsolate.

[2020-01-24 23:26] #291 closed

[2020-01-24 23:27] bogdandrutu commented on #289
Done

[2020-01-24 23:27] #289 closed

[2020-01-25 01:50] carlosalberto commented on #4
Sure, this is done. There are a few missing items/improvements but we already have issues for those cases. Closing.

[2020-01-25 01:50] #4 closed

[2020-01-27 08:31] lmineiro commented on #744
@jkwatson sure, no problem.
The mentioned 100 services would not run without occasional failures with recent JVMs. This was the result of thorough canary testing. The most common issues were misbehaving memory and GC pressure but also the eventual crash of the JVM. Some investigations pointed at the change in the HashMap implementation. We could've continued investigating all those issues or, even

[2020-01-27 16:12] Oberon00 opened #801 "Implement array (list) span attributes (spec#368)"
https://github.com/open-telemetry/opentelemetry-specification/pull/368 was merged but is not implemented in opentelemetry-java yet. Relevant wording change:

[2020-01-28 08:42] arminru commented on #801
@thisthat

[2020-01-28 08:44] thisthat commented on #801
I am preparing a PR for this

[2020-01-29 13:45] Oberon00 commented on #765
I'm not happy with the empty string thing, but I think this needs clarification in the spec, so I created https://github.com/open-telemetry/opentelemetry-specification/issues/431 there.

[2020-01-30 20:58] DotSpy commented on #767
I think we can close this one because it's merged

[2020-01-30 21:00] DotSpy commented on #792
@jkwatson can u provide more details about it? I would like to help with it

[2020-01-30 21:50] jkwatson commented on #792
@DotSpy I think part of this issue is to dig into the SpanContext and figure out what might need some benchmarking. I haven't had time to dig into it myself. Are you up for doing some of that digging and making some benchmark recommendations that could be built?

[2020-01-30 22:07] DotSpy commented on #792
Yeap, i will dig and ask questions during investigation, if all go right i will be able to switch to another tasks with benchmarks. Do we have restrictions for frameworks that i can use for it?

[2020-01-30 22:07] DotSpy commented on #792
Also i saw some benchmarks in opentelemetry-js project, i will ask guys there

[2020-01-30 23:06] jkwatson commented on #792
There's a pending PR to use JMH for the benchmarking (#678). I think we should stick with that.

[2020-01-30 23:52] jkwatson commented on #767
Resolved by #782

[2020-01-30 23:52] #767 closed

[2020-01-31 09:39] DotSpy commented on #792
@jkwatson  Assign me to this one please

[2020-02-03 08:07] safris opened #813 "Should @Trace annotation be part of the API?"
In a previous Auto-instrumentation SIG, we discussed the question:

My superficial evaluation of the pros and cons for the `@Trace` annotation to be part of the OpenTelemetry API:

**Pros**

1. The `@Trace` annotation is a <ins>common and well-established</ins> pattern for manual instrumentation of Java code, and such an annotation seems appropriate for OpenTelemetry.

1. Tracing frameworks, such

[2020-02-03 10:32] safris opened #814 "`WrapperProxy` as general solution to the "wrapper problem""
The "wrapper problem" can be summarized as the following use-case:

1. A particular facet of an API is desired to be instrumented, and the most straightforward way to instrument the facet is to "wrap" an instance of an interface in the API with a subclass of that interface. Suppose the API has interface `Foo`. The instrumentation code declares a `TracedFoo`, exposing a constructor that accepts the

[2020-02-03 11:04] pavolloffay commented on #813
`@Trace` annotation is also defined in MicroProfile-OpenTracing (`@Traced`) https://github.com/eclipse/microprofile-opentracing/blob/master/api/src/main/java/org/eclipse/microprofile/opentracing/Traced.java.

[2020-02-05 13:47] AdrianSchneble commented on #813
I'm not involved in the development of OpenTelemetry, but at work, me and a colleague recently implemented OpenTracing support for an internal UI framework.
We would most definitely want an `@Trace` annotation in our project, and if it's not provided by OpenTelemetry, we would have to develop one ourselves or use an implementation by some open source project. In fact, I had already implemented one

[2020-02-05 14:12] AdrianSchneble commented on #780
I was about to open an issue about the same topic, but apparently, you beat me to it. Judging by the [latest (and only) release of this repo](https://github.com/open-telemetry/opentelemetry-java/releases/tag/v0.2.0), the project should be marked as "v0.2.0" in the overview page.

I'm not sure what the difference between - for instance - [the python reference implementation ](https://github.com/ope

[2020-02-05 14:51] austinlparker commented on #780
The project status tracker actually derives its information from the GitHub milestones. The release notes on the status page are pulled from GitHub releases. If you look at the Python milestones (https://github.com/open-telemetry/opentelemetry-python/milestones) you'll see that they're working towards 0.4, so the tracker indicates them as being between 0.3 and 0.4.

[2020-02-05 23:21] jkwatson commented on #774
The SDK is already logging this at FINE. Should we add logging to the API DefaultSpan as well, to potentially catch it at instrumentation time? Also, is FINE the right log level?

[2020-02-06 06:51] thisthat opened #824 "Observer API examples are outdated"
In the API package, we have several implementations of the Observer Meter which all have a wrong usage example in their Javadoc documentation. For examlpe, in the LongObserver interface there is a call to the `put()` method on the result object of the callback which is not an available method call for it.

https://github.com/open-telemetry/opentelemetry-java/blob/01aece01a1e20490b41bb3afe19fa1355b

[2020-02-06 09:41] Oberon00 commented on #774
I think the API default span should not even (need to) know whether it is ended. It should be optimized for as little overhead as possible.

[2020-02-06 17:39] carlosalberto commented on #774
Although I'd like to see logging at the `DefaultTracer` implementation, I also think we should have as little overhead as possible there. So, in my opinion, having logging in the SDK is enough.

[2020-02-06 17:45] jkwatson commented on #774
ok, is FINE good enough for the SDK logging? If so, then we can close this issue.

[2020-02-06 18:50] #824 closed

[2020-02-07 20:47] DotSpy opened #835 "Errorprone should not check jmh sources\generated files"
JMH source and generated sources not conventional, because we trying to hack JIT optimizations.
For now it generate a lot of warnings
![image](https://user-images.githubusercontent.com/11577813/74064466-c2b1a200-4a03-11ea-824b-373fa7fe895d.png)

[2020-02-07 21:32] jkwatson opened #837 "Create a stress test module"
the go implementation has stress testing for metrics. It would be good if java has something similar (for both metrics and traces)

[2020-02-08 18:44] DotSpy commented on #792
I did main PR benchmarks for context, for beta i think it's okay and we need to find some hardware on which we can run it to make measurements stick to it. So after we will be able to improve performance and write more specific benchmarks for context. @jkwatson what do u think is it possible to find such hardware?

[2020-02-08 22:17] DotSpy commented on #787
Trace id and span id now exposing invalid states they have
[code]
for now ```SpanContext.getInvalid()``` just wrapping all public methods
[code]
so no harm for current state of project to make it public, otherwise ```TraceId.getInvalid()``` and ```SpanId.getInvalid()``` should be protected\private too

[2020-02-08 22:20] DotSpy commented on #498
@jkwatson assign me tho this one please

[2020-02-10 20:21] jkwatson commented on #792
I think we'd need to lean on our friends in the CNCF to see if we can get a benchmarking platform. Not sure who can drive this. @bogdandrutu maybe?

[2020-02-11 14:29] #744 closed

[2020-02-12 16:50] prydin opened #849 "Automation-friendly SpanExporter factory framework needed"
## Motivation
I've been working on the java auto agent to build a framework for plugging in arbitrary exporters (such as vendor-provided ones). To make this work in a way that makes it easy for authors of exporters to make their exporters auto-instrumentation friendly, we need to add a small factory framework for creating ```SpanExporters```

## Current state
Currently, the preferred way of creati

[2020-02-12 21:26] jkwatson commented on #849
To support complex configuration, it might be good to also have `ConfigProvider getSubConfig(String key, ConfigProvider default)`

[2020-02-12 21:34] jkwatson commented on #849
Also, I think I'd prefer calling it `Config`, rather than adding provider onto the end.

[2020-02-12 21:47] prydin commented on #849
I agree with both comments.

[2020-02-13 11:35] vivek-2010 opened #853 "Add b3 propagator"
Add support for B3 propagator that converts SpanContext to/from x-b3-* Headers, based on https://github.com/openzipkin/b3-propagation

[2020-02-14 17:21] thisthat commented on #798
I can work on this!

[2020-02-14 17:21] jkwatson commented on #849
@prydin Decision in the Java SIG today is to put this and any other interfaces needed for configuring the auto-instrumentation agent into a new contrib module for the sdk. I'll put in a PR to create the module, then we can add this Config interface in a 2nd PR and get things moving forward. Sound ok to you?

/cc @bogdandrutu

[2020-02-14 17:22] jkwatson commented on #798
excellent. assigning it to you, @thisthat

[2020-02-14 17:22] thisthat commented on #795
When I started to look into OTel, I wrote some notes for myself that I can extend to prepare a Quick Start document.

[2020-02-14 17:24] #294 closed

[2020-02-14 17:24] thisthat commented on #794
I'd like to do this :wink:

[2020-02-14 17:26] jkwatson commented on #794
assigned!

[2020-02-14 17:26] bogdandrutu commented on #849
Decision to put it in a separate module for the moment is because we don't have full clarity on what exactly is needed, when this gets stable we can move it to the sdk package if needed.

[2020-02-14 17:26] bogdandrutu commented on #835
Is this done?

[2020-02-14 17:26] jkwatson commented on #795
Fantastic, @thisthat . I'll assign this to you for now, then.

[2020-02-14 17:28] jkwatson commented on #835
I think it's still doing this. The exclusions aren't working the way I thought they would, so I think this needs another look.

[2020-02-14 17:29] #734 closed

[2020-02-14 17:29] bogdandrutu commented on #515
Thanks @jkwatson

[2020-02-14 17:29] #515 closed

[2020-02-14 17:31] bogdandrutu commented on #517
@kbrockhoff can this be closed? What is left?

[2020-02-14 17:33] #59 closed

[2020-02-14 17:33] #432 closed

[2020-02-14 17:52] kbrockhoff commented on #517
At the bare minimum, methods need to be added to MeterSdkRegistry or MeterSdk to programmatically wire in Aggregator, Aggregation, MeterExporter, MetricProducer implementations.

I would like to see it possible for configuration to be controlled by loading a configuration file on startup but this can wait until later. As long as an application can control everything programmatically this should be

[2020-02-14 18:30] prydin commented on #849
Sounds great. I'd be happy to do that.

[2020-02-14 21:11] #835 closed

[2020-02-18 15:51] thisthat opened #871 "Metric names should not be empty String"
Currently, the SDK allows to create `Metric`s with empty names albeit the [specifications](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-metrics-user.md#metric-names) forbid this.

[2020-02-18 23:44] justinfoote opened #876 "Do not validate tracestate"
The opentelemetry-java implementation of W3C TraceContext is currently validating every tracestate entry (See [here](https://github.com/open-telemetry/opentelemetry-java/blob/1fced4898fd82a7c9e237c65de4dc235e7085758/api/src/main/java/io/opentelemetry/trace/TraceState.java#L207-L213)).  An invalid tracestate entry will cause an `IllegalArgumentException`, via `Utils::checkArgument`, which will bubb

[2020-02-19 09:26] thisthat opened #880 "Sampler.shouldSample() has a wrong signature"
According to the [specification](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-tracing.md#shouldsample) `io.opentelemetry.sdk.trace.io.opentelemetry.sdk.trace.Sampler` should provide a `shouldSample` method that accepts:
- `SpanContext`
- `TraceId`
- `SpanId`
- Name of the `Span`
- `SpanKind` -> **missing**
- Initial set of `Attributes` for the `Span`

[2020-02-19 12:39] thisthat commented on #794
Upon #870, #872, #878, #879, #882, and #883 are either closed or merged, we can close this issue.

[2020-02-19 18:01] jkwatson commented on #849
@prydin the newly minted module is ready for you to add a `Config` class to it.

[2020-02-19 19:16] prydin commented on #849
Great! I’m traveling today but will do it as soon as I get to peaceful enough place...

[2020-02-19 19:22] #871 closed

[2020-02-19 21:04] jkwatson commented on #876
See https://github.com/open-telemetry/opentelemetry-specification/issues/478 for possible spec change.

[2020-02-19 22:11] jkwatson commented on #774
closing since it looks like the implementation is FINE for now

[2020-02-19 22:11] #774 closed

[2020-02-20 14:32] Oberon00 opened #895 "BUG: Invalid trace context header crashes extract"
See e.g.: https://github.com/open-telemetry/opentelemetry-java/blob/f4dea297be6eac28eade6dd1895ad73eed28d8f8/api/src/main/java/io/opentelemetry/trace/propagation/HttpTraceContext.java#L137

This is not in compliance with https://github.com/open-telemetry/opentelemetry-specification/blob/69768aa7bb8bdcd2c1490e5a1f38e109dc0517a3/specification/error-handling.md#basic-error-handling-principles:

https

[2020-02-20 15:44] carlosalberto commented on #895
You are right. There was some love provided there to avoid raising errors but we need to wrap this effort up.

[2020-02-20 15:52] carlosalberto commented on #876
Related to #895

[2020-02-20 17:46] #880 closed

[2020-02-20 19:42] DotSpy opened #900 "Javadoc errors"
[code]

[2020-02-20 20:32] trask commented on #295
Scope listener would be particularly useful, so that current span context can be sync'd with logging context (MDC), which is needed in order to correlate logs with traces (e.g. https://github.com/open-telemetry/opentelemetry-auto-instr-java/issues/133).

[2020-02-20 23:14] #900 closed

[2020-02-21 09:51] Oberon00 commented on #295
I think this issue is using concepts that mostly don't apply anymore. I'd vote for closing it and opening a new issue (maybe in the spec?) if there are still open issues not covered by SpanProcessor already.

[2020-02-21 16:33] jkwatson commented on #787
complete with #896

[2020-02-21 16:33] #787 closed

[2020-02-21 16:34] jkwatson commented on #792
Is there anything further we'd like to benchmark around the SpanContext itself, @carlosalberto ?

[2020-02-21 17:13] zenmoto commented on #532
I see that SamplingHint was removed from the OTEP with [PR #79](https://github.com/open-telemetry/oteps/pull/79)- is there anything else that needs to be done with this issue?

[2020-02-21 19:26] bogdandrutu opened #906 "Disruptor SpanProcessor flush does not wait to complete"
We need to wait for flush to complete in the forceFlush and the current Disruptor does not do that.

[2020-02-24 15:49] pavolloffay commented on #796
@jkwatson @carlosalberto  please provide more details in the description.

[2020-02-24 15:49] pavolloffay commented on #797
@jkwatson @carlosalberto  please provide more details in the description.

[2020-02-24 17:02] carlosalberto commented on #797
From the last meeting, it was mentioned that details should be found in: https://github.com/open-telemetry/opentelemetry-specification/issues/231

[2020-02-24 17:05] carlosalberto commented on #797
It sounds this is the specific part @pavolloffay

[2020-02-24 17:05] carlosalberto commented on #796
Details to be found in https://github.com/open-telemetry/opentelemetry-specification/issues/231

[2020-02-24 17:07] carlosalberto commented on #796
@pavolloffay Details are kinda spread that issue. Let me know what you think.

[2020-02-24 17:19] michaelwilde opened #915 "Clarification on Android compatibility - is android 14 actually - Android 4.0 (API level 14)"
in the readme for API and SDK, it says "Java 7 and Android 14" compatible. Android 4.0 (API level 14). vs the public release number of Android.  If so, i'm happy to update the readme's for ya.

[2020-02-24 17:38] jkwatson commented on #915
That would be great, @michaelwilde . Also, consider that we've recently changed the SDK to require Android API level 24, so if you could include that update as well, that would be fantastic.

[2020-02-24 17:38] #895 closed

[2020-02-24 17:42] carlosalberto opened #916 "Do not report errors on Inject with null values."
When using `inject()`, a `null` carrier might make sense if a lambda is used or an anonymous class is used, for example.

Similar to #899 we want to be more lenient.

[2020-02-24 17:46] objectiser commented on #796
Shouldn't this issue be entitled "Implement remotely configurable sampling" or something like that, and aim to provide a similar (i.e. functionally equivalent) mechanism as used in Jaeger - but applicable for any exporter used by the client?

cc @yurishkuro

[2020-02-24 18:18] michaelwilde commented on #915
Sweet.. i'll PR it and you can correct me if i'm rong.  ;)

[2020-02-25 00:41] bogdandrutu commented on #797
I think we should have a method like:
[code]

This is to simplify user life when it comes to configure Jaeger, they should not have to configure all batching etc just to get things running (they can do the advanced config if needed).

[2020-02-25 00:48] bogdandrutu commented on #797
@pavolloffay for example even in our examples https://github.com/open-telemetry/opentelemetry-java/blob/master/examples/jaeger/src/main/java/io/opentelemetry/example/JaegerExample.java#L28 we do create a poor export pipeline that exports spans one by one, that method should be replaced by this method that needs to be implemented.

[2020-02-25 00:49] #684 closed

[2020-02-25 00:50] bogdandrutu commented on #536
@carlosalberto or @kbrockhoff can you do a quick fix for this?

[2020-02-25 00:51] bogdandrutu commented on #837
We implemented this for metrics. Do we want to close this issue or we keep it for trace?

[2020-02-25 00:54] bogdandrutu commented on #661
This was split into benchmarks for not sdk and different benchmarks for the SDK.

[2020-02-25 00:54] #661 closed

[2020-02-25 01:09] bogdandrutu commented on #295
@Oberon00 The major remaining part is the Context changes interceptor.

@tylerbenson will close this and open a new issue just for the Context inteceptor.

[2020-02-25 01:09] #295 closed

[2020-02-25 01:10] bogdandrutu opened #922 "Context change interceptor"
This feature was requested initially in https://github.com/open-telemetry/opentelemetry-java/issues/295 and moved here because all other points are addressed.

One of the goal is to support log correlation, but at one point @kbrockhoff mentioned that what OpenCensus implemented https://github.com/census-instrumentation/opencensus-java/tree/master/contrib/log_correlation/log4j2 is not good, can you

[2020-02-25 02:29] bogdandrutu commented on #922
@tylerbenson you asked for a prototype on how to build a real interceptor for Context changes, see https://github.com/open-telemetry/opentelemetry-java/pull/923

[2020-02-25 10:22] thisthat commented on #916
Relevant comment for context: https://github.com/open-telemetry/opentelemetry-java/pull/899#discussion_r382492698

[2020-02-25 10:43] nandini531 opened #926 "error during fiitting a classification problem"
CODE
y=new_data["SalStat"].values# . to extract values
print(y)
x=new_data[features].values
print(x)
train_x,test_x,train_y,test_y= train_test_split(x,y,test_size=0.3,random_state=0)
logistic=LogisticRegression()
#fitting the val for x n y
#np.where(new_data.values >= np.finfo(np.float64).max)
#pd.isnull(train_y).sum()>0

logistic.fit(train_x, train_y)
logistic.coef_
logistic.intercept_
pred=logis

[2020-02-25 10:54] KasiaBa opened #927 "PrestaShop access to the orders at the back office"
Hello,

I am not sure if it is the right place to put my question as I do not have experience in programming...
I have a problem with the access to the orders at the back office of PrestaShop.
The error message that i got was :
---------
The server returned a "500 Internal Server Error".
Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as

[2020-02-25 17:40] #926 closed

[2020-02-25 17:40] thisthat commented on #927
@open-telemetry/java-approvers someone can close this issue for OFF-Topic/Spam?

[2020-02-25 17:40] #927 closed

[2020-02-25 18:26] WizzyGamer opened #928 "si"

[2020-02-25 18:29] WizzyGamer opened #929 "archivo 1"

[2020-02-25 18:30] #928 closed

[2020-02-25 18:37] jkwatson commented on #837
I think having a tracer version would be great. I'm happy to keep this open to track that need.

[2020-02-25 18:37] #929 closed

[2020-02-25 18:40] carlosalberto commented on #837
I agree with keeping this issue open for the tracing part.

[2020-02-25 20:37] flakyrus opened #930 "Godmode9 Booting... stuck help!"
Hello, I have followed step by step setting up homebrew and CFW, but once I get to the booting of godmode9 it stays in the booting... screen and won't move past it. I have left it for several hours. Any fixes??

[2020-02-25 21:03] #930 closed

[2020-02-25 21:36] sirpippin opened #931 "Questions about Nes mini hacked"
Hello

I have a few questions about the Nes mini, and how i can use it thé way i would like to.

1. Since u can play consoles from Nes to Sega to Playstation on it, i would like to get a controller that works for all consoles. I was thinking about the Wii classic pro, but i heard 3rd party ones don't work so i get An original, BUT, can u use 2 controllers for 2player games or does this not work?

[2020-02-25 22:32] #931 closed

[2020-02-25 22:42] matt-debug commented on #801
Fixed it boss

[2020-02-26 01:15] matt-debug commented on #931
Auto save

[2020-02-26 09:31] DotSpy opened #933 "Benchmarks use change iterations time\count and iterate over all SpanID\TraceID in benchmark"
I created this PR because i don't want to lose some ideas from @sfriberg and i wanna apply it also to HTTPBecnhmarks, but we don't need benchmarks for Beta, so i can continue with more important tasks.
In pr https://github.com/open-telemetry/opentelemetry-java/pull/905 @sfriberg suggested to:
"From a readability standpoint of output data I would probably run longer iterations of a second and run 2

[2020-02-26 12:05] almarksismah commented on #688
Hey, I just signed the petition "all netizens of the world: FREE CHEN QIUSHI AND FANG BIN！" and wanted to see if you could help by adding your name. Our goal is to reach 100 signatures and we need more support. You can read more and sign the petition here: http://chng.it/KzzgkGLmQ9 Thanks!

[2020-02-26 12:56] almarksismah commented on #688
Hey, I just signed the petition "all netizens of the world: FREE CHEN QIUSHI AND FANG BIN！" and wanted to see if you could help by adding your name. Our goal is to reach 100 signatures and we need more support. You can read more and sign the petition here: http://chng.it/KzzgkGLmQ9 Thanks!

[2020-02-26 12:56] almarksismah commented on #688
Hey, I just signed the petition "all netizens of the world: FREE CHEN QIUSHI AND FANG BIN！" and wanted to see if you could help by adding your name. Our goal is to reach 100 signatures and we need more support. You can read more and sign the petition here: http://chng.it/KzzgkGLmQ9 Thanks!

[2020-02-26 17:01] #906 closed

[2020-02-26 18:02] thisthat commented on #801
Pending on https://github.com/open-telemetry/opentelemetry-specification/pull/459

[2020-02-26 18:26] almarksismah commented on #688
Hey, I just signed the petition "all netizens of the world: FREE CHEN QIUSHI AND FANG BIN！" You can read more and sign the petition here: http://chng.it/KzzgkGLmQ9 Thanks!

[2020-02-27 19:21] bogdandrutu commented on #922
Ping @kbrockhoff

[2020-02-28 10:37] arminru opened #948 "Revise handling of null and empty attribute values"
In #771 we introduced handling of null and empty strings by dropping them silently.
At this time, the expected behavior was not yet defined in the OTel specification. This was now added to in https://github.com/open-telemetry/opentelemetry-specification/pull/459 (https://github.com/open-telemetry/opentelemetry-specification/commit/23dbc05986eec68741f82c79174df85a4379836e).

The following changes h

[2020-03-02 14:00] bogdandrutu commented on #794
#878 is closed as obsolete after the specification change

[2020-03-02 14:00] #794 closed

[2020-03-04 08:55] thisthat commented on #801
After #807 is merged, we can close this issue!

[2020-03-04 16:25] Oberon00 opened #958 "Jaeger example still using gradle 5, breaks with Java 13"
See https://github.com/open-telemetry/opentelemetry-java/blob/f6638bfd635691d957391a97ad42620d39606a38/examples/jaeger/gradle/wrapper/gradle-wrapper.properties#L2

This fails with an confusing error message when run with Java 13 (Java 13 is only supported since Gradle 6.0). Since Java 13 is the newest Java version, this makes for a bad "out of the box experience" for users who just install the new

[2020-03-04 16:54] carlosalberto commented on #853
Assigning it to @MikeGoldsmith as he showed interest in this part.

[2020-03-04 18:20] #958 closed

[2020-03-04 21:08] SergeyKanzhelev opened #962 "Implement SamplingResult according to the spec"
I was looking for which SDKs implemented the Sampling spec as written: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-tracing.md#sampling

It feels like the most of SDKs still implements the previous version with the `Decision` class.

[2020-03-05 18:04] jkwatson opened #965 "BatchSpansProcessor doesn't call shutdown() on its exporter"
When you shutdown the span processor it should call shutdown on the associated exporter.

[2020-03-05 18:57] #965 closed

[2020-03-06 14:01] pavolloffay opened #967 "Add Jaeger propagator"
Similar to https://github.com/open-telemetry/opentelemetry-java/issues/853 but for Jaeger clients.

* https://www.jaegertracing.io/docs/1.17/client-libraries/#propagation-format
* https://github.com/jaegertracing/jaeger-client-java/blob/master/jaeger-core/src/main/java/io/jaegertracing/internal/propagation/TextMapCodec.java

Does OTEL client support exporting/injecting of TraceContext/SpanContext

[2020-03-06 14:41] Oberon00 commented on #967
Related #718 "No way to change HttpTextFormat"

[2020-03-06 15:12] arminru opened #968 "Rename resource labels to attributes"
Resource labels were renamed to attributes in the spec a few months ago but this change hasn't been reflected in the Java SDK implementation yet.

https://github.com/open-telemetry/opentelemetry-specification/pull/344

https://github.com/open-telemetry/opentelemetry-java/blob/master/sdk/src/main/java/io/opentelemetry/sdk/resources/Resource.java

[2020-03-06 15:32] carlosalberto opened #969 "Include the OTEP 66 changes"
This is a meta issue for tracking the Context propagation changes originated from OTEP 66.

[2020-03-06 16:12] bogdandrutu commented on #948
@arminru @thisthat are you planing to have a PR for this?

[2020-03-06 16:16] andrewhsu opened #971 "automated releases"
from what we talked about at SIG mtg today @carlosalberto

[2020-03-06 19:02] #402 closed

[2020-03-09 07:56] thisthat commented on #948
@bogdandrutu I was pending on #807 to be merged. If you prefer, we can close #807 and I can address null/empty attributes and arrays in this one.

[2020-03-09 08:15] thisthat commented on #798
Was this addressed in #869 or should I add a concrete example in the examples folder?

[2020-03-09 08:15] thisthat commented on #795
Was this addressed in #869 or should I add a concrete example in the examples folder?

[2020-03-09 14:16] pavolloffay opened #978 "Use resource label service.name as Jaeger service name"
`Resource` object attached to a span should contain service name in labels:
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/data-resource-semantic-conventions.md#service

This service name could be used as Jaeger service name. The service name is a required parameter to create Jaeger GRPC exporter. We could relax this requirement and set the service to `unkn

[2020-03-09 14:45] pavolloffay commented on #796
The sampling strategy is served by collector gRPC endpoint. Here is the proto definition https://github.com/jaegertracing/jaeger/blob/master/model/proto/api_v2/sampling.proto#L85

* RemoteSampler in Jaeger client: https://github.com/jaegertracing/jaeger-client-java/blob/46798bdf199357afc535c98b8f6734b37090bf78/jaeger-core/src/main/java/io/jaegertracing/internal/samplers/RemoteControlledSampler.jav

[2020-03-09 16:22] jkwatson commented on #798
My opinion, but compiling code examples are very nice to have, beyond just the quick start guide. So, 👍 for more examples.

[2020-03-09 16:23] jkwatson commented on #795
Would love some actual compiling code examples that people could run, so, 👍 on having concrete examples.

[2020-03-09 16:36] jkwatson commented on #978
Nothing forces that a `service.name` will always be set, but the Resource is shared across all spans that are produced by the SDK.  The semantic conventions for the attributes are encoded here:  https://github.com/open-telemetry/opentelemetry-java/blob/6330901b1e8834a756feebcf8d97b58499fbd37a/sdk/src/main/java/io/opentelemetry/sdk/resources/ResourceConstants.java#L26

[2020-03-10 11:21] MikeGoldsmith opened #985 "Allow B3 propagator to selectively extract between single and multi headers"
The current implementation allows the `B3Propagator` to select whether to extract and inject from single or multiple headers.

It may be desirable to allow the B3Propagator to always check if the single header key exists and if it does use that, otherwise try to extract from multiple headers.

Q: Should the B3Propagator support only supporting one type? ie if single or multi headers are explicitly

[2020-03-10 14:57] bogdandrutu opened #986 "Remove SpanData.getNumberOfChildren() and the logic to determine that"
This property was removed from the proto definition and is no longer a requirement in OpenTelemetery.

[2020-03-10 14:58] bogdandrutu opened #987 "Remove SpanData.getHasRemoteParent() and the logic to determine that"
This property was removed from the proto definition and is no longer a requirement in OpenTelemetery.

[2020-03-10 15:45] Oberon00 commented on #987
On the other hand, the spec requires access to the whole parent Context or SpanContext.

[2020-03-10 17:14] carlosalberto commented on #985
Thanks for creating the issue. I *feel* we should only support one type at injection (specified with a param as it's done now), and support multiple types upon extraction.

[2020-03-10 19:23] #986 closed

[2020-03-10 21:38] jkwatson opened #992 "Remove LabelSet from the API"
See https://github.com/open-telemetry/oteps/pull/90

[2020-03-10 22:06] bogdandrutu opened #993 "Add droppedAttributesCount to SpanData"
We need to have one droppedAttributesCount per every class that contains Attributes:
* In SpanData for the main Span attributes.
* In TimedEvent for the event attributes.
* In Link for the links attributes.

[2020-03-10 22:09] bogdandrutu opened #994 "Move AttributeValue to common because it is shared by other APIs."

[2020-03-10 23:05] #797 closed

[2020-03-10 23:21] bogdandrutu opened #996 "For SpanProcessor/SpanExporter/MetricProducer/MetricExporter use Config"
This is a proposal to use a Config object instead of Builders for all the implementations of these classes. This will allow us to have a "getFromEnv" on all these Configs, probably a "getDefault" as well.

This will be easier to initialize compared with Builders in auto-instrumentation as well as when dealing with initializing a pipeline like SpanProcessor -> SpanExporter.

/cc @trask @tylerbenson

[2020-03-10 23:32] jkwatson commented on #996
My only concern is we lose the rich semantics of the naming in the builder methods. Perhaps we have specific Config extension classes to provide the naming?

[2020-03-10 23:35] #968 closed

[2020-03-10 23:48] bogdandrutu commented on #996
I would suggest like this:

[code]

[2020-03-11 15:04] MikeGoldsmith opened #999 "Separate single and combined B3 header logic"
The B3Propagator includes logic for both injecting and extacting span context from both single and multiple headers. To help simplify the code, the two code paths could be broken into two classes.

[2020-03-11 16:41] MikeGoldsmith commented on #993
I'll take this - please assign to me.

[2020-03-11 19:31] jkwatson opened #1000 "Figure out the metric Label API"
With the removal of the LabelSet from that API, we need to decide what to do with labels. Should we have a `Label` object that encapsulates the key/value? Should we support non-String values?

This issue will track the discussion and work on this.

[2020-03-11 20:37] jkwatson opened #1002 "Fill in the Metrics details in the Getting Started guide."
This is needed for beta.

[2020-03-11 21:01] jkwatson commented on #996
I like this suggestion quite a bit. I think it'll tighten up our config story a lot. 👍

[2020-03-11 21:36] carlosalberto commented on #996
I'm fine with this 👍

[2020-03-12 09:05] pavolloffay commented on #996
+1 on the proposal and It's great to see this landing in OTEL.

The configuration property names should be defined at the spec level to make consistent across SDKs.

There is one missing feature in the API, sometimes it is useful to change the configuration after it is created from the environment. Maybe `fromEnv` could return the builder instead and not an immutable object.

[2020-03-12 09:22] thisthat commented on #1000
I am in favor of having a key/value object like it is in otel-go.

[2020-03-12 09:40] Oberon00 commented on #996
I would add `applyEnv` as an in-place method to the builder.

[2020-03-12 15:53] #853 closed

[2020-03-12 19:42] tylerbenson commented on #996
@bogdandrutu on your proposal, how would it work if you want most of your configs to come from a default or env, but override one or two of the settings?  Perhaps better to have those methods return a builder that can be modified before constructing the immutable config? (Duplicating those methods on the builder would also be acceptable.

[2020-03-12 19:43] tylerbenson commented on #996
Also, how do people feel about accepting config via system properties in addition to env vars?

[2020-03-12 19:48] carlosalberto commented on #996
I'd strongly vow for supporting system properties too.

[2020-03-12 19:50] carlosalberto commented on #996
For prior art: in the SpecialAgent, we first get env vars, and then proceed to look for them as system properties, in which case the values get overridden.

[2020-03-12 19:54] #994 closed

[2020-03-12 19:57] jkwatson commented on #996
This is a nice pattern to support both, quite tersely:
`System.getProperty(key, System.getenv(key))`

[2020-03-13 03:43] trask commented on #996
Thanks @bogdandrutu, this sounds great from an auto-instrumentation perspective! We need to give auto-instrumentation users some way to configure the SDK, and it would be really nice if we can just delegate this configuration to the SDK itself.

Also, I'm a fan of env vars as the most basic means of external configuration since those tend to be supported in the widest number of compute environment

[2020-03-13 15:12] andrewhsu commented on #969
Looks like this is related to PR #720

[2020-03-13 17:28] arminru opened #1009 "Expose configured SpanProcessors on TracerSdkProvider"
From https://github.com/open-telemetry/opentelemetry-java/pull/1003#discussion_r392221311:

We should consider exposing an (immutable) list of `SpanProcessor`s added to a `TracerSdkProvider` to allow users to examine which ones are currently configured.

[2020-03-13 17:45] cforce commented on #662
What is missing?

[2020-03-15 20:33] bogdandrutu opened #1016 "Fix inconsistency between SpanExporter and MetricExporter"
1. We use Collection vs List.
2. Add shutdown on the MetricExporter.

[2020-03-15 20:35] bogdandrutu opened #1017 "Add flush on the [Span|Metric]Exporter (not only the processor)?"

[2020-03-15 20:36] bogdandrutu commented on #1009
Not sure I understand why is this useful, is this for testing?

[2020-03-15 20:39] #993 closed

[2020-03-15 22:26] carlosalberto commented on #1017
My feeling is that this is a 'Yes' but as a refinement/improve. Something to consider down the road (but before 1.0?)

[2020-03-15 22:30] carlosalberto commented on #1016
@bogdandrutu Are you working on this? (On using `Collection` for all our exporters). If not, I can take that part.

[2020-03-15 23:09] #793 closed

[2020-03-15 23:10] bogdandrutu commented on #971
@carlosalberto any update on this?

[2020-03-15 23:14] carlosalberto commented on #971
@bogdandrutu Hey! It looks you didn't get my message over gitter - but it *seems* I still don't have enough permissions in Bintray itself, see:

<img width="584" alt="Screen Shot 2020-03-16 at 12 13 16 AM" src="https://user-images.githubusercontent.com/260065/76712644-0d1cf180-671b-11ea-887d-2a611eb20851.png">

[2020-03-16 05:43] carlosalberto commented on #971
@bogdandrutu Got this from support at Bintray (meaning I should be able to publish again without you troubleshooting on your end). Will test on early Monday:

[2020-03-16 07:54] arminru commented on #1009
For writing our own unit tests we're able to work without that. For users it could be useful for checking the current configuration and for debugging (e.g. for printing the list in a log). It would only be exposed on the default SDK (for the application/service owner setting up telemetry collection), not on the API level.

[2020-03-16 13:38] thisthat opened #1020 "Update OTLP to export Attribute Array values"
After https://github.com/open-telemetry/opentelemetry-proto/issues/106 is resolved, we need to update the OTLP exporter with the support for array values.

[2020-03-16 15:11] bogdandrutu opened #1022 "Change droppedAttributes to totalRecordedAttributes"
Need consistency between total recorded events/links and attributes. We can also change the events/links to use dropped if that makes more sense but I am more in favor of total recorded.

[2020-03-16 15:25] MikeGoldsmith commented on #1022
I like having a total alongside the map / list attribute too. I'll update to be consistent.

[2020-03-16 16:45] jkwatson commented on #1017
We definitely need a `shutdown` on the MetricExporter. I don't have a strong feeling about flushing the exporter. I would guess that most exporters would send the data as they got it from the processor, rather than duplicating the batching functionality.

[2020-03-16 18:06] Oberon00 commented on #1017
As an example, a file-based exporter might want to use flush the file.

[2020-03-16 23:07] #992 closed

[2020-03-17 14:37] pavolloffay commented on #996
System.getProperty(key, System.getenv(key))

+1 This is already what Jaeger exporter configuration does https://github.com/open-telemetry/opentelemetry-java/blob/master/exporters/jaeger/src/main/java/io/opentelemetry/exporters/jaeger/JaegerGrpcSpanExporter.java#L240

[2020-03-17 15:55] Oberon00 commented on #996
Note that this also calls getenv when the system property is found. AFAIK, getenv is very cheap at least on OpenJDK/Oracle based JVMs though.

[2020-03-18 12:08] adriancole opened #1027 "validation glitches in TraceState.validateKey"
I noticed that `TraceState.validateKey` is loose compared to the ABNF in the spec. There are a couple missing tests:

* when tenant format is used (`@`), the right-side can be 1-14 characters. this is not validated
* only when tenant format is used (`@`), the first character can be a digit. Otherwise, it must be a letter

There might be some other problems, but these I noticed. As the spec text do

[2020-03-18 12:09] adriancole commented on #1027
ps there are a number of cases around @ syntax.. you can look at brave's tests if it helps. https://github.com/openzipkin/brave/pull/693

[2020-03-18 16:45] Oberon00 opened #1028 "Make TraceConfig.newBuilder public or add comment to use getDefault().toBuilder() instead."
See https://github.com/open-telemetry/opentelemetry-java/blob/88e0ef464f576c670fe73204d5579eda29fed68e/sdk/src/main/java/io/opentelemetry/sdk/trace/config/TraceConfig.java#L108

Even though I was puzzled why this is private fist, it might actually make sense because if a new config is introduced, `getDefault().toBuilder()` will use the new default while code using `newBuilder()` would break. But t

[2020-03-18 18:48] #1022 closed

[2020-03-18 19:39] jkwatson opened #1029 "Issues with the current state of the push-based Metric export"
I'm using this issue to gather my thoughts after working to implement a metric exporter for New Relic, which uses a push-based export model. We support 3 types of metrics natively: incremental counts, numeric gauges and incremental min-max-sum-count Summaries. The incremental types require a start time and an end time on them, to note the aggregation window.

I expect this should be broken out int

[2020-03-18 19:45] jkwatson commented on #1016
Are one of you working on it? If so, please assign yourself. Otherwise, I'm assigning myself and doing it.  :)

[2020-03-18 21:16] carlosalberto commented on #1016
@jkwatson Yours ;) Thanks!

[2020-03-18 23:24] bogdandrutu commented on #1029
Yes the idea is that based on the type in the Descriptor you know the type of the points. Don't know how to do a better job there, happy to see proposals.

As part of the "Views" we should support exporter configuring this.

I see this being a problem even if we have start/end timestamps that can help a bit, I think there are 3 types:
* Instantaneous (gauge) - data are not associated with any inte

[2020-03-19 01:01] jkwatson commented on #1029
I suspect this is mostly a naming/documentation thing. The functionality that is being provided seems fine.

I wonder if we can do something smaller in scope than a full views API to make this easier for beta users.

Yes, agreed. I wonder if this is something that should be in the `Point`, to make it super clear what's being provided? I think that might go a long way to clarifying. I'll work on a

[2020-03-19 04:53] bogdandrutu commented on #1029
I would put that property on the descriptor not the point because it is a property of the whole batch

[2020-03-19 15:46] jkwatson commented on #1029
This makes sense, yes.

[2020-03-19 19:22] evantorrie commented on #1029
Yes, this is a pain point for me in writing a custom exporter (which also requires deltas rather than cumulative values). From the exporter side, there doesn't appear to be a way to determine if the aggregation you're receiving is from a stateful/stateless batcher (using the Go Otel terminology).

[2020-03-19 19:30] #1016 closed

[2020-03-19 22:09] mtwo commented on #535
@carlosalberto @bogdandrutu
Will this be ready for the beta?

[2020-03-19 22:58] jarebudev commented on #967
Hi, I can take a look into this if nobody is already working on it

[2020-03-20 08:44] pavolloffay commented on #967
Go ahead @jarebudev

[2020-03-20 16:53] jkwatson commented on #795
@thisthat I updated the description of this issue. Please let me know if it's not clear.

[2020-03-20 16:55] thisthat commented on #795
Thank you @jkwatson! Everything is clear!

[2020-03-20 17:08] #948 closed

[2020-03-20 18:00] #971 closed

[2020-03-20 18:33] carlosalberto opened #1035 "Move B3 Propagator out of the API"
The B3 Propagator should live either in the SDK or a contrib artifact, as the API is expected to only contain the Trace Context one.

[2020-03-20 18:45] carlosalberto opened #1036 "Consider having global Propagators in the context-prop package"
Currently we plan to have the global propagators in the global `OpenTelemetry` object, but we should consider having them in the `context-prop` artifact (where they are actually defined).

[2020-03-20 20:38] #969 closed

[2020-03-21 15:02] bogdandrutu commented on #1028
Actually the best use is getCurrentConfig.toBuilder. idea being if you want to change just the Sampler you get the current config and change only the Sampler and keep the other current configs unchanged

[2020-03-23 09:43] Oberon00 commented on #1028
One more reason to properly document this in a javadoc comment.

[2020-03-23 18:28] carlosalberto commented on #718
This can now be set through `OpenTelemetry.setPropagators()` ;)

[2020-03-24 14:43] #789 closed

[2020-03-24 15:37] thisthat opened #1041 "Examples should share a common gradle build script"

[2020-03-24 16:09] bogdandrutu commented on #1041
@thisthat I assigned this to you :) please tell me if you want to be removed.

[2020-03-24 16:13] thisthat commented on #1041
@bogdandrutu sure, I would have done that myself but I have no power :stuck_out_tongue_winking_eye:

[2020-03-27 08:33] arminru commented on #683
The entire `LabelSet` API was dropped in #992.

[2020-03-27 08:33] #683 closed

[2020-03-27 17:27] #795 closed

[2020-03-27 20:41] carlosalberto opened #1050 "Update documentation with the latest Context Propagation"

[2020-03-30 03:42] trask opened #1055 "OTLP exporter is not setting INTERNAL span kind"
See `SPAN_KIND_UNSPECIFIED` in the collector log below:

[code]

[2020-03-30 22:28] jkwatson commented on #1055
Are we sure this an exporter issue? It looks like the exporter is doing the right thing. Could it be a collector ingest issue?

[2020-03-31 14:56] carlosalberto opened #1059 "Document error handling for auto config"
Document how to report **fatal** errors when calling `SpanExporterFactory.fromConfig()`, either:

a) Return `null`.
b) Throw an `Exception`.

@trask Any opinion on this?

[2020-03-31 15:34] trask commented on #1059
I think throwing exception is good 👍

[2020-03-31 15:50] jkwatson commented on #1028
I'd like to pick this up and get it documented. Where do you think the javadoc should live? On the private `newBuilder` method? On the class itself? I'm not sure where people will actually see it, especially if they're not looking directly at the source code.

[2020-03-31 15:54] Oberon00 commented on #1028
It should be on the private newBuilder too, but that one doesn't appear in the Javadoc. So the class itself would be good I guess (and a link in toBuilder or vice versa)

[2020-03-31 15:56] Oberon00 commented on #1028
Actually, the updateConfig method on the tracerprovider would be a good place to put at least an `@see` too.

[2020-03-31 16:12] jkwatson commented on #1028
I'll see what I can cook up.

[2020-03-31 16:37] Oberon00 opened #1060 "OpenTelemetry singleton shouldn't synchronize on `.class`"
_Originally posted by @jkwatson in https://github.com/open-telemetry/opentelemetry-java/pull/1058#discussion_r401045588_

[2020-03-31 16:41] bogdandrutu commented on #1055
@jkwatson indeed the collector does not handle this correctly. Will close this issue. The problem is that collector is in a transition phase from using opencensus protos internally to using otlp, and in opencensus we did not have the internal field.

See https://github.com/open-telemetry/opentelemetry-collector/issues/754

[2020-03-31 16:41] #1055 closed

[2020-03-31 16:42] bogdandrutu commented on #1060
We should use a mutex there :)

[2020-03-31 16:42] bogdandrutu commented on #1050
Is this not done?

[2020-03-31 17:58] carlosalberto commented on #1050
Yes, it's done ;)

[2020-03-31 17:58] #1050 closed

[2020-04-01 02:13] #1028 closed

[2020-04-01 02:31] bogdandrutu commented on #1029
@jkwatson I would suggest that we close this issue and open more granular issues that we can track easier.

[2020-04-01 02:32] bogdandrutu commented on #1009
Probably you want to have a DebugString method correct?

[2020-04-01 02:34] #792 closed

[2020-04-01 02:40] #532 closed

[2020-04-01 02:42] #718 closed

[2020-04-01 02:43] #535 closed

[2020-04-01 02:45] #642 closed

[2020-04-01 02:46] bogdandrutu commented on #692
I think we have the first set of examples, we should file more granular issues if we need more examples.

[2020-04-01 02:46] #692 closed

[2020-04-01 02:47] bogdandrutu commented on #536
Ping @carlosalberto :)

[2020-04-01 02:54] bogdandrutu commented on #525
Ping @kbrockhoff

[2020-04-01 04:09] jkwatson commented on #1029
Closing for more specific issues to come.

[2020-04-01 04:09] #1029 closed

[2020-04-01 06:57] arminru commented on #1009
This way, the multi span processor would need to know how to get a debug string for each of its children, which would only be possible if we add a `getDebugString` method to the  `SpanProcessor` interface. IMHO, that would be a bit of an overkill just for the sake of getting information to print for debugging.

I opened this issue because I was not happy with the reflection code in https://github.

[2020-04-01 12:20] thisthat commented on #798
We can close this issue. It was resolved as part of #1003

[2020-04-01 14:14] #798 closed

[2020-04-01 14:40] #44 closed

[2020-04-01 15:27] bogdandrutu commented on #521
Closing this as @kbrockhoff said is fixed. Consider to re-open if I made a mistake.

[2020-04-01 15:27] #521 closed

[2020-04-01 18:04] jkwatson commented on #1035
Plan is to move the jaeger propagator as well, after it gets merged.  👍

[2020-04-01 21:51] bogdandrutu commented on #996
@Oberon00 or @thisthat anyone interested to work on this?

[2020-04-02 07:08] thisthat commented on #996
@bogdandrutu I can take this!

[2020-04-02 12:02] Oberon00 opened #1067 "Project no longer builds on Windows due to Docker test."
I guess something needs to be added to CONTRIBUTING.md. Or some Junit assumption could be used to skip the test (or maybe guard it with a gradle/system property).

[code]

The test output is not exactly helpful (probably should also be fixed):

[code]

[2020-04-02 12:04] Oberon00 commented on #1067
(No, I don't have docker for Windows installed, nor do I want to install it, as I also use Virtualbox)

[2020-04-02 15:19] bogdandrutu commented on #1067
@Oberon00 docker is a requirement for this, and maybe it should not be. Do you have another proposal on how to do e2e tests?

[2020-04-02 15:19] bogdandrutu opened #1069 "Update readme section about the released/snapshot versions."
https://github.com/open-telemetry/opentelemetry-java#snapshots

[2020-04-02 15:21] bogdandrutu commented on #996
@thisthat please pick one (I propose BatchSpanProcessor) and start a PR where we can discuss the overall design. Then we can apply the same changes to others. Does it make sense?

[2020-04-02 15:23] bogdandrutu commented on #1009
Can we close this @arminru ?

[2020-04-02 15:24] #1009 closed

[2020-04-02 15:41] jkwatson commented on #1067
docker is a great solution for this; I'd love to hear if there's another, as well. We could consider moving end-to-end tests to a separate gradle task so they could be excluded by those who don't want to run docker.

[2020-04-02 15:42] jkwatson commented on #1069
Anything in particular you'd like updated? Just the version we're pointing at, or more details about our snapshot builds, or... ?

[2020-04-02 16:04] thisthat commented on #996
@bogdandrutu yes, it totally makes sense! :)

[2020-04-02 16:27] Oberon00 commented on #1067
I also think docker is great for e2e tests. I also think that it should fail in the CI if docker is not found. But I think docker should not be a requirement for local dev builds.

So a suggestion is to have the CI set a system property "opentelemetry.testing.forceDockerTests=true" so that the tests fail if docker is not found. On the other hand, a Junit assumptions just skips the tests if creatin

[2020-04-02 16:28] Oberon00 commented on #1067
The other suggestion, is mentioned in the issue: Write down in CONTRIBUTING.md that docker is required to build the project.

[2020-04-02 18:36] bogdandrutu commented on #1067
@Oberon00 mentioning that docker is required for e2e tests is important.

I also like skipping the e2e tests by default in local builds unless you really want to run them.

[2020-04-02 20:05] trask commented on #575
@carlosalberto @bogdandrutu @jkwatson I'm worried that we went in the opposite direction of removing the `grpc-context` dependency in 0.3.0, and it is now part of the public API surface in 0.3.0, with OpenTelemetry API users interacting directly with gRPC Context.

Summarizing my thoughts below about the `grpc-context` dependency, and I will join the Java SIG meeting tomorrow morning so we can dis

[2020-04-02 20:11] carlosalberto commented on #1067
Late to the party, but would also like to disable the e2e tests by default (which means 'locally' in this context), and enable them in CircleCI.

[2020-04-02 20:39] jkwatson commented on #1067
ok, let's do this in 2 phases.

1st, let's document that you need to have docker running to do the full build.
2nd, figure out the right way to make the docker-based integration tests be easily skippable. On other projects, I've had a separate gradle task called "integrationTest" that would run them, so you could easily tell gradle to skip that task when doing the build. I'm sure there are other o

[2020-04-02 21:12] Oberon00 commented on #575
See https://github.com/open-telemetry/opentelemetry-java/pull/720#discussion_r371776798

[2020-04-02 22:02] jarebudev opened #1070 "Add benchmarks for the recently added JaegerPropagator"
See PR comments from #1046 - it would be good to benchmark the import and exporting of context from/to Jaeger propagation format

I had a look into creating jmh benchmarks for the import and export of the context using ```JaegerPropagator``` - I think they will look similar to the ones already written for ```HttpTraceContext```.
Worth raising a seperate issue to add these?

_Originally posted by @

[2020-04-02 22:07] jarebudev commented on #1070
happy to contribute these

[2020-04-03 10:00] JonasKunz opened #1074 "Span finalizer can cause a memory leak with G1"
Hi,

We observed an issue with the `finalize` method of the span implementation of the SDK. When under high CPU load, the finalizer can prevent the garbage collection of spans, leading to a highly increased heap consumption.

The root cause for the problem is the following finalizer:
https://github.com/open-telemetry/opentelemetry-java/blob/master/sdk/src/main/java/io/opentelemetry/sdk/trace/Recor

[2020-04-03 10:17] Oberon00 commented on #1074
We could implement this as providing an optional WarnOnLeakedSpan SpanProcessor that would maintain that WeakReference queue and print the warnings. Then the finalizer could be removed.

[2020-04-03 12:41] Oberon00 opened #1075 "SemanticAttribute setters are not straightforward to use with SpanBuilder"
Probably we should introduce some interface SpanOrBuilder that is then passed to *AttributeSetter.set instead of Span.

You can workaround by calling `key` on the setter, but that kinda defeats the purpose.

Follow-up to #758.

[2020-04-03 12:51] Oberon00 commented on #1075
Actually, SpanOrBuilder does not work that well, because Builder.setAttribute returns Builder and Span.setAttribute returns void.

[2020-04-03 14:45] carlosalberto commented on #1060
Any reason to use specifically a mutex here @bogdandrutu ?

[2020-04-03 14:58] jkwatson commented on #1060
We do need some sort of safe synchronization on this initialization, unfortunately. Otherwise two racing callers could end up getting different copies of the global, one of which would be junk.

[2020-04-03 15:43] DotSpy opened #1077 "Metics documentation, examples"
Add metrics documentation, examples
@jkwatson please share video, maybe if u have some source slides\pictures it will help too

[2020-04-03 16:01] jkwatson commented on #1077
Here's the NewRelic exporter example class that has some usage of the metrics API in it:  https://github.com/newrelic/opentelemetry-exporter-java/blob/master/src/test/java/com/newrelic/telemetry/opentelemetry/examples/BasicExample.java

[2020-04-03 16:01] jkwatson commented on #1077
@trask is going to request geting the video from the auto-instrumentation SIG uploaded

[2020-04-03 16:07] jkwatson commented on #1074
Decision from the java SIG meeting today: We're going to remove the finalizer ASAP. And, I'll create an issue to track creating a span processor that will do what @Oberon00 suggests that can be used for checking for non-finished spans.

[2020-04-03 17:34] #1069 closed

[2020-04-03 18:26] trask commented on #1077
Here you go! https://www.youtube.com/watch?v=88ZjCbT6LPc&feature=youtu.be&t=2104

[2020-04-03 19:33] jkwatson commented on #1077
oof. wish the resolution were just *slightly* better on that upload. It makes all the code just barely unreadable.  :)

[2020-04-03 19:59] #1060 closed

[2020-04-04 05:23] trask commented on #575
We should also consider Project Reactor's [Context](https://github.com/reactor/reactor-core/blob/v3.3.4.RELEASE/reactor-core/src/main/java/reactor/util/context/Context.java), which is used by Spring WebFlux.

Project Reactor and Spring WebFlux are also very popular projects in the Java world.

So I don't think that gRPC Context is the "clear winner" in the context propagation space, which seems to

[2020-04-04 05:28] adriancole commented on #575
copying in @carlosalberto who seems to be the one who decided to make a hard dependency based on bogdan's advice.

Note: I think the maintainers of this repo should be revisited, as it should really be led by folks who are conservative about things like this by default.

[2020-04-04 05:33] adriancole commented on #575
by revisit, I mean that whoever is a maintainer acknowledges that they won't add any hard dependency on a 3rd party library for paths required for usage. And especially this point..

when you do decide to do the opposite of a pending issue, you must comment on that issue. Avoiding conflict by not doing that isn't good for the project as it leads to surprise.

[2020-04-04 17:42] jkwatson commented on #575
Hi @adriancole . Newly minted maintainer here, trying to make sure this gets addressed. I wholeheartedly agree that we need to minimize dependencies in the API layer, and that removing grpc-context from the API surface is absolutely our goal. Also, getting rid of grpc-context as a hard API dependency is also needed.

The other desire, I believe, is to have a battle-hardened context implementation

[2020-04-05 00:54] sleighzy opened #1079 "Jaeger requires span.kind tag values to be in lowercase"
The Jaeger Query UI provides functionality for displaying Deep Dependency Graphs of service calls. These are based on the "`span.kind`" tag with the value of "`server`". This is case-sensitive and does not work with the Jaeger auto-instrumentation exporter as the span kind values from the exporter are all in uppercase. The Jaeger deep dependency graph reports that there are no traces found where t

[2020-04-05 00:57] sleighzy commented on #1079
I've posted a question on the jaegertracing Gitter channel as to whether or not this is configurable within Jaeger (or the query component) itself in case its possible to use this value in a case-insensitive nature for this functionality as well.

[2020-04-05 01:23] adriancole commented on #575
@jkwatson thanks for asking! honestly, this is a good turn in itself that you are asking outsiders advice. bravo! Here's some experience from the brave project.

separate api for sure. you will need to make some decisions, particularly if it is immutable only. only add the apis you need, nothing more. here are some hints

* consider whether or not you want a strongly typed key. this seems nice but

[2020-04-05 01:38] adriancole commented on #575
@jkwatson since I have your ear, I'll give you unsolicited feedback on how to make friends with other projects. Some preceding work ripped off designs or even large amounts of code copy/pasted with no thanks or attribution. This really made people mad. When you do make a design or implementation, please in the PR thank them, and also cite somewhere in at least comments if not javadoc or a RATIONAL

[2020-04-05 02:24] jkwatson commented on #575
So, it sounds like your general approach would be to build something new, rather than work with something already battle-hardened?

[2020-04-05 02:41] adriancole commented on #575
@jkwatson I assume you mean grpc context? It isn't a separate library, and also the feature scope is broader in some ways and more narrow than other context libraries. I think the api surface should be not tied to grpc context, but if the community decide to make that the default implementation they could (as long as the library is extracted, has no deps and doesn't change the JDK requirements). B

[2020-04-05 02:43] adriancole commented on #575
the best way out is to be diverse in testing.. ex don't only test interop with grpc. test interop with several libraries (ex reactor-netty, armeria, non-rpc). This will show what I'm telling about library bias.

[2020-04-05 02:46] adriancole commented on #575
here's a really old discussion that might be interesting https://github.com/DistributedTracing/continuation-local-storage-jvm/pull/1

also, if you need more wrenches for the clockwork, ask someone about akka :)

[2020-04-05 02:53] adriancole commented on #575
Last unsolicited.. I might be wrong, but I think grpc has a bias towards static initial context lookup.

please do not expect everything to be static lookups. this was a problem in previous designs to make everything static registries.. "static only" is not an appropriate solution for DI or modular (OSGi environments) even if it can make sense for agents.

I can't find it now, but @jkschneider had

[2020-04-05 16:15] jkwatson commented on #575
No, I was just trying figure out between the 2 BIG options: build something new, or use something that already exists, with proper attribution, etc.

[2020-04-06 03:57] bogdandrutu commented on #1074
@jkwatson let's fix the issue first then do the SpanProcessor because this may affect users.

[2020-04-06 08:16] sleighzy commented on #1079
Response from Yuri Shkuro on Gitter is that Jaeger follows the the OpenTracing semantics so appears the transformation is incorrect for the OpenTelemetry exporter.

[2020-04-06 09:59] Oberon00 opened #1081 "Proposal: Remove `AttributeValue` from the public interface."
The class `io.opentelemetry.common.AttributeValue` seems a more cumbersome alternative to use over the `setAttribute` overloads for the particular attribute types. It also is rather complicated (e.g., introduces possibilities for `null` even for primitives). Thus, IMHO it would be best to make this class a private implementation detail in the SDK, instead of a public interface in the API.

[2020-04-06 11:39] Oberon00 opened #1082 "Build failure on master (flaky test?)"
The failure is:

[code]

Since we seem not to store the test results, I guess that's all we have.

The latest merged PR was #1068 but it seems unrelated.

[2020-04-06 14:45] carlosalberto commented on #1081
I'd be fine with hiding `AttributeValue` - one thing to note is that adding a method to add multiple attributes *would be* a no-go (which was something we talked about sometime in the past):

[code]

[2020-04-06 14:49] carlosalberto commented on #1079
@sleighzy Thanks for the background information. So, for the sake of clarity, simply changing the casing should help? Or do we need an actual mapping? (which we do in the OT shim layer).

Also, @pavolloffay might be interested in provide his feedback ;)

[2020-04-06 14:58] carlosalberto commented on #575
Hey @adriancole

No need to freak out here, as we are still before 1.0 and this issue has been closed ;) But thanks for the additional information. There have been interesting reasons on the advantages and disadvantages of `grpc.Context`, and we kept the dependency for now, while we figure out the way to go (either keep it or abstract in a specific way).

My initial prototype considered abstractin

[2020-04-06 15:00] trask commented on #1081
I'm a big +1 for this proposal from auto-instrumentation perspective, because then we wouldn't need to bridge this class, which is not very efficient:

https://github.com/open-telemetry/opentelemetry-auto-instr-java/blob/v0.2.2/instrumentation/opentelemetry-api-0.3/src/main/java/io/opentelemetry/auto/instrumentation/opentelemetryapi/trace/Bridging.java#L103-L135

[2020-04-06 15:16] jkwatson commented on #1081
Unfortunately, the `AtributeValue` is just the *value*, without the key, so this API wouldn't work, even with what we have today. We'd need to introduce an `Atribute` class that contained both the key and the value.

[2020-04-06 15:30] jkwatson commented on #575
Document being used to capture a more dynamic discussion:  https://docs.google.com/document/d/1dKXHYH1CQm4IQuRl5NZaoh2vETjRlBfhcsciz_Xs5hQ/edit?usp=sharing

[2020-04-06 15:35] adriancole commented on #575
pre 1.0 libraries when marketed to masses end up in people's code, even
wise people's code sometimes. be careful is all. this is a serious problem.

[2020-04-06 15:47] carlosalberto commented on #575
Disagree on this point, at least for OTel - observe we *just* released beta a few days ago, and as such, the term beta should signal people they can *still* expect changes.

Lets definitely focus on the technical discussion. So I suggest commenting on the document, so a decision can be done with all the advantages/disadvantages of each approach taken into account. I have no strong attachment to an

[2020-04-06 15:49] carlosalberto commented on #1074
@bogdandrutu To be clear: implement a solution like the one suggested by @Oberon00 and only after that, remove the finalizer?

[2020-04-06 15:52] carlosalberto commented on #1081
Right, I just forgot we don't have it like *that* (have been reading so much proto stuff lately here). So definitely I'm up for removing it.

[2020-04-06 16:00] Oberon00 commented on #575
Can confirm. Planning with the initial release dates + some not generous enough buffer can lead to that.

[2020-04-06 16:05] Oberon00 commented on #1074
@bogdandrutu I read it the other way round: Removing the finalizer has priority and the Processor can be implemented as soon as someone has time.

[2020-04-06 16:40] bogdandrutu commented on #1082
As the error said that was a "FAILED_RETRYABLE" error :)) I think it was only a transitive failure and you can say it is flaky but I think that it does not happen often. You can maybe run the test 1000 times and see if it fail with a significant rate.

[2020-04-06 16:44] bogdandrutu commented on #1081
I am ok-ish to remove this, my reasons to not remove it is the AttributeValue is used in a lot of other places like events, links, resource, spans. So you will have to have a lot of setters for all the possible values.

Before making a final decision would like to build a small prototype of how adding events/links/resources will look like.

[2020-04-06 17:25] jkwatson opened #1084 "Create a span processor that detects unfinished spans and warns about them."
See #1074

[2020-04-06 17:25] jkwatson commented on #1074
Issue created to create the leak-warning span processor:  #1084

[2020-04-07 00:08] adriancole commented on #575
I noticed my notes didn't move into the doc so I added them

Knowing opentracing was pushed with marketing and its final version was 0.33.. and that census also was a dep of grpc and also google's http library also <1.0, I think folks dismissing the concern about 1.0 aren't maybe taking this seriously enough.

[2020-04-07 02:25] sleighzy commented on #1079
@carlosalberto , thanks for the response. The OpenTracing ones are from this class https://github.com/opentracing/opentracing-java/blob/master/opentracing-api/src/main/java/io/opentracing/tag/Tags.java and match the OpenTelemetry ones, except for the usage of the case due to enum. From Yuri's comment they'll be based on https://github.com/opentracing/specification/blob/1.1/semantic_conventions.md.

[2020-04-07 05:57] adriancole commented on #575
the google doc seems to have a lot of active doubt that there isn't enough manpower etc to do context. Speaking from experience on a project which has never had more than one fulltime engineer, and most integrations are done by volunteers, I would pretty much say don't limit yourself.

Here's an example of integrating with an existing context using a bridge. there are edge cases around this, pros

[2020-04-07 09:27] pavolloffay commented on #1079
I do agree with @yurishkuro comment about following OT semantics, however going forward as there will be more types defined in OpenTelemetry and OT will be deprecated we should make Jaeger more resilient. It's also better to fix it at one place rather than in all the clients.

[2020-04-07 17:01] pavolloffay opened #1087 "Add sampler's probablity value to sampling attributes"
Sampler's probability value should be added to the attributes in the sampling decision object.

[2020-04-07 17:48] pavolloffay commented on #796
I have started looking into this. In Jaeger this is implemented in this package https://github.com/jaegertracing/jaeger-client-java/tree/46798bdf199357afc535c98b8f6734b37090bf78/jaeger-core/src/main/java/io/jaegertracing/internal/samplers.

It actually requires these classes: `RemoteControlledSampler`. `RateLimitingSampler`, `PerOperationSampler`, `GuaranteedThroughputSampler`.

I am wondering whe

[2020-04-07 17:55] yurishkuro commented on #796
My preference would be for OTel to be a clean cut, not to bundle Jaeger.

Also, Jaeger sampling is upfront, I don't understand how it can be done in the exporter.

[2020-04-07 18:00] pavolloffay commented on #796
It won't be in the exporter. It will be OTEL sampler implementation, we should decide whether it will be located in the same package as Jaeger exporter or a different one.

[2020-04-07 20:54] jkwatson commented on #916
Do we want this to apply to all the implementations of HttpTextFormat? HttpTraceContext, B3Propagator, Jaeger, etc?

[2020-04-07 21:11] jkwatson commented on #916
Also, I think this only really applies to the `carrier` that's passed in, and not the other parameters, correct?

[2020-04-07 21:31] jkwatson commented on #1017
Sure would be nice if we had default methods we could add to the interface for this.  ;)

[2020-04-07 22:09] yurishkuro commented on #1079
`span.kind` in OpenTracing is not _restricted_ to 4 values, you can set it to `internal` as well.

[2020-04-08 15:31] zeitlinger opened #1091 "Add shortcut factory method for tracer and meter"
inspired by the brevity of [LoggerFactory.getLogger](http://www.slf4j.org/apidocs/org/slf4j/LoggerFactory.html#getLogger(java.lang.String)), I'm proposing to add the same for tracer and meter. Once OpenTelemetry is ready, I'd also suggest to add `LoggerFactory`.

[code]

Same for meter, with `MeterFactory` and static method in `MeterSdk` - and also the flavor that takes `(String instrumentationNam

[2020-04-08 15:44] jkwatson commented on #1091
Another option might be to just add these shortcuts to the `OpenTelemetry` class itself.
[code]

[2020-04-08 15:47] jkwatson opened #1092 "Fix flaky BatchSpansProcessorTest"
This seems to fail occasionally on CI:

io.opentelemetry.sdk.trace.export.BatchSpansProcessorTest > exportMoreSpansThanTheMaximumLimit

[2020-04-08 15:50] zeitlinger commented on #1091
yes, also a good idea

[2020-04-08 17:28] carlosalberto commented on #1091
Hey @zeitlinger great to hear you are joining!

So I'm ok with the first proposal, although @bogdandrutu doesn't (usually) likes shortcuts ;)

I'd personally *slightly* prefer @jkwatson's proposal (I took a similar route with in the OT shim, for example).

[2020-04-08 19:22] jkwatson commented on #575
@bogdandrutu @carlosalberto I'd love to have a proposal by the end of this week's SIG meeting on Friday, or at least a plan of action to test various options. Is there additional information/feedback that you'd like before you feel like we're in a good position to make that happen?

[2020-04-08 19:39] jkwatson commented on #1074
@JonasKunz we've got the finalizer removed. Are you ok with us closing the issue?

[2020-04-08 21:01] jkwatson commented on #1092
I ran this test over 5000 times locally on my laptop and couldn't get it to fail. I suspect it might fail in an extremely CPU-starved situation, which is likely to happen on CI.

[2020-04-08 21:05] #788 closed

[2020-04-09 06:48] JonasKunz commented on #1074
Sure! I really like the quick actions taken here :)

[2020-04-09 06:48] #1074 closed

[2020-04-09 08:49] zeitlinger commented on #1091
comparing both suggestions, @jkwatson makes the name OpenTelemtry more prominent - which I like. So I also support that.

[2020-04-09 10:09] Oberon00 opened #1093 "BatchSpanProcessor starts foreground thread, blocks JVM shutdown"
To reproduce, try the following minimal sample:

[code]

The JVM will keep running because the BatchSpanProcessor created a foreground thread. This is a real problem especially for auto-instrumentation where `TracerProvider.shutdown` is usually called from `java.lang.Runtime.addShutdownHook`, which would not get invoked if the JVM never shuts down.

CC @trask

[2020-04-09 11:04] sleighzy commented on #1079
I have a fix for this I can raise a PR for if no objections.

[2020-04-09 12:25] Oberon00 commented on #1093
The same probably applies to the DisruptorEventQueue.

[2020-04-09 13:50] carlosalberto commented on #1093
I was wondering about this in the past - I'd simply make all of these processor's threads daemon, but I wonder if somebody would ever want that to **not** be the case ;)

Was this ever considered/talked about, back in OC, @bogdandrutu ?

[2020-04-09 14:23] Oberon00 commented on #1093
I would also love to hear from @trask how they handle this in the auto instrumenting agent.

[2020-04-09 20:23] #916 closed

[2020-04-09 21:24] trask commented on #1093
Auto-instrumentation sets all threads to be daemon, otherwise (as @Oberon00 mentions above), we would prevent normal JVM termination in the case of command-line or batch jobs that run to completion at the end of a `main()` method.

Auto-instrumentation is still only using `SimpleSpanProcessor` (but we should upgrade), so we didn't run into this yet with `BatchSpanProcessor`.

[2020-04-10 15:20] andrewhsu commented on #813
From the SIG mtg, sounds like this would be best to be put in the `contrib`.

[2020-04-10 15:24] tylerbenson opened #1100 "Rename `contrib` and `sdk_contrib`"
`contrib` is causing a bit of confusion around the intention.  Perhaps something like `util` or `ext` instead?

[2020-04-10 15:57] andrewhsu commented on #575
From the SIG mtg today, sounds like more analysis after going through the gdoc:
- @bogdandrutu to put together an analysis of what changes to grpc would make it ideal to be used by opentelemetry-java
- @carlosalberto analysis of what is the min requirements for handling context if a custom api is written for opentelemetry-java

But from the conversations sounds like this issue is super desirable t

[2020-04-10 16:03] #1035 closed

[2020-04-10 20:05] #1079 closed

[2020-04-13 14:56] #837 closed

[2020-04-13 15:32] arjun-1 opened #1104 "Extraction/Injection of `Span` from/into the carrier should not be dependent on `Context`"
Right now, both `extract` and `inject` on `HttpTextFormat` require a context `Context` as parameter. The actual extraction is not dependent on the `Context`, and the context is merely used as a 'medium' to store the extracted span in.
Indeed, this actual extraction happens in `extractImpl` (note that this is not exposed in the SDK).

This is problematic for library developers using the Java Opente

[2020-04-13 15:43] carlosalberto commented on #1104
@arjun-1 We will be exploring in the next weeks our options there, to decide how to handle the context storage.

The idea has been, so far, to make context propagation a public member, while ideally keeping it hidden for most of the users.

(Related to #575  )

[2020-04-13 16:40] arjun-1 commented on #1104
Good to hear you're already on the problem :slightly_smiling_face: .

[2020-04-13 16:51] sfriberg opened #1105 "SpanProcessor API - Storing a Span specific state"
As part of doing a PoC for JFR for OT I realized that I need to keep a state in the SpanProcessor so I can start the JFR event for the Span and end it when the span is ended. For the Context this is rather straight forward with a ThreadLocal as it is (should) always be started/ended in the same thread, however Spans do not have that guarantee and thus I need to currently have a shared data structu

[2020-04-13 17:17] carlosalberto commented on #1105
Just for the record, I had wanted to add something like this to `Span` when writing the OT Shim, for basically the same reasons (potential contention with many threads). It's not beautiful for sure, but it would be handy ;)

[2020-04-13 19:40] jkwatson commented on #1105
Having some proof-of-concept implementation options would be great, @sfriberg

[2020-04-14 04:11] trask opened #1107 "HttpTextFormat.extract() can throw StringIndexOutOfBoundsException"
`HttpTextFormat.extract()` throws `StringIndexOutOfBoundsException` on short (invalid) `traceparent` due to unchecked `charAt` calls:
https://github.com/open-telemetry/opentelemetry-java/blob/v0.3.0/api/src/main/java/io/opentelemetry/trace/propagation/HttpTraceContext.java#L165-L170

[2020-04-14 14:11] carlosalberto commented on #1107
Maybe this was solved by #1102 ?

[2020-04-14 14:48] fmhwong opened #1109 "Tracing multiple applications in application servers"
In an application server that supports multiple applications, we are using OpenTracing API in JAX-RS filters to automatic instrument applications. Each application has its own instance of `Tracer`. Implementations such as `BraveTracer` or `JaegerTracer` can be instantiated and configured with their own service names.  Multiple tracer implementations can export spans to a single OpenTracing server.

[2020-04-14 16:04] trask commented on #1107
Yes, thanks! Closing this.

[2020-04-14 16:04] #1107 closed

[2020-04-14 16:25] jkwatson opened #1110 "Create an end-to-end test for the zipkin exporter"
Can use https://github.com/openzipkin/zipkin/tree/master/zipkin-junit for the testing.

[2020-04-14 16:41] jkwatson opened #1111 "Use boms where possible in the gradle scripts"
For example, zipkin provides a bom (https://github.com/openzipkin/zipkin-reporter-java#version-alignments) to keep versions in sync, and gradle 5+ supports it.

[2020-04-14 19:16] patsonluk commented on #278
Any updates on this please? We wish to make use of the SDK, but there seems to be no way to inject our own `tracestate` value.

[2020-04-14 19:26] jkwatson commented on #278
@patsonluk can you provide some details of your specific use-case, and where the current API/SDK doesn't let you accomplish what you need to do?

[2020-04-14 19:34] patsonluk commented on #278
Many thanks for your quick reply @jkwatson ! We are trying to propagate our own version of trace ID, which according to https://www.w3.org/TR/trace-context/#tracestate-header `tracestate` field would be the correct way to do so.

However, we do not want to provide full implementation of the opentelemetry-api, that's why we are trying to use the reference implementation - which is the opentelemetry

[2020-04-14 19:40] jkwatson commented on #278
Could you provide your own version of a `HttpTextFormat` for this? Maybe adding some extension points to the `HttpTraceContext` implementation would suffice?

[2020-04-14 20:02] jkwatson commented on #278
Hm. this probably needs to be done *after* the existing trace state has been extracted and would be based on incoming request information, so it probably does makes sense to have some sort of hook into the span builder to do this.

What information would you need to have accessible at the point of the interceptor being invoked, in order to construct your tracestate entry?

@patsonluk if you were t

[2020-04-14 20:42] patsonluk commented on #278
Ah thanks for the suggestion! I did not think about the `HttpTextFormat`.

So i did a quick experiment by registering my own propagators by extending the `HttpTraceContext` (a bit hacky as there's no good way to provide a modified context/SpanContext that contains our `tracestate` value to the `inject` method, so I had to complete overwrite the `inject` method). And it did work!

But as you have m

[2020-04-14 20:50] jkwatson commented on #278
Just thinking out loud, some more...

If an implementation has all the information needed to construct the tracestate entry based on data in the `Carrier`, then providing a hook in the `HttpTextFormat` API during the `extract` call seems like it would be enough.

However, if there is information needed that *isn't* available in the incoming `Carrier` (say...some DB query that happens during proces

[2020-04-14 21:05] jkwatson commented on #278
What if we added an overload on the `HttpTextFormat` API something like this:
[code]

And similarly for the extract:

[code]

Would this cover 99.9% of the cases, do you think?  @carlosalberto what do you think about this possibility?

[2020-04-14 21:09] jkwatson commented on #278
hmm. or maybe we just provide an overridable `updateIncomingSpanContext` /`updateOutgoingSpanContext` methods on the various implementations?  Not sure what's going to work most generally.

[2020-04-14 21:16] patsonluk commented on #278
I'm wondering what is the expectation of `tracestate`, is it something that is assumed to be provided at the creation of the Span/SpanContext? (which is the design of current SDK) Or is it something that can be provided at the time of injection?

[2020-04-15 15:43] arminru opened #1114 "[meta] Bring back meeting notes or create a new doc"
The Google doc we used for writing down meeting notes of the weekly SIG meeting is no longer accessible to the public (as reported on [Gitter](https://gitter.im/open-telemetry/opentelemetry-java?at=5e955f97c52b6a38abe4f6c7)):
https://docs.google.com/document/d/1oHpisisco8J7Yk73ovx3eeXaokSMqgVuEuWNwPOajtY/

If the owner still has access to it, please enable public write access again but don't allow

[2020-04-15 22:55] #1070 closed

[2020-04-15 22:57] carlosalberto opened #1117 "Consolidate common logic for the Propagators benchmark"
The newly added benchmark code for Jaeger is basically identical to the one used for TraceContext, so we should consolidate such common logic (handy also when adding the benchmark code for B3).

[2020-04-15 22:59] carlosalberto commented on #1114
I'm sadly not the owner - maybe @bogdandrutu created this doc under his former Google account?

[2020-04-16 11:45] Oberon00 commented on #1109
This is an API bug IMHO. addSpanProcessor should be on the TracerProvider, not the tracer, as the list of span processors is shared between all tracers.

[2020-04-16 11:46] Oberon00 commented on #1109
Related to the topic (but not that particular issue) is https://github.com/open-telemetry/opentelemetry-specification/issues/335

[2020-04-16 11:51] Oberon00 commented on #1105
IMHO, the span processor should be able to write to the span too. And indeed in the spec only Span (not ReadableSpan) is specified thus consequently we are violating the spec by not allowing SetAttribute in the span processor. Not that this would solve the problem at hand.

Tangentially related, it would also be nice if something could be stored in the SpanContext (so that it is propagated to chil

[2020-04-16 12:02] Oberon00 commented on #1104
@arjun-1 Context can be used without ThreadLocalStorage or using Context.current() just fine, can't it? I think you assume a closer relationship between where the context of Context.current() is stored and Context itself than it actually is.

[2020-04-16 14:57] fmhwong commented on #1109
It seems `JaegerGrpcSpanExporter` is capable of exporting spans for a single service name only.  If `JaegerGrpcSpanExporter` can get the name from the `Tracer` and use it as the service name, this will eliminate the need to have multiple Exporters.

[2020-04-16 15:16] Oberon00 commented on #1109
The Tracer is not meant to represent a service. It just represents the reporting artifact name and version. I think there is currently no way to do this properly with a single class loader, but you can look at https://github.com/open-telemetry/oteps/issues/78 and the aforementioned  open-telemetry/opentelemetry-specification#335 to voice your opinions. IMHO the service should be taken from the res

[2020-04-16 16:29] arjun-1 commented on #1104
@Oberon00 I hope I understand your comment correctly

Looking at `HttpTextFormat.extract`:
[code]
This method is of interest to me, only to extract the span `Span` from carrier `C`. Note that I'm not really interested in the `Context` that is returned by this method, but only in the span residing in it (under key `CONTEXT_SPAN_KEY`).

In the ideal world I would be able to use something similar to

[2020-04-16 17:23] jkwatson opened #1119 "Implement the ALWAYS_PARENT sampler"
See https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#built-in-samplers in the specs

[2020-04-16 17:24] jkwatson commented on #1105
Looks like it's supposed to be a readable span from the details in here:  https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#onstartspan

[2020-04-16 17:50] Oberon00 commented on #1105
Hmm, it says readable not read-only though, so I guess at least the clarity could be improved there. And then there is still the theoretical "thread name tagging SpanProcessor" use case that would require a writable interface.

[2020-04-16 17:59] Oberon00 commented on #1104
If ROOT is mutable and static, that' a problem. The context is supposed to be immutable, I think. @carlosalberto ?

[2020-04-16 18:26] carlosalberto commented on #1104
That's correct - `io.grpc.Context` is immutable, and so is `ROOT`.

[2020-04-16 18:30] carlosalberto commented on #1105
IIRC yes, `SpanProcessor` should be allowed to modify the `Span` instances.

Agreed. Shall we fill an issue for this?:

[2020-04-16 18:44] arjun-1 commented on #1104
I stand corrected :slightly_smiling_face: . Thank a lot, this is helpful information

[2020-04-16 22:12] #1067 closed

[2020-04-17 14:20] jarebudev commented on #1117
i can pick this up

[2020-04-17 16:06] carlosalberto commented on #1117
@jarebudev Thanks. The only thing to keep in mind is that now B3/Jaeger propagators live in a separate repo, so not sure this can be still easily shared with the TraceContext one.

Worst case: At least have the B3/Jaeger JHM logic shared ;)

[2020-04-17 18:13] jkwatson commented on #1000
From discussion in the metrics gitter channel, it seems that people are ok with just having String-valued labels for metrics. so, unless anyone objects, I think we can close this. Please respond if you feel like we need to expand our labels to include other types.

[2020-04-17 20:20] johnbley commented on #1093
Some usage of the auto-instrumenter can cause this - for example, when experimenting with the otlp exporter I ran into this issue...

[2020-04-17 20:51] jkwatson commented on #1081
@Oberon00 any suggestions on what to do with the Span Links and Events APIs with this proposal? Would you replace with an `Attribute` that has both the key & (typed) value in it?

[2020-04-17 21:47] trask commented on #1093
@johnbley Nice catch!

[2020-04-17 22:28] #1017 closed

[2020-04-20 08:14] Oberon00 commented on #1081
No, if we find we have to do that, I'd rather stay with the current design.

I would have suggested adding all overloads. Maybe we can find some design that allows `event.attributes().set("foo", 123)`, i.e. have an AttributeMap class. At that level, we could write the setter overloads for all the different types only once and still be compile-time null-safe.

[2020-04-20 08:16] Oberon00 commented on #1104
Is this issue resolved then?

[2020-04-20 14:12] arjun-1 commented on #1104
From my side: yes. There is nothing particular which inhibits my usage of java open-telemetry

[2020-04-20 14:12] #1104 closed

[2020-04-20 14:12] #1093 closed

[2020-04-20 17:26] #1117 closed

[2020-04-20 23:38] jkwatson commented on #1081
I'm working on prototyping how this would look for Events and Links. So far, it feels pretty decent. I'll put in a draft PR when it's a little more ready.

[2020-04-21 12:46] carlosalberto commented on #1114
Closing this issue as we recovered access already ;)

[2020-04-21 12:46] #1114 closed

[2020-04-21 13:39] bogdandrutu commented on #1081
Keep in mind that AttributeValue is used in:
Resource
Events
Links
Attributes (for the Span)

We need to cover all these cases.

[2020-04-21 14:22] bogdandrutu opened #1125 "Contrib packages should not use "internal" API package."
Internal package should not be used outside of API (maybe SDK). The reason is called internal is because we don't have the guarantees that we have in the API for the API stability.

[2020-04-21 14:28] devinsba commented on #1125
I've used [ArchUnit](https://github.com/TNG/ArchUnit) for enforcing this at the CI level before. It would probably be good to have something like this codified so that it's not just tribal knowledge

[2020-04-21 14:31] zeitlinger commented on #1091
What about also adding `OpenTelemetry.getTracer()` which would be called by applications (i.e. not a library)?

[2020-04-21 15:07] jkwatson commented on #1081
Oh, I know.  :) I've been poring over the 100s of usages of AttributeValue over the past couple days. This will be a pretty big change, if we want to go forward with it.

[2020-04-21 17:58] jkwatson commented on #1091
All Tracers need at the minimum a `name`, so this API wouldn't work as-is.

[2020-04-21 18:08] #801 closed

[2020-04-21 19:55] iNikem commented on #1125
As a new contributor-to-be I am interested in this task. I support @devinsba suggestion to codify this requirement. [ArchUnit](https://github.com/TNG/ArchUnit) seems like a good option for this.

Concerning current usage, it is very easy to replace `io.opentelemetry.internal.Utils#checkNotNull` with `java.util.Objects#requireNonNull(T, java.lang.String)`. Not sure about `StringUtils#isNullOrEmpty`

[2020-04-21 19:59] iNikem commented on #729
@jkwatson Can you elaborate what parts of that class seem too complex right now? It currently has exactly what you want: a queue and a thread :)

[2020-04-21 20:05] jkwatson commented on #729
It doesn't actually have a JDK `java.util.Queue`. Instead, it's implemented queue-like semantics from scratch, using old-school locks and notifications. I think we would be better served to use one of the higher level implementations that are built-in to the JDK, rather than writing and maintaining our own.

[2020-04-21 21:32] jkwatson commented on #1081
After spending a couple of days exploring a couple of different options, I think that if we want to do this (and, I personally think it would be a good thing to clean up), then I think we should do some larger-scale API cleanup that will make remove AttributeValue much more tractable. I think this should include the API change to a type-safe *key* approach like was demonstrated in #1097, to suppor

[2020-04-21 21:59] jarebudev commented on #1125
It looks like the B3 and Jaeger propagators that are using the internal classes could be easily changed to use equivalents in guava.

For uses of ```StringUtils``` then methods in ```com.google.common.base.Strings``` class, and for checking null parameters, ```com.google.common.base.Preconditions.checkNotNull``` .

The ArchUnit plugin sounds like a sensible addition too.

[2020-04-21 23:15] carlosalberto commented on #1081
Hey @jkwatson

On 1) and 2): I remember we used to have `Link` and `Event` as concrete classes in the API, but this was changed later (it was @bogdandrutu who did the change, so he might remember about this one). In any case we need to keep `Event` extensible to support `MessageEvent`?[1]

I personally like having overloads for simple usage, e.g. `span.addEvent("hello")` instead of forcing the use

[2020-04-21 23:20] jkwatson commented on #1081
I think `MessageEvent` could easily be replaced by a static method for creating an instance of Event, rather than having a separate class for it.

[2020-04-21 23:25] jkwatson commented on #1081
With regards to the immutability, we could easily provide builders for these classes, including the Attributes implementation, so the actual classes were immutable.

For me, our current API is very strange. We have these 2 interfaces, but no way to create instances of them. There are different ways of creating Resources, Spans, Links, Events, etc, and we're lacking consistency, which makes the API

[2020-04-22 09:21] iNikem opened #1126 "Add .editorconfig file"
It is not easy for new contributors to ensure that their IDE is configured accordingly to the required code style. The only way right now is to carefully read Google Java Style Guide and change their IDE configuration manually. Or to remember to run `gradlew goJF` before commit.

The easier approach would be to provide [.editorconfig](https://editorconfig.org) file which would apply desired format

[2020-04-22 11:38] zeitlinger commented on #1091
@jkwatson I have questions about this, but I guess this belongs more to the specification group where I've started a thread

Unfortunately, gitter doesn't provide a thread URL, so this is what I've written:

[code]

[2020-04-22 14:53] #1041 closed

[2020-04-22 16:57] jkwatson commented on #1081
I've got some other ideas on how to approach this as a contrib module, so we can prototype API changes before making them part of the core. I'll be doing some exploratory work the next couple days to see if it would work.

[2020-04-22 17:43] jkwatson commented on #1081
For anyone interested in contributing/commenting/helping, I've opened up a draft PR where I'll be pushing my exploratory work in a contrib module:  https://github.com/open-telemetry/opentelemetry-java/pull/1130

[2020-04-22 17:45] jkwatson commented on #1126
Is there an editorconfig file that matches the style/format that matches what goJF requires/generates?  Is so, then I'm 100% in favor of this.

[2020-04-22 17:47] jkwatson commented on #1091
Yep, can't be null. If you're manually instrumenting your service, you can really put in whatever you want as the name.

[2020-04-22 19:02] iNikem commented on #1126
I could not find it in 5 minutes, but I am willing to compose one.

[2020-04-22 23:32] #1087 closed

[2020-04-23 14:39] bogdandrutu commented on #1081
The main idea behind having these interfaces is to support lazy initialization for the fields (especially for the attributes part) in these objects. As an example someone may write their own implementation of the Event that calculates the attributes only if the Span is recording + does that async if a batch processor is used.

[2020-04-23 14:42] bogdandrutu commented on #1081
Happy to support that in a different way, but I think it is a useful think for example I know that in Google they had z-pages enable and all rpc spans were always recording all the events - some were sampled and exporter some just created and recording things and accessed only if someone goes to the z-page

[2020-04-23 15:13] bogdandrutu commented on #1091
I am ok to have a getFoo on OpenTelemetry class with same signature as the current methods on the provider.

[2020-04-23 15:37] Oberon00 commented on #1081
So which things can you delay-calculate anyway? Wouldn't that mean keeping around references to objects that would otherwise be garbage-collected after the RPC request is handled to instead live until the span is exported? Checking for IsRecorded is possible without any lazy events, so this concerns only tail sampling, which we don't support. See my comment at https://github.com/open-telemetry/ope

[2020-04-23 16:07] jkwatson commented on #1081
I've got 3 different options prototyped for adding Links over in that PR if people are interested in taking a look. I assume that Events options will end up looking very similar.

[2020-04-23 16:25] #796 closed

[2020-04-23 17:03] iNikem commented on #813
I find the name of this annotation very unfortunate. It does not denote `Trace` in Otel terms, but `Span`. Are we sure we want to follow the industry de facto standard and to confuse future users?

[2020-04-23 17:12] Oberon00 commented on #1126
Isn't .editorconfig most useful for just the basics like line endings and tabs vs spaces?

[2020-04-23 18:28] iNikem commented on #1126
@Oberon00 at least IntelliJ IDEA provides much more: https://blog.jetbrains.com/idea/2019/06/managing-code-style-on-a-directory-level-with-editorconfig/

[2020-04-23 18:29] carlosalberto commented on #813
@iNikem I don't think we are married to this name yet. Any suggestions on this? If we found a better alternative, we can definitely use such.

[2020-04-23 18:38] iNikem commented on #813
@carlosalberto Probably something along the lines of `@WithSpan`, `@AsSpan` or `@NewSpan`? It should denote that this method invocation will result in creation of new span. Or that it is "wrapped" in a span.

[2020-04-23 18:39] iNikem commented on #813
Spring Sleuth uses `@NewSpan`. I think this is my favourite option at the moment.

[2020-04-23 22:18] jkwatson commented on #1126
I've been able to get it *close*, but not exactly the same. Two things i haven't figured out:
1. javadoc formatting is slightly different
2. force empty constructors to be on a single line : `Constructor() {}`

[2020-04-24 03:28] trask commented on #813
I like both `@NewSpan` and `@WithSpan`. I'm not opposed to `@Trace` either, but can see the confusion between trace (verb) and trace (noun).

[2020-04-24 04:09] iNikem commented on #1126
@jkwatson will you share your result with us? :)

[2020-04-24 07:02] pavolloffay commented on #1126
We should document `goJF` in contributing guidelines and probably what it into format make target. I always forget the name of gradle task.

[2020-04-24 07:24] thisthat commented on #1126
What about adding `goJF` as a pre-requisite of `compileJava` in the gradle.build file?

[2020-04-24 08:12] iNikem commented on #1126
I would even go further and add this as git pre-commit hook

[2020-04-24 08:37] iNikem commented on #813
I am quite new here, so my understanding may be a naive one. But it seems to me that first steps are obvious and not very complicated:

1. Add new annotation `NewSpan` to Otel-java contrib.
2. Teach otel-java-auto-instrumentation to create new spans whenever `NewSpan` annotation is found. This means simply extending the list of support annotations in https://github.com/open-telemetry/opentelemetry

[2020-04-24 12:48] iNikem commented on #1100
@tylerbenson What IS the intention of those submodules?

[2020-04-24 13:50] tylerbenson commented on #1100
This was explained on a call by @bogdandrutu but I forgot what he said.

[2020-04-24 14:08] iNikem commented on #1100
I would love to start transferring some tribal knowledge from peoples head into more readable documentation. I totally feel the pain of new contributor and want to help future generations. So if somebody can explain their meaning to me, I will augment `CONTRIBUTING.md`. And I can make the actual PR of renaming folders, if needed :)

[2020-04-24 14:21] johnbley commented on #813
@iNikem that plan looks good to me. I'll throw in my vote for `@NewSpan` sounding good enough.  Other possibilities might be `@CreateSpan` or `@BuildSpan` (to match the Span.Builder verbiage).

[2020-04-24 14:32] carlosalberto commented on #813
I'd personally prefer `@WithSpan` a little bit more. My two cents ;)

@tylerbenson Any opinion on this?

[2020-04-24 14:38] carlosalberto commented on #1126
I personally would like to have it as a pre-commit hook or similar, but don't have it as a requirement of `compileJava`, i.e. quite often when refactoring or prototyping I get annoyed/distracted by the style messages/errors.

In any case, that's a different conversation. Lets do the .editorconfig change and document the `goJF` case (in a separate commit) as Pavol suggested.

[2020-04-24 14:40] carlosalberto commented on #1091
I'm ok with that too. Unless @jkwatson disagrees, can we cook a PR for this? Perhaps you want to volunteer @zeitlinger ? ;)

[2020-04-24 14:41] thisthat commented on #1126
@carlosalberto what I meant was not to call the verify task but the automatic reformatted. This way, every time a compilation is performed, it is automatically formatted correctly.

[2020-04-24 14:52] carlosalberto commented on #1126
@thisthat I personally still don't like that. My 'dead' code when refactoring is suddenly gone automatically. Wouldn't love that ;) In any case, shall we fill a new issue? We can iterate on our options there and decide what's the best trade-off ;)

[2020-04-24 14:54] thisthat commented on #1126
Actually, that's a fair point! :smile: You convinced me!

[2020-04-24 14:56] jkwatson commented on #1126
Here's what I have, which is close, but not perfect. I've also just hooked up a pre-commit hook to do the formatting as a fail safe.

[editorconfig.txt](https://github.com/open-telemetry/opentelemetry-java/files/4529660/editorconfig.txt)

[2020-04-24 15:23] jkwatson commented on #1126
Here's the pre-commit hook that I've started using.

[pre-commit.txt](https://github.com/open-telemetry/opentelemetry-java/files/4529833/pre-commit.txt)

[2020-04-24 15:33] andrewhsu commented on #498
looks like this one can be closed

[2020-04-24 15:35] andrewhsu commented on #790
from the java sig mtg today, sounds like what is looked for is an automated benchmark job run on merge to master

[2020-04-24 15:40] andrewhsu commented on #1000
from the java sig mtg today, sounds like the definition of done for this issue is a decision. if noop, this can be closed. if code changes desired, keep this issue open to track the PRs.

[2020-04-24 15:46] andrewhsu commented on #813
from the java sig mtg today, notes:
https://github.com/open-telemetry/opentelemetry-java/tree/master/contrib is for the api whereas https://github.com/open-telemetry/opentelemetry-java/tree/master/sdk_contrib is for the sdk

[2020-04-24 15:46] tylerbenson commented on #813
No objection.  `@WithSpan` seems to match the other parts of the `opentelemetry-java` codebase better.

[2020-04-24 15:51] bogdandrutu commented on #1109
Related https://github.com/open-telemetry/opentelemetry-java/pull/350

[2020-04-24 15:54] jkwatson commented on #1109
`addSpanProcessor` is already on the TracerSdkProvider. I'm not sure what you're referring to.

[2020-04-24 15:55] Oberon00 commented on #1109
You are right, I misread the posted sample code. addSpanProcessor is where it should be 👍

[2020-04-24 16:04] tylerbenson commented on #813
One thing to consider is if we can make it easy for a user to add additional attributes to that span purely with annotations.  This can be done as a field on the annotation, or as a separate annotation.  The part that gets a bit more complicated is choosing how to allow defining multiple attributes (duplicate annotations, an array of elements, etc).

We should also consider the expected default sp

[2020-04-24 16:26] iNikem commented on #813
Yes, adding an annotation is just a beginning of a long journey. My proposal for first version is to follow the same logic as autoinstrumentation already uses for 3rd party annotations: span name is `ClassName.methodNam` and all exceptions set span status as failed.

It may depend on what exactly we want to allow users to configure, but my first approach would be to add new attributes to annotatio

[2020-04-24 16:33] trask commented on #1126
We are enforcing goJF in auto-instr-java also, and these Intellij plugins have been working well for me:

* [google-java-format](https://plugins.jetbrains.com/plugin/8527-google-java-format)
* [Save Actions](https://plugins.jetbrains.com/plugin/7642-save-actions)

![image](https://user-images.githubusercontent.com/218610/80235322-66c3e600-860e-11ea-9d1f-e4000b3e9a52.png)

[2020-04-24 16:36] iNikem commented on #1126
Problem with plugins is that every developer has to install them, and to know that they have to install them. EditorConfig works out the box with IntelliJ.

[2020-04-24 16:39] trask commented on #813
@iNikem this sounds like a good plan to me.

👍 for `@WithSpan`

[2020-04-24 17:11] carlosalberto commented on #1126
Having .editorconfig is a good start. *Then* we can add a docs section on how to configure commonly used plugins/hooks :)

[2020-04-24 17:23] jkwatson commented on #1126
I spent a bunch of time in IDEA yesterday trying to perfectly replicate the google java format, and i don't believe it's possible with the current set of options, unfortunately. So, even with a `.editorconfig`, you can/will commit code that doesn't match what the verifier requires. Unless you put in a pre-commit hook, or do it manually, of course.

[2020-04-24 18:24] xSystemErrorx commented on #1125
Al chile no les entiendo ni madres, español?

[2020-04-24 18:35] yurishkuro opened #1135 "Why is there a DefaultSpan?"
There is no such concept in the specification, but this class is present in the Java API.

https://github.com/open-telemetry/opentelemetry-java/blob/efc49522ac4fd01bcf94afa60789264515aa75cd/api/src/main/java/io/opentelemetry/trace/DefaultSpan.java

Can it not be hidden inside the SDK as implementation detail?

[2020-04-24 19:05] iNikem commented on #1126
@jkwatson Thanks for the file. I think it is a great start which will make a life of new contributors significantly easier :)

[2020-04-24 19:25] jkwatson opened #1137 "Create an example module for zipkin"
It should probably look a lot like the jaeger one, as a starting point.

[2020-04-24 19:43] Cheniour10 opened #1138 "100"

[2020-04-24 19:47] #1138 closed

[2020-04-24 20:00] jkwatson commented on #1135
@carlosalberto Can probably answer this more completely than I can, but the purpose of the DefaultSpan is to provide an implementation when there is no SDK installed. The implementation does context propagation but nothing else.

[2020-04-24 20:07] yurishkuro commented on #1135
I don't think that's the only reason, because such default implementation can be done without exposing the DefaultSpan as a public class in the API.

[2020-04-24 20:39] jkwatson commented on #1135
Looks like the only usage that's keeping it from being made package-access is in the `HttpTraceContext` implementation. @carlosalberto would probably have the most insight into why that leaked in therel

[2020-04-24 21:59] sleighzy opened #1139 "Jaeger exporter does not set error boolean"
Jaeger (the OpenTracing collector and visualisation tool, https://www.jaegertracing.io/) uses the `error` tag on spans with a boolean value of `true` to identify and display in the UI which spans have errors. This can be used to easily search for traces that contain errors within the Jaeger UI as well. This tag is part of the OpenTracing semantic conventions.

When sending spans to the OpenTelemet

[2020-04-24 22:24] sleighzy commented on #1139
I have a simple fix to add the error boolean tag in the Adapter class if the span status is not OK. Let me know if this is acceptable.

[2020-04-24 22:25] jkwatson commented on #1139
Please! Fixes absolutely welcome!

[2020-04-25 02:04] sleighzy commented on #1139
Hmmm. This works successfully when sending directly to the Jaeger collector, and also when sending spans to the OpenTelemetry Collector version 0.3.0 release. I've retested with the latest dev release of the OTel collector Docker container and unfortunately due to the PR https://github.com/open-telemetry/opentelemetry-collector/pull/833 introduced 10 days ago the behaviour has now changed. This is

[2020-04-25 05:04] sleighzy commented on #1139
Update: And then a change made to the OTel Collector today modified the behaviour again and fixed this problem with regards to the duplicate "error" tag. Good news. The Jaeger protobuf translations for the collector used for the receiver have now moved to the internal format, and the "error" tag is removed from the attributes if it exists: https://github.com/open-telemetry/opentelemetry-collector/

[2020-04-25 05:06] berkcan77 commented on #1125
I've used ArchUnit for enforcing this at the CI level before. It would probably be good to have something like this codified so that it's not just tribal knowledge [okey oyna](https://www.maksatokey.com)

[2020-04-25 06:42] Kapil9711 opened #1140 "What is EC2 metadata, and how do you view it?"

[2020-04-25 10:18] simone02f commented on #1125
salut comment vas tu Moi je recherche tout d'abord a entamer une relation amicale je veux dire par la que je veux mieux connaitre et apprendre a connaitre la personne avec laquelle je discute avant d'aller plus loin !
Sinon en temps normal je recherche un homme sérieux et sincère avec qui je pourrai entamer une relation sérieuse et durable.
Et compte tenu du fait que je n'ai pas encore d'enfants j

[2020-04-25 10:21] simone02f commented on #1125
hi how are you me I am looking first of all to start a friendly relationship I mean by that I want to know better and get to know the person with whom I am talking before going further!
Otherwise normally I am looking for a serious and sincere man with whom I can start a serious and lasting relationship.
And given the fact that I don't have any children yet, I would like to start a beautiful famil

[2020-04-25 10:24] xSystemErrorx commented on #1125
Español?)):

El sáb., 25 de abr. de 2020 3:21 a. m., simone gomelet <
notifications@github.com> escribió:

[2020-04-25 14:02] Francine09 commented on #1125
Hello Are you looking for a loan urgently? is : To revive your financial activities? To renovate the interior of your apartment; House; building ? Rental? Buying a car? Credit for marriage? Settlement of a debt? For the realization of a project? Or for other reasons etc ... Loan offer between individuals I put at your disposal a loan from 5,000 to 900,000,000 Euros with very simple conditions at a

[2020-04-25 14:54] Elturko22 opened #1142 "I want pull data with Python!"
I am junior software developer and i am learning Python.While i was learning Python , i encountered the error.I attached the image.So what is the problem? And if I want pull data with Python , what i do and how ?
![hata](https://user-images.githubusercontent.com/64270142/80283078-ceb52200-871d-11ea-926b-862d6b120ff8.PNG)

[2020-04-25 15:48] simone02f commented on #1125
Îți trimit mesaj pe gmail

[2020-04-25 15:49] simone02f commented on #1125
I'm sending you a message on gmail

[2020-04-25 15:50] simone02f commented on #534
??

[2020-04-25 17:42] jkwatson commented on #1140
Can you explain what you're trying to do?

[2020-04-25 17:44] jkwatson commented on #1142
This is not the appropriate place for this question. Please try stack overflow.

[2020-04-25 17:44] #1142 closed

[2020-04-25 19:10] Francine09 commented on #1125
Ai nevoie de împrumutul de bani

Le samedi 25 avril 2020, simone gomelet <notifications@github.com> a écrit :

[2020-04-25 19:40] Maham19 commented on #1137
Get @Maham19 mentions with mentions:Maham19.

[2020-04-25 23:06] TheHostMaster20 opened #1143 "Let The Games Begin"
Since this Pandemic has arrived it has made everyone's life miserable and it has everyone locked up in their house. I wanted to make a platform where it could be fun for every youth around the world to get together in a special event, especially the youth from the same community or same language speaking backgrounds. A platform where it makes it easy for the same  language speaking youth to intera

[2020-04-26 00:58] #1143 closed

[2020-04-26 12:03] KB3FN opened #1145 "dropbox"

[2020-04-26 12:03] #1145 closed

[2020-04-26 13:24] Cmpelon210 commented on #1125
Thanks for your feedback back I'm new and learning

[2020-04-26 16:23] #1139 closed

[2020-04-26 16:53] Francine09 commented on #1125
Do you need the loan of money

Le dimanche 26 avril 2020, Cmpelon210 <notifications@github.com> a écrit :

[2020-04-26 17:56] bogdandrutu commented on #1135
@yurishkuro I am happy to work on making the default implementations not public. Would also be good to make this call across different languages, currently looking for example at go https://godoc.org/go.opentelemetry.io/otel/api/trace there a Noop public types. I think it is good to be consistent.

[2020-04-27 02:02] adriancole commented on #575
I'd like to see an explicit answer on this rather than rumors. If the decision is to depend on grpc-context, even if it is renamed, it will limit integration points in favor of grpc.

That the tradeoffs were listened to and understood should be documented in a RATIONALE that lives in this project if that was the outcome @bogdandrutu (mentioning you specifically as you are the most vocal in having

[2020-04-27 02:36] adriancole commented on #575
This decision is one of the most important decisions there is in this project as it limits or opens applicability in few ways except possibly a JRE version choice could. Propagation is the heart of tracing (and also metrics to the degree context tags are used)

A section in the RATIONALE saying "Here's why we use grpc-context" can reduce frustration, as no one would bother lobbying to decouple it

[2020-04-27 03:45] trask commented on #575
Hey @adriancole! Sorry for the lack of updates here. @bogdandrutu and I have been discussing, and spending time trying to figure this out. I could see this being worth a weekly 30 min meeting for a few weeks while we are working through ideas/options, would you be able to join if we schedule something that is timezone friendly for you?

[2020-04-27 04:45] adriancole commented on #575
please just update this issue as you have updates, or point to something that is updated that I can watch? I'm not able to commit to synchronous meetings, but I can follow offline updates if it is known where they are.

[2020-04-27 07:16] VAHID1449 opened #1146 "روغن بادام شیرین"
درمان بسیاری از بیماری ها با داروهای گیاهی حاصل می‌شود. در طب قدیم ایرانابوعلی سینا با تقیقات بسیار زیاد به تعداد زیادی از ای داروهای گیاهی دست یافته است. فروشگاهر اینترنتی روک یکی از مناع تامین محصولات گیاهی است که با مشاوره خود در این زمینه به افراد بسیار زیادی کمک کرده است. روغن بادام تلخ را فقط با دستور پزشک و ر شرایط خاص بخورید. این روغن بیشتر برای درمان درد سینه و گلو همچنین برای درمان در د

[2020-04-27 08:12] Oberon00 opened #1147 "java.util.logging does not work in shutdown hooks, but OTel does important things there"
It seems that java.util.logging [resets](https://docs.oracle.com/javase/7/docs/api/java/util/logging/LogManager.html#reset()) itself in a shutdown hook that is added in the constructor of LogManager. E.g. if you configured a log file and a custom logging level, during shutdown the logs will instead be logged to stderr with the default level of INFO. Note that at shutdown the JVM "will start all re

[2020-04-27 09:05] sleighzy commented on #1146
The Google translation if anybody is interested:

Not sure if this was the Github repo you were after ;)

[2020-04-27 09:06] DotSpy commented on #1146
Spam, remove it please

[2020-04-27 09:09] DotSpy commented on #1077
@jkwatson assign me please, i finish my exams and can return to it

[2020-04-27 09:11] DotSpy commented on #933
@jkwatson please assign me to this one

[2020-04-27 09:22] thisthat opened #1149 "Add setup method to configure the OpenTelemetry API"
According to the [specifications](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-configuration.md#programmatic), the OpenTelemetry SDK must be programmatically configurable. The current initialization looks for implementations of the OpenTelemetry API via Service Provider and if no instance is found, it defaults to a no-op implementation. In the SIG cal

[2020-04-27 10:54] DotSpy commented on #933
@bogdandrutu is it possible to do with grpc context now? I wanna do smth like
[code]

[2020-04-27 11:25] simbainfotechh commented on #1137
Thank you for [this](https://www.getpassiveincomes.com/affiliate-marketing-on-facebook/)

[2020-04-27 11:40] Oberon00 commented on #1075
Actually, we could provide an interface SpanOrBuilder<Derived> if we just changed span to return itself instead of void from setAttribute, which would be a nice usability improvement anyway. Or is this obsoleted by #1130? I think adding some SpanOrBuilder interface would be a relatively small change (basically mostly moving declarations) but still breaking (all Span implementations would need to `

[2020-04-27 13:09] nangcuc opened #1150 "https://hello.fuckbookmobile.com/lander/ml609_du_trial/"
https://hello.fuckbookmobile.com/lander/ml609_du_trial/

[2020-04-27 13:38] #1150 closed

[2020-04-27 13:45] carlosalberto commented on #933
@DotSpy Yes, you should be able to create `Context` objects this way.

[2020-04-27 13:47] carlosalberto commented on #1149
I think we should still do the SPI thing we do at this moment, while **also** supporting explicit, manual configuration as done in #1058

[2020-04-27 13:49] carlosalberto commented on #1147
We should definitely document this for a start, while we decide our options there.

[2020-04-27 13:53] carlosalberto commented on #1135
Well, having `DefaultSpan` accessible (or at least, allowing the user to create it) allows us to do some in-propagation stuff.

I'd like us to offer a way to keep this, if possible (by keeping a method somewhere, that returns an empty `Span` out of a `SpanContext`).

[2020-04-27 15:38] jkwatson commented on #1075
If we were to do something like this, we'd have to come up with a better name than `SpanOrBuilder`. I'd rather fix the API, rather than introduce odd patches like this.

[2020-04-27 15:43] #1126 closed

[2020-04-27 16:00] jkwatson commented on #1147
Neither the SDK nor the API register any shutdown hooks. This seems to be an issue for the auto-instrumentation agent, rather than the API or SDK, correct?

[2020-04-27 16:05] Oberon00 commented on #1147
Yes. This issue appears only when you actually try to use the SDK so to speak 😅

[2020-04-27 16:08] Oberon00 commented on #1147
But actually I think the OTel auto instrumentation has solved this already as byproduct of redirecting the `getLogger` calls in their gradle build to something that is not java.util.logging-based, see related https://github.com/open-telemetry/opentelemetry-auto-instr-java/issues/335

[2020-04-27 16:09] jkwatson commented on #1147
It sounds like you're asking to have documentation that we use java.util.logging in the SDK? There are many other bugs in the JDK/JVM (especially for java 7!). We wouldn't want to document them in this repo as well, would we? I guess I'm not sure what this issue is suggesting we actually do.

[2020-04-27 16:12] Oberon00 commented on #1147
You may be right and this may be common knowledge. But I did not know about this bug, I suspect more people could run into it and AFAIK it's still unresolved in newer versions of Java so maybe it's worth adding an FAQ entry or the like for it.

[2020-04-27 16:14] Oberon00 commented on #1075
I took that name from protobuf, where for each message Foo it generates a Foo, a Foo.Builder and both implement FooOrBuilder. But I'm not married to that name, it was just the first thing that came to my mind.

[2020-04-27 16:21] jkwatson commented on #1149
I think @bogdandrutu was going to prototype an SDK that could also be a no-op until it had been configured, which would, I think, solve many of the startup-timing issues that make all of this extra tricky.

[2020-04-27 16:48] carlosalberto commented on #1147
@Oberon00 I will be adding a FAQ soon so I might include this note on it ;)

[2020-04-27 17:24] yurishkuro commented on #1135
Can you be specific? What does it allow?

[2020-04-27 19:15] trask commented on #1147
Nice find! I didn't know about this.

Interestingly, this issue doesn't (shouldn't?) affect opentelemetry-auto-instr-java because it shades all `java.util.logging` usage in its dependencies (including the embedded OTel SDK) and makes them instead use [PatchLogger](https://github.com/open-telemetry/opentelemetry-auto-instr-java/blob/master/agent-bootstrap/src/main/java/io/opentelemetry/auto/bootstr

[2020-04-27 19:37] jkwatson commented on #1147
@Oberon00 I'm curious what logging in particular was getting swallowed that made your life difficult. Is there another approach we could use, that wasn't dependent on logging that might have helped?

[2020-04-27 22:30] jarebudev commented on #1110
i can take a look into this

[2020-04-29 12:46] #933 closed

[2020-04-29 14:44] carlosalberto commented on #1135
Hey @yurishkuro

So it allows users to use a `SpanContext` as a `Span`. Moreover, with the latest changes from OTEP 66, this is the only way to store an active `SpanContext` there:

[code]

But perhaps that's the only important case we need to support. I see two alternatives:

1) Keep a method somewhere to create empty `Span`s out of `SpanContext` values (as it's currently the case with `DefaultSp

[2020-04-29 15:01] Oberon00 commented on #1147
I had my own SpanProcessor and was doing a `logger.fine("shutdown invoked")` there and was puzzled why I did not see it, despite setting the logging level.

[2020-04-29 17:49] yurishkuro commented on #1135
This sounds like a private contract between the SDK Tracer and the base Propagator. It could be all encapsulated in the base propagator, with Tracer having no knowledge of how the span/spancontext are stored in the Context.

[2020-04-29 20:40] jkwatson opened #1157 "JaegerRemoteSamplerTest fails occasionally"
Very occasionally, this error causes the test to fail.

[code]

[2020-04-30 11:17] zeitlinger commented on #1091
@carlosalberto done in #1159.

I also thought about
1. adding the shortcut methods for correlation context manager as well, but based since it's not even used in https://github.com/open-telemetry/opentelemetry-auto-instr-java/ I didn't do it
2. adding the same methods for `TracerSdk` - but this doesn't work as `TracerSdk` is package protected.

[2020-05-01 15:36] bogdandrutu commented on #813
We added the annotation in contrib package for the moment.

[2020-05-01 15:36] #813 closed

[2020-05-01 15:39] andrewhsu commented on #493
From the sig mtg today, if doesn't go in with this milestone, will carry over to next.

[2020-05-01 15:39] andrewhsu commented on #688
From the sig mtg today, if doesn't go in with this milestone, will carry over to next.

[2020-05-01 15:39] andrewhsu commented on #1002
From the sig mtg today, if doesn't go in with this milestone, will carry over to next.

[2020-05-01 15:39] #498 closed

[2020-05-01 15:42] #534 closed

[2020-05-03 06:00] HaojunRen commented on #662
Maybe refer to https://github.com/spring-cloud/spring-cloud-sleuth/issues/1497#issuecomment-616630833

[2020-05-03 07:05] sleighzy opened #1164 "OTLP exporter sets invalid parent span id"
The SDK returns an invalid parent span id for root spans, as per the JavaDoc, which is expected as no parent exists. When spans are exported other exporter implementations, e.g. the Java implementation for Jaeger and Zipkin, plus other languages, do not set the parent span id on a span if it is not valid. The OTLP exporter however sets the parent span id without checking to see if it is valid firs

[2020-05-03 14:23] #1164 closed

[2020-05-04 04:03] trask commented on #575
Should have something that's worth reviewing in the next day or two. Will post back here.

[2020-05-04 13:03] DotSpy commented on #1111
i can take this one

[2020-05-04 13:08] DotSpy commented on #525
i can take this one with https://github.com/open-telemetry/opentelemetry-java/issues/1111

[2020-05-04 15:38] #1002 closed

[2020-05-04 17:15] #493 closed

[2020-05-04 19:23] jkwatson commented on #1111
this is complete with #1172

[2020-05-04 19:23] #1111 closed

[2020-05-05 03:51] trask commented on #575
Please review prototype over at https://github.com/propagationio/context/pull/1

[2020-05-05 04:10] adriancole commented on #575
@trask you might consider reverting the src tree of the initial commit and then re-raising it as a PR. There are many decisions that predate the first pull request

[2020-05-05 04:13] adriancole commented on #575
also, in that PR please have someone from grpc review it as it seems to be the idea that grpc would adopt this. anything that implies a new base class would imply its usefulness will be limited to adoptees, which was the problem in the initial discussion mentioned here https://github.com/open-telemetry/opentelemetry-java/issues/575#issuecomment-609169100

the points I've mentioned in the past abou

[2020-05-05 04:48] trask commented on #575
@adriancole The initial source tree was mostly done by @bogdandrutu, I believe it is just gRPC minus cancellations, did you see some other decisions that you wanted to discuss? @bogdandrutu is discussing alignment with the gRPC team.

[2020-05-05 04:56] adriancole commented on #575
I'll try to put this a different way. the code seems lifted from grpc, which itself had years of decisions made. Which decisions are retained into this codebase are themselves decisions.

This project forked opencensus, but copied in its source (allowing review) piecemeal. For example, the "initial commit" here was just a license file. it would seem a similar policy would make similar sense for pr

[2020-05-05 05:11] trask commented on #575
That's fair.

So maybe it's premature to even have a github repo at this point then.

What I'd like to accomplish initially, is to see if this idea even has legs, which is part technical feasibility and part inter-project discussions (Bogdan has reached out to gRPC and I've reached out to Reactor).

Maybe it's better if I just put code under my own github account for these initial discussions?

Ho

[2020-05-05 05:16] adriancole commented on #575
What was done here is a good way to start https://github.com/open-telemetry/opentelemetry-java/issues/575#issuecomment-609169100 You'll notice in the associated PR there's a bunch of chatter. You can ping those in your initial commit PR. I think it would be better to use wherever the repo intends to be as that keeps comment history. That said repos can be moved.

[2020-05-05 05:31] trask commented on #575
Sounds good.

I will reset the repo tomorrow.

Do you think PR #1 should be only what's currently in the initial commit, or ok to also include what's currently in PR #1, in order to give reviewers a better picture of the proposed project direction?

[2020-05-05 05:53] adriancole commented on #575
my suggestion would be that the pr should include only the most important core functionality (not the project setup which can be a scaffolding commit that's more bikeshed in nature)

There should be a rationale file to explain why the choices are there (helps conserve time of others and also with ESL). the test tree could have a features directory showing why certain things exist. If they don't ha

[2020-05-05 21:37] jarebudev opened #1178 "Add a Zipkin integration test using Testcontainers"
The Jaeger exporter has an integration test that uses Testcontainers to spin up a container running Jaeger all-in-one for the duration of the test, see ```JaegerIntegrationTest```.

It would be good to have a similar test for Zipkin, using the ```openzipkin/zipkin-slim``` image

[2020-05-06 06:51] pavolloffay commented on #1178
Testcontainers might not be needed for zipkin. Zipkin project provides a direct integration with junit https://github.com/openzipkin/zipkin/tree/master/zipkin-junit.

[2020-05-06 17:45] thisthat opened #1181 "Unify Javadoc for configuration classes"
With #996, [Span|Metric] Processors and Exporters can accept configuration parameters from different sources. The documentation that lists the names for the names used to do the look-up is duplicated among the different classes. This documentation should be unified in the class-level Javadoc and in the package-info.

[2020-05-06 18:30] #1091 closed

[2020-05-07 08:33] malafeev opened #1182 "Make ZipkinSpanExporter class public"
Could you please provide info how to use non public class `ZipkinSpanExporter`?
Is it internal class not for usage by apps?

[2020-05-07 14:17] carlosalberto commented on #1182
It looks we should simply make it public. Any reason to not make `ZipkinSpanExporter` public @jkwatson ?

[2020-05-07 14:57] jkwatson commented on #1182
Not sure why it ended up non-public. It definitely should be publicly accessible.

[2020-05-07 21:36] jarebudev opened #1187 "Use Java 8 or newer for tests"
This came up during review of #1176.  We had to use a specific version of ```zipkin-junit``` that uses a 3.x version of the ```okhttp``` lib which can compile with JDK 7.

_Originally posted by @adriancole in https://github.com/open-telemetry/opentelemetry-java/pull/1176_

[2020-05-07 21:57] #1182 closed

[2020-05-08 00:47] flands opened #1188 "Metric SDK example documentation"
**Is your feature request related to a problem? Please describe.**
Documentation feature request

**Describe the solution you'd like**
https://github.com/open-telemetry/opentelemetry-java/blob/master/QUICKSTART.md#metrics does not provide an example of how to configure the SDK to emit metrics. Neither does https://github.com/open-telemetry/opentelemetry-java/tree/master/examples/sdk-usage.

**Desc

[2020-05-08 06:04] trask commented on #575
Still trying here 😆. Check out #1189.

[2020-05-08 12:41] malafeev commented on #1182
thanks for fix, could you make a minor release?

[2020-05-08 16:48] thisthat opened #1190 "TraceID.getLowerLong() returns the less random part of the trace"
**Describe the bug**
`TraceId.getLowerLong()` returns the leftmost part of the trace id. This method is expected to return the part of the trace which is more random. According to the [W3C Trace Context Standard](https://www.w3.org/TR/trace-context/#interoperating-with-existing-systems-which-use-shorter-identifiers), this corresponds to the rightmost part of the trace.

**Steps to reproduce**

[co

[2020-05-08 17:17] #1110 closed

[2020-05-08 17:40] bogdandrutu commented on #1190
@thisthat please don't use the ctor that takes longs because that is an internal representation detail. Use https://github.com/open-telemetry/opentelemetry-java/blob/master/api/src/main/java/io/opentelemetry/trace/TraceId.java#L111

Also we should consider to remove the API that accepts longs.

[2020-05-08 18:14] bogdandrutu opened #1191 "Improve performance of trace/metrics export pipeline by reducing number of allocs"
Currently in the trace and metrics exporters we use SpanData and MetricData, here are some benefits:
1. Both objects are immutable which guarantees that multiple exporters can consume them safely.
2. Another benefit is that for cases where users call into the Span api with a custom `Event` to allow lazy formatting (of attributes or event name) and hold external memory (reference to other objects)

[2020-05-08 19:03] thisthat commented on #1190
@bogdandrutu I just used it to have a minimum example that showcases the error.

[2020-05-10 14:38] #525 closed

[2020-05-10 15:17] bogdandrutu opened #1194 "Rename readEnvironment to readEnvironmentVariables in ConfigBuilder"

[2020-05-11 18:21] #1190 closed

[2020-05-11 21:26] jkwatson opened #1195 "It is possible to remove an attribute from a span that has ended"
**Describe the bug**
It is possible to remove an attribute from a span that has ended

**Additional context**
This was introduced in #807 and I believe it was a mistake.

[2020-05-11 21:56] jkwatson opened #1197 "It is possible to add a link to a span after it has been built."
**Describe the bug**
If you hold on to the SpanBuilder used to create the span, you can continue to add links after the span has started.

**Steps to reproduce**
[code]

[2020-05-11 22:11] jkwatson opened #1198 "Span number of attributes doesn't include those from the initial builder"
**Describe the bug**
When we start a span, we don't initialize the number of attributes to the ones set in the builder.

**Steps to reproduce**
[code]

[2020-05-11 22:18] jkwatson opened #1199 "You can add attributes to a started span via the builder that created it"
**Describe the bug**
When we start a span, we should make a copy of the attributes from the SpanBuilder, but instead we just use a reference to the Builder's collection. This means you can continue to add attributes via the Builder.

**Steps to reproduce**
[code]

[2020-05-11 22:45] carlosalberto commented on #1199
I'd be up for indeed making a copy of the attributes. Wondering what @bogdandrutu thinks about this (as it would mean more allocations ;) )

[2020-05-11 23:31] jkwatson commented on #1199
I discovered this while starting to work on getting rid of the SpanData allocations, so maybe it'll all balance out. :)

[2020-05-12 15:05] bogdandrutu commented on #1199
We can avoid an allocation by moving the initial list to the Span instead of copying it. When the Span is created we initialize the span attributes with the list (data structure for attributes) created in the builder, and we make the list in the builder null.

[2020-05-12 16:42] #1195 closed

[2020-05-12 19:58] jkwatson commented on #1191
@bogdandrutu Are you thinking that the "freezing" of the span would happen when the span is ended, or do you think this should live at a different point in the lifecycle?

[2020-05-12 22:01] bogdandrutu commented on #1191
I think we should do it later and only if needed.

[2020-05-12 23:04] jkwatson commented on #1191
Are you thinking that it would happen on the first call to "toSpanData" (or the equivalent? Or, a new method on the RERS class that would do the freeze? In that case, who would call the freeze method? SpanProcessor?

[2020-05-12 23:15] bogdandrutu opened #1209 "Extending HashMap may be a problem for AttributesMap"
Currently AttributesMap extends HashMap which may cause troubles.

We need to re-evaluate if this is a real problem or we can live with this anti-pattern. Wrapping the hash-map adds an extra unnecessary allocation.

[2020-05-12 23:31] #1198 closed

[2020-05-12 23:37] bogdandrutu commented on #1191
Don't know yet. I have not thought all the way to this level of details :).

[2020-05-12 23:42] jkwatson commented on #1191
Cool. I'm pretty close to having something ready to show.

[2020-05-13 15:18] thisthat opened #1212 "License headers"
**Is your feature request related to a problem? Please describe.**
Maintaining the year up2date is a cumbersome activity.

**Describe the solution you'd like**
Remove the year value from the license headers.

**Describe alternatives you've considered**
Another option would be a more concise version of the header as reported in
https://github.com/open-telemetry/community/issues/113#issuecomment-619

[2020-05-13 15:23] jkwatson opened #1213 "Suggest changing the SPI classes to be "*Factory" rather than "*Provider""
Having both a `TraceProvider` and a `TracerProvider` is very confusing. And, the documentation on `TraceProvider` actually is wrong and says that its name is `TracerProvider`. To eliminate this confusion, I recommend changing our SPI "provider" classes to be renamed to `TracerProviderFactory` and `MeterProviderFactory` so there is no confusion in the naming.

[2020-05-13 15:24] jkwatson commented on #1212
I think we could use the concise version without the year, but it's worth checking with the TC.

[2020-05-13 15:55] joshgav opened #1214 "Shim from OpenTracing impl to OpenTelemetry API"
**Is your feature request related to a problem? Please describe.**
I'd like to use the OpenTelemetry API/SDK with an OpenTracing tracer, specifically [AppDynamics'](https://docs.appdynamics.com/display/PRO45/Open+Tracing+Support). AppD doesn't (yet?) provide an OpenTelemetry or even OpenCensus exporter or tracer, so using their OpenTracing tracer seems to be the only integration option for now.

*

[2020-05-13 17:43] bogdandrutu commented on #1213
For SPI it is very common to call these Providers, I do understand that this is confusing and I raised this issue when they decided in the specs to call the Tracer/Meter providers.

[2020-05-13 17:48] jkwatson commented on #1213
Just as a data point, the auto-instrumentation project currently uses the `Factory` naming pattern for exporter SPI. We should probably true-up between the two projects, since we're all on the same team.  :)

[2020-05-14 05:43] bogdandrutu commented on #1214
I don't think we will want to support this as it is a harder problem than just making an exporter in Opentelemetry for AppD and rely on the implementation in Opentelemetry to collect span data. Do you think that is reasonable?

[2020-05-14 13:22] carlosalberto commented on #1214
I'd also vow your having an AppD exporter - this is what we did for Jaeger (which is OpenTracing compliant) and worked great.

[2020-05-14 13:31] joshgav commented on #1214
@bogdandrutu

Yes, that's reasonable and I'll pursue that. :+1: I think we can perceive the OpenTelemetry API as a new version of the OpenTracing API (i.e. v0.34!) and ask vendors to "upgrade", ideally by providing an exporter instead of a tracer.

@carlosalberto

The trouble is AppD's formats and source are proprietary and closed :( so it's iffy for someone other than AppD themselves to write the

[2020-05-14 13:31] #1214 closed

[2020-05-14 14:18] ksameersrk commented on #999
@bogdandrutu  I would like to take a stab at this. I see that this has not been done at least in the master branch. Should I create a PR for this?

[2020-05-14 14:22] carlosalberto commented on #999
@ksameersrk Just assigned it to you. Thanks for helping out!

[2020-05-14 21:01] trask commented on #1213
What about `TracerProviderProvider`? 😁

[2020-05-14 21:23] trask commented on #1209
Just my 2c, I'm not opposed to extending `HashMap` if it's not for a public class, and would personally prefer that over the extra allocation of wrapping the `HashMap`.

An example I ran into recently while looking at Reactor Context does the same:
https://github.com/reactor/reactor-core/blob/master/reactor-core/src/main/java/reactor/util/context/ContextN.java#L31

[2020-05-14 21:57] carlosalberto commented on #1209
Same feeling here. I'd be more worried if this indeed was a public class.

[2020-05-14 22:29] carlosalberto commented on #1213
IMHO it's not a big deal as  `TraceProvider` lives in the `spi` sub-package, so you know what you are getting (although we should fix the inline docs). That being said, I'm not entirely opposed to rename these components to `TraceProviderFactory`/`MeterProviderFactory` ;)

[2020-05-14 23:00] jkwatson commented on #1209
If we want to keep this, let's be very sure we don't let it proliferate into public APIs.

[2020-05-15 00:03] trask commented on #1209
maybe a comment? 😄

[code]

[2020-05-15 00:18] jkwatson commented on #1209
Only if we put "ACCEPTABLE" in quotes.

[2020-05-15 02:13] bogdandrutu commented on #1213
We must get more "Java", what about `TraceProviderFactoryBuilder`? :)

[2020-05-15 02:20] jkwatson commented on #1213
*Impl

[2020-05-15 11:21] Oberon00 opened #1225 "Probability sampler only respects positive parent decision"
~According to [the spec](https://github.com/open-telemetry/opentelemetry-specification/blob/18b2752ebe6c7f0cdd8c7b2bcbdceb0ae3f5ad95/specification/trace/sdk.md#built-in-samplers), the probability sampler's "default behavior should be to trust the parent `SampledFlag`"~ (EDIT: See https://github.com/open-telemetry/opentelemetry-java/issues/1225#issuecomment-668224260). However, in Java, the decisio

[2020-05-15 11:25] Oberon00 commented on #1225
Also, I just noticed that the probability is not attached in the cases where a parent decision is honored. Is this intended?

[2020-05-15 16:06] #996 closed

[2020-05-15 16:43] jkwatson commented on #1225
It was intentional, yes. I'm honestly not 100% sure which way it should go. My thought process was: if we didn't use the probability in making the decision, then don't put it into the "decision" attributes.

[2020-05-15 17:45] bogdandrutu opened #1230 "Remove duplicate interfaces ResultDoubleSumObserver and ResultDoubleUpDownSumObserver"
These interfaces are exactly the same. We could think about sharing the interface, calling it something like DoubleSumResult and reducing a wee bit of duplicated code.

[2020-05-15 20:55] jarebudev commented on #1187
i can take a look at this

[2020-05-16 17:24] bogdandrutu commented on #1119
I think the specs is clear, it says if it has a parent and parent is sampled then true otherwise false. I am not sure what is the confusion.

[2020-05-16 18:05] trask opened #1234 "Small rename of BatchSpansProcessor and SimpleSpansProcessor"
I think these should probably be renamed:

* `BatchSpansProcessor` → `BatchSpanProcessor`
* `SimpleSpansProcessor` → `SimpleSpanProcessor`

to match their super class which is `SpanProcessor` (and not `SpansProcessor`)

[2020-05-16 22:40] bogdandrutu commented on #1119
I think I got the confusion and opened a PR in specs.

[2020-05-18 09:50] RashmiRam opened #1239 "Support configuration from env vars for TraceConfig class"
**Is your feature request related to a problem? Please describe.**
TraceConfig to get initialized with configuration properties like `DEFAULT_SAMPLER`, `DEFAULT_SPAN_MAX_NUM_ATTRIBUTES`, etc., from env variables if exists, Instead of configuring it through programmatically, it would be convenient to configure these parameters via env variables

**Describe the solution you'd like**
We can have a co

[2020-05-18 14:39] #1194 closed

[2020-05-18 17:02] #1234 closed

[2020-05-19 00:01] bogdandrutu opened #1244 "Remove check for non-negative values in default no-op and SDK implementation for ValueRecorder"

[2020-05-19 09:28] arminru commented on #688
@carlosalberto The reason for Span not being Closeable is, for example, illustrated here: https://github.com/opentracing/opentracing-java/issues/361#issuecomment-542660304

[2020-05-19 13:08] iNikem opened #1246 "otel-java-auto-instr fails to compile with 0.5.0-SNAPSHOT"
**Describe the bug**
When I try to build otel-java-auto-instr against 0.5.0-SNAPSHOT version of otel-java, I get the following error:

[code]

**Steps to reproduce**
* Checkout https://github.com/open-telemetry/opentelemetry-auto-instr-java
* In `gradle/dependencies.gradle` change the `opentelemetry` version to `0.5.0-SNAPSHOT`
* Run `./gradlew classes`

**Additional context**
I suspect this error

[2020-05-19 13:14] jkwatson commented on #1246
I can confirm. We have the same issue in the example code, as well, and had to add the dependency manually.

[2020-05-19 14:53] DotSpy commented on #1246
@jkwatson assign to me, i'll have a look

[2020-05-19 20:38] DotSpy commented on #1246
for now gradle generating pom.xml
[code]
with no version for grpc-context and dependency management section

[2020-05-19 21:07] jarebudev opened #1249 "Create integration test to ensure Java 7 compatibility"
See PR #1237 for context

Our built artefacts target Java 7, the unit tests have been changed to use Java 8.

There was some discussion/concern that as the tests are no longer using Java 7, there's a potential risk that we may not catch any problems/misconfiguration with the build and artefacts could be built using Java 8.

I suggest that an example app is created.  This is packaged into a Docker

[2020-05-19 23:02] #1244 closed

[2020-05-20 00:41] jmacd opened #1253 "Consider naming "RecordBatch" to "NewBatch""
**Is your feature request related to a problem? Please describe.**
Noticed some stutter in the API name, discussed here:
https://github.com/open-telemetry/opentelemetry-specification/pull/601#discussion_r427635407

**Describe the solution you'd like**
The name "NewBatch" sounds like it creates a builder interface, "RecordBatch" doesn't.

**Describe alternatives you've considered**
The current solu

[2020-05-20 09:05] DotSpy commented on #1178
Yeap zipking had it's own Rule and we already had tests for it. Also tests with testcontainers had a lot of time to startup and sometimes failing due to quay.io is unreachable. As long as there are no trouble with zipkin-junit we should stick to it

[2020-05-20 09:07] DotSpy commented on #1188
Related to https://github.com/open-telemetry/opentelemetry-java/issues/1077

[2020-05-20 14:14] #1181 closed

[2020-05-20 14:48] #1246 closed

[2020-05-21 01:46] bogdandrutu opened #1258 "Change public APIs to not accept Map<String, AttributeValue>"
Proposals:
1. Use guava ImmutableMap - probably want to avoid guava dependency in the API.
2. Add our own class that is immutable instead of using a map.

The main motivation is that because the map is not immutable we have to do a copy of the entire map all the time.

[2020-05-21 01:54] jkwatson commented on #1258
Take a look at #1130 for one proposal to have an `Attributes` class that could probably fulfill this need (although not the specific implementation in that brainstorm)

[2020-05-21 13:58] bogdandrutu commented on #1213
Jokes apart, I think using Factory for that may be good.

[2020-05-21 14:24] bogdandrutu commented on #1258
@jkwatson looked at that, it does more than this issue require. But maybe that's what we need, still thinking about this.

Also: Bonus for labels we have the same problem since the variadic methods can be called with an array (not sure if the compiler copies the array automatically),  may be good to verify that as well.

[2020-05-21 17:40] jkwatson commented on #1258
There is no secret array-copying when you call a varargs method directly with an array. It just passes it directly to the method.

[2020-05-21 18:24] jkwatson commented on #1213
I'm guessing we should also change the `CorrelationContextManagerProvider` to be `CorrelationContextManagerFactory` as well?

[2020-05-21 19:03] bogdandrutu commented on #1258
@jkwatson which means the current labels API suffer from the same problem :(

[2020-05-21 19:08] jkwatson commented on #1258
It's true. Definitely something to fix.

[2020-05-21 19:20] jkwatson commented on #1253
@jmacd The current Java API for this looks like:

[code]

I'm not sure I understand what you think should change.

[2020-05-21 19:31] jmacd commented on #1253
This is fine. In the discussion of spec PR 601 Bogdan suggested the call was `meter.recordBatch()`.  `meter.newBatchRecorder()` sounds good.

[2020-05-21 19:31] #1253 closed

[2020-05-21 21:05] #1213 closed

[2020-05-21 21:07] bogdandrutu commented on #1212
It is correct to use no year :)

[2020-05-21 22:27] bogdandrutu commented on #1100
* contrib has functionality that depends only on the API
* contrib_sdk has functionality that depends on the API (may by just indirect via the SDK dep) + SDK

For the moment these were the only rules we applied, but based on the specification https://github.com/open-telemetry/opentelemetry-specification/pull/539 we should split the contrib into `instrumentation` (will have all the instrumentation

[2020-05-21 22:27] bogdandrutu commented on #1100
@iNikem you got it :)

[2020-05-22 04:55] iNikem commented on #1100
@bogdandrutu but I still don't quite understand what does `contrib` part of those names mean? And I think just renaming them to `util` will not bring any clarity into their intention.

[2020-05-22 14:29] bogdandrutu commented on #1191
@jkwatson more ideas:

* Make SpanData.Event interface and have a SpanDataImpl.EventImpl implementation for testing.
* Then make TimedEvent in the SDK implement SpanData.Event, so in the getImmutableTimedEvents we don't create new events for events that are already immutable. Currently we copy all the events.

[2020-05-22 14:56] bogdandrutu commented on #1100
What name do you expect for some utility artifacts? We choose to call them `contrib`, it is a naming decision (maybe a better name can be used). I am not sure what is unclear.

[2020-05-22 15:00] iNikem commented on #1100
E.g. what are criteria for the decision to put some functionality into contrib/util and not into API/SDK proper? If we just say "this is a bunch of utility/helper artefacts", then I am afraid it will become what every `util` package becomes: big ball of mud :)

[2020-05-22 15:02] bogdandrutu commented on #1135
@yurishkuro there are two use-cases:
1. We use the same instance instead of duplicating code in the SDK if the sampling decision is to not sample when creating a Span. I would not duplicate that code, but we can do it.
2. We use it in the propagator as @carlosalberto described.

[2020-05-22 15:07] iNikem commented on #1100
Talked to Bogdan during SIG meeting and we agreed on the name `extra` and `sdk_extra`.

[2020-05-22 18:35] yurishkuro commented on #1135
@bogdandrutu
1) is an implementation detail that does not require this class in the API
2) is also an implementation detail of the propagator

Just recently I saw several questions in OpenTracing about "how can I create a NoopSpan", "why my NoopSpan is being rejected", etc. - having API concerts like DefaultSpan invites these questions.

[2020-05-23 08:29] jarebudev commented on #1249
i can take a look at this :+1:

[2020-05-23 08:36] jarebudev commented on #1178
Yeh thats fair enough - I thought I'd suggest it as I've been using Testcontainers a fair bit recently and its been really useful to verify that end to end code works against real implementations.

[2020-05-25 09:05] iNikem commented on #996
I am very confused about this task. PR #1080 added new `Config` classes as this task requested, but then PR #1217 has removed them again. Including the very convenient method `Config. loadFromDefaultSources`: https://github.com/open-telemetry/opentelemetry-java/pull/1080/files#diff-9563795c03b91d8c3d1aabf8cccdcc54R472 .

What is the "official" way now to configure span processor from system proper

[2020-05-25 09:13] thisthat commented on #996
The task was proposing a way to configure from system and environment variables different parts of the SDK. Since the classes have already a builder, we introduce such functionality there without increasing the API surface.
If you think we should expose also a `newBuilderFromDefaultSources()` method, I can provide such enhancement.

[2020-05-25 09:21] iNikem commented on #996
So it is expected now that every configuration source (env/sysprops) should be consulted manually by whoever creates a processor/exporter? By calling `BatchSpanProcessor.newBuilder(exporter).readEnvironmentVariables().readSystemProperties().build()` ?

[2020-05-25 10:00] thisthat commented on #996
Exactly

[2020-05-25 11:09] iNikem opened #1269 "Exploded dependencies for API"
Compere the following dependencies reports:

[code]
vs
[code]

API version 0.5.0 clearly has brought many more dependencies with it. I really hope this is just a publishing bug.

[2020-05-25 13:10] Oberon00 commented on #1269
We definitely must not depend on guava in the API and I see no reason why zipkin should be in there.

[2020-05-25 16:12] pavolloffay opened #1271 "Document precedence order is multiple context propagators are used"
[code]

The `DefaultContextPropagators.Builder` should document precedence order when multiple context propagation formats are used - especially for extraction.  At the moment all formats are extracted and the last one is returned.

https://github.com/open-telemetry/opentelemetry-java/blob/690651b65a938c903c35d65aef3182999fcb1b19/context_prop/src/main/java/io/opentelemetry/context/propagation/Defa

[2020-05-25 16:12] Oberon00 opened #1272 "Propagation does not work well with invalid current span."
**Describe the bug**
When an invalid default span (such as returned from `Tracer.getCurrentSpan()` when there is none) is explicitly set e.g. with `Tracer.withSpan`, the HttpTraceContext propagates a header `traceparent: 00-00000000000000000000000000000000-0000000000000000-00`.

**Steps to reproduce**

The following code reproduces the issue (add e.g. to `DefaultTracerTest` in the api test package

[2020-05-25 17:14] carlosalberto commented on #1269
Definitely. The boms are fine though.

[2020-05-26 08:32] arminru opened #1275 "JaegerRemoteSamplerTest is flaky. (Fail 5x)"
see https://circleci.com/gh/open-telemetry/opentelemetry-java/4241 or
https://circleci.com/gh/open-telemetry/opentelemetry-java/4259 for example

[code]

Re-running the build usually helps but this should be fixed.

Tracking instances:
https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java/2325/workflows/8072b109-a9cd-4313-adcc-7304d4d51d49/jobs/4731/steps

https://app.circlec

[2020-05-26 08:36] pavolloffay commented on #1275
I will have a look at this

[2020-05-26 08:38] arminru commented on #1275
Thanks, Pavol! It's nice to have someone available in my timezone 😄

[2020-05-26 10:14] pavolloffay commented on #1275
@arminru could you please review? https://github.com/open-telemetry/opentelemetry-java/pull/1276

[2020-05-26 12:49] carlosalberto commented on #1100
I don't like the names of `extra` and `sdk_extra`. What is the rationale behind this?

[2020-05-26 12:53] iNikem commented on #1100
They contain additional, utility functionality that some users may want, while others don't. They are not "contributed" by some external third party, but are maintained by the same "team" (in loos OSS sense of word) as `api` or `sdk` proper.

[2020-05-26 13:19] carlosalberto commented on #1272
Indeed a bug. Assigning it to me.

[2020-05-26 13:47] #1197 closed

[2020-05-26 13:47] #1199 closed

[2020-05-26 13:59] jkwatson commented on #1157
Fixed by #1276

[2020-05-26 13:59] #1157 closed

[2020-05-26 16:56] bogdandrutu commented on #1269
@iNikem it is all about publishing (we do not depend on any other artifact compared to 0.4.0). I don't know how boms work, but it looks like we depend only on the bom and no concrete artifact.

[2020-05-26 16:57] bogdandrutu commented on #1269
It looks like guava made it to the API, I will investigate that.

[2020-05-26 16:57] iNikem commented on #1269
Good :) Then only publishing should be fixed :)

[2020-05-26 17:26] #999 closed

[2020-05-26 18:17] trask commented on #1100
I also find the name `contrib` confusing. It gives me the impression that it is a grouping for things that are contributed (and possibly maintained) by other people.

Maybe `extensions` and `sdk_extensions`? (based on @tylerbenson's `ext` proposal above)

[2020-05-26 18:18] bogdandrutu commented on #1269
@iNikem I checked and guava seems to be only in tests as dependency (which is fine). Can you tell me what command you used to generate the input in the description?

[2020-05-26 18:23] iNikem commented on #1269
- Take auto-instr master,
- change `opentelemetry` to 0.5.0-SNAPSHOT in `gradle/dependencies.gradle`
- `cd instrumentation/servlet` (or any other instrumentation)
- `../../gradlew depe --configuration runtimeClasspath`
- Look for `opentelemetry-api`