[2021-03-03 20:14] trask commented on #2897
@anuraaga @jkwatson my repro above still fails after updating to 1.0.0

[2021-03-03 20:38] trask commented on #2897
It looks like we swapped out one 3rd party `@GuardedBy` annotation (`com.google.errorprone:error_prone_annotations`) for another 3rd party `@GuardedBy` annotation (`com.google.code.findbugs:jsr305`).

[2021-03-03 20:54] breedx-splk commented on #2968
FWIW, I ran the existing benchmarks with `../../gradlew -PjmhIncludeSingleClass=BatchSpanProcessorBenchmark jmh` with the original implementation, a version that does a `drainTo()` after the `poll()` return non-null, and the original version with increased poll duration.  They are approximately the same performance and it leads me to conclude that the worker loop isn't a bottleneck.

## Original
!

[2021-03-03 21:21] Oberon00 commented on #1147
I think that would be one valid solution 👍

[2021-03-03 21:48] #2942 closed

[2021-03-03 22:23] sbandadd commented on #2968
@breedx-splk Is there any extra setup required for jmh benchmarks? I am hitting the following error on main branch

[code]

[2021-03-03 22:29] jkwatson commented on #2968
It looks like running the `SpanPipelineBenchmark` requires docker to be running. If you don't have docker, then probably just run other benchmarks directly by name.

[2021-03-03 22:40] amitgud-doordash commented on #2968
Similar issue with running other benchmarks. Looks like some gradle/jmh/plugin version issue?

[code]

[2021-03-03 22:42] jkwatson commented on #2968
make sure you're using jdk 11+ for all your builds.

[2021-03-03 22:47] amitgud-doordash commented on #2968
[code]

[2021-03-03 23:04] jkwatson commented on #2968
@amitgud-doordash what is `StatsTraceContextBenchmark` that you're trying to run?

[2021-03-03 23:05] jkwatson commented on #2968
If you pulled that line from the build.gradle.kts, it's not a real thing. Try running with the example that @breedx-splk put into the docs/jmh.md file.

[2021-03-04 00:07] anuraaga commented on #2897
Hmm weird I thought I reproduced and fixed the issue but will need to check again

[2021-03-04 02:31] sbandadd commented on #2968
weird, I have docker 3.1.0 running locally. I could run SpanBenchmark and here is the benchmark result with the change https://github.com/sbandadd/opentelemetry-java/pull/1. We could see throughput improving compared to base version with increasing number of threads. I believe this is due to less signaling from the worker threads and less polling from the exporter thread.

Checking only throughput

[2021-03-04 08:38] sbandadd commented on #2968
Ran the SpanBenchmark with 50 iterations to get better signal with [this change](https://github.com/sbandadd/opentelemetry-java/pull/1).

# Baseline
![image](https://user-images.githubusercontent.com/62265954/109921711-280cac80-7c71-11eb-8266-4738083d048b.png)

# With batched signal
![image](https://user-images.githubusercontent.com/62265954/109921778-3ce94000-7c71-11eb-8a13-693a2108e948.png)

Red

[2021-03-04 08:49] anuraaga commented on #2968
@sbandadd Thanks for investigating this to help with BSP performance, this is good stuff. Do you know what the source of the GC improvement is? You mention preallocated with `ArrayDeque` but we're currently using `ArrayBlockingQueue` which is also preallocated. The "batched signal" code looks like it takes locks much more which could be causing the contention, would you be able to also try compari

[2021-03-04 08:59] sbandadd commented on #2968
My mistake. You are right on the ArrayBlockingQueue being preallocated. With fewer threads the new approach is better as shown by the throughput of BatchSpanProcessorDroppedSpansBenchmark. I will try to look into your PR and see if we can tweak something.

[2021-03-04 09:03] sbandadd commented on #2968
@anuraaga You approach does take locks as well right with ArrayBlockingQueue offer() and size()?.

[code]

[2021-03-04 09:12] anuraaga commented on #2968
@sbandadd Yup it's definitely not lock-free, but the locked sections seem to be smaller. It may not be a big difference, hence needing to compare with benchmarks :) But if similar, and the JDK can handle the locking for us, it means we'll get future performance optimizations for free if they're able to come up with new patterns so we'd prefer that over manual locking if it works.

[2021-03-04 14:55] Oberon00 opened #2980 "Reduce number of threads: BatchSpanProcessor based on ScheduledExecutorService?"
It might be beneficial to implement BatchSpanProcessor with a ScheduledExecutorService that can optionally be passed in from the outside so that it could share a thread(pool) with e.g. IntervalMetricsReader and maybe also user's background tasks. The IntervalMetricReader should also allow for passing in the ScheduledExecutorService it already uses from the outside.

Related: #2968 "Reduce CPU usag

[2021-03-04 15:02] programmatix commented on #2961
Let me know if there's anything else I can provide here.  I can supply a sample project (though the above code+gradle is basically 100% of it).  I've tried looking through the OtlpGrpcSpanExporter code but can't see where this content-type may be getting set (or not), and as it's over HTTPS the Wireshark is encrypted so no help there.

[2021-03-04 15:58] jkwatson commented on #2961
@carlosalberto @tedsuo @jmacd anyone from Lightstep able to help out here?

[2021-03-04 16:15] jkwatson commented on #2968
It would also be very useful if someone could compare the BSP to the disruptor-based async span processor with apples-to-apples benchmarks.

[2021-03-04 17:02] malafeev commented on #2961
@programmatix  Lighstep is investigating the issue.

[2021-03-04 20:12] sbandadd commented on #2968
@anuraaga I see bit similar results when using your approach. I tried even better approach using bounded concurrent queue to reduce lock contention under lots of threads. The perf improvement is very clear. Updated version is in here [https://github.com/sbandadd/opentelemetry-java/pull/1/files](https://github.com/sbandadd/opentelemetry-java/pull/1/files)

![image](https://user-images.githubusercon

[2021-03-04 22:34] bogdandrutu commented on #2968
My 2 cents here, the "embedded" batch span processor that we offer as part of our SDK should probably use native java components which work on Android as well.

For the more advance implementation like `disruptor` based or `org.jctools.queues.MpscArrayQueue` based we can offer sdk-extensions that user MUST be able to configure using the autoconfiguration artifact.

Is that a reasonable state?

[2021-03-04 22:42] jkwatson commented on #2968
Agree that the built-in components should not have external dependencies. Whether or not other advanced implementations MUST be available in auto-configuration probably depends more on the stability and maturity of them. But, I would like the disruptor to be more easily available (and have apples-to-apples benchmarks done on it vs. the BSP), and definitely be options in autoconfiguration when we t

[2021-03-04 22:45] bogdandrutu commented on #2968
@jkwatson the disruptor is based on open-census and that is used in production for more than 3y. So it is pretty safe to assume is fine :)

[2021-03-04 22:53] jkwatson commented on #2968
Yes. I wasn't trying to suggest that it wasn't solid...just that we should go through the same process as our other components, and make sure we have benchmarks for it, as well. :)

[2021-03-04 23:52] sbandadd commented on #2968
Here is the result from disruptor benchmark. Disruptor has overhead of signaling and an aggressive sleeping time strategy with [1ms default](https://github.com/open-telemetry/opentelemetry-java/blob/64b9badaa50ef5c71fa03a2d068f5b223caf1c63/sdk-extensions/async-processor/src/main/java/io/opentelemetry/sdk/extension/trace/export/DisruptorAsyncSpanProcessorBuilder.java#L22). I didn't dwell into testi

[2021-03-05 02:37] #2897 closed

[2021-03-05 02:52] anuraaga commented on #2968
@bogdandrutu Should we file a spec issue to define the property for configurable span processors?

[2021-03-05 17:42] jkwatson commented on #344
I think we can close this. We'll add `@since` tags on new APIs/methods that we add, and if it becomes important, we can retro-fit the `@since` tags on existing APIs.

[2021-03-05 17:42] #344 closed

[2021-03-05 17:44] jkwatson commented on #629
closing this issue, as it is no longer relevant

[2021-03-05 17:44] #629 closed

[2021-03-05 17:45] jkwatson commented on #1059
closing do to inactivity.

[2021-03-05 17:45] #1059 closed

[2021-03-05 17:59] jkwatson commented on #1315
@anuraaga are there additional fields you think we should open up, or can we close this now that the `kind` is exposed?

[2021-03-05 18:20] jkwatson commented on #1321
closing this. Moving the features into the main API can be tracked with separate issues/PRs, and if we need a more robust exporter API, that should start with the specs.

[2021-03-05 18:20] #1321 closed

[2021-03-05 18:23] jkwatson commented on #1377
closing this for now. If the spec gets updated to include Entry and EntryKey, we will certainly add them then.

[2021-03-05 18:23] #1377 closed

[2021-03-05 18:23] jkwatson commented on #1381
This is done. closing.

[2021-03-05 18:23] #1381 closed

[2021-03-05 18:27] jkwatson commented on #1547
@iNikem any thoughts on whether we need to keep this open?

[2021-03-05 18:30] jkwatson commented on #1587
We have multiple benchmarks now for the BSP, so I'm going to close this.

[2021-03-05 18:30] #1587 closed

[2021-03-05 18:31] jkwatson commented on #1632
closing this, as any further API changes would need to be backwards compatible.

[2021-03-05 18:31] #1632 closed

[2021-03-05 18:35] jkwatson commented on #1686
Now that we've hit 1.0.0, our examples *MUST* be backwards compatible (for non-alpha modules), so I'll put in a PR that makes a change for that.

[2021-03-05 18:36] carlosalberto commented on #1059
Thanks @jkwatson - I've been rather slow with reviews this week :(

[2021-03-05 18:47] jkwatson commented on #1714
@anuraaga do you still think it's important to have a `Link` interface in the API at this point?

[2021-03-05 18:49] jkwatson commented on #1717
@anuraaga do you think this is still needed, or is this blocked on spec changes?

[2021-03-05 18:52] jkwatson commented on #1726
If the spec were updated to make this field mandatory (which I know has been discussed), then this seems like it would be an important fallback to add to `Resource.getDefault()`. For the nonce, I don't think we should do this without the spec making it required.

Do you think this is something that one of the resource auto-detectors should provide?

[2021-03-05 18:56] jkwatson commented on #1742
This is done by the autoconfigure module now, which is probably the appropriate place to have this defaulted. Closing this.

[2021-03-05 18:56] #1742 closed

[2021-03-05 18:57] jkwatson commented on #1794
This is done via the StrictContextStorage and the ability to turn it on via `-Dio.opentelemetry.context.enableStrictContext=true`

[2021-03-05 18:57] #1794 closed

[2021-03-05 19:02] kenfinnigan commented on #1651
@jkwatson pointed me at this after I commented that a timeout for BSP could be set lower than the timeout on `JaegerGrpcSpanExporter` and whether there was a way to validate/prevent such a situation. Though `autoconfiguration` can validate the timeouts, it doesn't help anyone not using it.

From a quick perusal of the spec, it looks like "export timeout" is only defined for `SpanProcessor`. Implyi

[2021-03-05 20:33] jkwatson commented on #1959
this has been done. closing.

[2021-03-05 20:33] #1959 closed

[2021-03-05 20:35] jkwatson commented on #1947
closing this, as it was decided in the specs not to support it at this time. We can create a new issue to track updating if the spec changes.

[2021-03-05 20:35] #1947 closed

[2021-03-05 20:36] jkwatson commented on #1970
closing due to inactivity, and no support in the specs.

[2021-03-05 20:36] #1970 closed

[2021-03-05 20:37] jkwatson commented on #2691
closing. the README for the autoconfigure module is now quite extensive.

[2021-03-05 20:37] #2691 closed

[2021-03-05 20:39] jkwatson commented on #2508
closing. resolved with #2789

[2021-03-05 20:39] #2508 closed

[2021-03-05 20:40] jkwatson commented on #2524
@maneeshbhunwal123 there is now the ability to configure a Histogram aggregation. Could you give it a try?

[2021-03-05 20:42] jkwatson commented on #2203
I think we can close this now that we have a solid versioning story in place. Please re-open if you feel what we have is not adequate.

[2021-03-05 20:42] #2203 closed

[2021-03-05 20:44] jkwatson commented on #2021
closing this

[2021-03-05 20:44] #2021 closed

[2021-03-05 20:45] jkwatson commented on #2003
closing this, as our SDK is now immutable wrt. propagators and the configuration supports building with as many as needed.

[2021-03-05 20:45] #2003 closed

[2021-03-05 20:46] jkwatson commented on #1976
@carlosalberto can we close this now?

[2021-03-05 20:46] jkwatson commented on #2033
closing for now, as the metrics specifications are getting a re-work.

[2021-03-05 20:46] #2033 closed

[2021-03-05 20:49] jkwatson commented on #2466
@vovencij I'm going to close this issue. We now expose the Resource in the auto-configure module explicitly and for your use-case, that will work.

[2021-03-05 20:49] #2466 closed

[2021-03-05 20:50] jkwatson commented on #1909
@kenfinnigan since we've moved all the SPI into the autoconfigure module, does that satisfy your needs?

[2021-03-05 20:51] jkwatson commented on #1860
Closing, as the Baggage API supports the use-case.

[2021-03-05 20:51] #1860 closed

[2021-03-05 20:52] jkwatson commented on #1873
Closing, since we now fully support instance-based OpenTelemetry access, and the static global is purely optional.

[2021-03-05 20:52] #1873 closed

[2021-03-05 20:53] jkwatson commented on #1946
closing, as this is done for now. Feel free to submit a PR with some sort of archunit verification as a separate concern.

[2021-03-05 20:53] #1946 closed

[2021-03-05 20:59] kenfinnigan opened #2996 "Log level for Exporter failures"
**Is your feature request related to a problem? Please describe.**
Currently, a log warning is produced when any failure during span export occurs.

In looking at the `JaegerGrpcSpanExporter` in particular, I was curious how it's possible to know whether a failure to export is a transient failure vs a more serious problem, such as an `endpoint` that can not be connected to because the URI is wrong

[2021-03-05 21:05] kenfinnigan commented on #1909
I don't believe it does, as something like https://github.com/open-telemetry/opentelemetry-java/blob/main/sdk/trace/src/main/java/io/opentelemetry/sdk/trace/export/SpanExporter.java I would consider an exporter SPI which is present in the SDK.

Anything implementing an exporter needs to depend on the entire SDK to access that interface to implement it, leading to the possible problems I described

[2021-03-05 21:06] jkwatson commented on #1810
@as-polyakov can we close this issue now that we have the ability to deal with labels in views?

[2021-03-05 21:12] jkwatson commented on #2980
If you wanted to contribute an alternate BSP implemented this way to the sdk-extensions, that would be a great proof-of-concept.

[2021-03-05 21:14] jkwatson commented on #2975
It would be good to provide an sdk-extension for this convenience function (and others, obviously) that we could consider for eventual inclusion in the SDK proper.

[2021-03-05 21:16] kenfinnigan commented on #2975
Would that just be a static utility that returns the created `Resource`?

Or is there another example that does something similar?

[2021-03-05 21:19] jkwatson commented on #2975
yeah... similar to what I started for the API here: #2962

[2021-03-05 21:21] jkwatson commented on #1909
oh yeah... I forgot about that specific bit. Basically you'd like a stable set of interfaces (not SPI in particular) for what @tedsuo has been calling "SDK Plugin Interfaces". Maybe we can update the description of this issue so I don't get confused by the "SPI" bit in the title in 2 months when I scrub though the issues again.  :)

[2021-03-05 21:40] as-polyakov commented on #1810
resolved

[2021-03-05 21:40] #1810 closed

[2021-03-05 23:27] kenfinnigan commented on #1909
I took SPI as just meaning interfaces between the SDK and external bits, maybe there's a specific meaning I'm not aware of which is where the confusion came from.

I've updated the title to hopefully something more meaningful. If not, feel free to adjust

[2021-03-06 01:51] anuraaga commented on #1714
Nope think this is fine

[2021-03-06 01:52] #1714 closed

[2021-03-06 01:52] anuraaga commented on #1717
I think this is still needed and needing someone to drive the spec change

[2021-03-06 01:53] anuraaga commented on #1315
Seems good if something comes up we'll think about it again

[2021-03-06 01:53] #1315 closed

[2021-03-06 17:49] #1320 closed

[2021-03-06 17:49] #1147 closed

[2021-03-07 08:12] anuraaga commented on #1909
@kenfinnigan Sorry for missing this issue last year. Unfortunately, I don't know if this is possible anymore until a V2 of the SDK - we don't want to move the package names for these interfaces, and if I'm not mistaken, if we tried to extract without renaming packages, we'd run into JPMS / OSGI issues (not saying we don't already have issues, but we want to get better of course :P). Do you know of

[2021-03-07 08:18] anuraaga commented on #2975
I've found this pretty annoying already too and think it deserves a relatively low or no time in incubation if possible.

I've always been wishing for `Resource.builder` since it always feels like I'm working on an `Attributes`.

[code]

[2021-03-07 13:20] iNikem commented on #1547
I will give it a try during next week and then give my opinion

[2021-03-07 17:03] #2955 closed

[2021-03-08 14:35] malafeev commented on #2911
@ChrisJBurns are you working on this issue?
If not I have free cycles and can take it.

[2021-03-08 15:05] ChrisJBurns commented on #2911
Hi @malafeev
Yes I was going to pick this up this week as work project pressure increased last week. But if you can get it done, feel free :+1:

[2021-03-08 15:58] mateuszrzeszutek opened #2999 "Add an example that uses auto-configuration"
**Is your feature request related to a problem? Please describe.**
The [examples/](https://github.com/open-telemetry/opentelemetry-java/tree/main/examples) directory is missing the simplest example possible of using the Java SDK with auto-configuration, just using the defaults (with maybe logging exporter) to show how easy is to set it up.

**Describe the solution you'd like**
It could be a single

[2021-03-08 16:50] jkwatson commented on #2999
Yes, this would be great!

[2021-03-08 17:44] mateuszrzeszutek commented on #2999
OK, please assign me then -- I'll prepare something by tomorrow morning.

[2021-03-09 12:48] pellared opened #3002 "HTTP Span Attributes: `http.url` must not contain username / password"
As is stated in the recent [specification change](https://github.com/open-telemetry/opentelemetry-specification/pull/1502) :

[2021-03-09 13:14] mateuszrzeszutek commented on #3002
I don't think that otel-java contains any usage of the `http.url` attribute -- the [javaagent](https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/2535) is the correct place for this issue.

[2021-03-09 13:19] pellared commented on #3002
@mateuszrzeszutek I think [this example](https://github.com/open-telemetry/opentelemetry-java/blob/04fbc2e6c52100eff0ada86d6df61adbc8d09569/examples/http/src/main/java/io/opentelemetry/example/http/HttpClient.java#L62 ) could be reviewed just to make sure that others do not copy-paste potentially unsafe code.

[2021-03-10 02:24] #1686 closed

[2021-03-10 05:45] anuraaga opened #3006 "Some semantic attribute constants are enums, other string constants"
In `SemanticAttributes`, there seem to be two types, `static final class` with constants and `enum`. I don't think I see a reason to have two types, can we consolidate?

[2021-03-10 16:08] jkwatson commented on #3006
This is currently controlled by the `allow_custom_values` attribute in the yaml conventions. So, if custom values are not allowed, we make it an `enum` so the user can't add custom values. Of course, that doesn't actually stop anyone from adding custom values, since anyone can create `AttributeKey` instances to their heart's content. But, it is a hint to the user that maybe they should use the pro

[2021-03-10 16:13] #2911 closed

[2021-03-10 16:13] #2999 closed

[2021-03-10 17:32] jkwatson commented on #2952
https://github.com/open-telemetry/opentelemetry.io/pull/473

[2021-03-10 18:06] #2961 closed

[2021-03-10 18:10] jkwatson commented on #2954
@Oberon00 Are you willing to do a proof-of-concept implementation of this? Otherwise, I think we should probably close this issue, as it is going to be extremely complicated to implement correctly.

[2021-03-10 18:15] jkwatson commented on #2948
@bogdandrutu Can you shepherd a tweak to the specs so we can get #2950 merged?

[2021-03-10 23:56] #1084 closed

[2021-03-11 01:55] edwardxia opened #3009 "Add ZipkinSpanExporter option to add resource attributes to spans"
**Is your feature request related to a problem? Please describe.**

OT has the concept of ResourceAttributes but they are not tagged to spans.

For example, if I have:
`-Dotel.resource.attributes=service.name=cats,service.namespace=mammals`

Currently only service.name will be used as localEndpoint's service_name. However, I'd like to have `service.namespace=mammals` to be tagged to all spans, so

[2021-03-11 02:21] jkwatson commented on #3006
I'd love to see a proposal for this, yes. But, also, I'm fine with ditching with the enums, as they don't really provide much value, and do add confusion.

[2021-03-11 02:23] anuraaga commented on #3009
Hi @edwardxia - are you using Zipkin? We currently don't have a spec on how to map resource to spans because of the potential cost explosion.

https://github.com/open-telemetry/opentelemetry-specification/issues/823

But it is important to get that solved eventually.

In the meantime, while the exporters are final you should be able to delegate them with a wrapping exporter. We have some classes i

[2021-03-11 02:39] edwardxia commented on #3009
Yes.

I understand tagging every single resource attribute would be too expensive, which is why I'm proposing let user explicitly choose which ones to be tagged. And of course, by default nothing would be tagged.

Not really, take `ZipkinSpanExporter` as an example:

https://github.com/open-telemetry/opentelemetry-java/blob/fc149c4d3802389ecbaa301e25a2489a787f1f39/exporters/zipkin/src/main/java/io

[2021-03-11 02:45] anuraaga commented on #3006
Realized I'll probably just ditch the enums. It's extremely tiny and inconsequential, but it feels weird that these two patterns would have some sort of difference in performance characteristics without otherwise being very useful as enums would.

[2021-03-11 02:56] anuraaga commented on #3009
The span is generated from `SpanData`. The wrapper could add attributes to `SpanData`, probably using `DelegatingSpanData`.

[2021-03-11 03:02] edwardxia commented on #3009
Ok, it will work but I will have to wrap `SpanData` in the spanDataList with a `DelegatingSpanData`. It's somewhat ugly but I can live with it for now.

[2021-03-11 06:56] rgidwani-splunk opened #3013 "Otel Collector excessive logging"
**Describe the bug**
[code]

[2021-03-11 07:47] piotr-sumo commented on #2980
@jkwatson could you assign this issue to me? I'd like to contribute.

[2021-03-11 16:40] jkwatson commented on #3013
I've added this to the 1.1.0 milestone. Would love a volunteer to help make the logging more useful and less spammy when things are going poorly with the collector.

[2021-03-11 23:24] beanliu opened #3018 "Same metrics exported multiple times while there are more than one SdkMeters"
**Steps to reproduce**
- Create more than one `SdkMeter`s;
- set up an `IntervalMetricReader` with `OtlpGrpcMetricExporter`;
- create some instruments with them;
- take a few measurements.

**What did you expect to see?**
The exported OTLP payload should contain one entry for every unique instrument.

**What did you see instead?**
The exported OTLP payload contains multiple entries for a unique in

[2021-03-12 03:05] jkwatson commented on #3018
Can you provide some example output that shows what the resulting data looks like?

[2021-03-12 04:02] beanliu commented on #3018
here's an example: https://github.com/atlassian-forks/opentelemetry-java/blob/duplicated_metrics_with_multiple_meters/examples/otlp/src/main/java/io/opentelemetry/example/otlp/OtlpExporterExample.java#L39

and the result collected in the collector looks like:
[code]

[2021-03-12 04:07] jkwatson commented on #3018
Thanks. That does look like a bug. You don't have 2 MeterProviders, right? Just 2 Meters from the same Provider? Interesting that the Meters both have the same InstrumentationLibrary info on them.

[2021-03-12 04:14] beanliu commented on #3018
yep, two meters from the same provider. I've included the related codes in the description. seems like all meters share the same instrument registry object.

[2021-03-12 05:21] beanliu commented on #3018
and only instruments with cumulative temporality are duplicated.

[2021-03-12 07:32] iNikem commented on #1547
Seems to be working now.

[2021-03-12 07:32] #1547 closed

[2021-03-12 21:49] jkwatson commented on #3018
Can you paste in the code that you're using to set up your meters and instruments? I'm not seeing this with the logging-otlp json exporter but I'm not sure I'm doing the same thing you are.

[2021-03-13 02:10] #2571 closed

[2021-03-13 03:30] beanliu commented on #3018
Here's a branch of example based on the example in the repository: https://github.com/atlassian-forks/opentelemetry-java/blob/duplicated_metrics_with_multiple_meters/examples/otlp/src/main/java/io/opentelemetry/example/otlp/OtlpExporterExample.java#L39

[2021-03-13 08:19] prathik-kaliyambath commented on #2859
Hey, I saw that this was open for a few days, and have raised this [PR](https://github.com/open-telemetry/opentelemetry-java/pull/3027)

[2021-03-13 18:36] jkwatson commented on #2859
closed with #3028

[2021-03-13 18:36] #2859 closed

[2021-03-15 14:57] anuraaga opened #3030 "Update javadoc for tracer naming of libraries that also instrument"
Our javadoc is missing the text that tracer name can match instrumented library when they are the same, so we should probably update to prevent confusion.

From https://cloud-native.slack.com/archives/C014L2KCTE3/p1615819879027400

[2021-03-16 09:48] quijote opened #3032 "Make it possible to detect OpenTelemetry API version at runtime"
I just had a look at the manifest of 1.0.0 JARs.

API

    Manifest-Version: 1.0
    Automatic-Module-Name: io.opentelemetry.api

SDK

    Manifest-Version: 1.0
    Automatic-Module-Name: io.opentelemetry.sdk

There is no longer any information about the version of those JARs in manifest. Was this removed on purpose?

Previously manifest looked like this:

    Manifest-Version: 1.0
    Implementat

[2021-03-16 17:19] jkwatson commented on #3018
@beanliu I don't think what you're seeing here has anything to do with creating a 2nd unused meter. I ran this locally and it behaves exactly the same, whether you create that 2nd meter or not. I think what you're seeing is the final export when the SDK is shutdown, which sends another copy of the cumulative metric with the same data in it. Note that the end time of the 2nd metric is later than th

[2021-03-17 10:21] ChandrewR opened #3035 "Annotations support for non-auto instrumented code"
Just a question - Do we have any example to create span for a method with Annotations.? I see @WithSpan in extension for auto instrumenting..But i dont see any annotations for adding spans in code.

Will we support for non-autoinstrumented solutions? If not, do we have any references to create custom annotations to create spans for methods using annotations.

[2021-03-17 16:15] jkwatson commented on #3035
We've discussed writing an annotation processor that would enable this, but no one has had time to tackle that yet. If you're interested, I'd love to see a contribution of this!

[2021-03-17 23:30] beanliu commented on #3018
@jkwatson you are right about the example 👍  I missed that. Thanks for pointing it out.

The branch example is something I tried to reproduce the issue which we encountered in an internal project.
I'll take a deeper look at the problem and come out with another clean example.

[2021-03-18 09:24] yorikya opened #3038 "PrometheusExporter dropping the OTEL resource labels"
**Describe the bug**
In our company, we are using opentelemetry-java to export the metrics from a service, then collector-agent which is running on the same host receives the metrics through the OTLP receiver and exports the metrics via the Prometheus exporter.
When we are adding some custom Lable to OTEL Resource via opentelemetry-java those Labels are dropped by Prometheus exporter, but Labels c

[2021-03-18 15:13] RafaelCavazza opened #3041 "Observable metric exception shutdown"
When defining an observable metric if the updater throws a  RuntimeException the MetricExporter stops without any log or warning.

I believe this behavior is caused because the 'ScheduledThreadPoolExecutor' suppress all subsequent executions when encounters an exception.

This is a unwanted behavior since one metric can shutdown all others without notice.

Ex.:
[code]

Version:
opentelemetry-api-m

[2021-03-18 15:13] jkwatson commented on #3038
This an issue for the collector, yes? Closing, as our OTLP exporter does the right thing. Please re-open if our OTLP exporter is not behaving correctly.

[2021-03-18 15:56] arminru opened #3042 "Update semantic constants generator template"
The [template] for generating constants for semantic conventions needs to be updated to work with the latest version of the YAML format and generator tool (https://github.com/open-telemetry/build-tools/releases/tag/v0.3.0) in order to update the spec reference to the next release (after https://github.com/open-telemetry/opentelemetry-specification/pull/1550).

[template]: https://github.com/open-t

[2021-03-18 17:28] jkwatson commented on #3042
This can be done the next time the spec gets released and we re-gen the semconv module code. 👍

[2021-03-19 15:42] RafaelCavazza opened #3046 "Common Attributes OtlpGrpcSpanExporter"
Is there a way to define common span Attributes attributes when using the OtlpGrpcSpanExporter?

Something like:
[code]

We want to define the service.name for all spans using this exporter?

[2021-03-19 16:16] arminru commented on #3042
Pending on the fix https://github.com/open-telemetry/build-tools/pull/36 to be merged and released as `v0.3.1`.

[2021-03-19 16:27] jkwatson commented on #3046
@RafaelCavazza service.name should be provided via the `Resource` that is configured into the SDK, not to the exporter. And, that ends up as a part of the Resource, not the spans themselves.

[2021-03-19 16:58] #3046 closed

[2021-03-19 17:40] carlosalberto opened #3049 "Update the OT Shim layer"
The OT Shim layer needs to be updated to include the latest changes as introduced by

https://github.com/open-telemetry/opentelemetry-specification/pull/1101
https://github.com/open-telemetry/opentelemetry-specification/pull/1563

[2021-03-19 17:41] carlosalberto commented on #546
Closed on behalf of #3049 as the discussed changes are already covered by the aforementioned issue.

[2021-03-19 17:41] #546 closed

[2021-03-19 18:00] Oberon00 commented on #3041
@RafaelCavazza If you are able to verify with a version from the main branch, it would be cool if you could check if that issue is resolved with #3044.

[2021-03-22 15:49] Oberon00 opened #3052 "`PropagatedSpan.toString` is unhelpful and uses old name DefaultSpan"
It should:

1. Not use the wrong (previous) class name
2. Return a string with the contained span context

https://github.com/open-telemetry/opentelemetry-java/blob/v1.0.1/api/all/src/main/java/io/opentelemetry/api/trace/PropagatedSpan.java#L131-L132

[2021-03-22 17:15] Oberon00 opened #3053 "dependencyManagement gradle script creates unused dependencyVersions list"
dependencyManagement/build.gradle.kts exports a map of dependency -> version: https://github.com/open-telemetry/opentelemetry-java/blob/fd397bd78e46a5c3951c6f22e6b270f758bc662f/dependencyManagement/build.gradle.kts#L11-L12. However, this map is never used.

Furthermore, for dependencies passed in "simple dependency" format, it uses the group as map key instead of e.g. group + id. https://github.co

[2021-03-23 02:39] anuraaga commented on #3053
The map is used in only a couple of places like here

https://github.com/open-telemetry/opentelemetry-java/blob/main/build.gradle.kts#L348

Using only group is intentional to model the version of the "aligned artifacts" - this is mainly so consumers of `versions` don't have to care whether it's `grpc-bom`, `grpc-stub`, etc that we are actually using for dependency management. It could create corne

[2021-03-23 02:40] #3030 closed

[2021-03-23 03:18] RafaelCavazza commented on #3041
Hi @Oberon00 !

It is, thanks!

[2021-03-23 03:18] #3041 closed

[2021-03-23 07:00] Oberon00 commented on #3053
Ah, I did not see the map was used! It seems I misunderstood the concept of an artifact group then. Should all the versions inside a group usually be aligned? I.e. does a group usually refer to a single project that is just split into multiple artifacts?

[2021-03-23 09:41] anuraaga commented on #3053
@Oberon00 I think it's both common for artifacts in a group to be aligned, and common for them to not be aligned :) For our purpose the former was enough so went with it.

[2021-03-23 18:51] BitProcessor opened #3056 "docs outdated? (OTEL_EXPORTER_JAEGER_SERVICE_NAME)"
Something is possibly wrong with the docs.

On kubernetes, the following works:
[code]
and sets `service.name` to `dev-mobile-backend` in Jaeger

While this (from: https://github.com/open-telemetry/opentelemetry-java/blob/main/exporters/jaeger/README.md and https://opentelemetry.io/docs/java/automatic_instrumentation/ )
[code]
results in `service.name` set to `unknown_service:java`

I also noticed

[2021-03-24 15:18] Oberon00 opened #3058 "Do we use Java 14 for our testJava8 gradle task?"
This line *seems* to be wrong

https://github.com/open-telemetry/opentelemetry-java/blob/e7cc57d911bb34dcbaf218b8eacb0e5f58a053cd/build.gradle.kts#L110-L112

If it is not wrong, it needs a comment I think. 😃

[2021-03-24 20:06] jack-berg opened #3060 "Autoconfiguration: provide option for configuring SdkMeterProvider"
**Is your feature request related to a problem? Please describe.**
The autoconfiguration module doesn't provide any way configure the `SdkMeterProvider` other than specifying the resource associated with it. I want to be able to configure the views for the meter provider for `opentelemetry-java-instrumentation`, which relies on autoconfiguration.

It would be really helpful to be able to have conf

[2021-03-25 07:58] Oberon00 opened #3062 "TestClientServerTest flaky in local execution on Windows with Java 8"
On Windows with Java 8, the timer resolution used for span start time is not great. It can thus happen that client and server get the same start timestamp. This can result in the following assertion failure:

[code]

occurring in the last line here:

https://github.com/open-telemetry/opentelemetry-java/blob/e7cc57d911bb34dcbaf218b8eacb0e5f58a053cd/sdk/trace/src/test/java/io/opentelemetry/sdk/trace

[2021-03-25 08:25] Oberon00 commented on #3062
Another idea would be to solve this in the SDK's clock implementation to ensure that timestamps returned in the same process are strictly increasing at least by one nanosecond. But that would require cross-thread serialization (at least using atomic long).

[2021-03-25 23:02] #3058 closed

[2021-03-26 04:56] #3052 closed

[2021-03-26 14:04] piotr-sumo commented on #2975
@anuraaga I've implemented what you've proposed above in https://github.com/open-telemetry/opentelemetry-java/pull/3065

[2021-03-26 20:19] jack-berg opened #3066 "DoubleSummaryData metrics converted to DoubleHistogram protos instead of DoubleSummary"
**Describe the bug**
`DoubleSummaryData` metrics get converted to `DoubleHistogram` protos instead of `DoubleSummary`.

**Steps to reproduce**
Just look at the [code](https://github.com/open-telemetry/opentelemetry-java/blob/main/exporters/otlp/common/src/main/java/io/opentelemetry/exporter/otlp/internal/MetricAdapter.java#L134-L138).

**What did you expect to see?**
When exporting `DoubleSummaryD

[2021-03-29 03:37] anuraaga opened #3068 "AttributesBuilder.remove"
Currently there's no way to remove an attribute from AttributesBuilder once it's been set. Even with `null` value we ignore the call instead of removing. Should we provide `remove` since it's fairly common to build up attributes by combining multiple steps, and a step may want to remove an attribute?

[2021-03-29 14:59] jkwatson commented on #3068
I'm not opposed, but can you point to a specific bit of code where you wanted this, rather than controlling the addition in the first place?

[2021-03-29 15:08] iNikem commented on #3068
And don't forget that there is a constant talk about supporting "streaming SDK" which may make removing attributes impossible.

[2021-03-29 15:12] jkwatson commented on #3056
`OTEL_EXPORTER_JAEGER_SERVICE_NAME` is no longer a valid env var. Looks like the docs on the main website need updating. Can you open an issue over there to track it?

And, our README in the Jaeger exporter docs is also out of date. Thanks for pointing this out!

[2021-03-29 15:15] jkwatson commented on #3060
Yes, this is something that is needed, and we should change the view configuration to be on the builder, rather than on the created SDK instance.

[2021-03-29 15:24] Oberon00 commented on #3068
The streaming SDK could stream a "remove" event if the protocol supported it. But it seems an exotic feature to design into your streaming telemetry protocol (if you stream, you probably do it for efficiency, and removing attributes instead of not computing them in the first place is rather inefficient).

[2021-03-29 15:44] jkwatson opened #3069 "Define the process for additions to the API"
We should have a well-defined process for how to add things to our public APIs.

Some questions:
* Do we require any API changes to start in an incubator module?
* At what point do we require spec changes/clarifications before we will accept new APIs?
* Do we require all maintainers to approve before merging?

[2021-03-29 16:27] jack-berg commented on #3060
Great!

 Here's a [PR](https://github.com/open-telemetry/opentelemetry-java/pull/3071) which moves the view configuration to the builder. If / when it gets merged, I'll add a followup to add `SdkMeterProviderConfigurer`.

[2021-03-30 01:06] #3056 closed

[2021-03-30 04:28] harshita19244 commented on #3069
Hey, could you assign me this issue, I am interested to work on it.

[2021-03-30 05:33] Gromcio opened #3074 "SpanId and TraceId unused"
https://github.com/open-telemetry/opentelemetry-java/blob/f26ffa90eb1465b51c6e4e99ee7e446dc1e956c5/api/all/src/main/java/io/opentelemetry/api/trace/SpanId.java#L30

From what i can see spanid and traceid are no longer needed in the library

[2021-03-30 06:48] BitProcessor commented on #3056
Done: https://github.com/open-telemetry/opentelemetry.io/issues/507

[2021-03-30 09:47] kubawach opened #3075 "Enhance X-Ray propagator to support 64 bits traces extraction"
**Is your feature request related to a problem? Please describe.**
Current X-Ray propagator (https://github.com/open-telemetry/opentelemetry-java/blob/main/extensions/aws/src/main/java/io/opentelemetry/extension/aws/AwsXrayPropagator.java) is very strict, requiring full 128 bit trace Id for extraction. In particular, second part of the ID has to be 8 chars long. The problem arises with 64 bit trac

[2021-03-30 14:25] anuraaga commented on #3075
Hey @kubawach - do you happen to know which service truncates the ID like that? Curious since it's against the spec so probably a bug almost certainly because of using `Integer.toString` mistakenly. Bugs are common since very hard to share code libraries at X-Ray :(

That being said because it's in the wild now I don't see a reason not to support it.

[2021-03-30 15:32] jkwatson commented on #3074
The static methods on these classes are used extensively throughout the project. Is there something in particular you're thinking of?

[2021-03-30 15:35] jkwatson commented on #3056
@BitProcessor looks like those docs are moving into our repo; I'll make sure they get cleaned up and pushed over to the website as soon as I can.  See the newly created `website_docs` directory if you're interested in helping with the cleanup.

[2021-03-30 16:09] Gromcio commented on #3074
Sorry I've seen it wrong as a type for spanid fields but it's just a helper. My bad :)

[2021-03-30 16:09] #3074 closed

[2021-03-31 00:27] Hangzhi commented on #3002
@jkwatson  @pellared Hello, I'm a student applying for Outreachy 2021 and in the process of contributing to the community. This issue seems like a good start. Could you please assign this issue to me?

[2021-03-31 03:11] harshita19244 commented on #3069
In order to make changes, should I send a pr to the README itself?

[2021-03-31 03:29] jkwatson commented on #3069
Probably to the Contributing.md rather than the readme.

[2021-03-31 03:51] harshita19244 commented on #3069
https://github.com/open-telemetry/opentelemetry-java/pull/3082
I am unable to link the PR to the issue currently. Kindly check, I have made a change in the CONTRIBUTING.md that presently answers the third question.

[2021-03-31 04:24] jkwatson commented on #3069
I think you are misunderstanding the goal of this issue. This is specifically about additions to our API surface, not changes to the code in general. API changes must be very carefully scrutinized because we will support them forever.

[2021-03-31 06:53] #2975 closed

[2021-03-31 07:06] kubawach commented on #3075
@anuraaga I confirmed this with S3 PUT (produce) - SQS notification (consume). Leading zeroes always compressed :)

[2021-03-31 07:50] piotr-sumo opened #3083 "Create a separate module for JMH benchmarks"
**Is your feature request related to a problem? Please describe.**
There are multiple implementations of the `SpanProcessor` interface. I'd like to compare their performance to pick the one that best fulfils my requirements. Currently, one has to copy benchmarking classes like `BatchSpanProcessorBenchmark`, `BatchSpanProcessorCpuBenchmark` etc. Moreover, helper classes like `BatchSpanProcessorMetr

[2021-03-31 15:59] codesuperstarr commented on #2952
Has the documentation issue been resolved? If not, I would like to work on this issue.

[2021-03-31 16:29] jkwatson commented on #2952
I think we're close to having this resolved, @codesuperstarr . Here's the PR if you want to review it: https://github.com/open-telemetry/opentelemetry-java/pull/3081

[2021-03-31 16:31] malafeev opened #3084 "Simplify OpenTracingShim creational patterns"
Introduce builder or
instead of 4 leave only two by removing `createTracerShim(OpenTelemetry openTelemetry)` and `createTracerShim()` from `OpenTracingShim` class

[2021-03-31 16:54] jkwatson commented on #3084
I might rename this to just "simplify OpenTracingShim creational patterns" because we might want to go with a builder.

[2021-03-31 19:04] jack-berg opened #3085 "AsynchronousInstrumentAccumulator does not call view label processor factory"
**Describe the bug**
When the `SdkMeterProvider` is configured with a `View` with a `LabelProcessorFactory`, the `LabelProcessorFactory` is not invoked for asynchronous instruments.

**Steps to reproduce**
See description.

**What did you expect to see?**
I expected to see the configured `LabelProcessorFactory` invoked.

**What did you see instead?**
I was not invoked.
**What version and what arti

[2021-04-01 03:36] #3013 closed

[2021-04-01 14:58] #3085 closed

[2021-04-01 17:37] cynthiakedu commented on #2903
Can I get assigned to this? cc @alolita

[2021-04-01 19:22] #3066 closed

[2021-04-01 22:26] topher1120 opened #3091 "Outdated auto-annotations library doesn't work with v1.0.x"
Attempting to use the `@WithSpan` annotation in the library "opentelemetry-extension-auto-annotations" v 0.10.0 (the latest release on maven.org) with "opentelemetry-api" v1.0.1 (and presumably 1.0.0) causes a runtime ClassNotFoundException.
Specifically, the message is "java.lang.ClassNotFoundException: io.opentelemetry.api.trace.Span$Kind".  Looking at the source on GitHub, this has been fixed i

[2021-04-01 23:20] jkwatson commented on #3091
that module was renamed to `opentelemetry-extension-annotations` and should work fine with the appropriate versions.

[2021-04-01 23:21] jkwatson commented on #3091
for the latest list of non-alpha versions and modules, I recommend taking a look at the contents of the bom:

https://search.maven.org/artifact/io.opentelemetry/opentelemetry-bom/1.0.1/pom

[2021-04-02 00:09] topher1120 commented on #3091
Thank you, I'll take a look at that tomorrow.  Documentation at [https://opentelemetry.io/docs/java/automatic_instrumentation/#configure-withspan-annotation](https://opentelemetry.io/docs/java/automatic_instrumentation/#configure-withspan-annotation) appears to be out of date with the release.  If no one else updates, I may have time to submit a PR this weekend.

[2021-04-02 01:10] jkwatson commented on #3091
we're working on getting the docs fixed as well. #3081

[2021-04-02 08:52] #3075 closed

[2021-04-02 14:48] jkwatson commented on #3091
closing this as not-a-bug-but-a-failing-of-maven-central-search

[2021-04-02 14:48] #3091 closed

[2021-04-02 14:50] jkwatson commented on #3006
Changing to not use enums sounds like the right way to go to me, as well.  👍

[2021-04-02 14:59] #3060 closed

[2021-04-02 15:17] harshita19244 commented on #3006
Could you assign me this issue, I would like to work on it

[2021-04-02 15:39] harshita19244 opened #3097 "./gradlew build gives InvocationTargetException on Windows 10"
Setting up the opentelemetry-java project on windows 10 created an issue for me on the execution of the  `./gradlew build` command. The log I obtained is as follows:
Step 'google-java-format' found problem in 'integration-tests\src\test\java\io\opentelemetry\JaegerExporterIntegrationTest.java':
null
java.lang.reflect.InvocationTargetException

This was not in accordance with the "BUILD SUCCESSFUL"

[2021-04-02 15:55] harshita19244 commented on #3097
https://github.com/open-telemetry/opentelemetry-java/pull/3082
resolves the bug

[2021-04-02 16:04] jkwatson opened #3099 "Populate the parent span id in the Jaeger Thrift exporter."
This was missed in the initial implementation. We should add it, since thrift supports it.

[2021-04-02 21:22] IrisTuntun commented on #3084
Hi, can I take this issue?

cc @alolita

[2021-04-05 15:03] jkwatson commented on #3097
closing since #3082 resolved the issue

[2021-04-05 15:03] #3097 closed

[2021-04-05 15:05] jkwatson opened #3107 "Support ubuntu versions beyond 18.04 for builds"
At the moment, our builds fail on ubuntu later than 18.04 in Github Actions, due to an issue with SSL and the armeria test framework. This issue tracks addressing this problem.

Note: it also appears that this fails on Windows WSL with ubuntu, even at version 18.04. We suspect the core issue has to do with java certs that are (or aren't) included by default in the installed java packages.

[2021-04-05 15:26] jack-berg opened #3108 "Metric view registry system property autoconfiguration options"
**Is your feature request related to a problem? Please describe.**
Its hard to configure the views for `SdkMetricProvider` when using `opentelemetry-java-instrumentation`. The addition of `SdkMeterProviderConfigurer` makes it possible, but users are still required to package up their implementation in a special initializer jar. It should be easy to do basic metric view configuration via system pro

[2021-04-05 15:31] jkwatson commented on #3108
We wouldn't want to add this until it was official in the spec. I suggest opening a spec issue for this.

[2021-04-05 15:47] jack-berg commented on #3108
Is there no ability to accommodate configuration of beta / prototype features? My understanding is that java metrics are a bit further along than the spec. Could we offer configuration of these beta / prototype features by indicating in the property name that they're experimental and subject to change?

For example, over in the `opentelemetry-java-instrumentation` project they support a system pro

[2021-04-05 15:58] jkwatson commented on #3108
hmm. If we made all the env vars have the word "EXPERIMENTAL" in them, I think I could get behind that.

Also, no option for histogram in there?

[2021-04-05 16:10] jack-berg commented on #3108
The spec specifies [this pattern](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/sdk-environment-variables.md#language-specific-environment-variables) for language specific feature configuration.

So I suppose the property naming pattern would be something like: `otel.java.experimental.mvr.up_down_counter.aggregator`

Histogram seems a bit more challenging to

[2021-04-05 23:21] #3099 closed

[2021-04-06 01:05] jkwatson commented on #3108
we'd almost certainly need to define a syntax for the histogram configuration.  Could we have one variable for "configuration options" and use it for anything that needs configuration? Any kind of sketch, etc, will certainly need non-trivial config in the future too.

[2021-04-06 08:01] Oberon00 opened #3116 "Empty tracestate values are allowed according to W3C spec"
In #3104 we banned empty tracestate values (per key-value pair). The W3C spec does allow empty values though, see https://www.w3.org/TR/trace-context-1/#value

(note that it says `0*255`, not `1*255`).

We need to restore the ability to parse/set empty strings as values for a tracestate key (without crashing).

[2021-04-06 08:04] anuraaga commented on #3116
@Oberon00 Doesn't the nblk-chr after it enforce there's a character?

[2021-04-06 08:04] Oberon00 commented on #3116
Oops, there is a nonblank that is always required.

[2021-04-06 08:04] #3116 closed

[2021-04-06 08:09] anuraaga opened #3117 "w3c tracecontext testcontainers test seems to have ability to freeze CI"
No leads but it seems these tests aren't stable on CI right now so will disable for now (they're most useful locally anyways)

https://github.com/open-telemetry/opentelemetry-java/runs/2270639039

[2021-04-06 08:16] pellared opened #3118 "HTTP Span Attributes: `http.url` must not contain username / password"
## Why

As is stated in the recent [specification change](https://github.com/open-telemetry/opentelemetry-specification/pull/1502) :

## What

[This example](https://github.com/open-telemetry/opentelemetry-java/blob/04fbc2e6c52100eff0ada86d6df61adbc8d09569/examples/http/src/main/java/io/opentelemetry/example/http/HttpClient.java#L62 ) could be reviewed (and fixed) to make sure that others do not c

[2021-04-06 12:21] jack-berg commented on #3108
I like the idea of two variables - one for specification of the factory, another for any options. The options variable could be a comma separated list of name value pairs of argument type, argument value - the same way that resource key value pairs are configured.

We'd have to choose some syntax for argument values that are complex types, such as the boundaries list of doubles for histograms. We

[2021-04-06 15:31] jkwatson commented on #3108
maybe replace `mvr` with `view`, and remove the `factory` from the `aggregator_factory`, leaving, for instance, `-Dotel.java.experimental.view.value_recorder.aggregator=summary` for example, which is much more human readable?

[2021-04-06 16:33] jkwatson opened #3122 "Figure out a better plan for the examples builds"
We really have wanted our examples to do 2 things:
1) Verify that we haven't broken anything in the stable APIs and
2) Provide good examples that work against the latest official release (not SNAPSHOT builds).

Unfortunately, I don't think it's possible to meet both of these goals for all the examples, since the stable SDK depends on the unstable metrics, so pulling when we build against snapshots

[2021-04-06 16:52] jack-berg commented on #3108
Shall I give it a go with an implementation?

[2021-04-06 17:14] jkwatson commented on #3108
I'd let @anuraaga chime in about experimental stuff in autoconfigure first. We've also been pondering splitting out metrics configuration into a separate autoconfigure module, so we could stabilize the tracing part, so that could make a difference, as well.

[2021-04-06 22:06] jonatan-ivanov opened #3123 "Default GRPC client is missing"
Please see the description of https://github.com/spring-cloud-incubator/spring-cloud-sleuth-otel/issues/39
`opentelemetry-exporter-otlp` does not have with a default client so it is not usable out of the box. Given that it is not an API module, this results in a bad user experience: the users are unable to use it unless they add a client dependency.

The root cause is the [`compileOnly`](https://g

[2021-04-06 22:54] jkwatson commented on #3123
Changing this to a Feature Request since this was as-designed and intended.

[2021-04-07 03:25] shakuzen commented on #3123
Despite my opinion that it is a separate issue, at the request of @jkwatson, I will comment here. Separate from there not being a default client dependency, the dependency versions are not managed in the BOM. So this means that third party libraries and end users need to somehow know what version of the clients to use that is compatible with the version of OpenTelemetry they're using. Is that too

[2021-04-07 03:41] anuraaga commented on #3123
gRPC is a pretty complicated library - it means there are many cases where we can't provide a good experience no matter what we do really. For example, if we publish `grpc-netty-shaded` in our POM, but the user uses gRPC in their own app with `grpc-netty`, it's quite likely for the version of `grpc-netty-shaded` to be out of sync with the other ones on the classpath which can lead to crashes at ru

[2021-04-07 03:46] anuraaga commented on #3123
I don't think I've ever seen a "core library" (not spring-boot) that manages dependency versions in the BOM, it's just to align the published artifacts. We definitely can't manage gRPC in our BOM since we don't want to surprise users if they user gRPC themselves.

The issue at hand really isn't about version but about the decision of whether to use `grpc-netty` or `grpc-netty-shaded` (or maybe eve

[2021-04-07 16:47] jkwatson commented on #1944
closing this. we no longer depend on guava transitively in the SDK. Please re-open if you see further work to be done.

[2021-04-07 16:47] #1944 closed

[2021-04-07 19:24] jkwatson commented on #2968
@sbandadd can we close this now?

[2021-04-07 19:27] jkwatson commented on #2524
closing due to inactivity. I believe the histogram support should solve this problem.

[2021-04-07 19:27] #2524 closed

[2021-04-07 19:29] #2968 closed

[2021-04-07 19:35] jkwatson commented on #1178
closing this, as we're using the ZipkinRule already in the `ZipkinSpanExporterEndToEndHttpTest`

[2021-04-07 19:35] #1178 closed

[2021-04-07 19:43] harshita19244 commented on #3062
I would like to work on this issue. Could you please assign it to me?

[2021-04-07 20:11] iNikem commented on #2952
@jkwatson closed by #3081 ?

[2021-04-07 20:12] jkwatson commented on #2952
not quite. We still need to get that synched over to the website itself. See #3080

[2021-04-07 23:54] jonatan-ivanov commented on #3123
Base on these:

Is dropping gRPC and using something that actually works instead an option?

I think Spring Boot manages its own dependencies in the BOM (it has auto-configuration for those things) but I don't think it would manage dependencies for its dependencies like in this case managing dependencies of OTel.

[2021-04-07 23:55] jonatan-ivanov commented on #3123
I think we would accomplish a lot by having a default client: having a library that works out of the box.

[2021-04-08 04:24] anuraaga commented on #3084
Thanks @IrisTuntun for your interest in this issue! I think we should hold off temporarily until getting some input on this spec issue I filed

https://github.com/open-telemetry/opentelemetry-specification/issues/1608

I am hoping we can reduce to just a single factory `create(OpenTelemetry openTelemetry)` to simplify both the usage but also the concepts.

[2021-04-08 15:20] mateuszrzeszutek opened #3141 "Make ConfigProperties#createForTest() public"
**Is your feature request related to a problem? Please describe.**
Creating a `ConfigProperties` instance when you want to unit test your custom `ConfigurableSpanExporterProvider` or `ResourceProvider` is a bit painful right now (if you're not using groovy). By making this method public people implementing (and testing) autoconfig's SPI classes will be able to do it in a bit nicer way.

[2021-04-08 15:23] jkwatson commented on #3141
Any problem with using Mockito to mock this class?

[2021-04-08 15:30] mateuszrzeszutek commented on #3141
Yeah, it's final.

[2021-04-08 15:53] jkwatson commented on #3141
https://www.baeldung.com/mockito-final :)

[2021-04-08 15:58] mateuszrzeszutek commented on #3141
😮

Wow, I wasn't aware of that magic - I guess I learned something new today 😄

[2021-04-08 15:58] #3141 closed

[2021-04-09 05:55] harshita19244 commented on #3062
@Oberon00 I was working on the issue, and I was wondering how about I employ an if-else clause, that performs assertion checks based on what the value of the first index is. If the span kind of the first index is not of the Client type, I could simply create another list to sort it. That way the assertion error could be removed.

[2021-04-09 07:08] Oberon00 commented on #3042
Another update that will be necessary: Replace the `unique("fqn")` filter by checking for `is_local and not ref`, like here: https://github.com/open-telemetry/opentelemetry-js/pull/2083/files#diff-30b86e034e5acba0b0c9f36baaffc11d373cd389966d609d067deb00bd7dfdf7R30, see open-telemetry/build-tools#41

[2021-04-09 07:10] Oberon00 commented on #3062
For this particular test, sorting the client span first would also work, yes. I was just thinking anyone else using `TestUtils.sortByStartTime`, also in other projects, might run into similar issues.

[2021-04-09 07:32] harshita19244 commented on #3062
Should I send out a PR to resolve this particular test then?
Making a change in SDK's clock implementation might be cumbersome, based on my understanding. There's a possibility that others might also run into similar issues with  `TestUtils.sortByStartTime`, should we completely eliminate its use by employing manual sorting or something?

[2021-04-09 11:46] arminru commented on #3042
Done in adcf6ef.

[2021-04-09 12:38] Oberon00 commented on #3062
I think it would make sense, yes. If the issue comes up again with another test, we can fix it more generally.

Alternatively, I think my original suggestion to sort root spans first among spans with the same timestamp would also be simple enough to implement and maybe a bit more general.

[2021-04-09 17:00] jkwatson commented on #2952
The docs have been updated and pushed to the website. Thanks @austinlparker for wrangling all of this! Closing.

[2021-04-09 17:00] #2952 closed

[2021-04-13 07:49] ChandrewR opened #3147 "How can we export the opentelemetry metrics to traces spans?"
How can we export the opentelemetry metrics to traces spans? I see metrics example code is instrumenting jvm memory, but not using anywhere like attaching it to Span attributes or exporting to traces. How can we use OpenTelemetry metrics to attach it to Span?

Couldnt understand the usage of metrics with the examples..Can you pls provide us some good exmaples which shows end to end usage of metric

[2021-04-13 08:10] ChandrewR commented on #3035
Sure..Will discuss with my team and let you know about this

[2021-04-13 08:14] ChandrewR commented on #3035
Can you pls let me know, Is there any references to implement the this?

[2021-04-13 12:11] #1718 closed

[2021-04-13 15:04] #3006 closed

[2021-04-13 15:05] jkwatson commented on #3147
I'm going to convert this to a discussion, since it's a question, not a bug.

[2021-04-13 15:06] #3147 closed

[2021-04-13 16:23] jkwatson commented on #3035
There are lots of examples of annotation processors out in the wild, but nothing specifically like this that I know of. Do you have any ideas of what approach you might take? I can see several options:

1) A lombok-like approach of injecting bytecode at compile time.
2) An autovalue-like approach of generating .java files at build time to be used directly in the code
3) An aspectj-like approach th

[2021-04-13 23:08] #3032 closed

[2021-04-14 20:33] LuizGirhub opened #3155 "Documentário"

[2021-04-14 20:34] LuizGirhub commented on #3155
Chave de segurança

[2021-04-14 20:36] jkwatson commented on #3155
Please don't spam our repository. Will report if this persists.

[2021-04-14 20:36] #3155 closed

[2021-04-15 09:30] tydhot opened #3157 "why host.name can't be a default attribute in resource"
I have found host.name isn't in any default ResourceProvider. Why it can't be?

[2021-04-15 14:52] jkwatson commented on #3157
I think it could be. Someone would need to write a ResourceProvider for this. Currently, the EC2Resource does provide this, but nothing else does at the moment.

[2021-04-15 15:06] tydhot commented on #3157
Oh, I am willing to write a ResourceProvider to make it be the default attribute. But I am not sure how should the ResourceProvider be named and what other attributes should be added.

[2021-04-15 15:24] iNikem commented on #3157
`HostResourceProvider`? :)

[2021-04-15 15:30] tydhot commented on #3157
I think the name is appropriate, I will try to write one :)

[2021-04-15 21:01] jack-berg opened #3160 "Add delta support for sum aggregator for SumObserver and UpDownSubObserver"
**Is your feature request related to a problem? Please describe.**
The `opentelemetry-java-instrumentation` runtime metrics use UpDownSumObserver instruments to observe jvm memory usage. Currently, there's no way to configure the agent to export delta sums from these instruments because its not supported in the SDK.

**Describe the solution you'd like**
The current sum aggregator only partially su

[2021-04-15 21:10] jkwatson commented on #3160
This seems reasonable to me. Are you able to put in a PR for it, @jack-berg ?

[2021-04-15 21:14] jkwatson commented on #3160
heh. I guess so. :)

[2021-04-16 04:09] #3062 closed

[2021-04-16 15:03] #3118 closed

[2021-04-16 23:23] LuizGirhub opened #3165 "Raíz Quadrada"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce**
If possible, provide a recipe for reproducing the error.

**What did you expect to see?**
A clear and concise description of what you expected to see.

**What did you see instead?**
A clear and concise description of what you saw instead.

**What version and what artifacts are you using?**
Artifacts: (

[2021-04-17 02:17] jkwatson commented on #3165
reported as spam

[2021-04-17 02:17] #3165 closed

[2021-04-19 02:12] #3157 closed

[2021-04-19 16:57] #3042 closed

[2021-04-19 17:05] jkwatson commented on #3018
@beanliu any update on this, or can we close it?

[2021-04-19 17:13] jkwatson commented on #2973
Do we need to keep this issue open?

[2021-04-19 17:19] jkwatson commented on #1943
I haven't seen this since the one time in October, so closing for now.

[2021-04-19 17:19] #1943 closed

[2021-04-19 17:21] jkwatson commented on #1976
closing this due to inactivity, and having had a related PR merged.

[2021-04-19 17:21] #1976 closed

[2021-04-20 02:45] anuraaga commented on #2973
Don't think so - @chandru-kumar we are tracking the ability to stabilize certain attributes in https://github.com/open-telemetry/build-tools/issues/35

[2021-04-20 02:45] #2973 closed

[2021-04-20 16:00] #3160 closed

[2021-04-20 16:28] #2980 closed

[2021-04-22 16:36] jack-berg commented on #3108
We discussed shelving this until the metrics API stabilizes. @jkwatson shall I close this issue, or do want to add a label?

[2021-04-22 16:47] jkwatson commented on #3108
I added the blocked:spec label. We can keep it open, as we'll need it eventually.

[2021-04-23 11:06] kubawach commented on #3035
I dug a bit into this and I believe that @jkwatson listed all of the possibilities.
Basically what we could do:

1. Add the code during compile time
- cleanest approach (the otel code is embedded in the built package, period)
- hard to get right
-- standard AnnotationProcessor allows to add not to modify the code (would need to go lombok hack way)
-- utilise AspectJ compile-time weaving bridge of

[2021-04-26 11:02] Volodymyr-Maiboroda-Imprivata opened #3178 "Add Span.setAttributes method"
**Is your feature request related to a problem? Please describe.**
I'm creating a common library that traces models. This library should not write directly in the span but collect the attributes and return them. The reason for this issue, that there is no possible way to put the `Attributes` object or `Map` in `Span`.

**Describe the solution you'd like**
It would be nice to add a method `setAttri

[2021-04-26 15:04] jkwatson commented on #3178
See #2799

[2021-04-26 15:11] Volodymyr-Maiboroda-Imprivata commented on #3178
Closed it as a duplicate. This feature should be implemented by this #2799

[2021-04-26 15:11] #3178 closed

[2021-04-26 17:13] jkwatson commented on #2954
@Oberon00 last chance to volunteer to do a PoC or I'm closing the issue. :)

[2021-04-29 08:13] RSoodAMAT opened #3188 "Metrices : Value Recorder and Observer not being exported to Otel Collector."
**Describe the bug**
Unable to view the the observer and value recorder metrices in Prometheus.

**Steps to reproduce**
1.  Start the otel colltector along with jaeger and prometheus.
2. Add the metrices for counter, recorder and observer in application
3. Unable to view recorder and observer in prometheus.
4. Configuration used for docker-compose for otel -collector :
See Example in the end.

**W

[2021-04-29 14:54] jkwatson commented on #3188
Since we determined that this is an issue in the collector, please open this issue in the collector repo. The issue is not that they aren't getting exported to the collector. The issue is that the collector's prometheus implementation isn't processing them properly.

[2021-04-29 14:54] #3188 closed

[2021-05-03 06:19] PiratkaXx opened #3189 "Yuriy Cvetkov @ Nastasya Vedma"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce**
If possible, provide a recipe for reproducing the error.

**What did you expect to see?**
A clear and concise description of what you expected to see.

**What did you see instead?**
A clear and concise description of what you saw instead.

**What version and what artifacts are you using?**
Artifacts: (

[2021-05-03 06:23] PiratkaXx opened #3190 "Fly"
![IMG_20210502_201450.jpg](https://user-images.githubusercontent.com/52059739/116846624-5f57f500-abf1- - [ ] [ ] -11eb-92be-eb618f4b51d5.jpg)

[2021-05-03 06:24] #3190 closed

[2021-05-03 14:45] #3189 closed

[2021-05-04 13:47] piotr-sumo commented on #1564
@anuraaga can I contribute to this issue?

[2021-05-04 14:14] anuraaga commented on #1564
Thanks @piotr-sumo!

[2021-05-04 15:17] harshita19244 commented on #3083
I would like to give this a try, could you assign it to me?

[2021-05-04 19:07] jack-berg opened #3192 "Conversion to SummaryDataPoint protos has wrong percentile"
**Describe the bug**
The [MetricAdapter](https://github.com/open-telemetry/opentelemetry-java/blob/main/exporters/otlp/common/src/main/java/io/opentelemetry/exporter/otlp/internal/MetricAdapter.java#L232-L233) conversion of summary data points to OTLP protos sets the max quantile to be `100.0` instead of `1.0`.

The  [ValueAtPercentile](https://github.com/open-telemetry/opentelemetry-java/blob/mai

[2021-05-04 21:44] #3192 closed

[2021-05-05 15:09] jkwatson commented on #3068
This is just a request to add a method to the AttributesBuilder, not to Attributes. It shouldn't impact a hypothetical streaming SDK in any way, since the Builder is purely a temporary artifact that never makes it through the API surface.

[2021-05-05 15:10] jkwatson commented on #3053
@Oberon00 do we need to keep this issue open?

[2021-05-05 15:10] jkwatson commented on #3049
@carlosalberto can this now be closed with the 2 merged PRs?

[2021-05-05 15:13] jkwatson commented on #3009
If we want to add this feature, it will need to go through the spec process so it's not a java-only option and so that the configuration is standard across all languages. I've added the blocked:spec tag until that happens. @edwardxia Are you interested in working to make this part of the official specification?

[2021-05-05 15:16] carlosalberto commented on #3049
@jkwatson Hey, thanks for the poke.

I need to wrap up the context-related effort started by #2982 - I should be able to take this on next week.

[2021-05-05 15:30] Oberon00 commented on #3053
Sorry, this issue was invalid.

[2021-05-05 15:30] #3053 closed

[2021-05-05 17:23] jkwatson commented on #2903
@cynthiakedu any update on this?

[2021-05-05 17:30] PiratkaXx opened #3195 "https://vk.com/wall534771342_327"

[2021-05-05 17:43] PiratkaXx opened #3196 "https://vk.com/wall534771342_327"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce**
If possible, provide a recipe for reproducing the error.

**What did you expect to see?**
A clear and concise description of what you expected to see.

**What did you see instead?**
A clear and concise description of what you saw instead.

**What version and what artifacts are you using?**
Artifacts: (

[2021-05-05 17:44] PiratkaXx commented on #3196
@PiratkaXx

[2021-05-05 18:26] #3195 closed

[2021-05-05 18:27] #3196 closed

[2021-05-05 19:24] jkwatson opened #3197 "Record dropped attribute/event counts in non-OTLP exporters"
See https://github.com/open-telemetry/opentelemetry-specification/pull/1662

[2021-05-05 19:25] jkwatson opened #3198 "Update the semantic convention classes for spec v1.3.0"

[2021-05-05 19:26] jkwatson opened #3199 "autoconfigure: Support the otel.exporter.zipkin.timeout option for the zipkin exporter"
see https://github.com/open-telemetry/opentelemetry-specification/pull/1636

[2021-05-05 23:28] anuraaga commented on #3068
@jkwatson Ah sorry I forgot to add an example.

Instrumentation automatically populates HTTP attributes such as `http.url` but if a user wants to disable an attribute, they can use this knob

https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/main/instrumentation/armeria-1.3/library/src/main/java/io/opentelemetry/instrumentation/armeria/v1_3/ArmeriaTracingBuilder.java#L54

t

[2021-05-06 00:12] #3199 closed

[2021-05-06 01:25] #3198 closed

[2021-05-06 13:27] PiratkaXx opened #3205 "."
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce**
If possible, provide a recipe for reproducing the error.

**What did you expect to see?**
A clear and concise description of what you expected to see.

**What did you see instead?**
A clear and concise description of what you saw instead.

**What version and what artifacts are you using?**
Artifacts: (

[2021-05-06 13:31] #3205 closed

[2021-05-06 15:21] cynthiakedu commented on #2903
Don't have time for this anymore :( , please unassign me.

Apologies for the inconvenience.

[2021-05-06 20:23] #3197 closed

[2021-05-06 23:15] #2903 closed

[2021-05-06 23:50] #2858 closed

[2021-05-06 23:58] #2921 closed

[2021-05-06 23:58] #2933 closed

[2021-05-07 00:49] #2692 closed

[2021-05-07 13:16] piotr-sumo commented on #1564
@anuraaga Basically I have the reflection version ready.

However, if we want to go with multi-release jar I'll change my code.

[2021-05-08 04:59] #1981 closed

[2021-05-09 19:38] PiratkaXx opened #3215 "."
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce**
If possible, provide a recipe for reproducing the error.

**What did you expect to see?**
A clear and concise description of what you expected to see.

**What did you see instead?**
A clear and concise description of what you saw instead.

**What version and what artifacts are you using?**
Artifacts: (

[2021-05-09 21:30] PiratkaXx opened #3216 "Future"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce**
If possible, provide a recipe for reproducing the error.

**What did you expect to see?**
A clear and concise description of what you expected to see.

**What did you see instead?**
A clear and concise description of what you saw instead.

**What version and what artifacts are you using?**
Artifacts: (

[2021-05-09 21:31] PiratkaXx commented on #3216
![1620588875.jpg](https://user-images.githubusercontent.com/52059739/117587528-1212e080-b127-11eb-9a18-2bc28883107c.jpg)

[2021-05-09 21:48] PiratkaXx opened #3217 "."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other cont

[2021-05-10 03:11] #3216 closed

[2021-05-10 03:11] #3215 closed

[2021-05-10 03:12] #3217 closed

[2021-05-11 15:18] #1564 closed

[2021-05-12 06:32] wallezhang opened #3227 "Expose Resource.TELEMETRY_SDK resource field"
**Is your feature request related to a problem? Please describe.**
I want to create a customer resource and merge `TELEMETRY_SDK` resource. As for now, the `DEFAULT` resource I can get including a `SERVICE_NAME` key with `unknown_service:java` value, and I can't replace the default `SERVICE_NAME` attribute even if I put a new `SERVICE_NAME` key.

**Describe the solution you'd like**
Expose `TELEME

[2021-05-12 06:58] anuraaga commented on #1473
Now we get warnings just for the use of Error Prone. I think these are just a fact of life at this point and propose closing the issue @Oberon00.

[2021-05-12 06:59] anuraaga commented on #3107
@jkwatson Since we somehow got bumped to 20.04 can we close this

[2021-05-12 07:29] #1473 closed

[2021-05-12 15:21] jkwatson commented on #3107
yeah...sure wish I knew what was going on, though!

[2021-05-12 15:21] #3107 closed

[2021-05-12 15:25] jkwatson commented on #3227
If you're building a Resource, you can definitely merge with the default resource in either order. You should be able to override the default service name:
[code]

[2021-05-12 16:08] jkwatson commented on #3122
Now that we have API compatibility validation baked into all PRs, we should just make the examples build against the latest release, and not have them also be used for API breakage detection.

[2021-05-12 22:58] hangqiu opened #3231 "Desugar opentelemetry-sdk-common for android failed"
**Describe the bug**
Using bazel to build android apps using the opentelemetry-api. Build failed with error below:

Desugaring v1/https/repo1.maven.org/maven2/io/opentelemetry/opentelemetry-sdk-common/1.2.0/opentelemetry-sdk-common-1.2.0.jar for Android failed: (Exit 1): desugar_java8 failed: error executing command bazel-out/k8-opt-exec-50AE0418/bin/external/bazel_tools/tools/android/desugar_java

[2021-05-12 23:20] jkwatson commented on #3231
Hi @hangqiu . We don't have any Android experts around here right now, but we desperately need some. I've started messing around a little bit with it, but I haven't done very much yet.

Can you explain what this error means, and how we might correct it?

[2021-05-12 23:43] hangqiu commented on #3231
Hi @jkwatson Thanks for quick response. I'm not an android expert either :-) But I found a similar issue here: https://github.com/bazelbuild/bazel/issues/11618. Looks like the library has some primitive type that didn't pass the desugaring process. Hope this thread helps

[2021-05-12 23:57] anuraaga commented on #3231
@jkwatson Did you use `sdk-common` in your recent Android tests? Wondering if this issue is Bazel-specific and works with gradle-android-plugin.

[2021-05-13 00:59] #3122 closed

[2021-05-13 01:37] jkwatson commented on #3231
Well, it was definitely pulled in by the SDK, so yes! I have not done anything with bazel at all, but it sounds like maybe I should add it to my experiments.

[2021-05-13 01:57] jkwatson commented on #3231
Everything I have done so far works great with the Android gradle plugin, android studio, etc. I would guess this is a bazel issue, and not anything in particular about sdk-common.  sdk-common does have a multi-release jar, though. I wonder if bazel doesn't grok them?

[2021-05-13 02:24] anuraaga commented on #3231
@hangqiu Would you be able to file an issue with Bazel? Based on @jkwatson's investigation, it seems the desugaring works fine with this library with the standard Android toolchain so it seems like an issue in that tool specifically.

[2021-05-13 02:39] wallezhang commented on #3227
OK, thanks for your reply. I will try it.

[2021-05-13 03:34] wallezhang commented on #3227
It does work, Thanks!

[2021-05-13 03:34] #3227 closed

[2021-05-13 18:23] hangqiu commented on #3231
@jkwatson If it's a multi-release jar, is there a way to specify a particular release in the dependency BUILD file?

[2021-05-13 19:25] jkwatson commented on #3231
The way multi-release jars work, the right version should be automatically picked up by the JVM at runtime. If you're using java 8, you'll get that version of the code, and if you're using 9+, you'll get that version of the code. It's not a dependency thing.

[2021-05-13 19:32] hangqiu commented on #3231
Ah you meant the jar version. As you can see from the log, it’s using java8 and SDK-common v1.2.0. If the version specified is 1.+ then the latest would be picked up.

[2021-05-13 19:38] jkwatson commented on #3231
No, a multi-release jar has code to support multiple versions of a JVM inside it. It has code for both java 8 and for java 9+.  Crack open the sdk-common jar and take a look inside it and you should be able to see how it's structured. Baeldung also has a good primer: https://www.baeldung.com/java-multi-release-jar

[2021-05-18 08:32] stnor opened #3240 "Opt-in instead of opt-out for"
**Is your feature request related to a problem? Please describe.**
There is a LOT of static data sent in each trace with the ```otel.resource```-prefix.

**Describe the solution you'd like**
I'd like for this to be OPT-IN rather than opt out. I think most users wouldnät want this collected in EACH trace.

**Describe alternatives you've considered**
The collection can be disabled.

https://github.c

[2021-05-18 08:51] PiratkaXx opened #3241 "."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other cont

[2021-05-18 08:54] PiratkaXx commented on #3241
[code]

[2021-05-18 14:39] piotr-sumo commented on #3035
@jkwatson @kubawach @chandru-kumar what is the status of this issue? I'd like to contribute if possible.

[2021-05-18 14:42] jkwatson commented on #3035
Would still love someone to try something out and show it off, so if you're interested, please do so. :)

[2021-05-18 16:34] jkwatson commented on #3240
Thanks for this suggestion @stnor. I think it's a reasonable one. Do you have any ideas about what the API might look like for this, but still support users who would like the full-boat of resource information?

[2021-05-18 19:20] stnor commented on #3240
This is the current opt-out mechanism afaik:
```-Dotel.java.disabled.resource.providers=io.opentelemetry.sdk.extension.resources.ProcessResourceProvider```

so perhaps

```-Dotel.java.enabled.resource.providers=io.opentelemetry.sdk.extension.resources.ProcessResourceProvider```

to enable it again if you're asking about the Provider as a whole. Perhaps the static/verbose stuff can move to a separa

[2021-05-18 19:22] jkwatson commented on #3240
If you use OTLP it isn't in the traces, but in the Resource. What exporter are you using that puts every resource attribute onto every span?

[2021-05-18 19:25] kenfinnigan commented on #3240
From my use of the Jaeger gRPC exporter, the Resource information is on every span as an attribute.

Should that not be the case?

[2021-05-18 19:26] stnor commented on #3240
I am using a fork of the aws-agent distro (to add my own Sampler) with their Docker sidecar to forward event to AWS X-Ray.

[2021-05-18 19:36] jkwatson commented on #3240
As I read the code, for Jaeger, the resource attributes are on the Jaeger Process, not on every span.  https://github.com/open-telemetry/opentelemetry-java/blob/main/exporters/jaeger/src/main/java/io/opentelemetry/exporter/jaeger/JaegerGrpcSpanExporter.java#L152-L168

[2021-05-18 19:39] kenfinnigan commented on #3240
Apologies @jkwatson, I confused myself because in the Jaeger UI it includes them, which makes sense. Agree it's not set on each span, just visualized that way

[2021-05-18 19:41] stnor commented on #3240
So it it possible that in the AWS-case, its also just presented as such? @anuraaga

[2021-05-18 19:41] jkwatson commented on #3240
That sounds like it might be an issue with AWS rather with OpenTelemetry. The Resource information is extremely important to identify the source of the produced spans. It's only "static" for a single instance, but across a whole fleet of instances, being able to distinguish between different versions, OS's, JDKs, SDKs, etc is generally very useful. What information do you think isn't important to

[2021-05-18 19:42] jkwatson commented on #3240
(FYI, my own opinion is that the full command-line should be opt-in, but the rest seem very good to me in general)

[2021-05-18 19:44] stnor commented on #3240
I already know everything that's in the resource attributes I described above. I bet most people know they run Java on Linux for example. :)

[2021-05-18 19:45] jkwatson commented on #3240
And if your SREs decided to update the version of linux you were on, and it caused degraded performance, you'd probably want to be able to see the difference between the behaviors, wouldn't you?

[2021-05-18 19:47] stnor commented on #3240
Yeah. perhaps in a larger operation than I run there is a point to that. What about these?
[code]

[2021-05-18 19:51] jkwatson commented on #3240
Well, having operated at a company with a multi-cloud and polyglot language system, those definitely can be useful attributes for sure.

The long and short is that there isn't a one-size-fits-all solution to what Resource information is going to be useful to everyone. I do think it's fine to provide an option to disable all resource providers, but we definitely shouldn't go and remove all the Reso

[2021-05-18 19:52] stnor commented on #3240
Yeah, that's fair. I was concerned with them being in every span. Need to validate that with the AWS folks.

[2021-05-18 23:44] jkwatson commented on #3240
@anuraaga and I chatted about this offline and propose this:
* Every ResourceProvider should have a "name", akin to the names for exporters, samplers, etc.
* You then do one of 3 things:
  * don't specify anything extra, get all the ResourceProviders
  * `-Dotel.java.disabled.resource.providers=process,os` to exclude the "process" and "os" named ResourceProviders
  * `-Dotel.java.enabled.resource.

[2021-05-19 16:47] breedx-splk opened #3243 "Document `otel.java.disabled.resource-providers`"
It would be helpful for new users to be able to find the details about how to limit certain resource providers.  There are a variety of reasons users might want to turn these off, and right now it's not easy to find out _how_.

Let's find a good/meaningful place to put this in the documentation, along with a brief examples.

[2021-05-19 16:49] breedx-splk commented on #3243
Related to #3240

[2021-05-24 11:29] chandru-kumar opened #3248 "Pass user defined values to metrics like Span attributes and events.."
As of now, the OpenTelemetry metrics don't have any options to export the additional values with metrics like we have option to add some key value pairs in attributes and events in Spans. Will we have option to add custom values??

Thinking in the perspective to add the trace id and span id with the metrics that we collect and export to co-relate the events...

[2021-05-24 14:58] iNikem opened #3249 "Add support for OTEL_SERVICE_NAME"
As introduced by https://github.com/open-telemetry/opentelemetry-specification/pull/1677

[2021-05-24 14:59] jkwatson commented on #3248
Hi @chandru-kumar . The way that OpenTelemetry is planning to address this is by having the metrics SDK have an option to provide a MetricsProcessor that can pull the current span out of the `Context` and use that to provide it as an exemplar along with that metric recording. This hasn't been implemented yet (and, the metrics specification is still in an experimental state), but it should be in th

[2021-05-24 21:49] PiratkaXx opened #3250 "New family MucterXx and NastasyaVedma, and them son"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other cont

[2021-05-24 21:50] PiratkaXx commented on #3250
![Screenshot_20210502-181424.png](https://user-images.githubusercontent.com/52059739/119411449-1d533800-bcf3-11eb-8502-6110dcfa4e72.png)

[2021-05-25 08:20] #3250 closed

[2021-05-25 08:24] anuraaga commented on #3250
I submitted an abuse report to GitHub again, will leave this issue for a couple of days and then delete it.

[2021-05-25 09:36] PiratkaXx opened #3252 "Spam"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other cont

[2021-05-25 09:43] #3252 closed

[2021-05-25 12:45] chandru-kumar commented on #3248
Ok. Thank you..

[2021-05-25 12:45] #3248 closed

[2021-05-25 16:46] mayur-more commented on #261
Hi, I am new to OpenTelemetry word. I have created spans for my services separately, but when i am try to combine spans of two different services, using context propogation, I am not able to do it successfully.
I have used following code:
// at client side:
public static void sendContext(String resource) {
    TextMapSetter<HttpURLConnection> setter =
        new TextMapSetter<HttpURLConnection>()

[2021-05-25 18:55] jkwatson commented on #261
@mayur-more this issue has been closed for a long time. If you're having difficulties, can you create a new discussion about it here: https://github.com/open-telemetry/opentelemetry-java/discussions

[2021-05-26 03:49] mayur-more commented on #261
Thanks.
I have posted it at https://github.com/open-telemetry/opentelemetry-java/discussions/3255

[2021-05-26 15:55] ecourreges-orange opened #3257 "Manual Instrumentation documentation incomplete"
**Describe the bug**
The [manual instrumentation](https://github.com/open-telemetry/opentelemetry-java/blob/main/website_docs/manual_instrumentation.md) page shows no imports, so with an IDE that has more or less no auto import and for a Java beginner, it is impossible to find what it needed to be imported in order to compile

Also it is not 100% clear if the tracer we get manually connects/config

[2021-05-26 16:02] jkwatson commented on #3257
For complete working examples, the `examples` directory is probably a better source for turnkey example code that runs.

[2021-05-27 14:24] piotr-sumo commented on #3035
@jkwatson @kubawach I've started work on this and I think I need a tool to find methods (and classes) annotated with `WithSpan` annotation. I've tried https://github.com/rmuller/infomas-asl but it does not work. https://code.google.com/archive/p/reflections/ works but it needs package name to be provided. `Reflections` throw class not found exception when scanning the whole project at runtime.

Do

[2021-05-27 15:01] jkwatson commented on #3035
I don't have any recommendations here. How does spring do it, I wonder?

[2021-05-27 15:05] piotr-sumo commented on #3035
Thanks for the hint with Spring - I'll check their code. Anyway, I can always use `java.lang.instrument.Instrumentation#getAllLoadedClasses` and search in classes returned by this method.

[2021-05-27 16:55] #3249 closed

[2021-05-27 23:06] jkwatson commented on #3257
@ecourreges-orange have you had a chance to look at the examples?

[2021-05-28 07:14] ecourreges-orange commented on #3257
Yes, sorry for the late answer, so the examples do help and show that the initialization is not as simple as "getTracer()".
But now what I need to know and is not clear from the documentation that I have read, is how are exporters linked between the one in the agent and the one in manual code?
I suppose I can use the auto-configure example and it will use the same -Dotel.* as the java-agent, howev

[2021-05-28 07:21] ecourreges-orange commented on #3257
I have to say I really loved the ease of use of the agent, as I can add it generically to all our APIs, and then if I need more instrumentation precision, I go in the code and want to do minimum effort to add manual spans.

In many cases the @WithSpan annotation is not enough, for instance when a method calls 3 methods in libraries that I don't want to instrument, then i want to create 3 manual sp

[2021-05-28 13:23] jkwatson commented on #3257
This sounds like something that belongs in the instrumentation project (rather than here). Could you start a discussion over there?

[2021-05-28 19:56] jkwatson commented on #3257
If you can split into 3 methods and use `@WithSpan`, it'll be much much easier to read the code, I would guess. If you need to do the more difficult thing, the agent does populate the `GlobalOpenTelemetry` instance for you, so you can use that directly and it will be fully integrated with the agent's own instrumentation.

[2021-05-31 08:45] ecourreges-orange commented on #3257
Thanks @jkwatson now that you have given me the keyword GlobalOpenTelemetry, I found your previous conversation which makes sense: https://github.com/open-telemetry/opentelemetry-java-instrumentation/discussions/1945

So closing this an continuing on that conversation.

[2021-05-31 08:45] #3257 closed

[2021-06-02 15:20] jack-berg opened #3271 "Support OTLP retry"
**Is your feature request related to a problem? Please describe.**
The OTLP exporter specification says that [transient errors MUST be handled with a retry strategy](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/exporter.md#retry), where the retriable gRPC error codes are defined in the [OTLP spec](https://github.com/open-telemetry/opentelemetry-spe

[2021-06-02 16:03] jkwatson commented on #3271
Right now, this is "supported" by letting the user configure a channel explicitly for the exporter when configuring their SDK. I'm not opposed to having some sort of retry-enabled channel be the default, but I'm a little nervous about making an arbitrary choice of that configuration when autoconfigure/auto-instrumentation users don't currently have a way to change it.

[2021-06-02 18:24] jack-berg commented on #3271
The spec specifies that the retry strategy "MUST implement an exponential back-off with jitter" so it wouldn't be completely arbitrary. Although we'd have to come up with some values for the exponential backoff parameters like the initial and max backoff.

Technically if we did implement this and enable it by default auto instrumentation users still have an escape hatch for not using it via SPI. N

[2021-06-02 19:46] jkwatson commented on #3271
@jack-berg would you mind opening up a spec issue to track the lack of specificity?

[2021-06-03 13:17] davendu opened #3277 "Question on URI format for OTLP exporter"
Hi. I noticed in https://github.com/open-telemetry/opentelemetry-java/blob/50408d499f85d5761d0a5ed9bf9d77d5ff01fff5/exporters/otlp/trace/src/main/java/io/opentelemetry/exporter/otlp/trace/OtlpGrpcSpanExporterBuilder.java#L87-L89

The builder only accepts URI starts with "http" or "https". But later, the exporter is built with gRPC, which is neither HTTP or HTTPS. So what's the situation here, is i

[2021-06-03 14:54] jkwatson commented on #3277
grpc is transported via the HTTP protocol to the collector, so this is appropriate.

[2021-06-03 14:54] #3277 closed

[2021-06-03 22:26] breedx-splk opened #3283 "javadocs link in logging-otlp exporter broken"
Link to javadocs in [logging-otlp exporter readme] https://github.com/open-telemetry/opentelemetry-java/tree/main/exporters/logging-otlp is broken.

![image](https://user-images.githubusercontent.com/75337021/120719942-02fe2480-c480-11eb-8719-7045a455e620.png)

[2021-06-04 15:55] jkwatson commented on #3283
So, the link is definitely wrong, but what I think should be the correct link isn't working on javadoc.io, either:

https://www.javadoc.io/doc/io.opentelemetry/opentelemetry-exporters-logging-otlp

I'm not sure what's up here.

[2021-06-04 16:02] jkwatson commented on #3283
ok, dumb typo... should be singular `exporter`

[2021-06-04 21:23] breedx-splk commented on #3283
Thanks thanks.

[2021-06-05 04:33] #3283 closed

[2021-06-08 11:07] hdost opened #3296 "GlobalMeterProvider Instantiation"
**Describe the bug**
When getting a meter provider ordering of execution matters to a great extent.

**Steps to reproduce**
Get a meter from the GlobalMeterProvider as part of a class definition.

**What did you expect to see?**
Similar to how `getLogger` works that when `getMeter` can be done anywhere in my class whether as part of a static class attribute or as a variable in a function that the

[2021-06-08 12:04] hdost commented on #3296
Actually it looks as though there's already a decent pattern setup for Tracing registry https://github.com/open-telemetry/opentelemetry-java/blob/0a9e77f751fd05b51a38257db6c00de37304b510/sdk/trace/src/main/java/io/opentelemetry/sdk/trace/SdkTracerProvider.java#L31 we're just not using it.

[2021-06-08 14:58] jkwatson commented on #3296
Hi @hdost . Metrics is still in alpha state. When it's stable and ready for official release, it will be integrated into the rest of the OpenTelemetry API/SDK module and will follow the same patterns as the tracing APIs/SDK.

But, we still very strongly recommend that you initialize your SDK at the earliest possible moment in your application. And, ideally, do not use the global instances unless y

[2021-06-08 15:38] hdost commented on #3296
Yup, i know it's still alpha if it's actually considered a bug I think this would still be a bug or at least tech debt because of the wide difference in implementation. At a minimum I point to it out because I could do some implementation changes.

[2021-06-08 16:07] jkwatson commented on #3296
If you have some quick fixes to the current GlobalMeterProvider implementation (to try to do auto-configuration like we do for tracing, for example), that would definitely be welcome.

[2021-06-08 17:40] jonatan-ivanov commented on #3123
Following-up on this: is shading a gRPC client in the otlp-exporter a considerable option?

The advantage would be having an exporter that works out-of-the-box without the need for the users to figure out what version of what client works for them. The disadvantage is having a bigger jar but a client will bee needed anyways.

[2021-06-08 18:28] kenfinnigan commented on #3123
For Quarkus, the OTLP exporter extension includes the necessary gRPC dependencies for the user, which are aligned with gRPC versions across Quarkus.

If a gRPC client dependency was added to the OTLP exporter, Quarkus would exclude it

[2021-06-10 10:02] chandru-kumar commented on #3035
@jkwatson @kubawach @piotr-sumo I have created Method level Annotations(Runtime) to create and export traces. Used AspectJ features to make it. Here is the code demo link - https://github.com/chandru-kumar/opentelemetry-annotation-example. Please have a look and share your thoughts.

Note : If anyone uses this Annotation, they need to include the aspectj maven plugin for build..

[2021-06-10 16:37] andimiller opened #3306 "OtlpGrpcSpanExporter's shutdown can hang forever if the Channel is already shut down"
**Describe the bug**
`OtlpGrpcSpanExporter`'s shutdown can hang forever if the underlying `Channel` is already shut down

**Steps to reproduce**
1. Create an `OtlpGrpcSpanExporter`
2. Create a `BatchSpanProcessor` and feed in the exporter
3. Create an `SdkTracer` and feed in the processor
4. Create an `OpenTelemetrySdk` and set the tracer
5. Report some spans (optional)
6. Call `shutdown()` on the

[2021-06-10 17:05] andimiller commented on #3306
https://github.com/andimiller/opentracing-shutdown-bug here's a repo that reproduces the bug in java, it's using sbt because I can't remember how to use maven

[2021-06-10 23:09] #3306 closed

[2021-06-11 09:30] lo-jason opened #3308 "Add auto-detection of container information to resource"
**Is your feature request related to a problem? Please describe.**
All `process` information is captured ootb by auto-instrumentation agent today. Having auto-detection of container information is along the same lines.

**Describe the solution you'd like**
By reading the cgroup information inside the container filesystem, the agent can then automatically attach container information when it exists

[2021-06-11 09:31] anuraaga commented on #3308
@lo-jason I've transferred this issue to the opentelemetry-java repo where we have a few resource detectors. A k8s resource detector to fill https://github.com/open-telemetry/opentelemetry-specification/blob/main/semantic_conventions/resource/k8s.yaml would be nice to have I think.

[2021-06-12 05:09] anuraaga opened #3310 "Add otel.java.enabled.resource.providers that causes resource providers to be opt-in"
We currently have a default of including all ResourceProviders that we find, and disabling them. Should we have the opposite flag, and if set, the default becomes not including anything and we only include the specified ones?

[2021-06-12 13:42] jkwatson commented on #3310
Dupe of #3240?

[2021-06-12 14:06] anuraaga commented on #3310
Oops yeah

[2021-06-12 14:06] #3310 closed

[2021-06-12 15:57] jkwatson opened #3311 "Flaky test in CI"
This seems to be showing up quite a bit now:

[code]

[2021-06-14 13:05] Oberon00 commented on #3311
Also here in my PR: https://github.com/open-telemetry/opentelemetry-java/actions/runs/935680619

[2021-06-14 16:51] jaisonsteephen commented on #1552
@jakob-o , by exporting OTEL_JAVAAGENT_ENABLED=false, you can disable trace in java

[2021-06-15 16:57] lo-jason commented on #3308
yes `container.id`

[2021-06-17 05:05] Rocksnake commented on #3311
In the action of this PR, it has run without errors. Has this issue been solved? If not, could you provide the recurring scene. Thanks!

[2021-06-17 06:29] EricGreen239 opened #3322 "How use OpenTelemetry sends the distributed context over the RPC request，eg:Dubbo"
i saw the opentelemetry-java gRPC examples，but docs don't have about RPC reuqest example like Dubbo，pls show me Dubbo's example

[2021-06-17 06:47] anuraaga commented on #3322
Hi @EricGreen239 - you can use the Dubbo instrumentation, as long as it's on the classpath it is automatically registered

https://github.com/open-telemetry/opentelemetry-java-instrumentation/tree/main/instrumentation/apache-dubbo-2.7/library

[2021-06-17 08:37] EricGreen239 commented on #3322
got it ,thanks

[2021-06-17 08:37] #3322 closed

[2021-06-17 09:32] chandru-kumar commented on #3035
Hi @jkwatson ..Did you get a chance to look into this code?  https://github.com/chandru-kumar/opentelemetry-annotation-example..Can you provide some inputs if you have any??

[2021-06-17 12:38] mateuszrzeszutek opened #3326 "Allow using custom configuration sources in sdk-autoconfigure"
**Is your feature request related to a problem? Please describe.**
Currently the sdk-autoconfigure module only loads configuration from two sources: system properties and environment variable. Aside from those two, the javaagent also allows using the `PropertySource` SPI and a config file (`otel.javaagent.configuration-file`) to configure agent and SDK.

The ask here is to bridge that gap between

[2021-06-17 15:15] jkwatson commented on #3311
It's definitely not solved. It just happens sporadically, so it's hard to provide any concrete way to reproduce it.

[2021-06-17 16:34] Oberon00 commented on #3311
Either I posted the wrong link or it switched to the latest build of that PR.

[2021-06-17 17:13] jkwatson commented on #3311
yeah, when you re-run, it replaces the contents with the latest build, rather than generating a new run id, unfortunately.

[2021-06-17 17:31] jkwatson commented on #3326
The 2nd option (add a method to `initialize()` that takes ConfigProperties as a parameter seems pretty reasonable to me.

[2021-06-17 17:54] jkwatson commented on #3035
I took a quick peek. Curious why you used your own annotations, rather than the one in this project, but other than that it seemed like a fine approach. Is there a gradle equivalent to doing the aspectj work?

[2021-06-17 23:20] luneo7 opened #3328 "AWS X-Ray Centralized Sampler"
**Is your feature request related to a problem? Please describe.**
Today we already have a Jaeger remote sampler in the Java SDK, but we don't have one that targets AWS X-Ray, it would be nice to have one sampler for X-Ray.

**Describe the solution you'd like**
A sampler that takes the service name, a fallback sampler, and a endpoint parameter that can point to the X-Ray service or to the X-Ray re

[2021-06-18 02:54] anuraaga commented on #3328
Thanks for filing this @luneo7 - we're planning to implement support for the X-Ray sampler and hope to get it out soon

[2021-06-18 05:26] Rocksnake commented on #3311
After investigation, I found that the problem may lie in await(). Because there was no captured log events, a timeout exception occurred due to failure of lambda match. I think we should add conditions to determine whether the size of the log event is zero, or add a poll in await(). Just like this:
<img width="782" alt="截屏2021-06-18 13 20 06" src="https://user-images.githubusercontent.com/44219737

[2021-06-18 15:55] jkwatson commented on #3311
@Rocksnake I don't think you can blame the awaitility library for this. it's doing what it should; the source of the issue has to be in the way that we're generating what should be the bad data.

And, no, we have no idea what is causing the test to fail. Hence the issue. :)

[2021-06-18 19:33] andresbeckruiz commented on #2948
Has this issue been resolved? If not I would like to take a stab at it.

[2021-06-18 20:24] jkwatson commented on #2948
I think we're still waiting on the specification issue to get resolved.

[2021-06-19 07:33] franz1981 commented on #2968
@anuraaga @jkwatson

I see that the referenced commit is using a CLQ with a separate size tracker to overcome the size complexity of CLQ: I strongly suggest to use MpscUnboundedXaddArrayQueue on JCTools that offer:
- (order of magnitude) better behaviour then any compare-and-set queue alternative, under contention
- GC free if correctly configured or lower allocation rate the CLQ if not
- O(1)-ish

[2021-06-21 15:57] jkwatson commented on #2968
Please open a new issue for this, if you feel it is needed. Thanks!

[2021-06-21 16:01] franz1981 opened #3338 "(Further) reduce CPU usage of batch span processor"
That's a follow-up issue of https://github.com/open-telemetry/opentelemetry-java/issues/2968

Same purpose, but as mentioned on https://github.com/open-telemetry/opentelemetry-java/issues/2968#issuecomment-864370074

I see that the referenced commit is using a CLQ with a separate size tracker to overcome the size complexity of CLQ; I strongly suggest to use MpscUnboundedXaddArrayQueue on JCTools t

[2021-06-21 16:32] sbandadd commented on #3338
The referenced commit in the issue was used only for benchmarks. The merged PR's used MPSCArrayQueue https://github.com/open-telemetry/opentelemetry-java/blob/50408d499f85d5761d0a5ed9bf9d77d5ff01fff5/sdk/trace/src/main/java/io/opentelemetry/sdk/trace/export/BatchSpanProcessor.java#L75.

@franz1981 could you run the benchmarks the [benchmark](https://github.com/open-telemetry/opentelemetry-java/blo

[2021-06-21 22:01] kmendo commented on #1552
Where do you get this from? there is no reference for this flag in the code, nor it is documented.

[2021-06-21 22:18] jkwatson commented on #1552
this is in the instrumentation codebase, not in this one.

[2021-06-22 06:13] brunojcm opened #3339 "Alternative queue implementation that does not use the `jdk.unsupported` module"
**Is your feature request related to a problem? Please describe.**
The current version of `opentelemetry-java` (1.3.0 as of this bug report) requires the `jdk.unsupported` JDK module to be included if one is using `jlink` to build a custom JDK. This is not a sustainable approach.

**Describe the solution you'd like**
Provide a config that allows a `BatchSpanProcessor` to be created using another `

[2021-06-22 07:06] anuraaga commented on #3339
Hi @brunojcm - can you confirm that with jdk.unsupported not included, you get an exception from here?

https://github.com/JCTools/JCTools/blob/master/jctools-core/src/main/java/org/jctools/util/UnsafeAccess.java#L71

We could probably catch exceptions and fallback to `ArrayBlockingQueue` here instead of adding extra knobs if so

https://github.com/open-telemetry/opentelemetry-java/blob/main/sdk/t

[2021-06-22 07:53] brunomed commented on #3339
(brunojcm here, using my other account to reply)

That is the full stacktrace:
[code]

[2021-06-22 08:07] brunomed commented on #3339
Raised https://github.com/open-telemetry/opentelemetry-java/pull/3340 for that

[2021-06-22 13:55] franz1981 commented on #3338
Not as good as I wished:
![image](https://user-images.githubusercontent.com/13125299/122936986-e6178b80-d371-11eb-8f6f-74648942d99a.png)

Consider that I've used [benchmark](https://github.com/open-telemetry/opentelemetry-java/blob/50408d499f85d5761d0a5ed9bf9d77d5ff01fff5/sdk/trace/src/jmh/java/io/opentelemetry/sdk/trace/export/BatchSpanProcessorBenchmark.java) setting mpsc array q of capacity ==

[2021-06-22 15:06] franz1981 commented on #3338
I've investigated with async-profiler a bit more what's going on here...

mpsc array q: 412 samples with 100 Hz profiler -> ~42% CPU usage
![image](https://user-images.githubusercontent.com/13125299/122948681-61ca0600-d37b-11eb-9884-d98d908e603a.png)

mpsc xadd array q:  282 samples with 100 Hz profiler -> ~28% CPU usage
![image](https://user-images.githubusercontent.com/13125299/122949056-a81f650

[2021-06-23 01:16] anuraaga commented on #3338
@franz1981 Is this something that can be improved in the jctools implementation itself? It's not intuitive to me why calling `size` could have any dramatic effect on performance

[2021-06-23 04:29] franz1981 commented on #3338
@anuraaga Sadly not: it's something related to how caches works on machine; we just need to reduce the dependency from the size operation to make progresses...

[2021-06-23 04:35] franz1981 commented on #3338
Feel free to review my branch and try it on a bigger server to see if you get the same or better improvement.

[2021-06-23 04:35] sbandadd commented on #3338
@franz1981 The benchmark I pasted earlier has flush overhead. Let's try [this one](https://github.com/open-telemetry/opentelemetry-java/blob/50408d499f85d5761d0a5ed9bf9d77d5ff01fff5/sdk/trace/src/jmh/java/io/opentelemetry/sdk/trace/export/BatchSpanProcessorMultiThreadBenchmark.java), this benchmark is what I used earlier to surface contention issues before.

[2021-06-23 04:45] franz1981 commented on #3338
@anuraaga
Thanks!
 I don't have a big machine to try it, but just a tuned i7 (without turbo boost, disabling frequency scaling etc etc) with 6 hw threads (12 with HT).
I am going to try it, but feel free to try it on a big server If you can or the producers contention won't be exercised for real

[2021-06-23 07:25] Alirezaeshaqi opened #3342 "disable opentelemetry in rutime"
thats a follow up issue of #1552
we need some feature to disable and also enable **opentelemetry** tracing exporters on runtime without redeploy on CD servers.  the application is running with javaagent, is there any way to switch off the **opentelemetry** with properties files or something else in runtime ?

[2021-06-23 14:36] jkwatson commented on #3342
I'm going to move this issue over to the instrumentation repository, since it relates to agent configuration/runtime.

[2021-06-24 05:48] franz1981 commented on #3338
@anuraaga i have given a shot to the mentioned benchmark but it doesn't seem to stress the queue contention, because the XADD queue is unbounded and the test doesn't start at steady state (as the previous one).
The consumer just won't keep up with the producers and the benchmark end up spending most of its time on the garbage collector instead...
I think that to make this to work I should implemen

[2021-06-24 06:05] anuraaga commented on #3338
Thanks for the investigation here @franz1981 happy to make changes if anything can speed things up even more. Order on the consumer side does not matter as long as all the items that have been produced are consumed.

[2021-06-24 06:14] franz1981 commented on #3338
@anuraaga In this case on JCTools we have an unbeateable queue for this: https://github.com/JCTools/JCTools/blob/master/jctools-core/src/main/java/org/jctools/queues/MpscCompoundQueue.java

It uses a mesh of bounded queue to spread the contention: it should be the right queue for the job, without re-implementing the logic to have an uneeded total ordering

[2021-06-24 06:42] anuraaga commented on #3338
@franz1981 IIRC, I tried the compound queue for that reason couldn't find any noticable difference in our benchmarks on my laptop, so went with the simpler non-compound one. My main concern with the compound queue was our friend the `size()` method would have less reliable performance, possibly scaling down with the number of CPUs. It could be needing a different benchmark though, but at least wit

[2021-06-24 07:26] brunomed commented on #3339
PR is merged, how do we deal with this ticket?

[2021-06-24 07:29] anuraaga commented on #3339
Ah thanks we usually add Fixes into a PR description so can close this manually now. Will go out in our next monthly release.

[2021-06-24 07:29] #3339 closed

[2021-06-24 07:35] franz1981 commented on #3338
@anuraaga

And I'm seeing the same here: so it just means that the benchmark isn't stressing contention against the q (because the 2 qs behave very differently under contention, by design).
If contention is a thing ie it's a factor that you've found on realistic load to be important (using the right profiler tool) then I'm sure it worths to move on compound unless there are other bottlenecks in pl

[2021-06-24 08:05] Rocksnake commented on #3311
I went to check the official github project of awaitility and found this [issue](https://github.com/awaitility/awaitility/issues/109), which describes exactly this problem. Share with us. 😃I guess there is no problem with the LogCapturer that log source.

[2021-06-24 15:25] jkwatson commented on #3311
I don't see how that issue matches this one at all. In this case, we're finding no events in the time window, not that the message is somehow confusing.

[2021-06-25 07:45] franz1981 commented on #3338
I've used a separate soft/lazy counter on https://github.com/franz1981/opentelemetry-java/tree/xadd_batch_span and I'm getting:

![image](https://user-images.githubusercontent.com/13125299/123389145-ded2c680-d599-11eb-9acc-f8a87967a636.png)

Consider that I don't know yet if the logic is sound

[2021-06-25 07:50] franz1981 commented on #3338
And for 20 threads (that doesn't makes sense on my poor 12 cores laptop):
![image](https://user-images.githubusercontent.com/13125299/123389980-ba2b1e80-d59a-11eb-9d2f-16013c0e291b.png)

[2021-06-28 02:35] anuraaga opened #3354 "Add factories for SamplingResult"
We can currently only implement a Sampler by calling `SamplingResult.create`. For results without attributes, we do return singletons from this method so it doesn't have any real overhead. But it's somewhat annoying to have to call `create` with a parameter and not so intuitive - every time I do it I still ctrl-click through the method to confirm it's not creating a new object. The alternative of

[2021-06-28 09:03] Rocksnake commented on #3354
My understanding of your point of view is to divide the `oncreate` method into three to obtain the corresponding instance separately, and ensure that there is only one instance globally. To call `oncreate`with a parameter is implemented through these three split methods.

Is my understanding correct? If it is, I am very glad to do it. Could you can assign it to me. If not, can you give me some gui

[2021-06-28 09:13] anuraaga commented on #3354
For backwards compatibility we can't remove the current `create` so would just add these new methods. We already have the singletons as returned by `create` so just have to return those from the factories.

Let's wait to hear what other maintainers think before making any change if we decide to go with it the help is appreciated :)

[2021-06-28 20:15] jkwatson commented on #3354
This seems ok to me. Making it clear that we're not creating a new object with these calls is a good idea.

[2021-06-29 05:25] anuraaga commented on #3354
Cool - @Rocksnake if you'd like to help that'd be great

[2021-06-29 05:33] esamson opened #3356 "Update to 1.3.0 throws "opentelemetry-exporter-otlp not found on classpath" error at start"
**Describe the bug**
Updating from **1.2.0** to **1.3.0**, I now get this printed to stderr when launching my program.

[code]

My program completes successfully but no traces are recorded. Checking the `java.class.path` system property shows that the **opentelemetry-exporter-otlp** JARs are there as expected.

**Steps to reproduce**
I don't have a reproduction to share but this is just a small pr

[2021-06-29 05:49] anuraaga commented on #3356
Hi @esamson - we had a mistake in our publishing that caused the vanilla jar to include exporters which wasn't intended. You want to use the `-all` jar, for example from the link in the release notes to have the exporter.

FYI, you don't need to add the exporter to the classpath yourself (and it doesn't work since the agent is isolated from the app classpath to prevent conflicts).

[2021-06-29 06:03] esamson commented on #3356
Is the `-all` artifact available from Maven Central or do we need to wait for next release? I would like to avoid manually managing dependency JARs.

[2021-06-29 06:28] anuraaga commented on #3356
Yeah and it's also available on maven central

[2021-06-29 06:35] esamson commented on #3356
Thanks @anuraaga. Sorry but it seems **opentelemetry-javaagent-all** is not on Maven Central.

[2021-06-29 06:43] anuraaga commented on #3356
It's here right?

https://repo.maven.apache.org/maven2/io/opentelemetry/javaagent/opentelemetry-javaagent/1.3.1/

[2021-06-29 06:45] esamson commented on #3356
Oh, that's the one I'm already using and I get this error.

[2021-06-29 06:55] anuraaga commented on #3356
Are you depending on it via Maven or Gradle? Did you set the classifier to `all` in the dependency declaration? It would be good if you can confirm the JAR you are ending up with when loading your binary is the 23MB one and not the 7MB one.

[2021-06-29 07:01] esamson commented on #3356
Ah. I missed the classifier. Thanks, @anuraaga !

[2021-06-29 07:01] #3356 closed

[2021-07-01 03:01] anuraaga opened #3359 "Add Clock.getDefault returning SystemClock and move TestClock to sdk-testing as public"
We can expect some external SDK extensions, perhaps a rate limiting sampler, to require a `Clock`. We define this interface but there doesn't seem to be a practical way for extensions outside this repo to use that interface because the implementations of it, `SystemClock` and `TestClock` are not exposed. While there does seem to be difficulty in "injecting" the Clock that is actually used in the S

[2021-07-01 03:10] Rocksnake commented on #3354
I tried the following according to my understanding, and obtained them separately for different factories：
`SamplingResult.java`
<img width="819" alt="截屏2021-07-01 11 03 26" src="https://user-images.githubusercontent.com/44219737/124058621-932b7d00-d9de-11eb-9a67-f55d248e4032.png">
`ImmutableSamplingResult.java`
<img width="766" alt="截屏2021-07-01 11 03 59" src="https://user-images.githubuserconten

[2021-07-01 05:00] jkwatson commented on #3359
Yes. I needed this recently and grabbed the internal SystemClock, but it would be great if I could just get one legitimately for doing some timing.

[2021-07-01 05:43] anuraaga commented on #3354
@Rocksnake Basically looks good but I don't think we need the versions with `Attributes`, it's less common and `create` works well for it (it does actually create a new object).

[2021-07-01 16:36] jkwatson opened #3361 "Start building on Java 17ea for CI"

[2021-07-02 08:47] slinkydeveloper opened #3364 "Composite propagators"
**Is your feature request related to a problem? Please describe.**
Implementation of composite propagator, with ability to choose which should be used as injectors and which should be used as extractors per spec: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/context/api-propagators.md#create-a-composite-propagator

**Describe the solution you'd like**
In my

[2021-07-02 08:48] slinkydeveloper commented on #3364
I can contribute to this tweaking the `MultiTextMapPropagator`

[2021-07-02 15:11] iNikem opened #3367 "Document OTEL_SERVICE_NAME"
Currently this env variable is not mentioned by any doc.

[2021-07-02 16:29] jkwatson commented on #3364
I personally think this is a good addition, but I wonder if this is something that should be included in the official specification before we include it here. Would you be willing to create an issue in the specification repository to track this feature? Thanks!

[2021-07-05 07:46] slinkydeveloper commented on #3364
Hi @jkwatson, my understanding of the paragraph here https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/context/api-propagators.md#create-a-composite-propagator is exactly what I PR'd:

This project already ships the _list of Propagators_, my PR adds the ability to compose through a _list of Injectors and Extractors_. I don't understand what should be added to th

[2021-07-06 11:22] chandru-kumar commented on #3035
I just see one Annotation WithSpan in the existing OpenTelemetry code. So created my own annotations to InjectSpanToContext  create the span and adds to the existing context and makes it as current span. InjectChildSpanToContext - Adds span as child span and doesn't make it as current span.

Looking for options to create gradle equivalent example..I'll update here once i create it..

[2021-07-08 04:41] #3361 closed

[2021-07-09 02:26] #3359 closed

[2021-07-09 02:32] anuraaga commented on #3311
We haven't seen this in a long time - let's go ahead and close for now and can look again if it comes up.

[2021-07-09 02:32] #3311 closed

[2021-07-09 12:41] kubawach commented on #3364
This is subtle, as in Java both Extractor and Injector are modelled as methods of a single Propagator interface (which is of course allowed by the spec). I can however imagine that in order to be clear, the spec paragraph could be rephrased. For example:

[code]

[2021-07-12 00:58] jsuereth opened #3392 "Metric Benchmarks throw NPE"
**Describe the bug**
Somehow, the way metric benchmarks are configured (@ head) we get an NPE trying to run SDK benchmarks, specifically:

[code]

**Steps to reproduce**

Run `./gradlew :sdk:metrics:jmh`

**What version and what artifacts are you using?**
Build from head

**Environment**
Compiler: AdoptOpenJDK 11
OS: Windows

I can look into (and fix) this.  Trying to compare new prototype against

[2021-07-12 15:18] #3392 closed

[2021-07-12 19:49] jkwatson opened #3395 "Add support for the http/protobuf export for OTLP"
Recent spec changes have suggested that SDKs SHOULD support http/protobuf as well as grpc for OTLP exporters.

[2021-07-14 14:49] #3367 closed

[2021-07-14 20:42] chengtangzheng2021 opened #3399 "opentelemetry-exporter-jaeger not found on classpath."
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce**
If possible, provide a recipe for reproducing the error.

**What did you expect to see?**
A clear and concise description of what you expected to see.

**What did you see instead?**
Jaeger gRPC Exporter enabled but opentelemetry-exporter-jaeger not found on classpath. Make sure to add it as a dependenc

[2021-07-14 21:48] jkwatson commented on #3399
I'm sorry. What is the bug here?

[2021-07-14 22:42] chengtangzheng2021 commented on #3399
otel.traces.exporter=jaeger
opentelemetry-javaagent-1.3.0.jar
with this parameter, run javaagent version 1.3 got the exporter not found error, run with 1.2 is good,
run with otel.traces.exporter=otlp
also got its exporter not found error

[2021-07-14 22:43] chengtangzheng2021 commented on #3399
[otel.javaagent 2021-07-14 18:42:55:941 -0400] [main] INFO io.opentelemetry.javaagent.tooling.VersionLogger - opentelemetry-javaagent - version: 1.3.0
ERROR io.opentelemetry.javaagent.OpenTelemetryAgent
java.lang.reflect.InvocationTargetException
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(Nat

[2021-07-14 23:18] jkwatson commented on #3399
Is the jaeger exporter on your classpath?

[2021-07-14 23:38] breedx-splk opened #3401 "Sampler that passes spans based on name prefix"
Users have asked for a way to ensure that their manually created spans are never sampled out while still allowing the rest of instrumentation to sample normally. One approach I'm suggesting here is to create a new sampler that can be preconfigured with a set of span name prefixes to always include. That is, if a span name starts with one of the prefixes, it always passes. If it does not, then this

[2021-07-14 23:49] jkwatson commented on #3401
I recommend moving this request to the opentelemetry-java-contrib repository.

[2021-07-15 00:00] breedx-splk commented on #3401
Ok, moving request to contrib: https://github.com/open-telemetry/opentelemetry-java-contrib/issues/54

[2021-07-15 00:00] #3401 closed

[2021-07-15 04:07] anuraaga commented on #3399
Hi @chengtangzheng2021 - it looks like you are using the java agent. Can you make sure you are using a `-all` agent, for example the one from our release notes?

https://github.com/open-telemetry/opentelemetry-java-instrumentation/releases/tag/v1.3.1

The vanilla version contains no exporters.

[2021-07-16 20:19] jack-berg opened #3407 "Add OTLP gRPC Log Exporter"
**Is your feature request related to a problem? Please describe.**
Add an OTLP gRPC exporter for logs.

**Describe the solution you'd like**
Some minimal way to export log protos via OTLP - the logging equivalent of [OtlpGrpcMetricExporter](https://github.com/open-telemetry/opentelemetry-java/blob/main/exporters/otlp/metrics/src/main/java/io/opentelemetry/exporter/otlp/metrics/OtlpGrpcMetricExport

[2021-07-16 22:54] jkwatson commented on #3407
We also need a once-over on the current implementation of the datamodel. For instance, I would like to be very opinionated and say that the log `body` can only be a `String`, even though the OTLP datamodel supports `Any` for the body type.

[2021-07-18 10:03] DaGeRe opened #3408 "Prometheus Exporter can not be used"
**Describe the bug**
According to https://github.com/open-telemetry/opentelemetry-java/blob/main/sdk-extensions/autoconfigure/README.md#prometheus-exporter, spans could be exported to prometheus using `-Dotel.traces.exporter=prometheus` as command line parameter. Whenever I try this, I get the following exception:

According to the code, Prometheus is missing: https://github.com/open-telemetry/ope

[2021-07-18 15:41] jkwatson commented on #3408
It's a metrics exporter, not a traces exporter.

Use
[code]

[2021-07-18 16:58] jkwatson commented on #3408
closing this, as this should work fine if you use the right property. Please re-open if that doesn't work.

[2021-07-18 16:58] #3408 closed

[2021-07-19 15:41] jack-berg commented on #3395
Two clarifying questions:

1. There's currently an `OtlpGrpcSpanExporter`. One strategy would be to change this to an all-in-one `OtlpSpanExporter` which supports all the protocols. My preference would be to add a separate `OtlpHttpSpanExporter` which handles both the `http/protobuf` and `http/json` based on configuration. Thoughts?
2.  The gRPC exporters support the ability to substitute out the

[2021-07-19 15:43] jack-berg commented on #3407
So then I presume you are in favor of adding an alternative representation of log payloads besides the proto? A `LogData` class / interface akin to `SpanData`?

[2021-07-19 15:57] jkwatson commented on #3395
Great questions.

1. I think we should keep them separate, especially because of considerations for 2.
2. I think we choose okhttp3 and shade it in. Although, it might be worth seeing if it works with good ol' HttpUrlConnection, only because on java 11+ I believe it is implemented under the hood with the new java HttpClient, which would definitely be the way to go if we could enforce java 11+.

Th

[2021-07-19 15:58] jkwatson commented on #3407
yes, definitely.

[2021-07-19 23:22] anuraaga commented on #3395
Agree that we should go ahead and use okhttp, and have a separate artifact for the HTTP exporters compared to the default gRPC ones. HttpUrlConnection even when implemented with the java 11 client doesn't support HTTP/2 I believe so would be a pretty big performance gap vs okhttp.

I wasn't planning on shading it since we don't shade gRPC. We could probably decide that later.

@jack-berg Are you v

[2021-07-20 05:28] sumitm-iiit commented on #1531
@jam0cam : What custom IdGenerator did you use ? Is it possible for you to share that ?

[2021-07-20 14:04] jack-berg commented on #3395
@anuraaga Sure - I'll give it a go!

[2021-07-20 15:44] jkwatson commented on #1531
More recent versions of the SDK will detect if you're on Android and fall back to one that works. You shouldn't need to use a custom id generator any more.

[2021-07-20 15:44] #3354 closed

[2021-07-20 19:32] sumitm-iiit commented on #1531
@jkwatson : Do you know from which version of SDK this issue is fixed ?

[2021-07-20 19:36] jkwatson commented on #1531
https://github.com/open-telemetry/opentelemetry-java/releases/tag/v1.2.0

[2021-07-23 02:46] yangtaoran commented on #3407
Hello. Is the LogExporter interface defined?

[2021-07-23 02:56] jkwatson commented on #3407
This is what there is right now, but I think we need to clean up the `LogRecord` before this will really be viable: https://github.com/open-telemetry/opentelemetry-java/blob/main/sdk-extensions/logging/src/main/java/io/opentelemetry/sdk/logging/export/LogExporter.java

[2021-07-23 03:32] yangtaoran commented on #3407
here my understanding is to abstract LogRecord into interface akin to SpanData, and enforce the log body from AnyValue to string?

[2021-07-23 03:34] jkwatson commented on #3407
I'm not completely sure we need it to be an interface. It probably wouldn't hurt though. Good idea.

Yes, the body should be a string.

[2021-07-24 02:23] lmolkova opened #3421 "should span start-time attributes to be set on started span"
**Describe the bug**

I assume if I provide attributes to span start, they should be populated on the span, but it's not the case

[code]

output is `null`.

Spec does not explicitly explain that, but following

probably means that SDK should set them on the span.

**What version and what artifacts are you using?**
Artifacts:  `opentelemetry-sdk`
Version: `1.4.0`
How did you reference these artifa

[2021-07-24 03:53] jkwatson commented on #3421
Note: https://github.com/open-telemetry/opentelemetry-java/blob/daef9c147daf836ef84c05f0d139e957c70b37bc/sdk/trace/src/main/java/io/opentelemetry/sdk/trace/SdkSpanBuilder.java#L217-L231

[2021-07-24 04:08] jkwatson commented on #3421
But, more importantly, you're trying to get a string "k" as the key to the Attributes, but the keys to the Map are AttributeKey<?>, not String.

[2021-07-24 04:09] lmolkova commented on #3421
thanks, my bad!  This is not very user-friendly API, though :)

[2021-07-24 04:09] #3421 closed

[2021-07-24 04:10] jkwatson commented on #3421
You're trying to do things with the SDK that were not intended. the API gives you a write-only span for a reason. :)

[2021-07-24 04:10] lmolkova commented on #3421
We do all the crazy things in tests for the isntrumentation

[2021-07-24 04:12] jkwatson commented on #3421
of that, I'm 100% sure. :)

but, seriously, we spent a lot of time designing the Attribute API to make it type-safe for writing, since that is the primary usage. We assume those who are using the SDK are more willing to put up with a few warts at export time. It was a very hard to optimize for all possible use-cases, so we chose the API user over the SDK user.

[2021-07-24 17:25] trask commented on #3326
@jkwatson @anuraaga what are your latest thoughts on this? would you like send a PR that converts `ConfigProperties` to an interface and adds an `initialize()` overload that takes `ConfigProperties` (instead of waiting on #3304)?

[2021-07-26 22:24] jack-berg opened #3428 "Support OTLP signal specific certificate configuration"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
Currently, you can only specify `OTEL_EXPORTER_OTLP_CERTIFICATE `. It sets the certificates OTLP/gRPC traces, and doesn't do anything for OTLP/gRPC metrics.

`OTEL_EXPORTER_OTLP_CERTIFICATE` should set certificates for metrics, and  `OTEL_EXPORTER_OTLP_TRACES_CERTIFICATE` and `OTEL_EXPORTER

[2021-07-27 15:00] jack-berg opened #3430 "Support OTLP signal specific timeout / headers configuration"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
Currently, you can only specify `OTEL_EXPORTER_OTLP_TIMEOUT` and `OTEL_EXPORTER_OTLP_HEADERS`.

Per the [specification](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.5.0/specification/protocol/exporter.md):
- `OTEL_EXPORTER_OTLP_TRACES_TIMEOUT` and `OTEL_EXPORTER_OTL

[2021-07-27 15:22] jack-berg commented on #3430
Meant to label as a feature not a bug. 🤦

[2021-07-29 08:23] Oberon00 opened #3435 "Autoformat/enforce formatting of build scripts (kts)"
https://github.com/open-telemetry/opentelemetry-java/pull/3427 showed that the build scripts were not consistently formatted. To avoid such large (or any!) formatting-only PRs in the future, we should have something like spotless+googleJavaFormat for the kts files.

[2021-07-29 20:31] jack-berg commented on #3271
Here's an [example](https://github.com/newrelic/newrelic-opentelemetry-examples/blob/main/java/shared-utils/src/main/java/com/newrelic/shared/OtlpUtil.java#L72-L74) of how you can configure `ManagedChannel` to retry on retryable status codes.

Its pretty cumbersome.

We could improve the ergonomics of enabling retries while awaiting the spec by providing a method like:
[code]
where `RetryPolicy` i

[2021-08-03 15:17] jack-berg opened #3437 "Add SPI for customizing metric export"
**Is your feature request related to a problem? Please describe.**
There is no way to configure custom metric exporters.

`SdkMeterProviderConfigurer` provides a hook to register views and set the resource via `configure(SdkMeterProviderBuilder meterProviderBuilder)`. However, this is insufficient for customizing metric exporter configuration since both push (`IntervalMetricReader`) and pull (`Pro

[2021-08-03 16:15] juliandavid333 opened #3438 "More information on how to implement in android"
I don't see much documentation on how to implement it in android, neither blogs nor communities, I don't find much info.

like [this](https://opentelemetry.io/docs/swift/)

[2021-08-03 16:30] Oberon00 commented on #3438
I think nobody we know of has tried it & reported back so far. Did you try it and hit any roadblocks?

[2021-08-03 16:40] jkwatson commented on #3326
Happy to have a PR to implement this.

[2021-08-03 16:49] mateuszrzeszutek commented on #3326
Cool! Can you assign this to me? I should be able to get it done this week.

[2021-08-03 17:20] jkwatson commented on #3428
@jack-berg are you interested in implementing this? Can I assign it to you?

[2021-08-03 17:33] jkwatson commented on #3430
@jack-berg are you interested in working on this? If so, I'll assign it to you.

[2021-08-03 17:34] jkwatson commented on #3430
ok, I see you put in a PR for it, so I'll assign it. :)

[2021-08-03 17:43] #3430 closed

[2021-08-03 20:00] #2430 closed

[2021-08-03 20:01] jack-berg commented on #3428
@jkwatson yup I can implement it. I have it mostly done but was waiting on this [PR](https://github.com/open-telemetry/opentelemetry-java/pull/3425/files) to get merged so I can incorporate the TLS support for for OkHttp when I generally add TLS support for `OtlpGrpcMetricExporter`.

[2021-08-03 20:04] jkwatson commented on #3437
Yes, we had been holding off on this until the metrics SDK got more stable.

[2021-08-03 20:06] jkwatson commented on #3438
Splunk is using otel extensively in our new RUM instrumentation for Android. There isn't really much special about it. It pretty well works out of the box as it should.

Have you had any issues @juliandavid333 ?

[2021-08-03 20:07] jkwatson commented on #3438
FYI: https://github.com/signalfx/splunk-otel-android

[2021-08-04 13:58] juliandavid333 commented on #3438
thank you, let me try

[2021-08-05 08:10] #3428 closed

[2021-08-05 11:31] Sridhar-42 opened #3442 "Class: W3CBaggagePropagator should follow Open-Telemetry specification."
1. Describe the bug:
According to Open Telemetry specifications, _Baggage value should be converted to URL encoded UTF-8 format_.
On inject, the propagator should append the metadata per the W3C specification format.
This should be handled by the W3CBaggagePropagator#inject method.
Right now no encoding is done.

2. Steps to reproduce:
For baggage propagation, we can simply print/log request heade

[2021-08-05 14:45] jkwatson commented on #3442
We should also decode on `extract`.

[2021-08-05 14:56] Sridhar-42 commented on #3442
Sure, I have updated the description.

[2021-08-05 18:10] jkwatson opened #3443 "Support comma-separated list of exporters for otel.traces.exporter"
This has been added to the spec and would be a nice-to-have addition to the auto-configuration module.

[2021-08-05 20:06] iNikem commented on #3443
Hm... spec says nothing about if all those exporters should use the same span processor or not

[2021-08-05 20:24] jkwatson commented on #3443
Yes, I know. I brought this up in the spec PR that added this, but it was decided it would be up to the individual SIGs to decide how to do that. General recommendation was to have each hooked up with their own `BatchSpanProcessor`, I believe.

[2021-08-06 05:23] anuraaga opened #3450 "opencensus-shim flaky test"
I don't understand the opencensus metrics shim enough to try to unflake this with an awaitility or something. @jsuereth is this something you could check (or just delete the metrics shim? :-)?

[code]

[2021-08-06 12:16] anuraaga commented on #3443
I can't think of any benefit of this. I think we should hook up to the same BSP, just by using a composite span exporter.

[2021-08-06 13:19] carlosalberto opened #3451 "Consider moving the OT shim to Instrumentation"
My impression is that most users of OT use it in manual fashion, i.e. no automatic instrumentation. But we should do a double check in case there's value in putting the OT Shim right in the Instrumentation repo.

[2021-08-06 14:59] jkwatson commented on #3451
Can I assign this to you, @carlosalberto ?

[2021-08-06 16:11] jkwatson commented on #3443
Also fine, and I agree.

[2021-08-06 17:07] mahudees opened #3453 "Option to add the subsequent method calls as new span for handling specific usecases"
I’m looking to trace a background task that runs periodically, It calls good number of functions down the line, from different module/libraries before it completes. I need to have all the child functions as a span in this trace, basically to find the problem across the modules/libraries. Without adding @WithSpan annotation to those child functions it is not possible to add them as a span in curren

[2021-08-06 17:38] jkwatson commented on #3453
@mahudees I think this belongs over in the instrumentation repository. I'll move it there for you.

[2021-08-06 19:24] #3395 closed

[2021-08-07 19:26] trask opened #3456 "How to stamp a "tenant id" attribute on all spans?"
**Is your feature request related to a problem? Please describe.**

I want to stamp a "tenant id" attribute on all spans.

**Describe the solution you'd like**

Open to suggestions.

One option that I think would work well is to build a SpanProcessor, and onStart(), copy the "tenant id" attribute from the parent span down to the new span.

Then the application can stamp the "tenant id" on the SERV

[2021-08-09 07:13] Oberon00 commented on #3456
If you want to stamp the same ID on "all spans", you should use a resource attribute.

[2021-08-09 15:15] jkwatson commented on #3456
Is this really for "all spans"? Or is it just "all spans within a trace"?

IMO, this is what baggage is intended for. An enhanced baggage propagator could use metadata to decide if the entry should be propagated downstream. @trask Does this need to be a feature that is built-in to the core SDK, or could the microsoft distro have a custom baggage propagator and use baggage for this?

[2021-08-10 03:43] anuraaga commented on #3456
@trask If the agent bridge is the main issue with using context, do you think this is a more general problem we have to solve in instrumentation API? Otherwise basically no instrumentation library is allowed to use context if they want to be used in the agent too.

[2021-08-10 08:14] anuraaga commented on #3450
@jsuereth If you could take a look at this would be great, thanks!

[2021-08-10 17:18] #3326 closed

[2021-08-10 23:15] jkwatson opened #3463 "publish the otlp-http span exporter."
we should publish it for the 1.5.0 release.

[2021-08-11 01:28] #3463 closed

[2021-08-13 04:05] beanliu commented on #3018
closing it since the issue can be reproduced with the latest version.

[2021-08-13 04:05] #3018 closed

[2021-08-13 15:15] clarck opened #3486 "Add exporter using OTLP via HTTP, using OpenTelemetry's JSON model"
**Is your feature request related to a problem? Please describe.**
Including both protobuf-java and protobuf-javalite causes duplicate class errors on build. The simplest reproduction is to just include both as dependencies:
[code]

This will generate these errors on build:
[code]

Since we publish opentelemetry-java library that has a dependency on protobuf-java, this means that our library will

[2021-08-14 01:33] #3456 closed

[2021-08-14 01:49] anuraaga commented on #3486
Hi @clarck - we're not planning on supporting json exporters since the use case seems small for them. Is the issue that we only publish opentelemetry-proto targeting the full runtime? I would rather publish an additional version that targets proto lite rather than adding json exporters if it works.

[2021-08-14 01:58] anuraaga commented on #3486
Another option is to shade in protobuf for the http exporter. It should solve dependency issues - though I guess doesn't help with the reason people use lite runtime in the first place, binary size :P @jkwatson Either seem better?

[2021-08-14 05:50] clarck commented on #3486
@anuraaga - We tried to use the opentelemetry-java library on Android, but protobuf-javalite is more recommended than protobuf-java on Android. Secondly, we can reduce more binary package size by using json exporter, which is very important for us.

[2021-08-14 06:12] clarck commented on #3486
@anuraaga - json exporter is also a way in the standard specification, I think it also needs to be supported

[2021-08-14 06:16] anuraaga commented on #3486
@clarck Yes I think we can provide support for protolite here. The runtime is about 600K vs 1.6MB of protubuf-java, and jackson-core (which we would use if we did add a json exporter) is about 300K. I don't think we can get too into the detail of the binary size since it's unclear what proguard will do, but would protolite be ok?

[2021-08-14 06:35] clarck commented on #3486
Thank you very much for your reply. In my experience, any library over 300k on Android needs to be treated with caution, as this will affect the size of the installation package. If necessary, I don’t even want to introduce the opentelemetry-proto library. You can take a look at this PR I submitted[#3489](https://github.com/open-telemetry/opentelemetry-java/pull/3489)

[2021-08-14 07:44] anuraaga commented on #3486
We have similar hand-coded serialization logic for proto that is incubating

https://github.com/open-telemetry/opentelemetry-java/blob/main/exporters/otlp/trace/src/main/java/io/opentelemetry/exporter/otlp/trace/TraceMarshaler.java

It has some better performance than the using protobuf, and with a bit more rework could remove the dependency on `opentelemetry-proto` altogether. It has the same iss

[2021-08-14 09:56] clarck commented on #3486
I have noticed you TraceMarshaler before, it sounds good. But if the exporter using OTLP via Http, neither the protobuf model nor the json model is used. So in what way should the collector server handle this data, I am confused?

[2021-08-14 15:42] anuraaga commented on #3486
The binary data will still use the protobuf format - it just won't use the generated protobuf code since we have TraceMarshaller that encodes into that format directly from SpanData. As long as the binary is the same format it doesn't need to actually use the proto :)

[2021-08-14 17:30] jkwatson commented on #3486
I do think there is probably a use-case for an http-json exporter for otlp (especially on Android). If we do create it, it should absolutely be a separate module with bare minimum dependencies. This would also be a great thing to put into opentelemetry-java-contrib if we don't want to support it here directly. @clarck would you be willing to re-work your PR to have it be a separate module and that

[2021-08-15 02:07] anuraaga commented on #3486
I would hold off on the JSON for now I think. The problem at hand seems to be the binary size - JSON exporter seems like a very obtuse workaround for this as we can instead improve the binary size of the protobuf format exporter, which can avoid the protobuf compiler and library completely if we want. I guess I feel weird merging in hand-written JSON serializers even though we didn't actually swit

[2021-08-15 11:38] clarck commented on #3486
@jkwatson - Yes, my idea is the same as you. This PR can be separated into a module to implement it with minimal dependencies, and jackson-core can be used to replace alibaba libraries

[2021-08-16 06:47] anuraaga opened #3494 "Consider removing DoubleCounterBuilder.ofLongs"
We start with LongCounterBuilder and can switch it to double (for exceptional cases) with `ofDoubles`, I don't think we really need to be able to go back.

https://github.com/open-telemetry/opentelemetry-java/blob/7a89a197003df3be2dca9796f7d95f49a6a8fab2/api/metrics/src/main/java/io/opentelemetry/api/metrics/DoubleCounterBuilder.java#L29

[2021-08-16 06:56] anuraaga opened #3495 "Should unbind be replaced with Scope or similar try/resources, AutoCloseable pattern?"
I noticed that it's a bit weird that `unbind` invalidates the variable as a side-effect - would it be more idiomatic to use try/resources instead?

[2021-08-16 06:57] anuraaga commented on #3495
Also is unbind necessary? Or is it ok to just let the bound counter get garbage-collected? I'm not sure so to confirm, is it possible to call

[code]

i.e., bind multiple times to the same instrument?

[2021-08-16 07:32] anuraaga opened #3496 "LongCounter and LongUpDownCounter have exact same API - delete one?"
I noticed LongCounter and LongUpDownCounter have the exact same API. Is it better to have something like `disallowNegative` on a single type?

[2021-08-16 14:11] Oberon00 opened #3497 "NPE: CompletableResultCode.ofAll invoked with null by MultiSpanExporter.shutdown"
A build of f2cb03395c91781ba9b6f92091af1f0a8dc413fd in #3466 failed in CI (macos-latest, 17) with this unrelated NPE:

[code]

(from https://github.com/open-telemetry/opentelemetry-java/pull/3466#issuecomment-896829706)

[2021-08-16 14:55] jkwatson commented on #3496
Heh. In the first iteration of the metrics API, this is the way it was done. In the intervening year or so, the metrics spec group has preferred to have separate instruments for these use-cases, rather than having options on them. IIRC, the idea here is that the semantics will be more clear at the call site if you have differently named instruments, even if the API usages look the same.

[2021-08-16 15:00] jkwatson commented on #3495
I don't think try-with-resources would work at all, since the unbinding is generally going to happen when a component is being shutdown, not right after the binding occurs.

Absolutely, you can create multiple bindings on the same instrument. The intent is that when you are binding the attributes, you can avoid any allocations in the bound instrument's usage. So you definitely might want to have m

[2021-08-16 15:35] anuraaga commented on #3495
If this means app shutdown, then does it mean we can avoid having an unbind? If it's not an OS resource I guess closings isn't required. But not sure I follow completely.

For what it's worth on instrumentation we have a few (but very few...) bind and no unbind.

[2021-08-16 15:40] anuraaga opened #3498 "Tweak random SpanData generation to handle Nullable fields in AutoValue"
Currently AutoValue will include Nullable on constructor parameters and getters but not fields, which is what works trivially with easy-random. It should be possible to correlate the annotated getters with the fields to allow testing random SpanData with nullable fields more precisely.

Introduced by #3493

[2021-08-16 15:41] jkwatson commented on #3494
I agree, unless there's some esoteric use-case that I'm missing here.

[2021-08-16 15:54] jkwatson commented on #3495
It *can* mean app shutdown, but you might also imagine having some kafka listener (or something) that gets started up only under special circumstances in the application lifecycle, and then gets shutdown again while the app continues to run. I don't know how common this use-case is, I definitely will admit.

@jsuereth do you have some common scenarios where `unbind` will be necessary, rather than

[2021-08-16 16:29] anuraaga commented on #3496
Ah the boolean was isMonotonic I'm presuming. I still have trouble grokking it and wonder if it's not supposed to be an SDK concern, in the view, instead of API. I guess we can't throw an exception for negative measurements to a monotonic counter in the API either way? Anyways just wanted to confirm it two APIs with the same API feels like a smell.

[2021-08-16 16:34] anuraaga commented on #3495
Ah by the way I guess I meant AutoCloseable more precisely than try/ resources. So it could be used for the latter but could also be unbound automatically by Spring on shutdown for example. Though again want to confirm this would be worth it since it's not something like a file descriptor, I think.

[2021-08-16 16:58] jkwatson commented on #3496
It's curious. In the spec, there's clearly a section for creating an UpDownCounter, but no description of what one is, any more:  https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md#updowncounter-creation. @jsuereth do you know what's up here?

[2021-08-16 21:02] jack-berg commented on #3407
Has anyone volunteered to work on this yet?

[2021-08-16 22:54] jkwatson commented on #3407
some draft bits here:  https://github.com/open-telemetry/opentelemetry-java/pull/3415

[2021-08-17 00:57] anuraaga commented on #3497
@Oberon00 Did you see it after? I intended to fix in https://github.com/open-telemetry/opentelemetry-java/pull/3469 (sorry for not linking to you)

[2021-08-17 06:52] JianhuaGong commented on #2765
We has the performance issue, can you explain why sorting and filtering are performed during put a attribute?

[2021-08-17 08:23] Oberon00 commented on #3497
No, I just created the bug ticket now based on that comment. I didn't see that PR.

[2021-08-17 10:00] anuraaga commented on #3497
Cool we should be good then thanks

[2021-08-17 10:00] #3497 closed

[2021-08-17 14:12] Rocksnake commented on #3435
One solution: I think the format check could perform pre-commit through the git hook. If the newly submitted code does not conform to the format, adjust the format first and then commit.

Although above solution is ok, I propose to format the code as a separate task and use a machine to execute it continuously.

[2021-08-17 14:54] jack-berg commented on #3443
@jkwatson can you assign this issue to me?

[2021-08-17 23:51] jkwatson commented on #2765
we just hadn't gotten to the optimization yet. :) PR submitted.

[2021-08-18 14:18] jsuereth opened #3505 "Add migration guide for 1.4.0 -> 1.5.0 Metrics"
Ideally, we should have a migration guide somewhere for how to convert your metric API code with the 1.5.0 release.

Here's a first cut:

# Sync Instruments

## Histogram Migration

### doubleValueRecorder
[code]

[code]

### longValueRecorder
[code]

[code]

## Counter Migration

### doubleCounter

[code]

[code]

### longCounter

[code]

[code]

## UpDownCounter Migration

### doubleUpDownCounte

[2021-08-18 14:42] #3505 closed

[2021-08-18 23:14] #2765 closed

[2021-08-19 15:37] jkwatson opened #3517 "B3 Propagator can't properly handle missing `X-B3-Sampled` header"
If the `X-B3-Sampled` header is missing, the propagator is considering this as "not sampled" when creating the resulting TraceFlags. This will cause Samplers to then consider the parent as "not sampled" when actually B3 says that this should "leave the decision to the server".

I think this might be a bigger issue, however. When propagation is happening in Otel, we only have 2 options: sampled & n

[2021-08-19 17:12] jsuereth opened #3518 "Update Metrics to latest specification."
Here's the task list for taking the prototyped ideas in #3333 and piecemeal submitting them into main branch.

- [x] Update data model
   - [x] Attributes #3352
   - [x] Exemplars #3353
- [x] Update API #3423
- [x] Update SDK
  - [x] Views
    - [x] Per-metric-storage vs. instrument #3455
    - [x] Select by InstrumentationLibraryInfo #3491
    - [X] Enable metric renaming / redescription #3510

[2021-08-20 14:13] cyrille-leclerc opened #3521 "OtlpGrpcExporter/Netty still active after `shutdown`"
**Describe the bug**

When using the `OtlpGrpcSpanExporter` with `io.grpc:grpc-netty-shaded`, there is still activity on the `NettyClientHandler` after `io.opentelemetry.sdk.trace.SdkTracerProvider#shutdown()` has successfully completed.

The Netty activity that happens after `SdkTracerProvider#shutdown()` looks like

[code]

This activity after `shutdown()` is causing `NoClassDefFoundError` if th

[2021-08-20 19:42] jkwatson commented on #3521
I'm not sure grpc provides any other hooks than what we're doing to make sure things are truly shutdown. Can you take a look at our implementation and make any recommendations for improvements?

https://github.com/open-telemetry/opentelemetry-java/blob/main/exporters/otlp/trace/src/main/java/io/opentelemetry/exporter/otlp/trace/OtlpGrpcSpanExporter.java#L179-L190

[2021-08-22 22:02] cyrille-leclerc commented on #3521
Thanks @jkwatson . I found the cause and implemented a work around for my specific use case, the clean fix may require a change in the GRPC library.

The cause of the problem is that `OtlpGrpcSpanExporter#shutdown()` invokes `io.grpc.ManagedChannel#shutdown()` waiting for `ManagedChannel#isShutdown()` rather than `ManagedChannel#isTerminated()`.

Here are the javadocs:
* `ManagedChannel#isShutdown

[2021-08-23 02:49] anuraaga commented on #3521
Thanks @cyrille-leclerc - I have filed https://github.com/grpc/grpc-java/issues/8432 to fix the state change notification. I don't think there's much else we can do until then, the only workaround I can think of on our end is starting a thread to call `awaitTermination` since we don't want to block on this API that returns `CompletableResultCode`. Nor should we have to, it's definitely a gap in gr

[2021-08-23 04:29] anuraaga commented on #3486
@clarck #3533 finishes the work to remove the dependency on generated protos and the protobuf-java (or javalite) libraries from the HTTP exporter. This is our recommended exporter for environments where binary size is constrained - it should have both better performance and smaller binary size than either the previous protobuf implementation or a future JSON implementation where we would still nee

[2021-08-23 06:21] anuraaga opened #3534 "Add MetricDescriptor to SDK for exporting"
While writing custom marshaling code for metrics, I realized it would be good to have a class to encapsulate "effectively singleton" information, the name / description / unit. We would be able to cache the marshaled representation of this descriptor more directly than caching each individual part.

[2021-08-23 06:36] anuraaga opened #3535 "SDK Exemplar class missing Data suffix"
We add Data suffix to all the SDK data classes, so I guess Exemplar should have it too. Noticed when writing a marshaler for it, it's the only class that requires an explicit import of the proto since the proto name and SDK name are the same.

[2021-08-23 07:23] cyrille-leclerc commented on #3521
Thank you very much @anuraaga for taking the time to read my explanation, to engage with the gRPC community and to initiate a PR to enhance the gRPC framework!

[2021-08-23 09:21] violette opened #3536 "[Doc] Manual Instrumentation - Java Missing dependencies"
In the doc page https://opentelemetry.io/docs/java/manual_instrumentation/, it would be nice if a layer could be added, using the latests dependencies, bom and inner project dependencies(api, sdk, and opentelemetry-exporters-otlp)  to use the provided code.

It would be nice if the sample could provide the gradle/maven, etc. dependencies as a block to copy/paste int the https://opentelemetry.io/do

[2021-08-23 13:05] jsuereth commented on #3534
There is a MetricDescriptor class, what more do you want to see on it?  I'm happy to update it.

[2021-08-23 13:12] anuraaga commented on #3534
MetricsDescriptor looks to be an internal class for view configuration I believe. Shall we promote it to a public class? I'm just looking at the export pipeline for this, MetricData just has three fields for the name / description / unit, not a class.

[2021-08-23 13:15] anuraaga commented on #3534
A bit more color is I found that unlike tracing, where instrumentation library is the end of the "singleton graph" it seems like metric have one more branch, the name / description / unit. So we should probably be memoizing them the same way we memoize instrumentation library.

[2021-08-23 15:36] jkwatson commented on #3535
@jsuereth can I assign to you?

[2021-08-23 15:54] jkwatson commented on #3536
@violette Great idea. The website docs are sourced from this repository. Are you interested in updating the docs with these features?

[2021-08-24 16:39] jack-berg opened #3542 "Support map attribute values"
**Is your feature request related to a problem? Please describe.**
The protos support map attribute values via the [KeyValueList](https://github.com/open-telemetry/opentelemetry-proto/blame/main/opentelemetry/proto/common/v1/common.proto#L36) type. The otel java API / SDK should support map attribute values.

**Describe the solution you'd like**
Add map APIs / implementations to the attribute pack

[2021-08-24 16:51] Oberon00 commented on #3542
That protocol feature is only meant for use with logs (which are not supported at all currently). The "normal" attributes that the tracing API should support are described in the specification here: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/common/common.md#attributes

You cannot just start allowing more attribute types in an 1.x version, as that would p

[2021-08-24 17:02] luneo7 commented on #3328
@anuraaga any news when we can get a version with everything set up? Thanks =]

[2021-08-24 17:17] jack-berg commented on #3542
Interesting. Looking for evidence of this in the protos, I see a comment on [trace.proto](https://github.com/open-telemetry/opentelemetry-proto/blob/main/opentelemetry/proto/trace/v1/trace.proto#L161-L169) which references different attribute types, which excludes maps, but also excludes arrays which are definitely supported. No mention of unsupported types in the [metric.proto](https://github.com

[2021-08-24 17:24] jkwatson commented on #3542
I would prefer not to complicate our APIs with support for this. @jack-berg do you have a real-life use-case for this at this point?

[2021-08-24 17:24] jkwatson commented on #3328
This is being implemented in the opentelemetry-java-contrib project.

[2021-08-24 17:31] Oberon00 commented on #3542
@jack-berg You need to do some archeology to find that 😃 See PR description here: https://github.com/open-telemetry/opentelemetry-proto/pull/157

Anyway, the reference for what the API should support is the specification (https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/common/common.md?rgh-link-date=2021-08-24T16%3A51%3A41Z#attributes), not what some protocol

[2021-08-24 18:50] jack-berg commented on #3542
@jkwatson I opened this issue mostly to prompt a discussion for I what I interpreted was a discrepancy between the spec and the java implementation.

Upon further clarification, especially from this [comment](https://github.com/open-telemetry/opentelemetry-specification/issues/376#issuecomment-674243387), it appears that there is an acknowledged difference between the attributes in the OTLP proto

[2021-08-24 19:02] jack-berg commented on #3443
@jkwatson this issue can be closed. Looks like the comment I left on the PR #3529 didn't meet the criteria to close.

[2021-08-24 20:07] #3443 closed

[2021-08-24 20:08] #3542 closed

[2021-08-24 23:36] #3435 closed

[2021-08-25 04:25] JianhuaGong commented on #2765
ok, we look forward to this version.

[2021-08-25 06:56] jamesmoessis commented on #3518
Exponential histogram coming later I suppose?

[2021-08-25 11:59] fabianishere opened #3549 "Registering multiple asynchronous instruments"
**Describe the bug**
I have been experimenting with the latest OpenTelemetry Metrics release (version 1.5.0-alpha), but it has occurred to me that registering multiple asynchronous instruments with the same name will result in only one of the callbacks being invoked during a collection cycle.

I want to implement a pattern like this:
[code]

**Steps to reproduce**
1. Create multiple asynchronous i

[2021-08-25 13:35] jsuereth opened #3550 "Exponential Histogram Prototype"
This bug tracks work/progress around generating exponential histograms in the Java SDK.

- [x] Add exponential histogram to `sdk.metrics.data` package
- [ ] Add exponential histogram to OTLP exporters
- [ ] Create an exponential histogram Aggregator

[2021-08-25 13:35] jsuereth commented on #3518
Yeah, this is not a complete list.   As things get better specified, they'll be added.

For exponential histograms, I'd highly recommend doing a parallel experiment right now.  While I expect the Aggregator package to undergo some refactorings (and hopefully simplifications) you should be able to prototype an exponential hsitogram today.

I opened a bug around that here: https://github.com/open-te

[2021-08-25 22:06] #1331 closed, assigned to thisthat, bogdandrutu

[2021-08-27 19:11] kvcache opened #3561 "[Metrics] Let me pass Attributes to Bound** Instruments"
**Is your feature request related to a problem? Please describe.**
Not all exporters support adding resource Attributes to outgoing Metrics. To get around that in my system I'm eagerly binding all of my Counters and whatnot to the Resource's Attributes. But the `BoundLongCounter` api (and friends) does not have the overload like `void add(long value, Attributes attributes);` to allow me to optiona

[2021-08-31 18:16] kvcache commented on #3561
I think maybe that's missing the point? When I implemented literally _this_ a few years ago I expressed it as _allowing_ a zero-allocation attribute set - rather than exclusively forcing it. It's an arbitrary requirement, not driven by technical necessity, and ought to be called out in docs but allowed. Sometimes you need to do both.

Maybe the right compromise here would be to have a means to tel

[2021-08-31 18:21] jkwatson commented on #3561
@jsuereth I wonder if we should remove bound instruments altogether at this point, since they're not specced that I could see in the metrics API spec.

[2021-08-31 18:41] jsuereth commented on #3561
We could just remove them.   Bound instruments are designed (right now) to avoid a single lock within the metrics SDK and can improve performance of writing metrics by 2x.  What you're suggesting is to remove that performance benefit.

Specifically bound instruments *ONLY* exist as a performance optimisation when attributes are known at allocation time.  I can dig out the benchmarking code if you'

[2021-08-31 18:55] kvcache commented on #3561
I can give you an example but not from my actual service:
[code]

An efficient append attribute operation would be _helpful_ and would make recording `userId` attributes much more tractable. That's 1/2 of it. I also need to report those static, unchanging Resource Attributes.

[2021-08-31 20:23] jsuereth commented on #3561
static-unchanging-resource attributes should be done as part of `Resource` in otel, not passed in with measurements.

Your example here looks like it's not the OTEL API but some other API.   Did you check the performance of the OTEL library?

Additionally, it looks like your instantiating a list of your labels in every call.  If you pre-allocate the label list, would that be more efficient?

In ot

[2021-08-31 21:30] kvcache commented on #3561
Yeah, I agree - however, the `static-unchanging-resource` attributes _do not get attached to metrics_ in prometheus export. That means with Otel I had no way to disambiguate metrics from one server versus another on Grafana until I made this kludge.

Scroll up a bit, it's a class I wrote using the OTEL API to make the OTEL API more ergonomic.

It has not presented a problem yet. The profiler showe

[2021-08-31 22:51] jsuereth commented on #3561
You can do this if you leverage the Otel collector (e.g. [this configuration parameter available on many exporters](https://github.com/open-telemetry/opentelemetry-collector/tree/main/exporter/exporterhelper#configuration)) to export to prometheus *and* I think that's a great feature request for the prometheus exporter.

SPECIFICALLY, it'd be great if you raised a feature request around this use c

[2021-08-31 23:08] kvcache commented on #3561
### Re: bound instruments

I missed that this was a feature of bound instruments - please _do not remove_ these unless you have an equivalent feature elsewhere in your api, and **thank you** for educating me on this semantic! I will keep the Timer wrapper then anyway to make the attribute binding more clean. Please know that I am currently depending on bound Instruments and if they are contributin

[2021-09-01 04:06] anuraaga commented on #3561
@jsuereth Do you think you can push a PR to the spec for bound instruments? I'm a bit worried about going with them in one language because they do seem to correlate back to semantic conventions. In particular, I think in most if not all cases, a bound attribute could be encoded into the metric name. We already see this, e.g. http_client_duration and http_server_duration, where client/server could

[2021-09-03 17:58] jsuereth commented on #3561
The piece of the specification we had added for bound instruments is [this line](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md#counter-operations):

I think it'd be hard to specify the EXACT semantics of bound instruments in the specification across all languages, but I'm happy to do some kind of "For Java, here are guarantees of using `bound`

[2021-09-04 04:54] anuraaga commented on #3561
I think bound attributes are semantically ones that are known at instrument creation time vs record time. This seems language agnostic and the concept can be added to the spec. Languages could potentially skip any particular implementation if they want since it's always possible to merge at record time. But the concept being introduced would allow use from semantic conventions.

I haven't opened a

[2021-09-08 04:00] Gaurang-Patel commented on #3240
Hi,
as discussed we want to have two flags right one for enabling and one for disabling, what should be the behavior if the user by mistake adds both the flag?
Ex:
Case 1:
[code]

Case 2:
[code]

Practically adding both flags doesn't make sense but what if someone adds by mistake?

[2021-09-08 04:36] jkwatson commented on #3240
My vote would be to fail fast if both options are specified.

[2021-09-10 02:04] #3486 closed

[2021-09-10 03:30] clarck opened #3594 "[Metrics] An Aggregation Temporality of delta，isMonotonic always true"
**Describe the bug**
Use AggregationTemporality.DELTA mode create MetricData，isMonotonic always is true

**Steps to reproduce**
[code]

Export data results:
[code]

**What did you expect to see?**
Use AggregationTemporality.CUMULATIVE mode create MetricData，isMonotonic is true; AggregationTemporality.DELTA mode create MetricData，isMonotonic is false.

[2021-09-10 10:23] mateuszrzeszutek opened #3598 "Zipkin span exporter does not serialize arrays as JSON"
**Describe the bug**
The [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk_exporters/zipkin.md#attribute) mentions that arrays must be serialized to string as a JSON list:

Zipkin exporter just naively joins all values with a comma, it doesn't add the brackets, it doesn't wrap string values with `""`. Note that Jaeger exporter does that correctl

[2021-09-10 14:37] jack-berg commented on #3594
I believe the behavior you've outlined is correct.

The [metrics data model](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/datamodel.md#sums) says the following about the monotonic flag on sum data points:

For cumulative monotonic sums, this means the reader SHOULD expect values that are not less than the previous value.

Since this is a counter ins

[2021-09-10 14:48] jkwatson commented on #3594
@jack-berg is correct. The monotonicity is describing the instrument and the values that are being recorded, not the values being emitted post-aggregation. This is not a bug, but the intended behavior. A Counter cannot record negative increments, hence the results are always monotonically increasing.

[2021-09-10 15:32] jack-berg commented on #3598
Are array tags actually supported in zipkin's data model? I get a 400 Bad request when I try to send up a payload with them.

For example, the following with just a string tag yields a 202 status code:
[code]

But add an array tag, and you get a 400 status code:
[code]

The [zipkin proto definition](https://github.com/openzipkin/zipkin-go/blob/815bc64e1a6031d5a51c88b07092d34c20aaeb61/proto/zipkin_

[2021-09-10 15:37] jkwatson commented on #3598
We definitely can't put json arrays into zipkin as if they were standard attribute values. @mateuszrzeszutek Are you saying we should escape the json-array so that it can be coerced into a String? I think what we built here was the recommendation of the zipkin maintainer at the time, as the closest that zipkin could get to supporting arrays.

[2021-09-10 15:48] jsuereth commented on #3549
This is a known limitation right now in the API.  I've been holding off on fixing this prior to aggregator refactor.  I'm happy to prioritize it next, before finishing up exemplar or multi-export.

As jkwatson@ mentions it's a limitation in the spec.  If you want multiple async instruments, use different meters and then ignore their names later (as a workaround).

I'd love to lift this limitation

[2021-09-10 15:49] jsuereth commented on #3535
@jkwatson yes, sorry somehow I lost bug notifications for a few weeks their, updated my GitHub settings

[2021-09-10 15:55] jsuereth commented on #3561
@anuraaga now that the dust is settling in metric reader, I'll see if I can expand on the performance statement in the specification.

I still think @jkwatson question of whether we're using confusing terminology applies.  I plan to write up a "how to avoid hot path allocation with otel metrics" markdown file and we can determine whether or not the API we expose is the right one.   Given expectati

[2021-09-10 16:13] fabianishere commented on #3549
@jsuereth Thanks for the clarification! Should I keep the issue open to document the limitation for now?

[2021-09-10 16:59] mateuszrzeszutek commented on #3598
Hmm, possibly? I think that's what we do in Jaeger (well, it's a string-in-protobuf not string-in-json though). I think that's probably what spec means by `serialized to string like a JSON list` too - the result is a string.

[2021-09-10 17:53] kvcache commented on #3561
Great, thanks - avoiding allocation is important for us and having that as a concept that OpenTelemetry promotes as an option is incredibly valuable. Hardening it with docs & expectation around "convenience" versus "performance" would help.

Since I (on my current project) must choose obsessively low-cost instrumentation over convenience, I will choose performance-oriented paths without regard for

[2021-09-10 18:23] jkwatson commented on #3561
I wonder if it would be useful to convert this to a discussion, @kvcache so others can find it and hopefully understand the nuance a bit better.

[2021-09-10 18:54] kvcache commented on #3561
@jkwatson agree - I lack the permissions but any maintainer should feel free to do so from my perspective.

[2021-09-10 19:12] #3561 closed

[2021-09-11 08:36] brunojcm opened #3605 "LocalCacheFactory fails if `jdk.unsupported` module is not available"
**Is your feature request related to a problem? Please describe.**
The current version of opentelemetry-java (1.5.3 as of this bug report) requires the `jdk.unsupported` JDK module to be included if one is using `jlink` to build a custom JDK. This is not a sustainable approach.

The following error occurs:
[code]

**Describe the solution you'd like**
I would like to be able to run `opentelemetry-j

[2021-09-11 08:37] brunojcm commented on #3605
This is a follow-up of https://github.com/open-telemetry/opentelemetry-java/issues/3339

[2021-09-11 08:51] brunojcm commented on #3605
This is on the instrumentation code base, reported https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/4092 instead.

[2021-09-11 08:51] #3605 closed

[2021-09-13 01:47] clarck commented on #3594
@jack-berg Yes, you are right. I understand it as a description of increment and accumulation. After all, the cumulative reported value is more and more, and the incremental report is not necessarily

[2021-09-13 01:47] #3594 closed

[2021-09-13 09:13] yuxiaoba opened #3610 "Create child span in grpc failed"
**Describe the bug**
When I  instrumented opentelemetry code in my code, I found that it cannot create child span right.
How can I instrument the code to achieve that *AdService/GetAds* is the child span of *AdService/QueryAds*?

**Steps to reproduce**
[code]

**What did you expect to see?**
The spans can connect together with the same traceid.
hipstershop.AdService/GetAds is the childspan of hips

[2021-09-13 15:06] jkwatson commented on #3610
There is grpc instrumentation in the opentelemetry-java-instrumentation project that should work: https://github.com/open-telemetry/opentelemetry-java-instrumentation/tree/main/instrumentation/grpc-1.6/library If it doesn't work as desired, please log a bug in that project.

[2021-09-13 15:08] jkwatson commented on #3610
In your example code, I don't see anything injecting the span context into the grpc request headers. Without something doing that work, there will be no propagation.

And, what is the `textFormat` that is doing the extracting on the request side, in your code?

[2021-09-14 00:49] yuxiaoba commented on #3610
Thank you for your reply.
Actually , I follow the example https://github.com/open-telemetry/opentelemetry-java/blob/main/examples/grpc/src/main/java/io/opentelemetry/example/grpc/HelloWorldServer.java in this project.

[2021-09-14 01:01] tnevolin opened #3612 "gradlew does not exist"
https://github.com/open-telemetry/opentelemetry-java/blob/main/CONTRIBUTING.md#building-opentelemetry-java

The description above recommends to run `gradlew` immediately after cloning. This file does not exist in root project directory. The gradlew is a wrapper that should be created in the project with `gradle wrapper` command.

[2021-09-14 01:41] anuraaga commented on #3612
Hi @tnevolin - we have `gradlew` in the repo

https://github.com/open-telemetry/opentelemetry-java/blob/main/gradlew

Can you verify your clone is ok?

[2021-09-14 01:43] anuraaga opened #3613 "Delete the gRPC example"
Users should use gRPC library instrumentation and definitely not do manual instrumentation of gRPC. We do get confusion because of the example though.

https://github.com/open-telemetry/opentelemetry-java/issues/3610#issuecomment-918701670

IIRC, this isn't the first time - I don't think we should have this example since it's not an example of usage we would expect as we have the library instrumen

[2021-09-14 15:32] jkwatson commented on #3610
The example is working correctly for me. Why do you think it isn't?

[2021-09-14 15:38] jkwatson commented on #3613
Do you have some ideas on what else we could provide for client/server examples? Or, is the http example enough?

[2021-09-14 16:34] tnevolin commented on #3612
I see it now.

[2021-09-14 16:34] #3612 closed

[2021-09-14 20:27] jack-berg commented on #3598
The [dotnet](https://github.com/open-telemetry/opentelemetry-dotnet/blob/main/src/OpenTelemetry.Exporter.Zipkin/Implementation/ZipkinSpan.cs#L215-L218) implementation appears to just comma separate the values, rather than a JSON list string.

The [js](https://github.com/open-telemetry/opentelemetry-js/blob/main/packages/opentelemetry-exporter-zipkin/src/transform.ts#L79) implementation does the sa

[2021-09-14 22:02] jsuereth commented on #3613
Two thoughts:

1. Where do we have examples for folks writing instrumentation?
2. For folks who *want* library-based implementation, is there an example that uses gRPC we can have instead?  All the examples in the instrumentation repository push towards the agent (or are for agent extensions)

[2021-09-14 22:04] jsuereth commented on #3549
Sorry for delay, yes keep this issue open.    We just had a specification discussion around this, and there's a bit to figure out here.

[2021-09-14 22:26] tnevolin opened #3619 "Test on Windows do not pass"
`.\gradlew.bat build` output:
[code]

A little more informative output of `.\gradlew.bat build --info`:
[code]

One of the participants on Slack channel suspected that Linux and Windows may behave differently in localhost resolution here.
https://github.com/open-telemetry/opentelemetry-java/blob/2670fe29262091187f4607bf369819fbb4bcdcc0/sdk-extensions/autoconfigure/src/testOtlpHttp/java/io/opentele

[2021-09-14 23:28] jkwatson commented on #3598
So, it sounds like .net and java are currently in alignment, then?

[2021-09-14 23:31] jkwatson commented on #3619
If you have access to a windows dev machine and can put in a PR to fix this, that would be great. None of the maintainers have one at this point (that I know of).

[2021-09-15 00:38] yuxiaoba commented on #3610
Thank you for your reply.

[2021-09-15 01:40] anuraaga opened #3620 "JSON enums should be serialized by name, not number"
#3616 temporarily makes JSON logs worse by serializing enums by number. These can still be parsed by protobuf-json libraries, but we should restore them to being serialized by name for readability as logs are meant to be.

[2021-09-15 02:27] trask commented on #3613
Check out https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/main/docs/standalone-library-instrumentation.md#standalone-library-instrumentation for library-based instrumentation.

Though only some of those have nice docs so far, e.g.

* [AWS SDK 2.2+](https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/main/instrumentation/aws-sdk/aws-sdk-2.2/library/RE

[2021-09-15 02:31] trask commented on #3610
hey @yuxiaoba, if you are looking for out-of-the-box non-javaagent grpc instrumentation, check out https://github.com/open-telemetry/opentelemetry-java-instrumentation/tree/main/instrumentation/grpc-1.6/library.

here's the maven artifact to use: https://search.maven.org/search?q=g:io.opentelemetry.instrumentation%20AND%20a:opentelemetry-grpc-1.6

and here's the main entry point for usage: https:/

[2021-09-15 05:06] jamesmoessis commented on #3550
@jsuereth I'm going to implement this now that the OTEP seems in it's final form. Would these three items be three separate PRs or one big one?

[2021-09-15 14:56] jkwatson commented on #3550
Please favor smaller, focussed PRs if at all possible. Thanks!

[2021-09-15 15:08] jkwatson commented on #3610
As you can hopefully see from @trask's link, instrumenting grpc is not easy to get correct. We should probably remove this example from our repository and rely on the expertise of the instrumentation folks to do it right. Or, perhaps our examples should use the library instrumentation rather than doing a half-way job of implementing it?

[2021-09-15 16:21] tnevolin commented on #3619
That would be future task. I have just started and don't have enough knowledge to fix it yet. I'll assign it to myself and get to it when I feel strong about it.

[2021-09-15 16:23] tnevolin commented on #3619
Hmm. Apparently, I cannot assign it to myself. Can you grant me permissions and add me to contributors?

[2021-09-15 16:59] jkwatson commented on #3619
assigned to you.

[2021-09-16 01:03] #3620 closed

[2021-09-16 06:35] dittakaviram opened #3627 "Proto to JSON conversion issue"
**Describe the bug**

Below is a brief on our use case:

We are using the opentelemetry collector to read metric data from end user machines (macOS and Windows) and forwarding the same to open telemetry gateway where the metric data is forwarded to a kafka topic. Our Flink application reads the data from the topic and converts it to JSON using the below logic eventually saving the metric data into

[2021-09-16 06:40] anuraaga commented on #3627
@dittakaviram It sounds like your kafka job must be using an old version of opentelemetry-proto that's targeted at v0.7.0, as here

https://github.com/open-telemetry/opentelemetry-proto/blob/v0.7.0/opentelemetry/proto/metrics/v1/metrics.proto#L141

There we can see fields like `double_gauge` and there is no `as_int`. I see you mention using opentelemetry-proto 1.5.0 but can you confirm you actuall

[2021-09-16 06:52] dittakaviram commented on #3627
@anuraaga I confirm we are using opentelemetry-proto 1.5.0. Below is an excerpt from pom.xml:

[code]

[2021-09-16 07:20] dittakaviram commented on #3627
@anuraaga Please also refer these

https://github.com/open-telemetry/opentelemetry-proto/pull/278
https://github.com/open-telemetry/opentelemetry-proto/pull/330
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/common/common.md#attributes

[2021-09-16 07:30] anuraaga commented on #3627
@dittakaviram I'm not too sure exactly what role the collector is playing in your setup, but I notice now that the collector version is quite old and does not use the latest proto, which was updated in 0.32.0 of the collector. There will be mysterious issues when the proto version isn't compatible, before using the stable metrics protocol.

Can you try updating to the latest collector?

[2021-09-16 08:33] dittakaviram commented on #3627
@anuraaga We are using 0.31.0 and 0.35.0 got released just yesterday. I wouldn't say it is quite old. But, I already tried using the collector with version 0.34.0 and the issue persists.

As for the role of collector in our setup, as I explained in the use case, we are trying to extract various system related metrics using hostmetricsreceiver (https://github.com/open-telemetry/opentelemetry-collec

[2021-09-16 08:45] anuraaga commented on #3627
0.34.0 would be fine to try too, yeah.

Unfortunately, I don't think we'll be able to provide much more points TBH. The protos published in opentelemetry-proto 1.5 have no reference of fields like doubleGauge so there isn't really any reason they would get outputted with such fields. Are you 100% sure that the Kafka job is actually referencing the new protos, even with that POM definition? Perhaps

[2021-09-17 01:19] yuxiaoba commented on #3610
@jkwatson @trask Thank you for your reply. Now I have  instrumented my code with Java agent, it is fantastic.
@jkwatson  May be we should remove the manually instrumentation of grpc in the examples.

[2021-09-17 01:19] #3610 closed

[2021-09-17 13:00] Oberon00 opened #3632 "No documentation on artifact names (or it is not easy to find)"
Slightly related to https://github.com/open-telemetry/opentelemetry-java/pull/3603, it is not obvious what artifacts one needs to depend on when using certain packages.
The readme documents

[code]

But what do I need for https://github.com/open-telemetry/opentelemetry-java/tree/main/sdk-extensions/autoconfigure for example? I think it's `opentelemetry-sdk-extension-autoconfigure` (with singular "

[2021-09-17 13:29] jkwatson commented on #3632
Agreed. I usually look at the bom for this but we should have better documentation. Can you write some for us, @Oberon00 ?

[2021-09-17 13:34] Oberon00 commented on #3632
Linking to the BOM content may actually be a good "workaround", I didn't think of this.

[2021-09-17 14:02] Oberon00 opened #3633 "Autoconfigure requires otlp/grpc even if OTEL_EXPERIMENTAL_EXPORTER_OTLP_PROTOCOL is set to http/protobuf"
It seems to require OTEL_EXPERIMENTAL_EXPORTER_OTLP_TRACES_PROTOCOL (with TRACES_).

This was with 1.6.0, so sorry if it has been fixed since.

Exception message logged:

[code]

CC @jack-berg

[2021-09-17 14:05] jack-berg commented on #3633
Yikes that's not good. Will take a look.

[2021-09-17 14:54] Oberon00 opened #3634 "autoconfigure indirectly uses Thread.currentThread().getContextClassLoader()"
This has cost me some time debugging: I used OTel inside Google Cloud Functions https://cloud.google.com/functions/docs/first-java and added `opentelemetry-sdk-extension-resources` to the classpath. In unit tests, everything worked but not when actually executing the test with the `com.google.cloud.functions.invoker.runner.Invoker`. The reason turned out to be that that one uses a custom context c

[2021-09-17 16:04] jkwatson commented on #3634
seems like an easy change to make, and I can't see the harm. @anuraaga has more experience than I do in this area, though.

[2021-09-18 01:12] anuraaga commented on #3634
Thanks - agree that it is idiomatic to always provide an API that accepts a ClassLoader when doing service loading.

[2021-09-18 15:29] jack-berg commented on #3633
@Oberon00 - I wasn't able to recreate this.

I ran a test app depending on `v1.6.0` and a dependency on `io.opentelemetry:opentelemetry-exporter-otlp-http-trace` (no dependency on `io.opentelemetry:opentelemetry-exporter-otlp-trace`.

I was able to successfully autoconfigure and export data to the collector using both:
[code]
and
[code]

I also double checked the `testOtlpHttpImplementation` test

[2021-09-19 22:54] cwildman commented on #3627
@dittakaviram I was seeing the same issue as you with metric values of zero being dropped and confirmed this is an incompatibility with v0.7.0 and earlier of the proto. Commented on that change [here](https://github.com/open-telemetry/opentelemetry-proto/pull/278/files#r711815462).

[2021-09-20 13:45] Oberon00 commented on #3634
I wonder if we actually want to provide a classloader as parameter. Wouldn't it be enough to just always use the same classloader in which the autoconfigure artifact is loaded? At least that feels like a better default to me than the context classloader.

[2021-09-20 14:10] Oberon00 commented on #3633
I tried and could not reproduce it either. This probably means that I was forgetting to recompile or made a similarly stupid mistake. Sorry for wasting your time! 🙈

[2021-09-20 14:10] #3633 closed

[2021-09-20 20:51] trask commented on #3634
I think it's more conventional for the context class loader to be the default, because this allows the class that's doing the loading (e.g. Spring or OTel) to be shared (e.g. in an ear file or shared app server library), and still see and load implementations of its interfaces that are in your app (e.g. in a war file).

I'm surprised that Google Cloud Functions isn't setting the context class load

[2021-09-21 14:43] hdost opened #3641 "Wildcard support Tracer"
What I'm looking for:
https://github.com/open-telemetry/opentelemetry-dotnet/blob/main/src/OpenTelemetry/Trace/TracerProviderBuilderBase.cs#L58

There is a concept of AddSource() for the TracerProviderBuilder.

I know that the concepts are not exactly the same, and maybe this could be clarified with documentation. However, what would be the recommended way in Java to filter out information from ce

[2021-09-21 14:44] hdost opened #3642 "Metrics Views API: Wildcard Support"
Mimic dotnet Tracer
https://github.com/open-telemetry/opentelemetry-dotnet/blob/main/src/OpenTelemetry/Trace/TracerProviderSdk.cs#L161

Related
https://github.com/open-telemetry/opentelemetry-dotnet/issues/2377

[2021-09-21 14:53] jkwatson commented on #3641
Can you explain what you mean by this? I don't read .Net code particularly well, and it would be helpful to outline what you're trying to accomplish. Is this something that we're out of compliance with the specification?

[2021-09-21 15:26] hdost commented on #3642
So I believe it already is part of the specification here https://github.com/open-telemetry/opentelemetry-specification/blob/02a1679c22f71ba35b925c7995544e88290e5133/specification/metrics/sdk.md#view when it refers to registering views. Being able to provide a wildcard on the name so that many exports can happen.

[2021-09-21 16:43] jkwatson commented on #3642
Can you update the title of this issue to make it clear that it's related to the Views API in the SDK?

[2021-09-22 13:43] Oberon00 opened #3650 "Autoconfigure SHOULD append /v1/(traces|metrics) to OTEL_EXPORTER_OTLP_ENDPOINT"
See the description of "Endpoint (OTLP/HTTP)" at https://github.com/open-telemetry/opentelemetry-specification/blob/v1.6.1/specification/protocol/exporter.md#configuration-options:

Note this does not apply to the signal-specific envvars.

This is actually an important SHOULD, because otherwise OTEL_EXPORTER_OTLP_ENDPOINT cannot sensibly be used because metrics and traces would be sent to the same

[2021-09-22 14:40] carlosalberto opened #3651 "Add an OTLP http/json exporter"
Based on https://github.com/open-telemetry/opentelemetry-specification/issues/1957 we would like to add prototypes in other languages to validate this.

Lightstep has interest in this, so if everybody has interest in this (or has his/her own prototype) please speak up ;)

[2021-09-22 14:49] tnevolin commented on #3651
Here I am.

[2021-09-22 14:58] jkwatson commented on #3651
@anuraaga and I had decided that we don't particular think this is of high value when we already have OTLP/grpc *and* OTLP/http. What is the benefit of having yet another http-based exporter?

[2021-09-22 15:05] jack-berg commented on #3650
Good catch! I'm happy to fix this.

[2021-09-22 16:24] carlosalberto commented on #3651
Overall we need prototypes in other languages - @jkwatson do you think then this would be a _bad_ idea to add it, even if Lightstep were to contribute it fully?

[2021-09-22 18:40] jkwatson commented on #3651
more code to maintain. Could it be built in opentelemetry-java-contrib for the prototype?

[2021-09-23 02:37] anuraaga commented on #3651
I think it actually is a bad idea to be honest, even in the contrib repo. It's yet another option users need to choose from - while grpc and http do have clear tradeoffs and use cases (http2 vs 1, large binary vs small, etc), json doesn't - it's actually worse in basically every way I think, less performance, larger binary size due to inclusion of jackson. I think there's only potential for user c

[2021-09-23 02:39] anuraaga commented on #3651
So we do use json for the logging OTLP exporter - perhaps that can be used in some way for this. If collector had a receiver that accepted log lines of ResourceSpans json that would be useful!

[2021-09-23 08:42] dittakaviram commented on #3627
Thanks @anuraaga & @cwildman. I was able to resolve the issue by removing the jars of the older versions of opentelemetry-proto which were lying around in the local maven repository on my machine and somehow getting built into the application jar even though the pom.xml indicates a newer version. I'm now using the latest version and the metric data is appearing in the expected format post json con

[2021-09-23 08:42] #3627 closed

[2021-09-23 11:47] rypdal commented on #3650
Thanks to @Oberon00  for discussion of the issue and specification. It applies to [opentelemetry-dotnet](https://github.com/open-telemetry/opentelemetry-dotnet) as well. I'm going to fix it in a scope of this PR: https://github.com/open-telemetry/opentelemetry-dotnet/pull/2316

[2021-09-23 14:36] carlosalberto commented on #3651
@anuraaga In JS it already exists, but the point is that we need to test in other languages (if the time is needed). Having it in a single language is not much of help.

That sounds like a _hack_ and I wouldn't go for it.

As the name implies, it's only a prototype - we may even leave it as as something like EXPERIMENTAL, and retire it or something (once we validated a few things, so we know that

[2021-09-23 14:43] anuraaga commented on #3651
An http/json exporter seems like more of a hack really - the log exporter is actually useful.

That sounds like it doesn't need to even be merged or could live in a fork right? I don't want users to find this.

[2021-09-23 14:45] anuraaga commented on #3651
FWIW we've gone through a lot of effort making the proto exporter very efficient with no binary size or similar tradeoff at all. Languages that haven't done this would probably be more receptive to trying a json approach, we just don't really have any use case for it.

[2021-09-23 15:18] ecourreges-orange commented on #3009
In the mean time of solving the spec (I think I saw a similar proposal elsewhere), I think we need to put a warning in the doc of opentelemetry-java-instrumentation that the zipkin exporter ignores all resource attributes except for `service.name`.
I lost a bit of time, noticed a `otel.dropped_attributes_count` in my spans, and figured that in the code of the exporter.
For example in opentelemetry

[2021-09-23 15:23] carlosalberto commented on #3651
Go tell that to the JS group ;)

But jokes aside, as I said, there's no actual use of it right now in Java, other than verifying the encoding and the rest will not be a problem in the future for other languages (better be safe than sorry). So yes, let's keep it in another repo, open a Draft PR, keep it there for discussing, and that would be all.

[2021-09-23 15:29] anuraaga commented on #3651
I have a feeling they'd mostly agree :)

Draft PR or similar seems good. It should be pretty small, we already have the marshaling

https://github.com/open-telemetry/opentelemetry-java/blob/main/exporters/otlp/common/src/test/java/io/opentelemetry/exporter/otlp/internal/traces/TraceRequestMarshalerTest.java#L364

Since we don't have to worry about making it publishable it might just be two lines o

[2021-09-23 16:38] jsuereth opened #3654 "Is it possible to suppress kotlin coroutine compile time error messages?"
When compiling/building everything I see this:
[code]

I'd hope if we are knowingly taking care, we'd have an appropriate `@SuppressWarnings` kotlin equivalent here.

[2021-09-23 18:59] Jeffrey778 commented on #1077
@jkwatson  I can't open above links, can anyone fix them?

[2021-09-23 19:42] jkwatson commented on #1077
I no longer work for New Relic, so I can't.

[2021-09-23 19:44] jkwatson commented on #3009
Currently the spec does not say what is supposed to happen with the Resource and zipkin:  https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk_exporters/zipkin.md

[2021-09-23 21:13] jkwatson commented on #3654
Where do you see this? I don't get this warning anywhere when I run `./gradlew :extensions:kotlin:compileTestKotlin` even after doing a clean.

[2021-09-24 08:17] jaz1414 opened #3660 "Java - Parent Span does not cover @Async method Child Span"
**Describe the bug**
I've created a sample code to implement OpenTelemetry Tracing. I made a custom annotation and within this annotation contains the Trace code, custom annotation was used to track all methods in the application and become dynamic. When using span on async child methods. It creates a new parent span instead of becoming a child span. We are using Google Cloud Platform's Trace to v

[2021-09-24 10:09] anuraaga commented on #3660
Async causes the child method on another thread so it doesn't have access by default to the "current" span of the parent thread. You need to configure propagation of context across threads.

If you already have a task executor you can just wrap it, or otherwise may have to define a task executor first to wrap.

https://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/sc

[2021-09-24 14:34] jagdishkulkarni opened #3661 "Supporting B3 baggage propagation"
**Is your feature request related to a problem? Please describe.**
Currently we just have [W3CBaggagePropagator](https://github.com/open-telemetry/opentelemetry-java/blob/main/api/all/src/main/java/io/opentelemetry/api/baggage/propagation/W3CBaggagePropagator.java). This is not compatible with [Jaeger B3TextMapCodec](https://github.com/jaegertracing/jaeger-client-java/blob/master/jaeger-core/src/m

[2021-09-24 16:07] jkwatson commented on #3661
Hi @jagdishkulkarni . If this is going to go into this main API/SDK, it would need to be specified in the OpenTelemetry specifications. Otherwise, I'm sure this would be a welcome contribution to opentelemetry-java-contrib.

[2021-09-24 18:19] tnevolin commented on #3651
@anuraaga
You mentioned existing code in main SDK repository. Do you want modification and draft PR to be done against this repository or move exporter completely to contrib one and make draft PR from there?

[2021-09-24 20:53] jkwatson commented on #3651
Draft PR here is fine for spec review...we won't plan on actually merging it.

[2021-09-28 02:52] jaz1414 commented on #3660
I already have a task executor. How would you suggest I use this `Context.taskWrapping `in my current code?

[2021-09-28 02:58] anuraaga commented on #3660
@jaz1414 Are you able to provide a snippet on how you implement your task executor? For example, is it a bean that returns `Executor`?

[2021-09-28 03:25] jaz1414 commented on #3660
yep it looks like this

![image](https://user-images.githubusercontent.com/91311976/135017930-ba717b32-be90-409b-a639-919352fe7827.png)

[2021-09-28 03:33] anuraaga commented on #3660
So I think you should just be able to do something like `return Context.taskWrapping(executor)` on line 22. Are you able to give that a try?

[2021-09-28 13:48] Oberon00 commented on #3650
I created open-telemetry/opentelemetry-specification#1975 to clarify the spec.

[2021-09-29 02:49] jaz1414 commented on #3660
it worked, the async child attached to its parent. thanks a lot for the help! closing this issue

[2021-09-29 02:49] #3660 closed

[2021-09-30 14:50] jsuereth commented on #3642
@hdost Quick question on this.  Right now, you can pass any `Predicate<String>` to the SDK API, with direct regex support.

AFAIK this meets the spirit of the spec, because you have complete regex matching.  Can you be more specific with your request?  Do you want a specific way to convert from `glob String` => `Predicate<String>`?

[2021-10-01 12:33] hdost commented on #3642
I apologize, this was a misunderstanding on my part. So long as it fits that use case I see no reason to keep this open.

[2021-10-01 12:33] #3642 closed

[2021-10-04 19:43] jsuereth opened #3691 "Figure out how to use AnchoredClock for exemplar measurements."
Exemplars (especially those sampled during an active trace), should be able to grab wall-clock time @ nanosecond resolution from an AnchoredClock to line up w/ traces.

Currently, they (will) call `Clock.now()`, but against the default system clock which is millisecond resolution and possibly expensive.

[2021-10-05 19:07] kylannjohnson commented on #3438
I've been experimenting with version 1.6.0 on Android and, since our min API level is 23, it fails at runtime with this exception.

[code]

The [static method](https://developer.android.com/reference/java/util/Comparator#comparing(java.util.function.Function%3C?%20super%20T,%20?%20extends%20U%3E)) isn't support on Android until API 24.

Is the min API of 24 a hard minimum?  What other APIs are onl

[2021-10-05 19:48] #3650 closed

[2021-10-05 21:46] jack-berg commented on #3407
This was done and merged [here](https://github.com/open-telemetry/opentelemetry-java/pull/3670). Also added a otlp http/protobuf log exporter [here](https://github.com/open-telemetry/opentelemetry-java/pull/3682).