[2020-05-26 19:41] bogdandrutu commented on #1269
[code]

I don't see a non bom dependency for guava. In your description there is a guava

io.opentelemetry:opentelemetry-api:0.5.0-SNAPSHOT
|    |    |    +--- io.grpc:grpc-bom:1.28.0
|    |    |    |    \--- io.grpc:grpc-context:1.28.0 (c)
|    |    |    +--- com.google.guava:guava-bom:28.2-android
|    |    |    |    **\--- com.google.guava:guava:28.2-android (c)**
|    |    |    +--- com.google

[2020-05-26 19:48] Oberon00 commented on #1269
Even juat a BOM can cause version conflicts at build time, can't it?

[2020-05-26 20:19] iNikem commented on #1269
@bogdandrutu Tried again:
[code]

[2020-05-26 20:20] iNikem commented on #1269
Your output is of `opentelemetry-api`. I check the dependencies of the *client* of `opentelemetry-api`.

[2020-05-27 09:58] iNikem commented on #1269
I think I know the reason. In top level `build.gradle` on line 181 you define dependencies for ALL projects:
[code]

Meaning that even `api` project will have guava and Zipkin as dependency and all clients of api will have them as runtime dependencies. I don't think such global dependency declaration is a good thing.

[2020-05-27 14:23] Oberon00 opened #1279 "Jaeger exporter should not depend on opentelemetry-proto"
Snip from `./gradlew :opentelemetry-exporters-jaeger:dependencies`:

[code]

I think the jaeger exporter should not have this dependency.

The problem seems to be that it actually uses functions defined in sdk-contrib-otproto:
https://github.com/open-telemetry/opentelemetry-java/blob/192137e7759a6aec6c4e17bf378ba6a535463dd5/exporters/jaeger/src/main/java/io/opentelemetry/exporters/jaeger/Adapter.j

[2020-05-27 19:07] bogdandrutu commented on #1269
We have the bom dependency not a concrete dependency on any of these.

[2020-05-27 19:08] bogdandrutu commented on #1269
I am confused about that, what do you mean? I think guava concrete artifact (not the bom) comes from the auto-instrumentation not from us.

[2020-05-27 19:22] iNikem commented on #1269
I have made an empty Gradle project with the following build.gradle file:
[code]

If I have only dependency on guava version 20, then running `./gradlew deps` will give me:
[code]

If I add dependency on `opentelemetry-api:0.5.0-SNAPSHOT`, then running `./gradlew deps` will give me:
[code]

If I change version of `opentelemetry-api` to `0.4.0`, then running `./gradlew deps` will give me:
[code]

I

[2020-05-27 21:24] trask commented on #1269
Oh, thanks for that explanation, makes sense to me now.

And yes, I agree, adding the `opentelemetry-api` dependency should not inadvertently affect the version of `guava` that an app happens to be using.

Great catch before `0.5.0` was even released!

[2020-05-28 10:26] iNikem commented on #1269
At last I fully understand what is going on :) Bogdan is right, but that does not void the problem :)

`api` module publishes pom file, which has `dependencyManagement` section. There pom file imports `guava-bom:28.2-android`.

Now any project which uses otel-java `api` module and declares itself a guava dependency will have that dependency version overwritten by `dependencyManagement` from `api`

[2020-05-28 11:34] Oberon00 commented on #575
I think this issue is more serious than I initially thought. See my comment at https://github.com/open-telemetry/opentelemetry-java/pull/1281#discussion_r431768732:

[2020-05-28 13:37] bogdandrutu commented on #1269
@iNikem yes that was my point, you got that.

[2020-05-28 13:57] anuraaga commented on #1269
IMO dependency management in Gradle is still an unsolved problem. Have seen so many problems with different approaches.

I thought this issue might be an issue with Gradle metadata being incorrect and wouldn't affect Maven. But needs some investigation since I notice the POM says Gradle metadata is published, see comments on beginner of this file

https://repo.maven.apache.org/maven2/io/openteleme

[2020-05-28 14:16] iNikem commented on #1269
I don't see any deep problem here, actually. `api` publishes a constraint on an artifact that it does use/need. Solution: remove this unneeded dependency. Other modules, e.g. `sdk`, actually depend on some specific version of `guava`. Thus they declare it and require it.

[2020-05-28 15:02] arminru opened #1283 "Remove SpanId from Sampler input"
see https://github.com/open-telemetry/opentelemetry-specification/pull/621

[2020-05-28 17:28] jkwatson commented on #1258
Note: I chatted with @trask this morning in the auto-instrumentation meeting, and he mentioned that the auto-instrumentation project never uses any of the methods that take Maps directly. So, maybe we should start by removing the maps from the public API, and figure out an internal, immutable representation as a separate effort.

[2020-05-29 15:17] iNikem opened #1290 "Outdated Zipkin README"
Readme at https://github.com/open-telemetry/opentelemetry-java/tree/master/exporters/zipkin still speaks about `ZipkinExporterConfiguration`, which was removed recently. Please update documentation to demonstrate new recommended work-flow.

[2020-05-29 15:52] #1283 closed

[2020-05-29 15:54] jkwatson opened #1291 "Rename SpanDataImpl to TestSpanData"
Since it's only used by tests now. Possibly relocate it to a `testing` subpackage as well.

[2020-05-29 19:35] #1269 closed

[2020-05-31 00:55] eli-jordan commented on #663
Any update on when this is coming / where it will be published?

I noticed that a stackdriver exporter was recently added to the collector

[2020-05-31 17:11] dansiviter commented on #663
Found it: https://github.com/GoogleCloudPlatform/opentelemetry-operations-java

[2020-06-01 10:43] iNikem commented on #778
Java Instrumentations are very eager to start using such specialised spans (I like to call them "semantic spans"). As instrumentations will be the biggest (and for the time being the only) client if this new API, I propose to start actually implementing them as part of `java-instrumentation` repo, not this repo. When API stabilises through actual usage, then we can move it here. We can publish a s

[2020-06-01 14:18] #1290 closed

[2020-06-01 14:23] carlosalberto commented on #778
IIRC there was initial agreement on working on this in the `java-instrumentation` repo, as you suggest (as well as the rest of the plan). And IIRC one issue was the lack of resources, developer-wise ;)

[2020-06-01 14:31] iNikem commented on #778
@thisthat You said today that you are working on this. Have I understood you correctly? In what repo?

[2020-06-01 18:51] #1239 closed

[2020-06-01 22:42] bogdandrutu opened #1302 "Revisit the batcher used in ValueObserver classes"
* Currently this does not remove duplicate records in the same cycle.
* StartTime is reset every export cycle, we may not want start time at all.

[2020-06-01 22:44] #1291 closed

[2020-06-01 22:44] trask commented on #778
@iNikem if u haven't seen it already, check out @thisthat's POC https://github.com/open-telemetry/opentelemetry-java/pull/964

@Oberon00 had reservations about this particular proposal being implemented in the auto-instrumentation repo: https://github.com/open-telemetry/opentelemetry-java/pull/964#issuecomment-595694204

@Oberon00, now that auto-instrumentation repo scope has been officially expan

[2020-06-02 08:10] thisthat commented on #778
Currently, it is still an internal thing. We will open a PR in the following days :)

[2020-06-02 10:16] iNikem commented on #778
Eagerly looking forward :)

[2020-06-02 10:27] Oberon00 commented on #778
@trask

Caveat: For Dynatrace-internal reasons, it would be more convenient to use for me if it were in the opentelmetry-java repo, so I'll personally always favor that.

But also, I think this opentelmetry-java the only logical place if we want manually-instrumenting applications or natively instrumented 3rd party libraries to also use them.

Why is it not possible to use the package in the auto

[2020-06-02 10:50] thisthat commented on #778
I think that Typed **Spans** should belong to this repository whereas Typed **Tracers** should belong to the instrumentation repository.

[2020-06-02 11:00] iNikem commented on #778
My biggest concern will all this is develop/release/feedback cycle. If spans are in this repo, tracers and clients in general are in `instrumentation` repo, than feedback cycle will be awful. When they get stable - sure, makes all the sense.

[2020-06-03 15:24] jkwatson opened #1303 "Add the ability to specify a Span Kind using the WithSpan annotation"
**Describe the solution you'd like**
Add an optional parameter to the `WithSpan` annotation that specifies the span Kind to create.

**Describe alternatives you've considered**
Doing this manually is possible, but it would be nice to have it built in to the annotation.

[2020-06-03 22:00] jkwatson commented on #1275
This is still breaking occasionally. reopening.

[2020-06-04 02:54] fmhwong opened #1305 "ClassCastException in OpenTelemetrySdk.getTracerProvider()"
**Describe the bug**
`ClassCastException` was thrown when running this code snippet

[code]

Exception:
[code]

**Steps to reproduce**
The above code was fine when running in a Java main program.  When it was running inside an application server, the `ClassCastException` was encountered.

**What did you expect to see?**
No exception is thrown.

**What did you see instead?**
`ClassCastException` wa

[2020-06-04 04:35] thisthat commented on #1305
`io.opentelemetry.trace.DefaultTracerProvider` is an API class, whereas `OpenTelemetrySdk.getTracerProvider()` tries to load an SDK class.
It looks like your application is not loading the SDK. Could you please attach your build script?

[2020-06-04 16:54] bogdandrutu commented on #1258
We discussed this last week, there are other APIs that use map and we cannot completely get rid of all

[2020-06-05 01:18] fmhwong commented on #1305
I ran `../gradlew fatJar` from `https://github.com/open-telemetry/opentelemetry-java/tree/master/examples/jaeger` and used the jar file `opentelemetry-examples-jaeger-all-0.1.0-SNAPSHOT.jar` in the server.

[2020-06-05 06:13] thisthat commented on #1305
Which application server are you using?

[2020-06-05 09:23] yaoyuandota opened #1310 "why opentelemetry api"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other cont

[2020-06-05 10:01] anuraaga opened #1311 "Resource sdk.version support"
**Is your feature request related to a problem? Please describe.**

Let me know if I'm missing it but I don't think the SDK fills in information about itself as described here

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/resource/semantic_conventions/README.md#telemetry-sdk

**Describe the solution you'd like**

The SDK should fill in the SDK attributes.

[2020-06-05 10:04] anuraaga commented on #1311
I'm happy to implement this if there's agreement on a general approach. Mainly found this to make sure that I was worried I might squash it.

Given the `Resource` is composed of many different concepts (instance, container, process, SDK) that get merged, I wonder if moving resource to its own SPI would be cleanest. Then any and all relevant `ResourceProvider`s can contribute attributes to the fina

[2020-06-05 10:55] Oberon00 commented on #1311
Slightly related, one of the main arguments for #1058 is currently that it is currently very hard to explicitly set a resource that is used by the global TracerSdkProvider.

[2020-06-05 14:17] carlosalberto commented on #1310
Hey @yaoyuandota is this a question on the technical/ideological reasons behind this, or is this a request to have a rationale explaining this?

That being said, as OTel includes many languages, it's probably something that can be asked in the Specification repo.

[2020-06-05 16:20] bogdandrutu commented on #1311
@Oberon00 `Resource` is an SDK part so it is not related to #1058 which allows to setup any implementation.

I would suggest probably to add a `Setup` method on the `TraceProviderSDK` that can be used to setup all the things `Resource`, `IdGenerator`, `Config` etc. We can have a behavior that before calling setup the SDK may be no-op or may have some defaults (we can discuss that).

[2020-06-05 16:22] bogdandrutu commented on #1310
I am not sure what it means `same`, please clarify. Also I am going to move this to the specification repository.

[2020-06-05 16:24] bogdandrutu commented on #1303
I think we agreed on this. Somebody needs to implement it.

[2020-06-05 16:29] bogdandrutu commented on #1149
https://github.com/open-telemetry/opentelemetry-java/issues/1311#issuecomment-639607426

I have some questions about this:
1. Should we always require setup to be called? Probably yes - part of setup we should ask user to add the span processor.
2. What is the default behavior before setup? Should this be configurable? If yes, how?

[2020-06-05 16:31] bogdandrutu commented on #1092
Have not seen this in the past month or so, closing.

[2020-06-05 16:31] #1092 closed

[2020-06-05 16:34] bogdandrutu commented on #1105
@sfriberg I would like to see a small prototype of this idea. I think overall is a good addition to the API.

In order maybe to keep span read-only we can simply just return an object from start and pass that object back to the end call.

[2020-06-05 16:36] bogdandrutu commented on #876
@jkwatson lazy parsing and validation of the tracestate is a nice addition to our project. I am happy to see a PR around that idea.

[2020-06-05 16:45] Oberon00 commented on #876
I think a better design might be to propagate and store the tracestate more independent of trace+spanid on the Context. That would be a spec change though.

[2020-06-05 17:22] bogdandrutu commented on #690
This is closed and the new method was added `getTraceRandomPart`

[2020-06-05 17:22] #690 closed

[2020-06-05 18:34] bogdandrutu commented on #1311
Also I think the initial issue was about the SDK automatically adding the library version to the resource, which we should do anyway.

[2020-06-05 19:27] fmhwong commented on #1305
I was using https://github.com/OpenLiberty/open-liberty.

I added the code block at the top of this issue to a servlet filter.  If I packaged the servlet filter in a WAR file and ran it on OpenLiberty, I didn't get the `ClassCastException`.

However, if I packaged the servlet filter inside a OSGi bundle, it always resulted in `ClassCastException`.

[2020-06-05 21:37] #1230 closed

[2020-06-06 03:36] anuraaga commented on #1311
Yeah sorry for possible noise - it was about automatically adding the library version, but in a way that doesn't clobber with user-configured resources. The latter actually seems pretty tricky :)

[2020-06-06 03:43] anuraaga commented on #1149
My opinion is

1) require setup
2) everything no-op until it's called. Some background thing may happen before a user gets to setup the SDK (e.g., initialize db connection pool) and it would add noise if these got instrumented but without the proper setup.

[2020-06-06 03:47] godev-learner opened #1313 "Collector Not collecting metrics if the collection interval is less that the metric generation interval"
**Describe the bug**
I am using the method setExportIntervalMillis to set the collector interval to 2500 ms ans generating metrics at the rate like 4000ms,
although initially the collector will not receive any metrics but on the 2nd attemps means on 5000ms it should pickup some metrics, but that is not happening

**Steps to reproduce**
Set the setExportIntervalMillis to the value less than the tim

[2020-06-06 03:56] anuraaga opened #1314 "Too many wrapper objects?"
**Is your feature request related to a problem? Please describe.**

Currently there are many wrapper objects like `TraceId`, `SpanId`. In other languages these may be cheap but in Java, allocations do affect app performance and instrumentation needs to take efforts to reduce the burden on an app. Lately there's some buzz on the interwebs about this topic folks may have seen :)

**Describe the solu

[2020-06-08 04:42] anuraaga opened #1315 "Accessors for Span fields such as kind"
**Is your feature request related to a problem? Please describe.**

`SpanBuilder` has mutators for aspects like `kind`, but `Span` does not provide accessors. This makes writing unit tests for instrumentations fragile. For example, I have a helper method to create client spans but can't write a unit test verifying the span is the correct kind.

https://github.com/open-telemetry/opentelemetry-java-

[2020-06-08 08:00] iNikem opened #1316 "Extend `XXXAttributeSetter` API to accept `Span.Builder`"
#758 introduced `SemanticAttributes` class which allows for type- and semantic-safe way to set span attributes. It would be amazing to have the same functionality for `Span.Builder` as well. As [it is encouraged](https://github.com/open-telemetry/opentelemetry-specification/blob/4ab7c2fb4964c14fe972b03b5bb6825573bafb24/specification/api-tracing.md#span-creation) to set attributes on a builder when

[2020-06-08 13:51] bogdandrutu commented on #1315
`Span` must be write only with the exception of spancontext. The reason is that the interface should allow implementation that buffer events and send them when the Span ends, or implementations that stream individual events. For testing you can use our SDK + the testing contrib artifact.

[2020-06-08 13:55] bogdandrutu commented on #1314
I agree with your concern, but we try to not expose the internal representation of the SpanId for example. We should think about an API that does not expose the internal details but may achieve what you suggest.

[2020-06-08 14:16] anuraaga commented on #1315
Not finding the testing artifact, but assuming I find it, I still wonder if that needs to apply to everything and not just to the mutable fields. `kind` is set when creating the span, similar to spancontext, so doesn't that mean it makes sense to expose it? Don't think there's any buffer involved.

[2020-06-08 14:17] Oberon00 commented on #1316
I think this is a duplicate of #1075. AFAIK there is already something in the works but it's a larger refactoring.

[2020-06-08 14:19] iNikem commented on #1316
@Oberon00 do you think that we should not merge #1317 and instead to wait for #1075? I rather have this PR merged so that I can use it instrumentations repo.

[2020-06-08 14:28] Oberon00 commented on #1316
As I commented on your PR, I think it is still a great improvement. I don't know the current status of the #1075-related PRs though.

[2020-06-08 14:47] carlosalberto commented on #1315
@anuraaga This is the code: https://github.com/open-telemetry/opentelemetry-java/blob/master/exporters/inmemory/src/main/java/io/opentelemetry/exporters/inmemory/InMemoryTracing.java (part of the `inmemory` artifact).

There was also the mention of having a stream-based API, which would be sending the values over the wire always, not keeping them around. In that case, simply exposing/returning `ki

[2020-06-08 15:18] jkwatson commented on #1303
I'll grab it from the API side, and the hand it off to the instrumentation team to make it actually work.

[2020-06-08 15:53] carlosalberto commented on #1311
Sounds great to me. +1 for some default values on start time.

[2020-06-08 15:58] carlosalberto commented on #1314
Something interesting here is how  we would proceed with cases where `TraceId` and `Spanid` exist by themselves (such as in the sampling API).

[2020-06-08 17:40] godev-learner commented on #1313
Any update on this

[2020-06-08 17:51] jkwatson commented on #1313
Hi @godev-learner . I don't think anyone has had a chance to take a look at this. Do you have a simple code example of this happening you could provide?

Thanks!

[2020-06-08 18:22] godev-learner commented on #1313
@jkwatson Thanks for the response you can take a look at the below
Below is the code I am setting the interval for the reader

` MetricExporter metricExporter =
                OtlpGrpcMetricExporter.newBuilder()
                        .setChannel(ManagedChannelBuilder.forTarget(otlpEndpoint).usePlaintext().build())
                        .build();

        // 2. setup metric collection interval

[2020-06-08 18:22] bogdandrutu commented on #1314
@carlosalberto one option is to expose all methods on the SpanContext instead of exposing them on their own objects. I would like to see a prototype before making a decision

[2020-06-08 18:26] jkwatson commented on #1313
I'll try to take a look at this as soon as possible. Just out of curiosity, if you use the logging exporter, rather than the collector, do you see the same behavior?

[2020-06-08 18:33] godev-learner commented on #1313
yes I do see the same behaviour for the logging exporter as well.

[2020-06-08 18:37] jkwatson commented on #1313
Excellent. That will make it much simpler to reproduce. We also need to create an "In Memory" metric exporter that we can use to do unit testing for this, I think.

[2020-06-08 18:44] godev-learner commented on #1313
ok, let me know if you need anything from my side.I was trying to see if there is trigger that will flush the channel, but I am not able to find any. let me know if you find anything.

[2020-06-08 22:28] jkwatson commented on #1313
@godev-learner I tried to reproduce this with the code here:  https://gist.github.com/jkwatson/de3e333fd9094581c33f1590201da8bd

Everything worked fine for me. Can you try updating to 0.5.0 and see if this code works for you?

[2020-06-09 00:40] godev-learner commented on #1313
I tried using the 0.5.0 but same thing I am still not able to get it working, I am using to below code for collector
https://github.com/mxiamxia/opentelemetry-collector-contrib/tree/emf_exporter/exporter/awsemfexporter
and below for metrics generation
https://github.com/mxiamxia/aws-cloudwatch-opentelemetry-sample/blob/master/generator/src/main/java/com/amazon/cloudwatch/otel/metrics/MetricGenerat

[2020-06-09 00:45] jkwatson commented on #1313
Did you try running my code to verify it works correctly?

[2020-06-09 01:09] godev-learner commented on #1313
No even your code doesn't work in my setup.

[2020-06-09 01:18] godev-learner commented on #1313
Made some simple changes in your code and after that I tested it and it seems it also doesn't work below is the modified code, I have only created a object of OtlpGrpcMetricExporter instaed of TestExporter()
`
public class BugReproTest {
    private static final String OTLP_ENDPOINT = "otlp.endpoint";
    private static String otlpEndpoint = "127.0.0.1:55680";
    private BugReproTest() {}
    pub

[2020-06-09 02:07] jkwatson commented on #1313
Hang on, before we get to the OLTP exporter...  If you run my example, as is, with the TestExporter, do you see metrics showing up? If you don't, then there's something fundamental going wrong that we need to figure out. Can you provide more details about how you're building, running, etc?

[2020-06-09 02:10] godev-learner commented on #1313
yes I am able to run your example if I just use the TestExporter.

[2020-06-09 02:14] godev-learner commented on #1313
For testing your class I am just running the  java program you have provided me nothing special.

[2020-06-09 02:17] jkwatson commented on #1313
Next step: If you run my example with the LoggingExporter (rather than OLTP), does that work?

[2020-06-09 02:17] godev-learner commented on #1313
sorry I missed I checked again and it seems that your class is also not working as expected in my environment

[2020-06-09 02:20] godev-learner commented on #1313
ok let me check

[2020-06-09 02:20] jkwatson commented on #1313
oh no! So, we need to know more about your environment then, since this works fine when I run locally from my IDE.

[2020-06-09 02:22] godev-learner commented on #1313
no thats ok, my mistake I was 2 programs your test is running fine in my env, I confirmed Thats why I deleted the comment

[2020-06-09 02:25] godev-learner commented on #1313
I will check on this step.

[2020-06-09 02:36] godev-learner commented on #1313
I check with the Logging exporter and it seems to be working as you can see below

[code]

[2020-06-09 02:49] jkwatson commented on #1313
ok. good news, then. We've isolated the issue to either the OLTP exporter, or the collector itself. My suspicion is that it's the collector, since the OLTP exporter is pretty simple. I'll take a look tomorrow and see if I can locally add some debugging to the exporter and see what's up.

[2020-06-09 02:49] godev-learner commented on #1313
ok sure thanks.

[2020-06-09 05:37] trask commented on #575
Interestingly, [the specification](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/context/context.md#overview) is pretty clear on what should be done:

[2020-06-09 08:14] arminru opened #1320 "Releases section in readme is outdated"
The handcrafted releases section, prominently placed in the README, is outdated:
https://github.com/open-telemetry/opentelemetry-java#releases

It still lists 0.3.0 as the most recent one and claims spec compatibility with 0.3.0.
Can we just replace everything with 0.5.0 or are there any spec 0.4/0.5 features/updates yet to be implemented?

[2020-06-09 08:49] anuraaga opened #1321 "Allow exporters to decorate SpanData"
**Is your feature request related to a problem? Please describe.**

Exporters input `SpanData` and export to a backend. It seems reasonable to allow an exporter to do backend-specific transformations on the `SpanData` during this process. Currently, there is no simple way of doing this, trying to create the object requires internal or testing classes like `SpanWrapper` or `TestSpanData`.

**Descri

[2020-06-09 18:37] godev-learner commented on #1313
@jkwatson  did you get the chance to check on this

[2020-06-09 19:07] jkwatson commented on #1313
I'm just picking this up (sorry...it's been a busy morning). How are you running the collector?

[2020-06-09 19:11] godev-learner commented on #1313
same in my intellij. just as it is a go program we have provide some argument like below
args": ["--config=${fileDirname}/../aws-otel.yaml"]

[2020-06-09 19:47] jkwatson commented on #1313
I've found a bug... the exporter is being given a `null` Point in one of the metrics on the first collection cycle, causing it to blow up and the backing thread to die. Thanks for this report, and providing the detailed case to help reproduce.

Note: I think the bug is actually in the metric system itself, rather than the exporter, but the exporter should also be a bit more robust to this sort of

[2020-06-09 19:53] jkwatson opened #1324 "IntervalMetricReader should protect itself against exporters throwing exceptions"
If a MetricExporter throws an exception, the IntervalMetricReader does not report the exception, and the scheduled thread exception will be halted.

The IMR should make sure to catch and report exceptions thrown by exporters.

[2020-06-09 20:15] jkwatson opened #1326 "Null Point being passed to MetricExporters when no recordings have been made."
The `Aggregator.toPoint(long, long, Map)` method is marked as `@Nullable`, so Aggregator implementations are allowed to return no point when nothing has been recorded in a given interval.

I don't believe that these null points should be being passed to Exporters, however. They should be filtered out of the collection before being attached to a MetricData instance that is given to exporters.

Note

[2020-06-09 20:15] jkwatson commented on #1313
See
https://github.com/open-telemetry/opentelemetry-java/issues/1324
and
https://github.com/open-telemetry/opentelemetry-java/issues/1326
for 2 bugs I logged around this. Again, thanks for the report!

[2020-06-09 21:54] jkwatson commented on #1321
Hi @anuraaga . I'm confused with what you need here. Currently, an Exporter can do whatever it wants with the data that it is given. Why would you need to modify the SpanData itself before putting it on the wire? I feel like I'm missing something.

[2020-06-09 22:59] godev-learner commented on #1313
Thanks @jkwatson for creating the tickets.

[2020-06-10 09:08] anuraaga commented on #1321
@jkwatson Ah I missed some important context. The idea is to use an official exporter, such as the OTLP exporter, delegating to it after tweaking the spans. So for example, when the java auto instrumentation was marking AWS SDK spans as INTERNAL, the exporter was rewriting them to be CLIENT and delegating away.

Admittedly, this is a lot of back-and-forth with auto instrumentation, as I'll find so

[2020-06-10 11:04] chrvo opened #1328 "Allow adding events to Spans after calling .end() for asynchronous logging"
**Is your feature request related to a problem? Please describe.**
We are using log4j as logging framework with asynchronous logging for some deployments. At the moment, the logs from log4j are added to spans as events with a custom log4j appender. This works great for synchronous logging, but in case of asynchronous logging, we have to create new spans (with the original span as parent) to be abl

[2020-06-10 19:53] #1316 closed, assigned to nobody

[2020-06-10 21:56] jkwatson opened #1331 "Implement the metric BatchObserver from the spec"
See here:  https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/api.md#batch-observer

[2020-06-11 06:13] iNikem opened #1332 "Add name to SpanExporterFactory"
**Is your feature request related to a problem? Please describe.**
open-telemetry/opentelemetry-java-instrumentation#491 raised a problem of configuring which exporter should instrumentation agent use, when agent's jar contains several embedded collectors. There is no robust way atm to identify or distinguish different implementations of `SpanExporterFactory`.

**Describe the solution you'd like**

[2020-06-11 06:22] #1313 closed

[2020-06-11 15:17] #1077 closed

[2020-06-11 22:44] #1324 closed

[2020-06-12 03:00] nilebox commented on #663
This issue can be closed, see link for official repo above.

[2020-06-12 03:07] jkwatson commented on #663
closing

[2020-06-12 03:07] #663 closed

[2020-06-12 20:19] jkwatson commented on #1332
Seems reasonable. Are you interested in contributing a quick PR for it?

[2020-06-12 20:30] iNikem commented on #1332
What name do you prefer? I can add it, sure.

[2020-06-12 20:30] jkwatson commented on #1332
I think "getName()" is good, especially if the javadoc on it is clear as to what it's going to be used for.

[2020-06-12 21:36] #1303 closed

[2020-06-13 05:08] trask commented on #1328
I recommend capturing logs as spans for now (until there is an OpenTelemetry logging API). We started out capturing them as events but then switched to spans, see https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/212:

[2020-06-13 07:28] anuraaga commented on #1332
Isn't it quite normal to use the fully qualified class name when selecting an SPI implementation? SDK currently uses the approach too. It's guaranteed to be unique based on the nature of a Java classpath, while a name provided by a method has chances of collision which seems like something we don't want to deal with.

Having a hard-coded mapping from a short name to the fully qualified name for we

[2020-06-13 12:53] iNikem commented on #1332
Hm, @anuraaga does have a good point :) @trask what do you think about it?

[2020-06-13 18:43] trask commented on #1332
this makes sense to me. it doesn't solve our immediate problem which is that we have no auto-instrumentation tests for `otlp`, `jaeger` or `zipkin` exporters, and so our reliance on the class name is fragile, but probably we should just fix that 👍

[2020-06-13 19:20] iNikem commented on #1332
Closing this issue in favour of open-telemetry/opentelemetry-java-instrumentation#511

[2020-06-13 19:20] #1332 closed

[2020-06-13 19:51] ptravers commented on #962
I would like to pick up this issue. I believe the issue needs to be updated to instead reference:
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#sampling

[2020-06-13 19:55] jkwatson commented on #962
assigned!

[2020-06-13 20:59] trask commented on #1314
this would help efficiency of auto-instrumentation interop with manual instrumentation as well, where we currently have to wrap all of these objects individually

[2020-06-14 18:44] trask opened #1334 "Can CorrelationContext EntryKey/EntryValue be just Strings?"
The `String` values could still be validated on creation of the `Entry`.

These extra wrapper objects (`EntryKey` and `EntryValue`) create extra work for the auto-instrumentation bridge.

Also related to #1314

[2020-06-15 15:21] jkwatson commented on #1314
I'd be up for prototyping this idea. Do you have an idea of how to limit the scope of the prototype? This will be a very large change, in general.

[2020-06-15 15:28] jkwatson commented on #1334
@carlosalberto any reason these can't be made into plain strings, as @trask suggests?

[2020-06-15 21:02] carlosalberto commented on #1334
I don't remember any reason on why we _can't_ do this - overall sounds like a good idea to play with, although I wonder how could

[code]

be exposed without `Entry` objects. As this class is *expected* to be used publicly mostly to set values (and not get them), perhaps we can use the same approach used by the newly added `Attributes` class. Any opinion on this @bogdandrutu ?

[2020-06-15 21:09] jarebudev commented on #1275
i can take a look if noone is already

[2020-06-16 03:08] #1249 closed

[2020-06-16 19:12] jkwatson commented on #1334
@carlosalberto : I think the suggestion is to keep the `Entry`, but get rid of the extra key and value wrappers.

[2020-06-16 19:14] jkwatson commented on #1305
Can you include more of the stack trace? I'd like to know where in the code this is actually being invoked.

[2020-06-17 01:50] jkwatson commented on #575
I have mostly not voiced much opinion on this topic because I have felt that I didn't know enough to have a firm opinion.  However, at this point, my opinion is this:

We should have a java-interface-based (non-static-method-oriented) context API. I think it should probably be done outside the project, like the java-context prototype and consumed by this project.

I think it would be a mistake to

[2020-06-17 02:15] yurishkuro commented on #575
I agree, in principle. However, the implication here is that methods like `tracer.startSpan()`, which is currently documented as "make the new span a child of active span if the latter exists", become impossible unless the context object is passed in as an argument.

[2020-06-17 05:56] Oberon00 commented on #575
The context manager could be stored by the TracerProvider.

[2020-06-17 14:39] chrvo commented on #1328
Even with an OpenTelemetry Logging API, it should be possible to support the most important logging frameworks. For many projects it will not be feasible the replace the logging system.

[2020-06-17 14:51] #1100 closed

[2020-06-17 15:36] yurishkuro commented on #575
@Oberon00 it would still limit the implementation to some form of thread-local storage, which is especially annoying to teams who make a choice to use explicit context propagation.

[2020-06-17 15:37] jkwatson commented on #575
Yes, as @Oberon00 says, if we make the storage explicit, rather than implicit, then the SDK can be configured with the storage, and the SDK Tracer Provider can have the storage and provide access to the context for the tracer, as appropriate.

I'm not suggesting that we don't have storage somewhere; just that we eliminate the need to ever have to call Context.current() to get the current context,

[2020-06-17 16:09] carlosalberto commented on #575
The extra layer sounds like something nice to play with, but honestly I don't see any general-purpose library that support this, other than `grpc-context`.

Unless we want to de-facto do this to *specifically* help Reactor/Armeria applications hook up their context layer when their, uh, applications run. That, or have Zipkin or other APM vendor implement their very own SDK, but I don't imagine thi

[2020-06-17 17:14] jkwatson opened #1341 "Clean up the label processing logic in the prometheus MetricAdapter"
There's a TODO in the code for caching sanitized labels, for instance.

[2020-06-17 17:45] trask commented on #1328
Once OpenTelemetry logging API exists, we can use that as the destination for logs that we capture from existing logging frameworks.

[2020-06-17 18:05] #1187 closed

[2020-06-17 18:10] bogdandrutu commented on #1334
The reason on having Key as a class was to include maybe other metadata in the future. I think we don't have that many apis using the Key so even if that is the case we can have overloads.

Entry has key, value and TTL (if that is still defined)

[2020-06-17 18:11] bogdandrutu commented on #1314
@trask

Is there any way you can avoid wrapping and shading the API classes? Not an expert but it seems that a lot of wrapping/shading happens in auto-instrumentation.

[2020-06-17 18:14] bogdandrutu commented on #1314
@jkwatson for me a successful prototype:
* New SpanContext public API
* One propagator to see how can we efficiently decode from wire
* IdGenerator in SDK - just how the interface looks like
* How SpanBuilderSDK can construct a new SpanContext

The change does not have to build, I want to see only these 4 files (SpanContext.java/SpanBuilderSdk.java/w3cprop/idgenerator)

[2020-06-17 18:25] jkwatson commented on #1314
Cool. I started poking at it this a bit yesterday, and ran into exactly those 4 high-level items. I'll make a run at it soon.

[2020-06-17 18:56] trask commented on #1314
this [design document](https://docs.google.com/document/d/1Z5UWGk3d4vLIxx9TBfrU8g_L-J6sWIp0KheO03-GFGo) hopefully gives context why these are needed, happy to answer additional questions about it

[2020-06-18 16:10] #1125 closed

[2020-06-18 17:58] kanishka-azimi commented on #1135
Drive by comment, we're using this library and interoperating with it and having the following would help:

[2020-06-19 01:23] carlosalberto opened #1360 "Implement InMemoryMetricExporter"
`InMemoryMetricExporter` is missing, and it would be a nice thing to have (similar to our `InMemorySpanExporter` ;) )

[2020-06-19 15:59] carlosalberto opened #1361 "Allow users to specify options other than ManagedChannel for exporters"
A few exporters (OTLP, Jaeger) take a gRPC `ManagedChannel` as input, which means that if the user wants to add `Metadata` (or set related values), they have to actually write Interceptors. Wondering if we should simplify this - for reference, the gRPC Python API (and thus the OTLP Python exporter) allows to send `Metadata` in a simple way (it can be specified when a remote request is performed).

[2020-06-19 20:20] jkwatson commented on #1334
If we want this, I've got the PR submitted: #1363

[2020-06-21 11:14] jarebudev commented on #1275
I had a look into this.  It looks like there's a potential race condition in this test, although I couldn't recreate locally so have no proof :)

The ```JaegerRemoteSamplerTest.description``` test builds a ```JaegerRemoteSampler```, and checks that the description of the sampler is the expected default sampling strategy before exiting the test method.  The ```GrpcCleanupRule``` will then run and s

[2020-06-21 20:09] DotSpy commented on #1320
Is there any way to automate it? We have a lot of versions in the README that should be updated, not only https://github.com/open-telemetry/opentelemetry-java#releases but also https://github.com/open-telemetry/opentelemetry-java#releases , https://github.com/open-telemetry/opentelemetry-java#releases and etc

[2020-06-22 09:26] anuraaga commented on #1321
I haven't closed this yet since I've always felt like this is important, but didn't have a clear example at the time. This might be one though

https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/555

Especially for auto instrumentation, we'd generally need to be able to map an endpoint to a service name or many spans will not be easily distinguishable from each other, e.g.

[2020-06-22 10:28] arminru commented on #1320
@DotSpy isn't that three times the same link? 😅

[2020-06-22 11:24] DotSpy commented on #1320
@arminru yeah sorry actual ones https://github.com/open-telemetry/opentelemetry-java#gradle https://github.com/open-telemetry/opentelemetry-java#maven

[2020-06-22 16:26] ivangreene opened #1367 "TraceFlags API should match SpanId, TraceId"
**Is your feature request related to a problem? Please describe.**
TraceFlags.java has a public factory method accepting a single byte, and a method to obtain the single byte. I feel the API should match SpanId and TraceId so that user-code does not have to change as much to accommodate a future version that stores more data in TraceFlags.

**Describe the solution you'd like**
TraceFlags.java shou

[2020-06-22 17:25] jkwatson commented on #1321
I'm definitely not opposed to having this happen, but I think it's important enough that it warrants a proposal in the specs. I would recommend the following course of action: write a spec issue, propose a spec update to support this, and submit a PR that would demonstrate how it would work in Java. Does that sound like something you could take on, @anuraaga ?

[2020-06-22 17:26] jkwatson commented on #1320
Proposals on automating this would be very welcome!

[2020-06-22 20:17] jkwatson commented on #1367
This seems reasonable to me, especially since we already  have the `copyBytesTo(byte[] dest, int destOffset)` method to do the reverse.

[2020-06-22 21:37] #1334 closed

[2020-06-23 08:44] anuraaga commented on #1321
Yup filed https://github.com/open-telemetry/opentelemetry-specification/issues/663 first to discuss the spec

[2020-06-23 10:00] tobbaumgartner opened #1370 "Exporting MetricData from selected instruments?"
Is there a way to export `MetricData` only from selected instruments?
Currently, I receive the `MetricData` by `OpenTelemetrySdk.getMeterProvider().getMetricProducer().getAllMetrics()` as I didn't find another way to do so.
I'm trying to implement an event-based approach (in contrast to the periodically fetching `IntervalMetricReader`) and it would be nice to only export `MetricData` related to th

[2020-06-23 11:49] arminru commented on #1321
Hi @anuraaga! Just to clarify, you are rather thinking about span processors here, right?
Exporters are on the far end of the pipeline anyway and can do whatever they want to the data they export. Altering the actual span at that point wouldn't have any effect anyway (except for potential race conditions). So if you would want to intercept spans globally before they are handed to any exporters, sp

[2020-06-23 12:12] anuraaga commented on #1321
Yeah I think span processors make sense for this. I mention exporter in this issue because when I asked on Gitter a while ago it seemed like people were more for sticking with doing customization in the exporter using decoration. Or maybe I just interpreted that way since it did indeed work just tedious :) But your comment on the spec issue makes me lean even more toward solving this with span pro

[2020-06-23 14:52] jkwatson commented on #1370
How would you want to specify the metrics that you wanted? Could you just write a filter in your exporter that discarded the metrics you didn't care about?

[2020-06-23 15:21] tobbaumgartner commented on #1370
The only possible way would be the instrument name or grouping multiple instruments together (similar to the `BatchRecorder`)
But yeah you're right, filtering in the exporter would work too. I just thought there may be some SDK-internal way planned to do that.

[2020-06-23 17:00] jkwatson commented on #1370
We haven't had any plans to add that, but a contribution of a filtering exporter in sdk_extensions that could be extended from would be a fine addition.

[2020-06-24 15:27] jkwatson commented on #1314
I don't think it's really a good approach, but I did the experiment to see what it would look like if we just used raw byte arrays for spanId and traceId. The fact that arrays are 100% mutable makes it a non-viable path, I think.  See #1371 for the experiment.

[2020-06-24 15:49] jkwatson commented on #1314
I made #1371 very slightly better by only exposing copies of the byte arrays on the SpanContext API.

[2020-06-24 19:43] jkwatson commented on #1314
So, I've been doing a lot of thinking about this in the past couple of days.
A couple of givens:

1) Both on the input (context extraction), and the output side (export, context injection) of the SpanContext, spanId and traceId need to be individually accessible and generatable.
2) SpanId is pretty easy, as it's just 8 bytes, which fits snugly into a long.
3) TraceId is a problem, as it's 16 bytes

[2020-06-24 20:19] jkwatson commented on #1314
One more crazy thought, while I'm brainstorming on this...  If we used off-heap direct ByteBuffers to store the ids, then we get immutability via the copy from the heap byte[] into the off-heap bytes. I haven't done a ton of off-heap programming, and it would impose a bit of a burden to make sure enough off-heap memory is allocated to the JVM at startup. Probably a non-starter, but a good thought-

[2020-06-25 04:21] anuraaga commented on #1314
Hex-encoded String seems nice because it's what everyone is used to seeing in UI, etc (I suspect). It also probably has beneficial effects when marshalling with text headers where the string just gets used as is, all the text formats out there use hex encoding of the IDs.

[2020-06-25 07:06] anuraaga commented on #1314
Just for reference, prior art in Brave

https://github.com/openzipkin/brave/blob/master/brave/src/main/java/brave/handler/MutableSpan.java#L130
https://github.com/openzipkin/brave/blob/master/brave/src/main/java/brave/propagation/TraceContext.java

Interestingly, `TraceContext` stores longs mostly for traditional reasons but we are thinking of changing those to strings by default too - most people

[2020-06-25 13:54] carlosalberto opened #1372 "Have Propagators expose only a singleton instance"
At this moment we allow users to create `HttpTraceContext`, `JaegerPropagator` instances, but we should switch to have them expose a singleton instance, as they don't keep state. The `B3` propagators already have this behavior.

[2020-06-26 07:03] Tausif28 opened #1375 "Installed span exporter, log appears twice in logs"
**Describe the bug**
Hi, i was trying to use OpenTelemetry using Java auto Instrumentation for a simple java project, i followed the instructions on the github page: https://github.com/open-telemetry/opentelemetry-java-instrumentation ,
I am using the logging exporter, i see these 4 lines at he start:

[code]

then i see the last line from OpenTelemetry as this :
[code]

**The first 2 log lines ar

[2020-06-26 12:29] carlosalberto commented on #1375
Hey @Tausif28 !

I think this is actually related to the instrumentation repo (https://github.com/open-telemetry/opentelemetry-java-instrumentation) so would you mind opening a bug there? (the bug itself might end up being in the API/SDK, but it might be in how components are configured for the instrumentation engine).

[2020-06-26 16:05] bogdandrutu opened #1377 "Consider reverting https://github.com/open-telemetry/opentelemetry-java/pull/1363"
The main motivation I explained in February in a SIG meeting is that systems can use a global registry for the Keys (at least) and replace the string with just an int ID for performance reasons like encoding on the wire.

See https://github.com/open-telemetry/opentelemetry-specification/issues/442

[2020-06-26 16:54] jkwatson commented on #1377
Could we use the `CharSequence` interface, rather than String so that people who wanted to have an alternative implementation could do that, instead?

[2020-06-29 08:21] malafeev commented on #1361
implemented for OTLP exporter: https://github.com/open-telemetry/opentelemetry-java/pull/1373

[2020-06-29 14:50] neeraj97 commented on #729
@jkwatson
BlockingQueue could be used  but we how would be go about delaying worker thread and also notifying it ? We could use Thread.sleep(millisecond) but it could be woken by interrupts only, but we are using interrupts to check  whether we should continue running the thread or not. So I think there is a need for using monitor-lock for dealing with notification to the worker thread.
We could B

[2020-06-29 15:58] jkwatson commented on #729
If I were to do this, I think I'd step back and think about the high-level goals for this class, rather than trying to precisely replicate the existing behavior.

1) Thread-safety (obviously)
2) Queue up a set of spans for export, making sure that
  a) we don't queue up more than the maxQueueSize before sending
  b) we don't queue for longer than the scheduledDlayMillis before sending
  c) If we c

[2020-06-29 16:10] neeraj97 commented on #729
@jkwatson Thanks for sharing I got a clear picture :)

[2020-06-29 18:25] #1311 closed

[2020-06-29 22:19] Brandon-Kimberly opened #1381 "Proposal: Use GitHub Actions for CI/CD"
This issue is in reference to [issue 398](https://github.com/open-telemetry/community/issues/398) posted on the community repository. In this issue, we are proposing that all OpenTelemetry repositories *consider* using GitHub Actions as their CI provider in order to maintain consistency across the various language repositories.

The overall proposal was discussed in the OpenTelemetry maintainers S

[2020-06-29 23:46] anuraaga commented on #1381
I have been interested in seeing how well GitHub Actions perform here. My main concern isn't this repo, but the strongly related `java-instrumentation`, which hopefully can use the same CI, builds a very heavyweight monolothic agent :) Currently, using a huge 8CPU / 16G the build takes 15-30min. I think we need to actually try to see how long it takes by running on GitHub Actions, but with 2CPU /

[2020-06-30 14:31] neeraj97 opened #1382 "Modify the example modules to use shutdown( ) on TracerSdkProvider"
Instead of waiting, use `shutdown() `on `TracerSdkProvider` before exiting the application.

[2020-06-30 15:21] #1137 closed

[2020-06-30 21:11] jkwatson opened #1385 "Can we stop generating span and trace ids for no-op spans with no parent context?"
We can save 3-5 allocations per no-op span if we can just return an invalid span from the no-op tracer when there is no parent context.

The behavior of generating random trace and span ids was introduced here:  #382 and references this issue: #392 . There is reference to a decision being made to return valid span ids in this case, but no reasoning provided in the issue or the PR as to why.

A not

[2020-06-30 21:37] jkwatson commented on #1385
The more I look at this, I think this behavior is actually harmful. The current behavior means that a service that has no SDK installed, but a propagator configured, will propagate trace ids and span ids that will never be reported anywhere, leading to what looks like phantom trace parents in all downstream services.

[2020-07-01 06:50] neeraj97 commented on #1360
Should there be limit on the metric data being exported into the memory?

[2020-07-01 11:22] MirkoRuggiero opened #1387 "Create a Jaeger Agent Exporter"
From my instrumented client I want to send the spans to the agent and than to the collector. They are sent directly to the collector and there is not way to configure this from the code afaik. Am I missing something here? Thanks

[2020-07-01 15:03] jkwatson commented on #1387
I don't understand what you're asking for here. Can you explain what you mean by "local agent"?

[2020-07-01 15:12] MirkoRuggiero commented on #1387
Sorry I forgot to mention, I mean the jaeger-agent that runs on the same host of the instrumented application.

[2020-07-01 15:21] jkwatson commented on #1387
It looks like our JaegerGrpcSpanExporter has all the configuration options you would need to do this. Can you describe what you're doing that you would expect to work, but isn't?

[2020-07-01 15:22] carlosalberto opened #1388 "Define fields handling for composite propagators."
We need to define (and implement) what `DefaultCompositePropagator` and `TraceMultiPropagator` do regarding the duplicated `fields()` or their contained propagators.

De-duping them sounds like the best thing to do IMHO ;)

[2020-07-01 15:34] MirkoRuggiero commented on #1387
The JaegerGrpcSpanExporter takes a grpc channel as arguments, which is open towards the collector according all the examples I found on the web (e.g. "localhost", "14250" if the collector is running locally). Configuring the exporter in this way, the jaeger-agent is by-passed. To confirm this, the `--collector.tags` are correctly attached to my spans, while the` --agent.tags` are not.

I'd want to

[2020-07-01 16:08] jkwatson commented on #1387
I personally know very little about Jaeger or various deployment architectures. It sounds like maybe we need a different exporter implementation that handles local agent communication? Or more configuration options? As I said, I don't know what's needed here, as I'm not an expert in this.

If what I read on the internet is to be believed, the agent speaks thrift, rather than grpc? In that case, we

[2020-07-01 16:13] MirkoRuggiero commented on #1387
Yes, I think you got the point.. Could you suggest how to proceed in these cases? Can I myself propose the feature here? Thanks for the help provided though

[2020-07-01 16:16] jkwatson commented on #1387
If we create an issue "Create a Jaeger Agent Exporter", (or rename this one), that will be the best way to track it. If you have the expertise, a PR would also be great!

[2020-07-01 18:17] jkwatson opened #1389 "Update the OTLP protobufs to v0.4.0"
There are a bunch of breaking changes, both in metrics and traces.

[2020-07-01 22:19] #1389 closed

[2020-07-01 23:33] adriancole opened #1392 "Missing release notes"
**Describe the bug**
0.5 and 0.6 so far have no release notes. and the README is out of date also about releases

**Steps to reproduce**
Look at the release and there are no notes

**What did you expect to see?**
A list of enhancements, bug fixes and breaking changes

**What did you see instead?**
nothing

**What version and what artifacts are you using?**
0.6.0 0.5.0 tags for example

[2020-07-01 23:34] adriancole commented on #1392
context: people like me click watch releases only. this is pointless when release notes are missing as we have to look at git compare range and run jdiff manually

[2020-07-01 23:45] jkwatson commented on #1392
yep. I'm aware. This will be being done ASAP

[2020-07-02 16:57] jkwatson commented on #1258
This was completed in the 0.6.0 release with the introduction of the Attributes & Labels classes.

[2020-07-02 16:57] #1258 closed

[2020-07-02 17:13] jkwatson commented on #1392
Release notes have been updated, and a PR created to update the docs. Thanks for pointing this out!

[2020-07-02 23:45] adriancole commented on #1392
great turnaround thanks john!

On Fri, Jul 3, 2020, 1:13 AM John Watson <notifications@github.com> wrote:

[2020-07-03 02:18] #1392 closed

[2020-07-03 02:19] bogdandrutu commented on #1385
@SergeyKanzhelev I think you requested this

[2020-07-03 02:20] bogdandrutu commented on #1385
Also @jkwatson it will be good at least to propagate what we receive at least.

[2020-07-03 02:46] jkwatson commented on #1385
Propagating what we receive isn't the issue. It's generating new trace/spanids when there is no incoming context and no SDK installed.

[2020-07-03 14:53] thisthat commented on #1275
Closing the issue since it looks like #1364 did its job! I don't see the build fail for quite some time :wink:

[2020-07-03 14:53] #1275 closed

[2020-07-04 21:52] #1360 closed

[2020-07-07 07:54] MirkoRuggiero commented on #1387
The PR seems to be a little bit out of my comfort zone, but I'll take a look at it nonetheless. Do you see any major issue NOT using the agent configuration offered by Jaeger?
Is the only advantage to reduce the number of open grpc channels towards the collector by a factor of <average_number
_of_application_per_host>?  (considering one agent per host, collecting all the traces from the applicatio

[2020-07-07 08:18] objectiser commented on #1387
@MirkoRuggiero The OpenTelemetry Collector can be used as an agent (i.e. as a Jaeger agent replacement). In fact, the next major version of the Jaeger agent (currently available in master) is based on the OpenTelemetry Collector. So my suggestion would be to just switch to using the OpenTelemetry Collector as your agent and then you have the option of using Jaeger gRPC or OTLP.

[2020-07-07 08:47] MirkoRuggiero commented on #1387
@objectiser Do you mean deploying one collector "as agent" per host, all converging to another "real" collector?

[2020-07-07 09:08] objectiser commented on #1387
@MirkoRuggiero yes.

[2020-07-07 09:25] MirkoRuggiero commented on #1387
@objectiser Sounds great, thanks for the lead :)

[2020-07-07 09:33] pavolloffay commented on #1275
thanks @jarebudev for fixing this!

[2020-07-07 10:17] pavolloffay commented on #1387
We should consider closing this issue and avoid implementing Jaeger UDP exporters in OTEL SDKs if there are no benefits. As @objectiser mentioned the OTEL collector or Jaeger 2.0 (OTEL based) can be deployed in agent mode and receive data via gRPC in Jaeger or OTLP formats via `localhost`.

@yurishkuro could you please chime in and summarize if there are any benefits of UDP over gRPC when using it

[2020-07-07 14:26] carlosalberto commented on #1387
+1 for closing the issue if possible.

[2020-07-07 17:08] jkwatson opened #1396 "Document usage of the OpenTracing Shim"
The README in the module should have a how-to usage section in it.

[2020-07-07 22:20] yurishkuro commented on #1387
I don't have any performance data that compares UDP vs. gRPC. Outside of performance, the only benefit of UDP is the lack of dependencies, since it can be implemented via stdlib. The downside of UDP is the lack of ACKs.

[2020-07-08 09:12] pavolloffay commented on #1387
Let's close this issue with the recommendation of using Jaeger gRPC exporter or OTLP protocols.

If we prove that UDP has perf or other benefits (no 3rd party dependencies) then let's reopen and think about other solutions.

[2020-07-08 09:12] #1387 closed

[2020-07-08 09:27] anuraaga opened #1397 "Location for design docs, proposals, etc (maybe even meeting notes)"
In #1380 I noticed there is an otel design doc in a private Google Doc. I see two problems

- Private. We need to make sure discussion about an open project is open

- Google Doc. From what I understand it's not as available as GitHub, notably it doesn't work in China? Even if it does it is very hard to curate docs into a single location and will disappear if the author happens to delete it / lose

[2020-07-08 12:16] luka223 opened #1398 "Inability to create span and set active span in gRPC interceptor"
I want to create span in gRPC interceptor (using io.grpc) and continue trace from remote service. I used onMessage and onHalfClose events. Here is the code snippet I used:

[code]

But as soon as onMessage method is finished, following exception is thrown:
ERROR io.grpc.ThreadLocalContextStorage - Context was not attached when detaching.

When I create span in gRPC service class itself, then traci

[2020-07-08 14:24] carlosalberto commented on #1397
Let's put everything under open-telemetry/opentelemetry-java/docs.

I think the plan is to have, upon consolidating the zPages effort, consolidate its design documents as well in a markup file. In any case, it's good to have an issue, so we don't forget about the overall need for docs.

[2020-07-08 14:36] carlosalberto commented on #1398
This might be of help/reference: https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/instrumentation/grpc-1.5/src/main/java/io/opentelemetry/auto/instrumentation/grpc/client/TracingClientInterceptor.java

[2020-07-08 15:20] jkwatson commented on #1398
@luka223 when you call `tracer.withSpan(span)`, the returned `Scope` object is actually very important. It *must* be closed or the span will never be removed from being the active one in the context.

[2020-07-08 18:59] mattnworb commented on #575
Hi, as a user of both gRPC and OpenCensus, there is some level of convenience in having a single "Context" class/instance I can use to pass the (OpenCensus) trace and (gRPC) request context explicitly from method to method.

I certainly understand that being exposed to a class named `io.grpc.Context` is confusing for applications that do not use gRPC, but if OpenTelemetry were to create its own Co

[2020-07-09 10:23] iNikem opened #1401 "Add SemanticAttributes for messaging systems"
A lot attributes defined in https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/messaging.md are currently missing from `io.opentelemetry.trace.attributes.SemanticAttributes`

[2020-07-09 10:55] luka223 commented on #1398
Even with closing the `Scope` the issue persists.

That reference was really helpful, even though I looked at `TracingServerInterceptor` if anyone comes accross this issue.

But it not solved my problem completely. Tracing now works, but remote traceId and spanId must be sent through metadata.
In my implementation, those ids are sent in message body which I have access in `onMessage` method, but I

[2020-07-09 15:34] jkwatson commented on #1398
You still get the error, even with closing the scope appropriately?

[2020-07-09 22:13] garretwilson opened #1402 "Missing SemanticAttributes for RPC?"
I'm using v0.6.0 of the Java OpenTelemetry API. In [`SemanticAttributes`](https://github.com/open-telemetry/opentelemetry-java/blob/master/api/src/main/java/io/opentelemetry/trace/attributes/SemanticAttributes.java) the only attribute related to RPC I can find is `rpc.service`. Yet the [specification](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sem

[2020-07-10 07:07] luka223 commented on #1398
@jkwatson Yes, my idea was to open the scope in `onMessage` method and then close it in `onCompleted`. But I don't think the problem is closing the scope, as the excepiton is thrown immediately after completing `onMessage`. At that time scope shouldn't be closed.

[2020-07-10 13:45] iNikem opened #1405 "Document Metric exporter"
I have spent almost an hour today trying to debug failing test in java instrumentations repo. At last I have discovered, that since #1368 if I call `OpenTelemetrySdk.getMeterProvider().getMetricProducer().getAllMetrics()` two times in a row, as one of our tests did, the second call will return no measurements for `ValueRecorder`s. It would be nice to have this behaviour documented somewhere :)

[2020-07-10 15:54] jkwatson commented on #1398
Can you share more complete example code that demonstrates this? I'm very interested in what's going on here.

[2020-07-10 15:57] jkwatson commented on #1405
I wonder if we could come up with a better name than "getAllMetrics", since it's really, "get all metrics since the last time they were asked for".

[2020-07-11 17:47] #1405 closed

[2020-07-12 18:57] trask opened #1408 "Use the now standard ConfigBuilder for JaegerGrpcSpanExporter.Builder"
Currently, `JaegerGrpcSpanExporter.Builder` uses the older form:

[code]

instead of the now standard ConfigBuilder, e.g. `ZipkinSpanExporter`:

[code]

[2020-07-13 04:50] trask opened #1409 "Use OkHttpSender by default in ZipkinSpanExporter"
See https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/674#discussion_r453431290

And https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/375#issuecomment-630845065

[2020-07-13 08:24] luka223 commented on #1398
Of course, here is the last snippet I tried to make it work:

[code]

[2020-07-13 16:55] jkwatson commented on #1398
@luka223 You need to end the span and close the context in a `finally` block in the `onHalfClose()` method, not in a catch block. When I made this change, it worked for me locally.

[2020-07-13 22:14] luka223 commented on #1398
@jkwatson You are right, my mistake there, but unfortunately that doesn't solve my problem. I got the same error even with this change. As I mentioned, error happens immediately after `onMessage` method is finished, `onHalfClose` method will be executed after that, when exception is already thrown.

[2020-07-14 00:15] anuraaga commented on #1398
Hi @luka223 - our official instrumentation includes an interceptor, can you compare with your pattern?

https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/master/instrumentation/grpc-1.5/src/main/java/io/opentelemetry/auto/instrumentation/grpc/server/TracingServerInterceptor.java

[2020-07-14 08:06] luka223 commented on #1398
Hi @anuraaga, I already saw the instrumentation which is working as it should, but as I already mentioned, with this implementation I have to read traceId and spanId in `interceptCall` method where I don't have access to message object. I need message object as in my implementation traceId and spanId are sent in message body, instead of metadata.

[2020-07-14 08:25] anuraaga commented on #1398
Sorry, I didn't scroll enough, that link was indeed redundant >< But the pattern is indeed what to follow.

The span is what matters really, scope is literally to model a block of execution of logic but has no other real meaning. So I think you want your listener to have a (initially null) span field, not a scope threadlocal.

Note, I haven't tried this but hopefully it provides some pointer - not

[2020-07-14 13:07] #1401 closed

[2020-07-15 10:01] luka223 commented on #1398
@anuraaga This snippet works partially, as the all spans in the service itself belong to new trace, and the span in the interceptor belongs to the trace started by a remote service, so at the end there are two traces instead of one.

That's only happened beacuse of the saving span globally, as `this.tracer.withSpan(span);` still throws the exception I mentioned.

I guess because of the exception,

[2020-07-15 13:08] objectiser opened #1413 "opentelemetry-bom published locally but not to maven central"
**Describe the bug**
When running "./gradlew clean publishToMavenLocal", opentelemetry-bom appears in the local m2 repo (e.g. for 0.6.0 tag), but the same version doesn't appear to have been released to [maven central](https://repo1.maven.org/maven2/io/opentelemetry/).

**Steps to reproduce**
Checking tag `v0.6.0`, run `./gradlew clean publishToMavenLocal`, check local m2 repo and find `openteleme

[2020-07-15 15:53] jkwatson opened #1414 "Add the ability to create more than one ZPageServer per VM"
If a user is manually instrumenting their code, and doesn't use the global singletons, they should still have a way to use the ZPages implementation. In order to do this, the ZPageServer cannot be a singleton, but must be able to be created and configured multiple times per VM.

[2020-07-15 15:54] jkwatson opened #1415 "Add unit tests for the ZPages SpanBucket class"
This class is clever enough that it should have its own unit tests.

[2020-07-15 15:54] jkwatson opened #1416 "Add an index page to the ZPages server"
So you don't have to know the individual paths to the various pages.

[2020-07-15 17:48] iNikem opened #1418 "More logging on exporter failures"
**Is your feature request related to a problem? Please describe.**
A customer has tried to Otel java instrumentation agent. He has difficulties understanding if he has configured exporters correctly or not. Apparently only Zipkin exporter logs some warnings if data sending fails. All others are silent.

**Describe the solution you'd like**
Provide more feedback if any component fails, e.g. by writ

[2020-07-15 21:01] jkwatson commented on #1398
@luka223 the `withSpan` method is throwing the exception? That seems like a change from the initial report of the issue.

Is there any other instrumentation in your codebase? Are you using the auto-instrumentation javaagent, or are you just using the API/SDK directly?

[2020-07-16 03:26] huntc opened #1422 "Should exports be async"
I’m writing an export class for Reactive streams, as I did for [OpenTracing and Dropwizard Metrics](https://github.com/titanclass/reactive-streams-telemetry).

It occurs me that the export method should be returning a CompletionStage of a result instead of just a result. An export implementation is often performing some long lived action such as communicating over the network. I note that the Jaeg

[2020-07-16 03:34] jkwatson commented on #1422
Hi @huntc . I think our general approach is to leave this up to the exporter implementation. For example, the New Relic exporter returns immediately and handles all the processing on a background thread. If you want an async exporter, then my recommendation would be to make yours do the work in the background.

The jaeger exporter should probably be changed to do the same, I'd guess.

[2020-07-16 03:46] huntc commented on #1422
Thanks, @jkwatson. What's the effect of the returned status indicating failure?

If knowing whether the export is successful is important then I'd suggest that the method declaration should reflect async possibilities for implementations.

If it isn't important to know if the export is successful then the return type should be Void.

WDYT?

[2020-07-16 04:02] jkwatson commented on #1422
We've had this discussion in the specs SIG. At the moment, there is no effect of returning the failure status. We made the method return an enum value in case in the future we want to support a robust retry-system in the SDK. We didn't want to potentially break existing exporters if we did decide to enhance the capabilities of the SDK in this way. Does that make sense?

[2020-07-16 04:15] huntc commented on #1422
Thanks, John.

Returning a status that yields no current benefit and is generally only attainable by blocking does not make sense to me.

If we may want to have a robust retry system in the future then I'd suggest that we need to use a completion stage now... blocking the thread isn't a great way to go and we know that exporters perform long-lived actions.

That said, returning a `Void` perhaps re

[2020-07-16 07:27] anuraaga commented on #1398
@luka223 What do you mean by "spans in the service" vs "span in the interceptor "? Here we're creating a span with `parentContext` set with the context of the message (meaning it should be connected to the trace of your remote clients if the information in the message is correct). What is in the second trace?

[2020-07-16 10:39] manoj260191 commented on #457
Is this functionality has been implemented for opentelemetry-java, as i need to implement a functionality where span should be exported to file as json.

[2020-07-16 11:04] KrzysztofKowalczyk commented on #457
It is pretty simple to achieve on your own, you can implement your own exporter that use for instance slf4j with logstash JSON encoder or similar.

I did try that with Jaeger (In Jaeger you can extend Sender or Reporter):
https://github.com/KrzysztofKowalczyk/demo-tracing-through-logs/blob/master/tracing-with-logback-json-classic/src/main/groovy/demo/export/LogTraceReporter.groovy

You could also

[2020-07-16 11:22] manoj260191 commented on #457
Thank you for suggestion, I will try to implement same in java.

[2020-07-16 11:28] thisthat commented on #457
If you succeed, a PR is well welcomed :)

[2020-07-16 12:15] luka223 commented on #1398
@jkwatson I didn't express myself correctly, `withSpan` method isn't throwing exception itself, but when I use it in `onMessage` method, exception is thrown after `onMessage` is completed (`withSpan` executes without errors). I'm using SDK directly.

@anuraaga By spans in the service I mean on spans created in the service itself (after execution of interceptor, but same service as where intercepto

[2020-07-16 12:22] anuraaga commented on #1398
@luka223 Is it possible to paste the exception with stack trace that you're seeing? An exception after onMessage is not something I'd expect so can't imagine where it's being thrown.

[2020-07-16 14:54] jkwatson commented on #1422
I don't necessarily disagree with you, but we'd need to get the spec updated first, if we want to change it, since this is something that is specified across all languages:  https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#exportbatch

[2020-07-16 16:55] wtyanan commented on #1416
#1423 addresses this issue

[2020-07-16 20:14] jkwatson opened #1425 "TraceZ zpage is broken for spans names with characters that require url encoding"
**Describe the bug**
The tracez zpage does not work correctly with span names that contain characters that require url encoding.

**Steps to reproduce**
Create a sample with spans called "/users/{id}/address" and "my span name with spaces in it". Run the app, go to the tracez page, click on the links to samples of those spans.

**What did you expect to see?**
The page to render the span names, and

[2020-07-16 21:24] huntc commented on #1422
Thanks for the spec ref. Can you please highlight where you see that returning a completion stage of the status is at conflict with the spec?

[2020-07-16 21:28] jkwatson commented on #1422
[code]

[2020-07-16 21:34] huntc commented on #1422
Yes, but as previously stated, it is up to the language to declare how the status is returned. For example, the .NET exporters appear to return async results: https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry.Exporter.Console/ConsoleExporter.cs#L49

[2020-07-16 21:40] jkwatson commented on #1422
I don't disagree that this would be better, but I also don't see wiggle room in the spec, as currently written.
Also, unfortunately, `CompletionStage` is java 8+, so we'd need to choose one of the older async paradigms.

[2020-07-16 21:49] huntc commented on #1422
No Java 8? Astounding.

`Future` then...?

As an additional data point, I’m no Go expert, but Goroutines and pipelines appear to be used there too. :-)

[2020-07-16 21:50] jkwatson commented on #1422
Astounding, indeed! We are supporting java 7 currently, so that grpc libraries can be instrumented with the APIs.

[2020-07-16 21:54] jkwatson commented on #1422
The decision on the current exporter API to include a non-async return value predates my involvement in the project. I'll write a little spec tweak PR that will make me more comfortable with changing the exporter API in this case.

[2020-07-16 21:58] huntc commented on #1422
Thanks John. There’s a precedent as mentioned given the Go and .NET implementations. Would you like me to raise a PR here to change the return type to a Future?

[2020-07-16 22:00] jkwatson commented on #1422
https://github.com/open-telemetry/opentelemetry-specification/pull/707

Yes, a PR would be very welcome!

[2020-07-16 22:07] huntc commented on #1422
I’ll get the PR done first thing. Meanwhile, in case you’re interested, here’s my work influencing the conversation. https://github.com/titanclass/reactive-streams-telemetry/pull/6

[2020-07-16 22:22] jkwatson commented on #1418
Looks like the following exporters need at least some amount of error logging:

- [ ] Jaeger
- [ ] OLTP Metrics
- [ ] OLTP Spans

Any others?

[2020-07-17 02:36] albertteoh opened #1426 "Fix broken "Semantic Conventions" link in Quickstart documentation"
**Describe the bug**

The [Span Attributes section of the Quickstart guide](https://github.com/open-telemetry/opentelemetry-java/blob/master/QUICKSTART.md#span-attributes) has a broken ["Semantic Conventions"](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/data-semantic-conventions.md) link.

**Steps to reproduce**
Clicking on the ["Semantic Conventions"](h

[2020-07-17 02:36] albertteoh commented on #1426
I'm happy to take on this task as my first contribution.

[2020-07-17 04:35] huntc commented on #1422
The PR is in @jkwatson (took me longer than expected!): https://github.com/open-telemetry/opentelemetry-java/pull/1428

[2020-07-17 04:59] manoj260191 commented on #457
Definitely

[2020-07-17 17:08] iNikem opened #1430 "Span.recordException"
Implement newly added API method: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#record-exception

Ideally, while solving this issue also add [corresponding semantic conventions](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/exceptions.md) to `SemanticAttributes` class

[2020-07-17 20:06] #1426 closed

[2020-07-17 21:51] williamhu99 commented on #1425
I removed the `URLEncoder` from `TracezZPageHandler` and built a sample app locally, and everything seems to be running fine. I'm a little concerned because I initially added the `URLEncoder` due to this [comment](https://github.com/open-telemetry/opentelemetry-java/pull/1380#issuecomment-655100658). Based on this, it seems that the spaces aren't actually being changed to +'s. I'll create a pull r

[2020-07-18 02:11] bogdandrutu commented on #1415
This should be closed correct @jkwatson . Please reopen if I did a mistake

[2020-07-18 02:11] #1415 closed

[2020-07-18 02:45] bogdandrutu commented on #1398
Here is the official gRPC integration using Open emails which used the same context https://github.com/grpc/grpc-java/blob/master/census/src/main/java/io/grpc/census/CensusTracingModule.java

There is a special place where you can modify the context, you don't need to attach yourself because it is automatically done by gRPC framework

[2020-07-18 07:02] luka223 commented on #1398
@anuraaga Actually, I was wrong, exception is not thrown, but this is just a log of exception which is caught in gRPC library itself. You can see the log below:

[code]

That happens only if `tracer.withSpan(span)` is not used in `try`, but the result is the same with or without this error.

@bogdandrutu I didn't attached context myself explicitly, if I understood you correctly.

[2020-07-18 07:32] anuraaga commented on #1398
@luka223 So it sounds like the exception goes away when using `try` which makes sense, using the `try` pattern is required for making sure the scope is cleaned up properly.

So the issue is just the two traces, "but spans created after incerceptor execution are in separate trace, not connected to the first one." So you are making client calls in your business logic that are not being connected. Ho

[2020-07-18 18:11] bogdandrutu commented on #1398
@anuraaga please give a try to that. It was explicitly design for this :)

[2020-07-19 04:28] bogdandrutu commented on #1377
That does not enforce that all the instances are created by the SDK. What we need is to make sure all instrumentation creates the key using the SDK so the SDK can inject a different implementation

[2020-07-19 04:36] anuraaga commented on #1377
Would users of the SDK generally still use `String`, presumably looked up from the global registry? I think we'll generally end up with a simpler API if it follows user expectations, not implementation details like the wire format, and I'd say the wrapper objects don't provide much value to users. Serialization can be handled by a different configurable layer, like `CorrelationContextEncoder` or s

[2020-07-19 05:25] anuraaga commented on #1430
I can take this on

[2020-07-19 05:43] jkwatson commented on #1377
I don't understand the use case for the SDK injecting a different implementation. Can you provide a concrete example?

[2020-07-20 09:28] poogurgaon opened #1435 "Span not exported to Jaeger Collector"
I have configured JaegerGrpcSpanExporter , so that it can export the created spans to Jaeger-Collector.

I don't want to export the spans to Jaeger-Agent. I have written down below code.
`public BatchSpansProcessor getBatchSpanProcessor(){
 return BatchSpansProcessor.newBuilder(
JaegerGrpcSpanExporter.newBuilder().setServiceName("collector-exporter").
setChannel(ManagedChannelBuilder.forAddress(lo

[2020-07-20 10:43] objectiser commented on #1435
@poogurgaon The port `14250` is the [gRPC port on the Jaeger collector](https://www.jaegertracing.io/docs/1.18/deployment/#collectors), not the agent. So using port `14250` is correct.

[2020-07-20 10:51] poogurgaon commented on #1435
@objectiser

Thanks for your response.

With port 14250 it is working fine on localhost.

But issue is arising when below use case executed:
I am having jaeger collector as a pod running on k8s cluster , No jaeger agent is running.

I did tried with port 14250 and 14268 after deploying my springboot app on k8scluster , but no spans propagated to JaegerUI
running on k8s cluster.

[2020-07-20 11:41] thisthat commented on #1435
Hi @poogurgaon, `localhost` will work only if your container contains both the Jaeger service and your spring application. If the Jaeger service is in another container, you should replace it with the IP/hostname of such a container

[2020-07-20 11:49] poogurgaon commented on #1435
Hi @thisthat I have replaced the hostname with jaeger-host, but still facing same issue.

[2020-07-20 12:01] thisthat commented on #1435
Please, wait until #1419 is merged. This PR proposes a better error reporting that you can use to identify the reason for the failure.

[2020-07-20 12:15] poogurgaon commented on #1435
Great Thank You , I will wait.

[2020-07-20 12:19] thisthat opened #1436 "Empty strings are wrongly accepted as keys for attributes"
**Describe the bug**
It is possible to set an attribute with an empty string, which is forbidden by the specifications https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#set-attributes

[2020-07-20 15:21] jkwatson opened #1438 "Create a stress test that shows trace-SDK behavior under high load"
I'm particularly interested in making sure that we don't grow our heap in an unbounded fashion under high load. And, if we make changes to the export pipeline, that we don't inadvertently make a change that results in unbounded heap growth.

Note: this does not necessarily need to be a part of the unit test suite, because it might take a few minutes to run. However, having a test harness that can

[2020-07-20 20:27] huntc commented on #1438
In advance, I’d say that we probably are growing the heap in a unbounded manner presently. We should look at the use case where an exporter blocks on a network connection and goes through its retries. The Telemetry should pile up given the unbounded queues used by the schedulers within the sdk.

[2020-07-20 20:29] jkwatson commented on #1438
The BatchSpanProcessor is built to drop spans beyond the configured limit. If that is not happening, then we definitely need to know about it!

[2020-07-20 23:01] huntc commented on #1438
The `SimpleSpanProcessor` would be a good one to try. The simple one calls `export` when a span ends. Just keep ending spans...

[2020-07-20 23:11] jkwatson commented on #1438
Yes, I think that the SSP probably wouldn't do well at all with a slow exporter and high throughput! I'm more worried personally about the BSP, since it actually intends to have dealt with this issue. :)

[2020-07-20 23:14] jkwatson opened #1439 "If more than one consumer is hooked up to an SDK's MetricProducer, they will not all see all the metric datapoints."
Since the MetricProducer provided by the MeterProvderSdk consumes all the metrics whenever they are requested, it's a race to see who actually gets the points.

If this is intentional, we should definitely document this behavior very clearly.
If it's not intentional, we should fix it.

[2020-07-21 08:13] #1435 closed

[2020-07-21 12:02] luka223 commented on #1398
@anuraaga I didn't use `TracingClientInterceptor` on the client side, client side is just a simple API that receives HTTP call and calls server app discussed here using gRPC.

Here is the code snippet for client application:

[code]

[2020-07-21 16:14] carlosalberto commented on #1140
Closing due to the lack of answer.

[2020-07-21 16:14] #1140 closed

[2020-07-21 16:15] jkwatson commented on #1397
@anuraaga can we close this?

[2020-07-21 16:17] carlosalberto commented on #1082
Closing due to lack of activity. @Oberon00 please re-open if you think this was not a transitive failure, as Bogdan commented.

[2020-07-21 16:17] #1082 closed

[2020-07-21 16:18] jkwatson commented on #1375
@Tausif28 can we close this here?

[2020-07-21 16:21] jkwatson commented on #1341
@bogdandrutu is this done, or did you want to do more with this?

[2020-07-21 16:21] carlosalberto commented on #967
We need to support baggage in the Jaeger format to close this one.

[2020-07-21 16:22] #531 closed

[2020-07-21 16:22] carlosalberto commented on #522
Closing this @kbrockhoff please re-open if you think the current instrumentation effort doesn't handle this yet.

[2020-07-21 16:22] #522 closed

[2020-07-21 16:26] jkwatson commented on #1305
@fmhwong there hasn't been any activity on this in a while. Is this still an issue? Can we close it?

[2020-07-21 16:26] carlosalberto commented on #985
Closing this one as the new `MultiTraceExtractor` can handle this case.

[2020-07-21 16:26] #985 closed

[2020-07-21 16:28] carlosalberto commented on #922
Closing due to lack of activity. @kbrockhoff Please re-open if/as needed ;)

[2020-07-21 16:35] trask commented on #922
@carlosalberto I think this is important, can we re-open?

The only way to create an OpenTelemetry scope listener currently is by creating a class with a very special name io.grpc.override.ContextStorageOverride. This seems like a very odd public API surface that we are exposing, and what happens if there is already one of these classes on the classpath?

Scope listeners are important for logging

[2020-07-21 16:36] jkwatson commented on #119
@carlosalberto I think this one is done now. closing.

[2020-07-21 16:36] #119 closed

[2020-07-21 16:53] jkwatson commented on #662
This is an issue for the instrumentation project. Closing this issue. Please open in the instrumentation project if more is needed.

[2020-07-21 16:53] #662 closed

[2020-07-21 16:54] jkwatson commented on #670
I believe this is done. closing. Please reopen if something else is needed.

[2020-07-21 16:54] #670 closed

[2020-07-21 16:55] jkwatson commented on #680
closing this due to inactivity. I believe this is possible today, either with manual instrumentation, or the agent.

[2020-07-21 16:55] #680 closed

[2020-07-21 16:56] jkwatson commented on #750
related to #1422 . Closing in favor of that issue.

[2020-07-21 16:56] #750 closed

[2020-07-21 16:58] jkwatson commented on #778
Can this be closed, since it's happening in the instrumentation repo?

[2020-07-21 16:59] jkwatson commented on #849
Closing this. I believe this is up and working well in the instrumentation project, via the extension module interfaces.

[2020-07-21 16:59] #849 closed

[2020-07-21 16:59] trask opened #1442 "Change content length SematicAttributes from String to long"
I think these SematicAttributes should be `long` instead of `String`:

* HTTP_REQUEST_CONTENT_LENGTH
* HTTP_REQUEST_CONTENT_LENGTH_UNCOMPRESSED
* HTTP_RESPONSE_CONTENT_LENGTH
* HTTP_RESPONSE_CONTENT_LENGTH_UNCOMPRESSED

[2020-07-21 17:14] fmhwong commented on #1305
Let me dig it up.

[2020-07-21 17:22] iNikem commented on #778
It is happening in instrumentation repo. Can be close here.

[2020-07-21 17:22] #778 closed

[2020-07-21 17:24] Tausif28 commented on #1375
@jkwatson Closing this issue, will report it in the opentelemetry java instrumentation repo.

[2020-07-21 17:24] #1375 closed

[2020-07-21 22:05] jkwatson commented on #243
This is being addressed by #1434

[2020-07-22 01:22] MitchellDumovic opened #1445 "Sampling Decision is not Passed From Parent to Child"
Generally, if the parent span is set to "not sample", then any child span should also be set to "not sample".

However, by default that is not the case here. If unset, the [default](https://github.com/open-telemetry/opentelemetry-java/blob/322b661e3734ac4dafd89ecd20572a19bbc72cef/sdk/src/main/java/io/opentelemetry/sdk/trace/config/TraceConfig.java#L86) sampler is set to "always sample", and the "a

[2020-07-22 02:15] fmhwong commented on #1305
I investigated a bit more.

This line is trying to load the implementation of `TracerProviderFactory` but failed inside an OSGi bundle in OpenLiberty (probably due to missing configurations).
https://github.com/open-telemetry/opentelemetry-java/blob/f5452f4f2b66e87014bb5d91a602ae7bebf93112/api/src/main/java/io/opentelemetry/OpenTelemetry.java#L202

and therefore `DefaultTracerProvider` is used.

I

[2020-07-22 02:19] #1442 closed

[2020-07-22 02:26] #1385 closed

[2020-07-22 04:43] anuraaga opened #1447 "Event timestamp should be more clearly optional"
**Is your feature request related to a problem? Please describe.**

Currently, methods like `addEvent` either record a timestamp with current time, or a user-passed in time. But the spec for an event indicates timestamp is optional.

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#add-events

**Describe the solution you'd like**

The Javadoc at

[2020-07-22 06:53] anuraaga commented on #1397
Maybe there isn't but I figured there must be some related docs already so figured copying those into the desired location would be the step that closes this. One thing that comes to mind is the context discussion.

But if there aren't any docs than just closing is fine too :)

[2020-07-22 14:20] #1436 closed

[2020-07-22 22:27] #962 closed

[2020-07-23 01:53] #243 closed

[2020-07-23 01:53] #1430 closed

[2020-07-23 04:29] anuraaga opened #1452 "Modernize unit tests"
I'd like to propose a couple of options for large refactoring of the unit tests. I'm committed to take on the grunt work for both of them if others are ok :)

### Migrate to JUnit5

JUnit5 has many nice features compared to JUnit4 such as native parameterized tests, repeated tests, and smarter extension API. It's the actively developed version and it'd be nice for us to take advantage of any impro

[2020-07-23 08:33] tobbaumgartner opened #1453 "Bound Metric Instruments create empty MetricData"
**Describe the bug**
When binding a synchronous instrument, it records empty `MetricData` even though no metrics are recorded. This does not occur with the `BoundValueRecorder`.

**Steps to reproduce**
[code]

**What did you expect to see?**
As with other instruments, points should be empty.

**What did you see instead?**
Points contains a `DoublePoint` with the value 0.0.

**What version and what

[2020-07-23 11:16] carlosalberto opened #1454 "Being able to specify Resource manually"
Currently the only way to set `Resource`s for the global `OpenTelemetry` is through environment variables - but we need to allow users to set them manually (through code) or through system properties (in a similar fashion to the configuration supported for `BatchSpanProcessor` and siblings).

I see two possible options to do this:

1) Set the `Resource` in the loaded `TracerSdkProvider` and siblin

[2020-07-23 11:20] Oberon00 commented on #1454
That's technicylly not true: There is `TracerProviderSdk.Builder.setResource` https://github.com/open-telemetry/opentelemetry-java/blob/v0.6.0/sdk/src/main/java/io/opentelemetry/sdk/trace/TracerSdkProvider.java#L174
It is cumbersome to use without #1058 but still possible if you provide your own SPI.

[2020-07-23 11:43] anuraaga commented on #1454
Yeah as an example I'm doing this

https://github.com/aws-samples/aws-xray-sdk-with-opentelemetry-sample/blob/both-otel-and-xray/awsagentprovider/src/main/java/com/softwareaws/xray/opentelemetry/exporters/AwsTracerProviderFactory.java#L35

Because we have a pattern of generating many different `Resource` and merging them, an SPI that collects all the `Resource` and merges them would be very natura

[2020-07-23 11:44] carlosalberto commented on #1454
Well, there's also the possibility of use reflection to achieve that ;) But in all seriousness, being able to set `Resource` easily for the common case, i.e. the global `OpenTelemetry` part.

I honestly cannot imagine users having to extend the SPI part to *only* override `Resource`.

[2020-07-23 11:46] carlosalberto commented on #1454
Yes, we need to support this IMHO.

Hopefully there's **no** difference and we can close this issue after initial feedback (and deciding what path to go with).

[2020-07-23 11:59] anuraaga commented on #1454
Maybe we can repurpose this or a new issue into the resourc merging story? I feel that in most cases, users will be happy adding various artifacts for different resources to their classpath to get the information they need - otel-resource-k8s, otel-resource-gcp, etc. I don't think we've committed to a story for this yet.

[2020-07-23 12:11] carlosalberto commented on #1454
We indeed need to discuss how to achieve this in a nice way (probably through additional SPI). I suggest we keep this issue for the simple case of an user setting `Resource` locally (and probably marked as a duplicate of #1149), and have a new ticket for discussing how to add `Resource` for the cases you mentioned.

[2020-07-23 14:49] malafeev commented on #1454
In the `java-instrumentation` shading is done in such way that `sdk` classes are not available (classes are moved to "inst" directory and extension `.class` is renamed to  `.classdata`, wow)

@anuraaga in his example added dependency on `opentelemetry-sdk` to be able to provide custom `TracerProviderFactory`.
But he also did similar `java-instrumentation` shading of added dependencies.
Looks compl

[2020-07-23 20:24] heyams opened #1456 "Add new StringAttributeSetter to SemanticAttributes"
[database.md](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/database.md) has been updated. We need to introduce new attributes for database client calls.

[2020-07-23 20:25] heyams commented on #1456
Please assign this issue to me.  I will submit a PR. Thanks!

[2020-07-23 21:58] jarebudev commented on #967
i can take a look at this, should have a bit more spare time to help out

[2020-07-24 01:47] MitchellDumovic commented on #1119
I think https://github.com/open-telemetry/opentelemetry-java/pull/1444 resolves this issue?

[2020-07-24 18:00] kenfinnigan opened #1460 "Separate the SDK into separate publishable artifacts"
**Is your feature request related to a problem? Please describe.**
Combining the tracing and metrics API aspects into a single artifact and accessible through the same API class, [OpenTelemetry](https://github.com/open-telemetry/opentelemetry-java/blob/master/api/src/main/java/io/opentelemetry/OpenTelemetry.java), makes it difficult to utilize different solutions for metrics or tracing.

For insta

[2020-07-24 19:28] trask commented on #1408
can you assign this to me?

[2020-07-24 20:33] #1456 closed

[2020-07-24 21:40] trask opened #1462 "Support system property otel.resource.attributes corresponding to OTEL_RESOURCE_ATTRIBUTES"
It looks like currently only way to set resource attributes is via env var `OTEL_RESOURCE_ATTRIBUTES`. Would be nice to also support system property `otel.resource.attributes` similar to other configuration properties which support both env var and system property configuration.

[2020-07-24 23:03] trask opened #1463 "Set default endpoint for OTLP span and metric exporters to "localhost:55680""
It would be nice if OTLP span and metric exporters have a default endpoint ("localhost:55680"), similar to the Jaeger exeporter which has default endpoint of "localhost:14250".

This would resolve https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/722

Please assign to me.

[2020-07-25 05:05] trask opened #1465 "Add public constants for all exporter default configuration values"
I found myself wanting these when reviewing: https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/729.

And @anuraaga brought up here on my PR also: https://github.com/open-telemetry/opentelemetry-java/pull/1464#discussion_r460351059

[2020-07-25 07:30] dengliming commented on #1462
@trask Hi~ It looks good. I submit a PR. Can you review and share your opinion?

[2020-07-25 09:22] viscountn7557 opened #1467 "Bug a report"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce**
If possible, provide a recipe for reproducing the error.

**What did you expect to see?**
A clear and concise description of what you expected to see.

**What did you see instead?**
A clear and concise description of what you saw instead.

**What version and what artifacts are you using?**
Artifacts: (

[2020-07-25 09:24] viscountn7557 opened #1468 "Future request"
Suggest a request for this issues

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Addi

[2020-07-25 09:26] viscountn7557 opened #1469 "Add template"
Create a template for this issues

[2020-07-25 20:45] #1463 closed

[2020-07-25 20:46] #1408 closed

[2020-07-25 20:47] bogdandrutu commented on #1468
I think this was open by mistake

[2020-07-25 20:47] #1468 closed

[2020-07-25 20:47] #1467 closed

[2020-07-25 20:47] #1469 closed

[2020-07-27 12:05] Oberon00 commented on #1445
This is a spec defect actually (as you yourself pointed out @MitchellDumovic, thx!): https://github.com/open-telemetry/opentelemetry-specification/issues/728

[2020-07-27 14:21] poogurgaon opened #1471 "Configure Multiple JaegerGrpcSpanExporter to spring boot application"
I tried to configure multiple **JaegerGrpcExpanExporter**  in my application to fulfill below use case:

**JaegerGrpcExpanExporter** with service name "controller", **JaegerGrpcExpanExporter** with service name "service" and **JaegerGrpcExpanExporter** with service name "util" and registered them to **OpenTelemetrySdk**.
So, that the spans with kind 'controller' should exporter to exporter configu

[2020-07-27 16:51] carlosalberto opened #1472 "Hide EnvAutodetectResource"
Consider hiding `EnvAutodetectResource` (formerly `EnvVarResource`) and expose its functionality as a static method in `Resource` (such as `createDefault()` or `createFromEnv()`).

(Follow up from #1466 )

[2020-07-28 07:53] luka223 commented on #1398
Just to check what is the meaning of the added label? Is the issue confirmed?

[2020-07-28 10:55] Oberon00 opened #1473 "Illegal reflective access warnings when executing SDK tests in Java 11."
**Describe the bug**
Several illegal reflective access warnings occur when running tests with a JDK 11.

**Steps to reproduce**
Just run `./gradlew build` with JDK 11 or higher. Or you can also just run `./gradlew :opentelemetry-sdk:test`.

**What did you expect to see?**
No warnings or errors 😃

**What did you see instead?**
See this output snippet:
[code]

I'm pretty sure these come from https:/

[2020-07-28 10:57] dengliming commented on #1472
So we can use Resource.createDefault() instead of EnvAutodetectResource.getResource()?

[2020-07-28 11:02] anuraaga commented on #1472
Yeah that's my idea. The less public classes, the more flexibility we have going forward. For example, we may change it to not detect or use env or something with no restrictions.

[2020-07-28 11:07] dengliming commented on #1472
If so, the method EnvAutodetectResource.parseResourceAttributes and builder should stay on or just put all to Resource.java?

[2020-07-28 11:12] anuraaga commented on #1472
As long as it's all package private, so hidden from user, having the implementation in a separate class is still fine :) Can prevent Resource from getting too long and it can have more focused tests.

[2020-07-28 11:15] anuraaga commented on #1473
Seems like a junit4 helper. I'm happy to solve it as part of https://github.com/open-telemetry/opentelemetry-java/issues/1452 if anyone gives it a nod of support :)

[2020-07-28 11:20] dengliming commented on #1473
@anuraaga Migrate to JUnit5 is a good option.

[2020-07-28 12:01] Oberon00 commented on #1473
Yeah, since #1187 this is possible.

[2020-07-28 12:57] dengliming commented on #1472
@anuraaga I'm still a little confused. If i do like this. seems make no sense.
[code]

[2020-07-28 14:13] dengliming commented on #1472
@anuraaga Could you please help to see if the modification below make sense?
in `Resource.java` add below method
[code]
and keep class `EnvAutodetectResource  ` package protected
`final class EnvAutodetectResource {`

[2020-07-29 00:13] anuraaga commented on #1472
@dengliming Yup that seems good to me, thanks!

[2020-07-29 01:45] trask commented on #1462
Closed by #1466. Thanks @dengliming!

[2020-07-29 01:45] #1462 closed

[2020-07-29 12:22] iNikem opened #1476 "Define and document the order of SpanProcessors"
`TracerSdkProvider` can have multiple `SpanProcessors` and every e.g. finished span will be passed to all of them. The problem is that not all `SpanProcessors` are equal. Some of them actually convert `Span` to `SpanData` and pass the latter to `SpanExporter`. Which means they **have** to be the last processors in the pipeline. Otherwise any custom `SpanProcessor` that just tries to add some custo

[2020-07-29 12:33] iNikem commented on #1476
Nevermind, I have read [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#span-processor) once more and everything is clear.

[2020-07-29 12:33] #1476 closed

[2020-07-29 13:16] iNikem commented on #1321
I would like to bridge this to open-telemetry/opentelemetry-java-instrumentation#566

One of the requirements for vendor-specific distribution that we want to support is the ability to add new attributes to spans. Sometimes the values of those attributes may depend on other attributes. Which means that there should be some place in span processing pipeline, where span/spandata/whatever should be b

[2020-07-29 13:37] iNikem opened #1478 "Allow to configure maximum attribute value size"
**Is your feature request related to a problem? Please describe.**
Operators who deploy an application together with SDK can now configure e.g. the maximum number of attributes or events per span. This is done, among other things, to protect the application from excessive memory usage by monitoring SDK. But attribute values can still be arbitrary large.

**Describe the solution you'd like**
Add on

[2020-07-29 13:39] iNikem commented on #1396
@carlosalberto will this how-to be essentially as in https://lightstep.com/blog/opentracing-vs-opentelemetry-building-a-bridge-with-opentelemetry/ ? Or there is another recommended way to use this shim nowadays?

[2020-07-29 13:52] #1409 closed

[2020-07-29 13:53] #1445 closed

[2020-07-29 16:42] Oberon00 opened #1479 "SpanWrapper (SpanData) does not snapshot the value of hasEnded."
**Describe the bug**
`io.opentelemetry.sdk.trace.SpanWrapper` does not store the value of `hasEnded`, updates to the originial Span will be inadvertedly reflected in the SpanData.

**Steps to reproduce**

[code]

**What did you expect to see?**
No assertion failure -- `SpanData` should be immutable.

**What did you see instead?**
Assertion failure -- `SpanData` was modified.

**What version and wh

[2020-07-29 22:23] jarebudev commented on #967
I should have a PR ready this week time permitting.
To confirm - is this for inject only, or both inject and extract?

[2020-07-30 02:18] bogdandrutu commented on #1479
Haha 👍 I would like to close this as "working as intended" :)

SpanData is an immutable snapshot of the current Span, all data recorded after that will not reflect in SpanData.

[2020-07-30 02:27] anuraaga commented on #1478
Should this be defined in the spec first?

[2020-07-30 05:22] iNikem commented on #1479
@bogdandrutu I think the original report was exactly that `SpanData` is NOT immutable right now.

[2020-07-30 05:53] iNikem commented on #1478
`TraceConfig` already allows for configuring max number of events/links on spans and number of attributes. But this is not in spec yet: https://github.com/open-telemetry/opentelemetry-specification/issues/182. So I want to continue this and allow to configure one more thing :) Who say that language cannot provide more configuration that spec dictates? ;)

[2020-07-30 05:57] anuraaga commented on #1478
Not me - adding the knob now makes sense too 👍

[2020-07-30 06:36] Oberon00 commented on #1479
Yes, maybe "preserve" was not the best word choice. It inadvertedly reflects changing hasEnded in the Span.

[2020-07-30 06:55] jankit02 commented on #1471
Hello there,

Even I am planning for the similar implementation. Any suggestion/solution would be highly appreciated.

[2020-07-30 08:07] Oberon00 commented on #1479
After reading the code, it seems that name and endTimestamp are also read from the span instead of being part of the snapshot. Also, I couldn't find any unit tests that would guard against changes to any span property being reflected in the SpanData.

I will prepare a PR.

[2020-07-30 08:40] Oberon00 opened #1483 "Lots of Javadoc warnings when building"
For example
[code]
or
[code]

[2020-07-30 12:34] carlosalberto commented on #1396
Very similar. We just need to put something like that in the README (along probably a few cases, like registering the Tracer in the OpenTracing Global Tracer).

[2020-07-30 12:36] carlosalberto commented on #1321
@iNikem You mean, rename this issue to `Allow exporters...` etc?

[2020-07-30 12:53] iNikem commented on #1321
@carlosalberto Yes.

[2020-07-30 12:58] carlosalberto commented on #1479
Oh my, I totally oversaw the fact this is against `SpanData` directly, not `Span` returning an outdated `SpanData` ;) So yes, this is not an actual bug.

[2020-07-30 13:01] Oberon00 commented on #1479
I think it is a bug. The `@Immutable` annotation on SpanData/SpanWrapper is violated.

[2020-07-30 13:13] carlosalberto commented on #1321
@iNikem Makes sense.

@anuraaga Any objection to rename/edit this issue to make it `SpanProcessor` oriented?

[2020-07-30 13:29] iNikem commented on #1321
@carlosalberto `SpanExporter`, not `SpanProcessor`

[2020-07-30 13:32] carlosalberto commented on #1321
I'm confused now. You want to have this decoration logic where? SpanProcessor or SpanExporter? 😉

[2020-07-30 13:40] iNikem commented on #1321
`SpanExporter`. This issue should be `SpanExporter` oriented, to allow `SpanExporter` to decorate SpanData.

[2020-07-30 14:01] anuraaga commented on #1321
To be honest, I don't care where the decoration is if it's possible ;) My gut instinct still says `SpanProcessor`, probably with another lifecycle method for decoration pre-export, is cleaner. But there seems to be more buy-in on making this a part of the exporter and I'd rather stick with that momentum so this issue title seems fine as is to me.

[2020-07-30 16:05] Oberon00 opened #1487 "Sampler.shouldSample can get a parent SpanContext of null"
Samplers get `null` for their parent `SpanContext` in `shouldSample` if the parent is "invalid". This seems to be the only place in the whole SDK+API where a SpanContext can be null. Everywhere else we pass an invalid/empty context in such a case. I think the sampling API should behave the same way.

`null` assigned here if the parent is invalid:

https://github.com/open-telemetry/opentelemetry-ja

[2020-07-30 16:32] jkwatson commented on #1452
I'm very much in favor of upgrading to junit5, especially since we can, since we updated our tests to use java 8. 100% agreed with removing the `@RunWith` annotations, as well, as they just add noise, IMO.

I have less of of an opinion on AssertJ vs. Truth. I've never used AssertJ and I hadn't used Truth before this project. :)

[2020-07-30 17:17] jkwatson commented on #1119
closing by #1444 .

[2020-07-30 17:17] #1119 closed

[2020-07-30 17:30] jkwatson commented on #1460
Nothing in the current design precludes a user from just using the tracing APIs (or the metric APIs) and ignoring the other. I don't think this would provide much value for the user, and would definitely complicate things in the project itself.

[2020-07-30 17:36] kenfinnigan commented on #1460
Would you not consider it a bad developer experience to have metrics APIs present and expect no one to use them? In addition to packaging code that adds size without value if not used?

To me, that seems counter-intuitive.

[2020-07-30 18:05] jkwatson commented on #1398
It's just noting that we need to either confirm that this is an issue, or close it before GA. So far, no one has been able to reproduce your issue. Can you post a full reproduction case in github somewhere?

[2020-07-30 18:14] jkwatson commented on #1472
closing via #1477

[2020-07-30 18:14] #1472 closed

[2020-07-30 18:26] jkwatson commented on #967
Unless there's some reason I don't understand, I think we'd want both inject and extract.

[2020-07-30 18:31] jkwatson commented on #1471
I recommend writing a custom exporter that will wrap the multiple Jaeger exporters, delegating to the exporter you desire, based on your criteria. The Jaeger exporter doesn't do any filtering itself, but you can filter and dispatch as required in your own custom way.

[2020-07-30 19:38] jkwatson commented on #1447
From the spec: "  Events have a time associated with the moment when they are added to the Span. "

So, this sounds like just a javadoc update to make it explicit that we're using `now` if the user doesn't give us one? I don't think you can have a "timestamp-less" event.

[2020-07-30 19:40] jkwatson commented on #1397
Looks like we've now got docs in the `docs` directory (as of #1455), so I'm guessing this can be closed. Please re-open if you think there is something more needed.

[2020-07-30 19:40] #1397 closed

[2020-07-30 19:41] jkwatson commented on #1305
I'm not very familiar with OSGI. Would this be resolved by https://github.com/open-telemetry/opentelemetry-java/issues/768?

[2020-07-30 19:48] jkwatson commented on #1321
Since we have the public `SpanData` interface, nothing is stopping you from creating your own wrapper and using it in a delegating exporter. Do we truly need to have the wrapper as a part of the SDK to enable your use case? [I think that `SpanData` was a final class when you initially created this issue, so I'm wondering if this is now something that can just be done by the exporter author as need

[2020-07-30 20:33] jkwatson commented on #1460
I don't think it's a big deal for developers, no. The API codebase is quite small, and if you don't use the classes, you don't load the classes. And, for users who want to use both APIs (and logging, in the future), it definitely is more of a pain to have to figure out which of the API modules to depend on.

One of the goals of the OpenTelemetry project is to have a single API for all the standard

[2020-07-30 21:25] jkwatson commented on #243
closing this with the merging of #1434

[2020-07-30 22:22] #1479 closed

[2020-07-30 22:56] anuraaga commented on #1447
Hmm - guess need to clarify the spec then. Just two sentences down it says "(Optional) Timestamp for the event" so this does seem to be a contradiction.

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#add-events

[2020-07-30 23:02] jkwatson commented on #1447
I *think* that's meaning optional in the sense that the SDK will set it for you if you don't provide it via the API call. But, I could be wrong, of course!

[2020-07-30 23:10] anuraaga commented on #1452
I'll tackle the junit5 first - thanks for the vote :)

[2020-07-31 00:20] anuraaga commented on #1321
I think there are two issues with requiring users to write their own wrapper

- It's pretty tedious to write the wrapper since there are so many methods - it's not very good UX
- It's less safe for users since they'll have to update the wrapper any time the `SpanData` interface changes, even if the change is supposed to be backwards compatible. Though this does make me wonder if that's an issue wi

[2020-07-31 02:47] jkwatson commented on #1321
Sure would be nice if we could use java 8 with default methods, eh?

[2020-07-31 02:53] jkwatson commented on #1321
So, all it would take to close this issue would be a `SpanDataWrapper` or `DelegatingSpanData` class that allowed easy extension to override any of the `SpanData` methods? I don't have any opposition to that being added.

[2020-07-31 04:53] iNikem commented on #1321
I don't understand why delegation is the best way to augment existing `SpanData` with new information. I wanted to propose something like `SpanData.toBuilder()`, which I then can use to add/change data and then call `build` to get new `SpanData`.

[2020-07-31 05:15] anuraaga commented on #1321
@iNikem The only reason is performance, can be expensive to copy into builder and back. But I agree it's probably an easier to use API, I'm ok with either approach really.

[2020-07-31 08:12] iNikem commented on #1418
Closed by #1480

[2020-07-31 08:12] #1418 closed

[2020-07-31 10:46] iNikem commented on #1321
I still don't understand how delegating would work :) Suppose we do `DelegatingSpanData`. We want to allow adding new attributes/events/links. `SpanData.getAttributes` returns `ReadableAttributes` where you cannot add new attributes. So how will `DelegatingSpanData.getAttributes` return `ReadableAttributes` with both old and new attributes?

[2020-07-31 13:46] kenfinnigan opened #1490 "Testsuite for other implementations of API"
Though OpenTelemetry provides an implementation of the API with its SDK, it would be great if there was a TCK style of test suite that could be used to verify non OpenTelemetry implementations of the API to ensure some level of compatibility and compliance.

Has anything like this been discussed?

[2020-07-31 14:01] anuraaga commented on #1321
It probably requires `Attributes.toBuilder` :) TBH these concepts are vaguely in my head and I want to try them out - I can get something ready by beginning of next week so if anyone wants, feel free to assign this to me.

[2020-07-31 14:07] carlosalberto commented on #1490
Hey @kenfinnigan

It was, but long time ago ;) I agree that having such TCK layer would of of great help. In OpenTracing Python we had this one, and it was pretty, pretty useful.

Probably this is something that should actually land in the Specification, as I can imagine this being done for all the supported languages ;)

[2020-07-31 14:17] anuraaga commented on #1490
/cc @awssandra We're working on some cross-language integration tests for the SDKs, is there anything we can help with here?

[2020-07-31 14:20] kenfinnigan commented on #1490
That's a good point @carlosalberto, should an issue be opened in the specification?

[2020-07-31 16:58] e-infotech opened #1491 "How to start"
Hi,

I want to work on an open-source software to be able to monitor it and get its metrics. But I'm confused about the starting point! Should I change anything in the software code or I just need to add a new page and call the software functions in that?
I would appreciate it if anyone can help with it.

[2020-07-31 17:15] jkwatson commented on #1491
Can you provide some more context as to what you would like to monitor?

[2020-07-31 17:48] e-infotech commented on #1491
Does it matter?
I want to monitor the performance of the software such as CPU time, memory and so on. The more, the better
Also, I need to trace the software and see what's going on in it

[2020-07-31 19:05] jkwatson commented on #1491
Well, is it a java application? What frameworks are you using? Do you want to use auto-instrumentation or manual instrumentation?

We do have a quickstart guide here:  https://github.com/open-telemetry/opentelemetry-java/blob/master/QUICKSTART.md

Does that help?

[2020-08-01 02:29] e-infotech commented on #1491
Yes, Java and Maven. Which one do you recommend?
I checked that before but I'm not sure if I have to change the software code?! Because if I need to change its code obviously it wouldn't be a good option.

[2020-08-01 03:49] jkwatson commented on #1491
If you're interested in auto-instrumentation, I recommend heading over to the instrumentation project, which hosts the auto-instrumentation agent:  https://github.com/open-telemetry/opentelemetry-java-instrumentation

[2020-08-02 01:53] dengliming opened #1492 "Provide programmatic configuration of service name for the OTLP exporter"
follow [https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/864](https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/864) We discuss here :)

`OtlpGrpcSpanExporterProperties.serviceName` is not being used and Currently the way to set service name for OTLP is via `OTEL_RESOURCE_ATTRIBUTES`. We should have a way to set OpenTelemetry Resource Attributes

[2020-08-02 12:27] dengliming commented on #1483
Can you assigne to me?

[2020-08-02 14:33] iNikem commented on #1483
Not sure it makes sense to write javadoc for obvious params or return values... Is there any profit in such warnings?

[2020-08-02 14:40] anuraaga commented on #1483
+1 to changing the defaults to not require param / return, we can make sure javadoc is useful through code review. But I wouldn't block if anyone else feels strongly about them. FWIW, if I had to choose between the style of the JDK or @trustin I'll generally side with the later :)

[2020-08-02 14:58] Oberon00 commented on #1483
Personally I'm especially annoyed by having to write (and read!) `@return` docs that are literally copy and pase from the summary section.

[2020-08-02 16:23] jkwatson commented on #1492
I think this is a duplicate of https://github.com/open-telemetry/opentelemetry-java/issues/1454

[2020-08-02 16:31] jkwatson commented on #1483
100% agreed with loosening up the javadoc requirements a bit. Duplicated useless javadoc doesn't help anyone.

[2020-08-02 17:05] iNikem commented on #1483
You now even require javadoc for benchmarks??

[2020-08-02 17:23] jkwatson commented on #1483
I don't think it was intentional...just got swept up in the madness.

[2020-08-02 19:37] carlosalberto commented on #1483
+1 to this. We should do (later) a pass to remove things that may be annoying to new contributors.

[2020-08-03 01:35] anuraaga commented on #1473
@Oberon00 Migrated to JUnit5 but unfortunately the new module uses the same approach for setting environment variables which mutates an unmodifiable map's private method. I guess it's important to have the test, so fixing this would require separating out a test source set / gradle test task for it I think. It's a lot of complexity but do you think it's worth it? Will do if so :)

[2020-08-03 06:49] Oberon00 commented on #1473
You could test everything *but* the System.getEnvironment* since there is already a method taking a string map. I think Java 11 also has a process pqckage so there may be a public API for that now.

[2020-08-03 09:07] Oberon00 commented on #1473
Hmm, I think there are also command line options you could pass to the JVM (configured in gradle) to explicitly allow the access.

[2020-08-03 10:29] anuraaga commented on #1473
Yup will take a look.

[2020-08-03 13:03] carlosalberto commented on #1321
+1 for this approach.

[2020-08-03 15:12] #1478 closed

[2020-08-03 15:38] dengliming commented on #1492
thx. let's move to there.

[2020-08-03 15:38] #1492 closed

[2020-08-03 15:43] dengliming commented on #1454
Another scenario. follow open-telemetry/opentelemetry-java-instrumentation#864 In spring boot starter
`OtlpGrpcSpanExporterProperties.serviceName` is not being used and Currently the way to set service name for OTLP is via `OTEL_RESOURCE_ATTRIBUTES`. Should we set OpenTelemetry Resource Attributes programmatically or a way to set the serviceName directly on the OtlpGrpcSpanExporter (e.g. which wou

[2020-08-03 16:01] e-infotech commented on #1491
Thank you for the link, but I went through this documentation, and I found it a bit vague, It's not organized and clear. I need a step by step documentation. If the application was mine that could be helpful though. Right now I can't figure out where exactly should those changes be applied? I installed Zipkin and Prometheus before, but I don't know how I can see the metrics and traces in them.

[2020-08-03 16:31] jkwatson commented on #1491
Hi @e-infotech . The project is still in beta at the moment, and we know our documentation probably needs more work. Can you try working through the documentation and ask questions about where you got stuck? Reaching out on our gitter channels is probably a great way to get help, and provide feedback.

Gitter for the Java API and SDK:  https://gitter.im/open-telemetry/opentelemetry-java
Gitter for

[2020-08-03 17:15] e-infotech commented on #1491
Ok, thank you. I got stuck after downloading the jar file. I'm documenting everything I find out as I'm working on this, so I can share that with you afterwards. Thank you anyway.

[2020-08-03 17:27] iNikem opened #1496 "Document TraceConfig"
Currently SDK configuration, or `TraceConfig` specifically, is not documented. It does have nice javadoc, but SDK users are not always developers, who read javadoc. They may be operations people. Or they may even be users of auto instrumentation java agent. Both of these groups will benefit from a public document describing available configuration.

[2020-08-03 20:25] Oberon00 commented on #1225
Since https://github.com/open-telemetry/opentelemetry-specification/pull/704 this should be very simple to solve: Just remove any parent-dependent code from the probability sampler.

[2020-08-03 20:38] jkwatson commented on #1490
Is there even enough of a specification of what a non-default SDK MUST do at this point to make this valuable? IIRC, we've been focussing on describing the default SDK's behavior, rather than any arbitrary SDK's behavior.

[2020-08-03 20:40] jkwatson commented on #1471
@poogurgaon can we close this? Is my suggestion workable?

[2020-08-03 20:41] jkwatson commented on #1465
@trask does #1486 work for this? If so, please close. Thanks!

[2020-08-03 20:48] jkwatson commented on #1454
If a user were to supply a Resource manually, would it get merged with any others, automatically, or should it be considered to be complete?

Would we want to enforce the "required" Resource attributes as specified here?  https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/resource/semantic_conventions/README.md ? And, if so, what would be the desired behavior i

[2020-08-03 21:00] Oberon00 commented on #1454
I don't think required is enforced for spans, so why should it be enforced for resources? Also, https://github.com/open-telemetry/opentelemetry-specification/issues/653

[2020-08-03 21:14] trask commented on #1465
yes it does!

[2020-08-03 21:14] #1465 closed

[2020-08-03 22:12] williamhu99 opened #1498 "Allow users to create their own ZPageServer instance"
**Is your feature request related to a problem? Please describe.**
At the moment, the /tracez zPage only logs spans created by the global `OpenTelemetrySdk`. This prevents users who are interested in zPages from using their own sdk.

**Describe the solution you'd like**
The `ZPageServer` class registers the zPages using the `OpenTelemetrySdk`. We should modify the class so that users can create th

[2020-08-03 22:51] anuraaga opened #1499 "TraceState getEntries order does not seem to be correct"
Found while migrating Truth to AssertJ, where the default is to verify order.

https://github.com/open-telemetry/opentelemetry-java/pull/1493/files#r464640348

[2020-08-03 23:07] jkwatson commented on #1454
oh, I know. :) Just wanted to raise it, since of all the things, not having a `service.name` is probably going to make most backends not work right.

[2020-08-03 23:27] anuraaga commented on #1499
Ordering was correct, updated test in that PR https://github.com/open-telemetry/opentelemetry-java/pull/1493#discussion_r464713537

[2020-08-03 23:27] #1499 closed

[2020-08-04 04:55] wimnat commented on #1214
@joshgav I assume you're pursuing this with your AppD account team?  If you've got any names or case numbers in AppD I am happy to throw my weight behind this.

[2020-08-04 07:58] Oberon00 commented on #1490
I would think so. The API spec is clearly separated from the SDK spec and any non-default SDK must also fulfill the API spec.

[2020-08-04 13:13] Oberon00 commented on #1454
Note that as per https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/resource/semantic_conventions/README.md#document-conventions

So as long as no other service attribute is present, it is OK to leave out service.name, even obeying required.

[2020-08-04 14:15] poogurgaon commented on #1471
@jkwatson  I have used your idea of Custom Exporter but I did slight modification in that.

Instead of delegating the request to JaegerGrpcSpanExporter after filtering, I have created multiple JaegerGrpcSpanExporters after implementing SpanExporter interface after overriding exporter method while all other behavior will be same as of JaegerGrpcSpanExporter and resgistered them to OpenTelemetrySdk.

[2020-08-04 14:15] #1471 closed

[2020-08-04 14:57] fmhwong commented on #1305
Should the `DefaultTracerProvider` also implement `Obfuscated`?

[2020-08-04 15:05] Oberon00 commented on #1305
It would just throw at the cast to `TracerSdkProvider` then.

[2020-08-04 15:17] jkwatson commented on #1490
So, what does it mean to "fulfill" the API spec? The observable outputs of the SDK are 100% dependent on what the SDK decides to do with API calls, and I don't think that behavior is necessarily well defined. Can you give an example of something that could be tested this way today?

[2020-08-04 15:33] jkwatson opened #1503 "Create an example of using the Prometheus exporter"

[2020-08-04 15:44] kenfinnigan commented on #1490
If there is behavior within the SDK that defines what is output, is that defined in the spec?

If there's no expectation about anyone every implementing the API outside the SDK, and thus the API is purely a public API documentation piece, could that be documented somewhere if it isn't already?

[2020-08-04 15:53] jkwatson commented on #1490
I believe that the intent is that alternative API implementations are possible, but I don't believe that the spec says anything, at this point, about how those alternatives should behave, or what their outputs SHOULD (or MUST) be.

[2020-08-04 16:11] carlosalberto commented on #1490
For reference, this is what we had in [OT Python](https://github.com/opentracing/opentracing-python/blob/master/opentracing/harness/api_check.py) - as you can see, the things we had there were basic overall, but you get an idea of the (very) minimum requirements.

Other than that, having a set of requirements for the output becomes trickier, and would require way more work - for example, there cou

[2020-08-04 16:41] iNikem commented on #1490
Hmmm, looks like https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/298#issuecomment-664162169

[2020-08-04 17:57] jkwatson commented on #1454
That may be currently allowable, but I think that will force all the exporters to require it as a field, kind of making any definition of the service.name in the Resource moot.  I know this isn't the right place to be having this discussion, btw...I just wanted to highlight how I think the Resource spec is not really fulfilling some basic needs at the moment.

[2020-08-04 19:43] jkwatson commented on #1490
But that's just exercising the default SDK, not any arbitrary SDK, right? So, I think my concern stands...I just don't know what we can say about arbitrary SDKs...maybe one would have no discernible output, aside from some S3 bucket somewhere, for example.

[2020-08-04 21:45] jarebudev commented on #967
Finally got back to this.. :)

I have made changes so that JaegerPropagator injects baggage items and is ready for a PR.

For extracting baggage from Jaeger, unless I've missed something, I was wondering how we'd extract a baggage item when the HTTP headers ```uberctx-{baggage-key}```  passed to the propagator are not fixed and we can only get 'known' headers (e.g. ```uber-trace-id```) using the `

[2020-08-04 23:08] carlosalberto commented on #967
@jarebudev

We need to support iteration of keys in the `Getter` - see [this](https://github.com/open-telemetry/opentelemetry-specification/issues/433) (on my queue, and it's also marked as "required-for-ga"). Hope to work on that next week, and once that is done, you will be able to complete this task ;)

[2020-08-05 01:39] jkwatson opened #1506 "Flaky Test Failure: TraceContextDataProviderTest (1x)"
[code]

Instances:
https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java/2776/workflows/aebfe1c0-d365-4fbf-94b7-4d6c978422d2/jobs/5637

[2020-08-05 04:31] iNikem commented on #1490
The same test harness can be used to exercise any SDK and verify that Collector got and understood all the data. E.g. I am going to use the same harness for testing Splunk agent as well.

[2020-08-05 05:13] dengliming commented on #1506
@jkwatson Maybe `15ms` may not be particularly accurate and may be influenced by other factors? I would like to suggest that specify a maximum wait time.  like：
[code]
Does that make sense?

[2020-08-05 05:15] dengliming commented on #1506
@jkwatson Maybe `15ms` may not be particularly accurate and may be influenced by other factors?

[2020-08-05 08:34] Oberon00 commented on #1490
I don't think being able to talk to the collector can be a generic requirement for any SDK. The no-op implementation is the minimal SDK implementation. Any really generic test suite would be a subset of the no-op testsuite.

[2020-08-05 17:08] jkwatson opened #1511 "Update the env var/system property for resource labels"
Now that https://github.com/open-telemetry/opentelemetry-specification/pull/666 has been merged, we should use the standard env var/system property for Resources. See `EnvAutodetectResource.java` for details.

[2020-08-05 17:17] jkwatson commented on #1511
Maybe not needed if https://github.com/open-telemetry/opentelemetry-specification/pull/758 gets merged.  ;)

[2020-08-05 22:53] jkwatson commented on #1452
@anuraaga I think we can close this now, yes?

[2020-08-05 22:54] jkwatson commented on #1425
I'm pretty sure this is fixed now. closing.

[2020-08-05 22:54] #1425 closed

[2020-08-05 22:55] jkwatson commented on #1460
I'll also let @carlosalberto and @bogdandrutu chime in on this one. My opinion is only one of many. :)

[2020-08-05 22:56] jkwatson commented on #1416
closing; this is done.

[2020-08-05 22:57] #1416 closed

[2020-08-06 07:01] #1452 closed

[2020-08-06 14:45] carlosalberto commented on #1460
Same feeling as @jkwatson - the API is very small and we indeed want to offer a unified experience (if possible).

[2020-08-06 15:26] kenfinnigan commented on #1460
That's fair.

Looking at it from a different direction, could the `sdk` be split instead?

I'm currently looking at how to use Micrometer with the OpenTelemetry Metrics APIs, and it would be nice if from an implementation side I could plug in Micrometer for the Metrics piece, but still use the OpenTelemetry SDK for everything else.

Maybe split into:
- `sdk-common`
- `sdk-metrics`
- `sdk-correlati

[2020-08-06 17:15] jkwatson commented on #1460
This should be possible right now, if you provide an SPI provider just for the metrics SDK Provider, this should work as-is. If there is something that won't work with that approach, I definitely want to fix that!

[2020-08-06 17:30] kenfinnigan commented on #1460
Working on that so can't comment directly at present.

But I was thinking of it from the perspective of plugging in your own provider, but then not having the SDK metrics provider present at all.

With [Quarkus](https://quarkus.io/) there is a lot of work done to minimize the number of classes being brought along with an application, whether executing on a JVM or building an image with native, whi

[2020-08-06 18:57] jkwatson commented on #1460
Ah! This is very good to know. Yes, I think having separate artifacts would be very useful for this reason. I think this will be a bit of work to properly untangle, so we probably won't get to it until after GA (unless you have time to do it, of course!). Can you rewrite this issue (or make a separate issue..your call) to publish independent SDK artifacts?

[2020-08-06 20:07] kenfinnigan commented on #1460
I've modified the title, let me know if that fits better.

I might try and tackle it next week, depending on how things go

[2020-08-06 20:11] jkwatson commented on #1460
@kenfinnigan I'm marking this as "after-ga" only to signify that we could go GA without it, not that it absolutely shouldn't be done.

[2020-08-06 20:16] kenfinnigan commented on #1460
Not a problem

[2020-08-06 20:28] jkwatson commented on #1511
closing, since the spec got updated to match us.

[2020-08-06 20:28] #1511 closed

[2020-08-06 20:59] jkwatson commented on #1453
This is an interesting case, and I'm not sure of what the behavior should be.

In general, for counters, should they always report '0's if nothing has been counted? Should they reporting nothing if nothing was counted in the reporting interval, or should they report '0', since the counter remains at zero?

[2020-08-06 22:21] jarebudev commented on #1503
I can look at this, I assume its intended to be similar to the other example applications that are already there?

[2020-08-07 04:38] anuraaga opened #1517 "ZPage form handler uses GET"
**Describe the bug**
Currently, it seems that updating configs of ZPages uses HTTP GET
https://github.com/open-telemetry/opentelemetry-java/blob/master/sdk_extensions/zpages/src/main/java/io/opentelemetry/sdk/extensions/zpages/TraceConfigzZPageHandler.java#L277

**What did you expect to see?**
It should use POST for security reasons. An image tag in an email would be enough to raise sampling rate

[2020-08-07 04:39] anuraaga commented on #1517
@wtyanan

[2020-08-07 09:08] FroMage commented on #575
Hi,

I work on MicroProfile Context Propagation (https://download.eclipse.org/microprofile/microprofile-context-propagation-1.0/microprofile-context-propagation.html) and noticed this issue which touches on a lot of topics we are concerned with, so I thought perhaps I can shed some light on what we do about context propagation.

First, unlike gRPC Context, MicroProfile Context Propagation (MP-CP f

[2020-08-07 14:17] #1402 closed

[2020-08-08 05:29] huntc commented on #1422
I think the label for this should indicate releasing before GA as it’ll have API implications.

[2020-08-09 13:17] iNikem commented on #575
@FroMage This is very interesting for us in auto instrumentation for Java. Can you please take a look at [this use-case](https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/787#issuecomment-663961981)? How does MP-CP handle such "run-away" contexts?

[2020-08-09 13:36] Oberon00 commented on #1422
My take on this is: It doesn't matter. Exporter + SpanProcessor are often a closely coupled unit at this point in practice. For example, an exporter that syncronously exports the batch of spans it gets (which is often the easiest to implement), cannot be sensibly used with a SimpleSpanProcessor because it would be making network requests for every single ended span on the critical path of the appl

[2020-08-09 13:47] Oberon00 commented on #1422
One more point about async-ness: We currently struggle to find a use case for doing anything with the success/failure return value of the exporter. What is a span processor supposed to do with the completed/still in progress information that an "async" method would add? What code would it run in a callback?

[2020-08-09 18:58] joshgav commented on #1214
Thanks @winmat, I've indeed been working with AppD folks and they now have a plan for OT support soon. In particular I've been watching the work in progress [here](https://github.com/Appdynamics/opentelemetry-collector-contrib) on an AppD exporter :+1:.

[2020-08-09 20:48] huntc commented on #1422
Thanks for the feedback.

Having now spent almost a month pondering my original question and working on a PR, a couple of things stand out:

1. Types are important and the Exporters types should reflect the semantics of the interface - no matter as to there being an implementation gain or not. Types are documentation and therefore assist the new user of these interfaces in understanding the intent

[2020-08-10 13:08] kenfinnigan commented on #1460
@jkwatson could you assign the issue to me, I'll be working on it over the coming days.

Any particular "gotchas" I should be aware of when splitting the bits out?

My current idea is to split it into:

- common (combines packages common, internal, and resources)
- correlationcontext
- metrics
- tracing
- complete (basically what sdk module is today)

Does that seem reasonable?

[2020-08-10 14:42] kenfinnigan commented on #1460
I'm having a few issues figuring out the right project structure, as I've not used Gradle in the past.

I originally tried:
[code]

But that has issues finding the "complete" sdk project, given I added `.replace("opentelemetry-sdk-", "sdk/")` into `settings.gradle`.

Would a better approach be to have:
[code]

`sdk-parts` is just an arbitrary name, could be anything.

Any thoughts/feedback appreci

[2020-08-10 14:42] carlosalberto commented on #1422
@huntc From the last Java meeting, we will be trying out your API (I will do a deep review myself later this week of your PR, but focusing on the code, not the idea/design itself ;) ).

The points that @Oberon00 raises are very interesting though. To me, also for Java it's not as important to have this new API as it may be for, say, Scala frameworks (who do a fair amount of asynchronous calls).

[2020-08-10 14:51] Oberon00 commented on #1460
You can just write `project('opentelemetry-sdk`).projectDir =  "$rootDir/sdk/sdk" as File` at the end of settings.gradle.
Another possibility would be to have the sdk directly in sdk/ (i.e. have a sdk/build.gradle and sdk/src/main/gradle, etc alongside the subprojects). I'm not sure how conventional and well-supported that is though.

[2020-08-10 14:55] Oberon00 commented on #1422
That's true. One thing to note is that when we change the API to be async, we have to consider how much sense the BatchSpanProcessor implementation still makes. If exports are async, then probably it should not have a background thread but invoke the exporter directly in OnEnd once a batch is full/the timeout is expired (or do we still need a background thread for the case where no new span is sta

[2020-08-10 15:43] jkwatson commented on #1517
I sure hope no-one is exposing zpages to the public internet!

[2020-08-10 16:57] jkwatson commented on #1460
I haven't thought a huge amount about this, but maybe
[code]

With the `sdk/all` directory published with the same name as the sdk is today (`opentelemetry-sdk`, I believe) ?

[2020-08-10 17:03] kenfinnigan commented on #1460
Thanks, I will go with `all/` and use @Oberon00's trick for in `settings.gradle`

[2020-08-10 17:07] jkwatson commented on #1422
@Oberon00 : Your point about SpanProcessors being the more important construct is very interesting. Maybe what we really need is an alternative async-friendly SpanProcessor, if the disruptor version isn't working.

@huntc would it make sense to have a scala-friendly SpanProcessor implementation, maybe even written in scala, that would work with a new scala-friendly exporter interface? This seems l

[2020-08-10 17:21] trask commented on #1422
Even with an async exporter, I don't think you'd want to invoke it on the application execution thread. I think the idea is for the async exporter to do marshalling on the same thread, and then call an async http/gRPC framework, at which point it would return to the caller instead of waiting for synchronous http/gRPC.

[2020-08-10 17:55] jkwatson commented on #575
@FroMage Super interesting. I'm going to set aside from time to read the spec document. Thanks for linking this here!

[2020-08-10 20:37] huntc commented on #1422
I do not see the motivation for my original question being influenced by the language being used, be it Scala, Java, Kotlin, Clojure etc. My take is that the Java OTEL project represents the JVM as a whole. Java is the common denominator.

Async non-blocking code is as important in Java-land as anywhere else.

[2020-08-10 20:46] huntc commented on #1422
Yes, the latter.

I think the batch span processor makes sense depending on how the exporter meets one’s use case. In my case, the exporter I’m writing will encourage the use of the simple span processor. It’s objective is to stream data to a collector as fast as it can and, in the case of back pressure, will drop older telemetry.

[2020-08-10 20:47] huntc commented on #1422
I see no distinction here between Java and Scala.

[2020-08-10 22:16] jkwatson commented on #1422
Leaving the Java/Scala differences aside for the moment, what do you think of @Oberon00 's core thesis that perhaps a new SpanProcessor that better supports async models, with an more natively async contract with exporters would be a alternative approach to modifying the existing non-async-friendly BatchSpanProcessor?

[2020-08-10 22:30] jkwatson opened #1526 "When using the env vars to set the TraceConfig, the SDK should wrap the probability sampler with a ParentOrElse sampler."
When we introduced the ParentOrElse sampler as the default, we didn't update the TraceConfig builder code to wrap the probability sampler with a ParentOrElse. I think this is probably unexpected behavior, since the ParentOrElse should continue being the default wrapper Sampler.

If/when we change the Probability sampler to not consider the parent sampling decision, then this bug would be more seve

[2020-08-10 22:47] huntc commented on #1422
Firstly, I don't see that another type of span processor would change the contract of the exporter i.e. the exporter's types should still convey the behaviour expected.

Secondly, adding another type of span processor will perhaps just increase confusion. If anything, I'd stick with the simple span processor and do away with the batch one altogether. This then places more emphasis on the exporters

[2020-08-10 23:34] anuraaga opened #1527 "Use microsecond precision on Java 9+"
A small amount of version detecting would let us have better precision on timestamps (I don't think I see this anywhere here yet), a couple of examples

https://github.com/openzipkin/brave/blob/master/brave/src/main/java/brave/internal/Platform.java#L166
https://github.com/line/armeria/blob/0bb591d252884ec471af00e2757032ae57196d5e/core/src/main/java9/com/linecorp/armeria/internal/common/Java9Versi

[2020-08-10 23:47] jkwatson commented on #1422
Cool. Just wanted to think through all the options. Thanks for humoring me.

[2020-08-11 01:07] bogdandrutu commented on #1460
This should be discussed in the specs, because this was one of the main point of having all telemetry together

[2020-08-11 01:22] anuraaga commented on #1422
For a bit of color, I would say here Exporter is the low level primitive, and span processor is a higher level abstraction. The higher level generally can't "do more" than the primitives it has available. So the span processor, if wanting to go async, has to workaround by e.g. delegating to a disruptor thread (even if the exporter has its own event loop, it's a situation that makes me cry a little

[2020-08-11 01:58] jkwatson commented on #1460
We would still be publishing an artifact with everything together. Just provide an option for people who only would like to implement (for example) an alternate metrics SDK, and still be able to use tracing as-is.

[2020-08-11 02:41] bogdandrutu commented on #1460
The problem is that you need to use boms otherwise will be hard to ensure all the versions are the same for all artifacts, and will cause troubles for others. That being said I think we can ship a trace/metrics/etc and a SDK package. But would still like to hear specs opinion on this

[2020-08-11 03:26] kenfinnigan commented on #1460
Not sure I see why boms are needed if all artifacts are released at the same time. Won't they always be in sync?

@bogdandrutu @jkwatson what's the appropriate way to get the opinion from those in the spec group?

[2020-08-11 03:42] jkwatson commented on #1460
A BOM would make it easier for users to keep things in sync from the consumer side. Not strictly required, but definitely nicer for the end consumer.

 The first step would be to raise an issue in the specification repo about it.

[2020-08-11 04:01] bogdandrutu commented on #1526
This whole config needs a revision

[2020-08-11 07:39] rvowles opened #1530 "CorrelationsContext does not work from the client"
**Is your feature request related to a problem? Please describe.**
I have come from OpenTracing and I would like to use OpenTelemetry in a complete replacement. I am advocating it for use in passing feature flag state from clients to servers so they propagate through the infrastructure (which we do for OpenTracing). However, with the Java implementation (instrumentation) this simply doesn't work.

[2020-08-11 09:31] Oberon00 commented on #1422
@huntc

We can have different exporter interfaces for use with different SpanProcessors. E.g. async-friendly SpanProcessors could use an AsyncExporter interface while others use the old exporter interface.

That's a slippery slope to removing the exporter/span processor distinction altogether. Especially if we are thinking about chained exports / chained span processors.

Yeah, I don't think this

[2020-08-11 09:35] Oberon00 commented on #1422
I don't see this as a workaround, it's the value that it provides to the exporter, since it doesn't have to have an event loop/background thread itself. Of course this is bad if the exporter needs a different threading model.

[2020-08-11 12:07] kenfinnigan commented on #1460
Should I be adding an SDK bom as part of this PR?

I'll raise an issue

[2020-08-11 12:33] ebullient commented on #1460
The spec is about the API, certainly, not the SDK (which is an implementation of the API). While perhaps considered unlikely, there is always the possibility that someone would make their own SDK wholesale (and this isn't against the spec, as the spec is focused on the API and the responsibility of the SDK, not the SDK itself). Making the SDK more modular (which would allow some customization of h

[2020-08-11 13:43] Oberon00 commented on #1460
There is a spec for the SDK too, but the spec is also modularized in trace/metric/resource/..., so I also don't think this runs counter to the spec.

[2020-08-11 15:23] jkwatson commented on #1530
Hi @rvowles . This definitely hasn't been implemented yet. I think it's currently held up by this spec issue:  https://github.com/open-telemetry/opentelemetry-specification/issues/536

It definitely needs to be addressed before GA, so I will tag it as such.

Thanks for highlighting this! I had forgotten this was still not done.

[2020-08-11 15:26] jkwatson commented on #1460
@kenfinnigan If you can look into adding a BOM, that would be great. Otherwise, we can make it a follow-up issue to get implemented.

[2020-08-11 15:49] jam0cam opened #1531 "Duplicate Trace ID"
**Describe the bug**
In traces where the same name is used, I sometimes get the same trace id. This happens over different app launches. See the screenshots, some duplication is almost an hour apart.

**Steps to reproduce**
Normal usage should produce this. I have about 15-20 unique traces throughout my app, and I would see duplicates among some of those traces.

**What version and what artifacts

[2020-08-11 15:55] Oberon00 commented on #1531
I don't think this has anything to do with the name. Probably the seed or algorithm of the RNG is bad.

[2020-08-11 17:22] jkwatson commented on #1531
We're using ThreadLocalRandom for the id generation, by default. Is Android's implementation of TLR bad? You might need to replace the IdGenerator implementation for Android, perhaps?

[2020-08-11 20:35] rvowles commented on #1530
Thanks - the implication in that issue is they have settled on the header "Baggage" and are just waiting on the process to move its inexorable way through the w3c process.

[2020-08-11 21:46] jkwatson commented on #1530
I think that's the case, but I haven't really been following it all that closely, TBH.

[2020-08-11 21:54] trask commented on #1422
Cherry picking from above:

Is there some way we can make `Simple/Disruptor/BatchSpanProcessor` an internal implementation detail of exporters? And make `SpanProcessor` all about enhancing/filtering spans?

[2020-08-11 22:06] huntc commented on #1422
This is exactly what I was alluding to above:

Abolish span processors.

However, we are getting off track with this particular issue. My original question was about the appetite for making the exporter’s types reflect the nature of the operations they perform. This stands. It’d be great to close out this issue with a yay or nay wrt the exporter’s types. Let’s open another issue to discuss the rel

[2020-08-11 23:19] jkwatson opened #1532 "JMH no longer runs for the sdk"
The error:
[code]

It looks like this started with the move of TestSpanData to the new testing_internal module.

[2020-08-11 23:53] anuraaga commented on #1413
Just took one glance and one suspicious part I found was we may need to filter out the bom project from this line

https://github.com/open-telemetry/opentelemetry-java/blob/master/build.gradle#L354

[2020-08-12 10:30] luka223 commented on #1398
Sorry for later response, will post full code on my Github and share it here in the next few days.

[2020-08-12 15:14] kenfinnigan opened #1533 "API convenience methods for when empty labels are used"
**Is your feature request related to a problem? Please describe.**
Currently, to use an unbounded metric without labels it's necessary to do something like:

[code]

**Describe the solution you'd like**
It would be great if any `add()`, `record()`, or other methods where `Labels` is a parameter for recording an unbounded metric,
that the API provided a convenience method that delegates to the curr

[2020-08-12 15:57] jkwatson commented on #1305
@fmhwong any ideas on this question?

[2020-08-12 16:14] jkwatson commented on #1517
This is done. closing

[2020-08-12 16:14] #1517 closed

[2020-08-12 16:14] carlosalberto commented on #922
Marking this initially as after-ga. @trask let me know if you think we ought to have this for GA instead.

[2020-08-12 16:15] carlosalberto commented on #1447
Marking as required-for-ga, as we should at least take a clear stance on this one.

[2020-08-12 16:15] jkwatson commented on #1491
Closing, as this issue is relevant for the instrumentation SIG

[2020-08-12 16:15] #1491 closed

[2020-08-12 16:16] jkwatson commented on #1483
@Oberon00 Can we close this? I think this is done now with #1494

[2020-08-12 16:36] sjoerdtalsma commented on #575
@FroMage thanks for the link. It sounds like a perfect substitute for my hand-rolled api. I'll definitely take a look at it.

[2020-08-12 16:58] trask commented on #922
The main use case we need this for is logging MDC. Since logging is out of scope for GA, I think this is ok, at least from instrumentation repo perspective.

[2020-08-12 17:59] jkwatson commented on #1506
closing this, as I haven't seen it happen since the fix. will reopen if needed.

[2020-08-12 17:59] #1506 closed

[2020-08-12 18:02] jkwatson commented on #1191
@bogdandrutu can we close this now? Or do you have more ideas on how to improve this?

[2020-08-12 18:05] jkwatson commented on #302
@carlosalberto should this issue really be a spec issue, not a java issue?

[2020-08-12 18:10] jkwatson commented on #552
I'm going to close this issue for now. I think there are other issues to track the specifics, and i'm mostly satisfied that things will work for GA.

[2020-08-12 18:10] #552 closed

[2020-08-12 18:14] jkwatson commented on #1000
I'm going to close this. We now have a `Labels` class to capture this. If changes are needed, we can open issues to track that.

[2020-08-12 18:14] #1000 closed

[2020-08-12 19:02] carlosalberto commented on #302
@jkwatson This can be considered as the related Java issue of https://github.com/open-telemetry/opentelemetry-specification/issues/114

Given the fact we will have to update the code once the related PR is merged, I'd vow to keep this issue open till then.

[2020-08-12 20:00] jkwatson commented on #302
Maybe closer to https://github.com/open-telemetry/opentelemetry-specification/issues/766 these days, since we've got the OT Shim in place already.

[2020-08-12 22:45] fmhwong commented on #1305
@jkwatson I am not sure #768 will help or not.  I probably can work around this by changing some configuration in OpenLiberty bundles.  I think `DefaultTracerProvider` should also implement `Obfuscated` so the `ClassCastException` can be avoided.

[2020-08-12 23:05] jkwatson commented on #1305
I don't think that `DefaultTracerProvider` can itself implement `Obfuscated`. Are you suggesting that the `OpenTelemetry` instance should return an obfuscated wrapper for the `DefaultTracerProvider` like it does with one that is provided via SPI?

I'm not clear how this would solve your problem, since that would just make the `OpenTelemetrySdk` fail the cast, if it gets one from the `OpenTelemetry

[2020-08-13 06:49] anuraaga commented on #1447
Filed https://github.com/open-telemetry/opentelemetry-specification/issues/796

[2020-08-13 09:22] FroMage commented on #575
You can either inject a `ManagedExecutor` which clears all contexts for async actions if the context is meant to be closed before they terminate, or if the context is meant to be kept open and used until all such async actions are completed, then it's up to  your application to keep track of when those async actions terminate before you can close your context.

[2020-08-13 13:53] Oberon00 commented on #1483
I think so!

[2020-08-13 13:53] #1483 closed

[2020-08-13 14:58] #1532 closed

[2020-08-13 17:37] dengliming commented on #1533
If so, should we update sourceCompatibility  to 1.8?
[code]

[2020-08-13 17:39] jkwatson commented on #1533
Unfortunately, we can't do this with default methods, as the API still needs to support java 7.

[2020-08-13 17:50] kenfinnigan commented on #1533
So we can do the convenience, just not with a default method?

Is the rationale for requiring JDK 7 documented anywhere? Would be interested to read it

[2020-08-13 17:53] dengliming commented on #1533
@kenfinnigan sure

[2020-08-13 17:56] jkwatson commented on #1533
The rationale boils down to Android & grpc wanting to be able to use the APIs for java 7-compatible Android versions.

[2020-08-13 17:59] kenfinnigan commented on #1533
Thanks @jkwatson

[2020-08-13 23:53] jkwatson commented on #575
@FroMage Is Microprofile Context Propagation locked to java 8+, or could it be used with java 7?

[2020-08-14 06:11] anuraaga commented on #1530
Hi @rvowles - are you using the OpenTelemetry agent? If so, I'm guessing this is a duplicate of https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/973 - indeed we have no support for correlation context in the agent yet.

[2020-08-15 02:42] #1453 closed

[2020-08-17 13:27] carlosalberto commented on #575
Assigning this to @malafeev as he will do an initial digging & comparison of MicroProfile and grpc's Context.

[2020-08-17 14:00] anuraaga opened #1543 "Truly decide on, and document with rationale, support for Java 7"
The topic of Java 7 support came up again

https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/714

It continues to come up. I thought we had some consensus that supporting Java 7, mostly to support Android apps that target a large range of OS, is ok. But admittedly we've only had conversations on several issues, maybe some sigs, who knows, but nothing permanent. I think we

[2020-08-17 14:09] Oberon00 commented on #1543
This was truly and formally decided in #744 IMHO, see e.g. https://github.com/open-telemetry/opentelemetry-java/issues/744#issuecomment-576747280

[2020-08-17 14:12] thisthat commented on #1020
I think this has been resolved by #1390. @jkwatson could you please confirm?

[2020-08-17 14:14] anuraaga commented on #1543
If it truly is, then we should probably add it to a markdown file somewhere in the repo with some rationale, referring people to docs is easier than issues. I'm happy to write a doc but need to reconfirm the decision since I suspect the buyin is not complete.

[2020-08-17 14:29] Oberon00 commented on #1543
I would usually search in issues not in code for such a decision. However, a summarizing comment edited into the issue description, or as final comment that can be linked to would be helpful. I'm not against a markdown doc either though, it would just not be my first choice.

[2020-08-17 14:37] Oberon00 commented on #1543
All I can say is that at least for Dynatrace, nothing has changed (and won't change in the next few years) in that regard: we still need a functional SDK + dependencies that support Java 7. We don't have a strong opinion on auto instrumentation.

[2020-08-17 14:50] jkwatson commented on #1020
closing. resolved by #1390

[2020-08-17 14:50] #1020 closed

[2020-08-17 14:52] jkwatson commented on #1543
@Oberon00 Can you write up a summary as to *why* you need java 7 support? It's definitely a large drag on productivity to support it, and if Dynatrace is the only vendor that needs it, can Dynatrace maintain it's own fork with java 7 support?

[2020-08-17 14:53] #915 closed

[2020-08-17 15:07] Oberon00 commented on #1543
We will be using an OpenTelemetry-based solution for our own auto-instrumentation and we already know that some customers are stuck on Java 7 there for quite some time. It's as simple as that, unfortunately.

I don't think that is the case.

On https://github.com/open-telemetry/opentelemetry-java/issues/744#issuecomment-576747280 it looked like Lightstep was glad to have Java 7 support too. CC @ca

[2020-08-17 15:54] carlosalberto commented on #1543
Observe that this is also needed by Google, IIRC (cc @bogdandrutu )

[2020-08-17 16:56] iNikem commented on #1454
As https://github.com/open-telemetry/opentelemetry-specification/pull/799 got merged, I need some way for auto insrtumentation agent to provide new resource attribute. I was going to file an issue about adding ResourceProvide SPI when I noticed this issue. Can this one be closed by introducing ResourceProvide SPI or these two approaches are separate?

@carlosalberto @jkwatson @anuraaga @Oberon00

[2020-08-17 16:58] #1382 closed

[2020-08-17 17:03] jkwatson commented on #1543
The last we heard from Ted, Lightstep no longer needed java 7 support. I'm ok with re-opening this issue post GA.

And, yes, default methods on interfaces, and static members on interfaces is a big win for API design that we can't take advantage of with java 7.

[2020-08-17 17:17] jkwatson commented on #1454
@iNikem I'd like to have an SPI-option for specifying the Resource. I'd also like a manual option (I'm not sure that SPI is Spring-friendly?). So, let's keep the 2 options as separate PRs. I'd like to have both.

[2020-08-17 17:35] carlosalberto commented on #1454
+1

[2020-08-17 17:36] carlosalberto commented on #1543
Oh yes, I forgot to mention this - from the LS side, we don't need Java 7 support.

[2020-08-17 18:49] iNikem commented on #1454
I will try to submit a ResourceProvider SPI PR during this week.

[2020-08-17 20:03] kittylyst commented on #1543
I've seen this debate play out in other projects and venues, so I thought I’d add my 2c.

In general, I think it’s helpful to separate out the two issues: Android support vs supporting very old legacy Java apps.

Android is a separate runtime that actually has very little to do with the JVM these days apart from having some language level compatibility. I feel like it’s reasonable to ask to what e

[2020-08-17 20:19] Oberon00 commented on #1543
I only have anecdotal evidence for this, but among the reason that systems are stuck still stuck at Java 7 is often also a combination of the following: (1) the system is large and complex or otherwise difficult difficult to port, (2) the system is mission-critical and runs well enough ("never touch a running system"). Both of these will also make you want to monitor the system. So while the marke

[2020-08-17 21:10] jarebudev commented on #1487
i can pick this one up

[2020-08-17 21:17] #1503 closed

[2020-08-18 03:40] anuraaga commented on #1321
I know we've been lukewarm about the need for decoration, @jkwatson @iNikem but does https://github.com/open-telemetry/opentelemetry-specification/issues/823 provide more of a need?

[2020-08-18 05:27] iNikem commented on #1543
You cannot add monitoring without "touching" the system. Both manual and auto instrumentations are quite invasive. I don't understand how "it is too risky to migrate to java8" and "let's add manual monitoring throughout the whole application" can both be true

[2020-08-18 07:54] iNikem commented on #1321
I think we need _some_ easy way to wrap span exporters for SpanData decoration. We just could not agree on the implementation details :)

[2020-08-18 09:42] Oberon00 commented on #1543
Auto instrumentation does not have to involve much manual work. Of course already adding a `-javaagent` command line to all JVMs can be a lot of work, but the risk of adding auto instrumentation is (at least often perceived as) lower than switching to a newer JVM.

[2020-08-18 09:45] iNikem commented on #1543
Yeah, one more mystery: people are afraid of newer JVM but totally ok with allowing some library to modify all their classes in obscure way 🤷

[2020-08-18 09:53] Oberon00 commented on #1543
It's not always just psychology though, e.g. see https://github.com/open-telemetry/opentelemetry-java/issues/744#issuecomment-578038992

[2020-08-18 09:55] kittylyst commented on #1543
The number I quoted, 2.5%, is from New Relic customer data - and New Relic (currently) still supports Java 7. So, even if you're correct, the "enhanced relative share" is reflected in that number.

One potential compromise that I've been thinking about - what about producing an initial 1.0 GA release that supports Java 7 and then immediately removing Java 7 support as soon as GA is released - so t

[2020-08-18 10:17] iNikem opened #1547 "Cannot use Gradle composite build"
**Is your feature request related to a problem? Please describe.**
I tried to develop a feature which requires code changes both in this repo and in java instrumentation repo. To verify that everything works I wanted to build instrumentation agent with changes from this repo using Gradle compose build. Unfortunately build failed:

[code]

It seems to me that bom support used by this repo prevents

[2020-08-18 10:30] anuraaga commented on #1547
Fixing this seems important. In the meantime you can use `publishToMavenLocal` and point at 0.8.0-SNAPSHOT I believe.

[2020-08-18 11:03] iNikem commented on #1547
For some reason that fails with
[code]

[2020-08-18 11:49] Oberon00 commented on #1543
That sounds sensible

That sounds too fast. If we release it as GA we have to support it at least for some time, normally I'd say until the next major release. I do agree that Java 7 support can be dropped at some point, but *immediately* after GA is too fast.

[2020-08-18 12:24] malafeev commented on #575
java 7 is not supported. It's based on new in Java 8 classes from `concurrent` package.
When I tried to compile
[code]

I get
[code]

[2020-08-18 12:31] FroMage commented on #575
Yeah, it's JDK8+

[2020-08-18 13:16] thisthat commented on #1027
Based on the latest version (https://github.com/w3c/trace-context/blob/master/spec/20-http_request_header_format.md#list-members), I think the current implementation correctly validates keys and values.

[2020-08-18 13:20] thisthat commented on #1533
Closing this since #1538 got merged. Please, reopen the issue if you think this was not fully addressed.

[2020-08-18 13:21] #1533 closed

[2020-08-18 14:42] carlosalberto commented on #1543
For the sake of velocity, I'd suggest to stick to Java 7 and revisit dropping it right after GA (with a proper discussion).

I'd suggest we also go ahead and document this properly, to avoid further confusion ;)

[2020-08-18 15:16] iNikem opened #1551 "Configuration to disable ResourceProviders"
As a follow up for #1548 there should be a configuration option to disable any `ResourceProvider` service provider found on the classpath. E.g. add env variable/system property with a coma-separated list of class names of  `ResourceProvider` that should be ignored during Resource composition.

[2020-08-18 15:16] iNikem commented on #1551
Probably should be assigned to me.

[2020-08-18 16:27] Oberon00 commented on #1543
I agree with that. Also, doing a Java 8 rewrite will most likely not increase our velocity in the short term towards GA.
One thing to note, even though I'm against it: If we would want to drop Java 7 support soon after GA, we would need to mark it as deprecated ASAP. But I'm strongly against that 😃

[2020-08-18 16:58] kittylyst commented on #1543
It depends upon what you think a "rewrite" involves - if it's just changing the version in the build file and then letting IntelliJ migrate inner classes to lambdas semi-automatically, then it need not be a lot of work. The possibilities that Java 8 default methods and other changes to the OO model open up is another matter, of course.

What are your criteria for dropping Java 7 support? If you're

[2020-08-18 17:27] trask commented on #1543
yes! I would like to convert several of the API classes (e.g. `SpanId`, `TraceId`, `Status`, `TraceFlags`, `SpanContext`, `EndSpanOptions`, `TraceState` just to start with) to interfaces, which would give us much more flexibility in auto-instrumentation and would allow us to avoid bridging those classes back and forth.

but without static members on interfaces, we will have to introduce separate c

[2020-08-18 18:33] jkwatson commented on #1547
Is this needed for GA (I assume yes, but I thought I'd ask anyway)?

[2020-08-18 18:36] jkwatson commented on #1027
@adriancole do you concur? Can we close this?

[2020-08-18 18:37] jakob-o opened #1552 "Exclude URLs from Tracing"
**Is your feature request related to a problem? Please describe.**
As already mentioned here https://github.com/open-telemetry/opentelemetry-specification/issues/173 I'd like to be able to exclude or sample a list of URLs / URL-Patterns from instrumentation. In my case particularly to avoid generating many events from health- and liveness-checks.

**Describe the solution you'd like**
If I understo

[2020-08-18 18:41] jkwatson commented on #1552
Hi @jakob-o . Thanks for this request.

If you're using the auto-instrumentation agent, then this issue would probably belong in that repo: https://github.com/open-telemetry/opentelemetry-java-instrumentation

Otherwise, the instrumentation you apply is totally up to you, unless I'm misunderstanding the request.

[2020-08-18 18:49] jkwatson commented on #1321
Yeah, I don't disagree with the need. I'd prefer using the delegate option vs. using a builder, just from an allocation perspective. Having a delegate also doesn't mean we can't add a builder option later (or vice-versa).

I thought that @iNikem 's main complaint, though, was the challenge in dealing with the immutable `ReadableAttributes` interface, rather than the specifics of how precisely to a

[2020-08-18 18:55] jakob-o commented on #1552
Hey @jkwatson,

maybe you are right and this belongs to the instrumentation repository, but if I understood correctly in the API discussion it might be beneficial to have a general option such as a context flag to disable tracing centrally which can be set anywhere for example in a filter which would lead to generating noop-spans. Otherwise every (auto) instrumentation implementation would require

[2020-08-18 18:57] iNikem commented on #1547
Not strictly. This is "contributor experience" section. But before GA we may have a lot of changes spanning 2 repos. They will go much faster, if composite build works.

[2020-08-18 18:58] jakob-o commented on #1552
Sorry, the discussion related to the referenced issue was actually taking place here https://github.com/open-telemetry/opentelemetry-specification/issues/530

[2020-08-18 19:03] iNikem commented on #1552
@jkwatson I think there was an idea to allow for `Tracer` to check for some flag/configuration and return non-recording/invalid span from `startSpan`

[2020-08-18 19:04] jkwatson commented on #1547
ok, I'll mark it as after-ga, but of course, if you want to fix it, I will certainly accept the fix!

[2020-08-18 19:06] iNikem commented on #1321
Correct, I _prefer_ to avoid writing a wrapper for `SpanData` but I can do that. Having attributes builder probably will benefit me more than builtin wrapper.

[2020-08-18 19:07] jkwatson commented on #1552
Hmm. I'm trying to figure out if the instrumentation needs a feature to do this. If the instrumentation is making the decision, based on instrumentation configuration, can't the instrumentation choose to not create the span at all in the first place?

[2020-08-18 19:10] jakob-o commented on #1552
I think the issue is, that instrumentation might take place at several layers and if the HTTP instrumentation does decide to not create a span the JDBC instrumentation will not know this, unless it implements the same logic and will create a new span itself.
This would not be necessary if the tracer itself has means to disable it centrally.

[2020-08-18 19:10] iNikem commented on #1552
The problem is not local to one instrumentation making a decision. E.g. my servlet instrumentation can detect excluded url pattern and create non-recording span. But after that there is not point in creating proper child spans for this SERVER span, is it? All instrumentations now must check if parent span is non-recording and probably skip creating any spans at all.

[2020-08-18 19:10] jkwatson commented on #1321
ok, let's create the builder method, as mentioned. what would you say to having this in some kind of sdk extension module, where we can incubate SDK additions before adding them to the official SDK? We could actually put both options into that module for now, if desired.

[2020-08-18 19:12] iNikem commented on #1543
Even less. One will start with migrating runtime JVM. No code changes needed at all.

[2020-08-18 19:13] iNikem commented on #1321
I have not problems with extension modules

[2020-08-18 19:15] jkwatson commented on #1552
This feels like a separate issue (not unimportant!). Don't we have this issue today with all kinds of parents? Should the SDK not create child spans at all if the parent is non-recording?

Maybe I'm getting hung up on the name of this Issue. This seems like a much broader issue than excluding URLs from tracing in HTTP server spans. :)

[2020-08-18 19:19] jkwatson commented on #1321
@anuraaga Could you take your two option PRs, and bundle them up into one new PR that adds an sdk-incubator extension module for them? Meanwhile, I'll create a separate issue for the new builder method.

[2020-08-18 19:20] jkwatson opened #1553 "Create a static method on Attributes to create an Atttributes builder from ReadableAttributes"

[2020-08-18 19:20] jkwatson commented on #1321
https://github.com/open-telemetry/opentelemetry-java/issues/1553

[2020-08-18 19:22] jakob-o commented on #1552
The decision making should surely be implemented in the instrumentation. My question is: How do i correctly disable recording for the span / trace?
Does this feature require to make every instrumentation check the span, or would a central way to disable it as discussed here https://github.com/open-telemetry/opentelemetry-specification/issues/530 make more sense?

[2020-08-18 19:36] jakob-o commented on #1552
@jkwatson would you like me to rename / rephrase the issue to something like `Option to disable tracing centrally`?

[2020-08-18 19:45] trask commented on #1552
It sounds like this is proposing to implement https://github.com/open-telemetry/opentelemetry-specification/issues/530? I'm all for this, but would be great if we can get this into the spec.

[2020-08-18 19:50] jkwatson commented on #1552
That spec issue is marked as after-ga, so I'm going to follow suit for this one, for the nonce. If it ends up getting fast-tracked, we can change it here, as well.

[2020-08-18 20:02] Oberon00 commented on #1552
I think it already implements that 😃  It's called ParentOrElse sampler.

[2020-08-18 20:15] jakob-o commented on #1552
@jkwatson Would you recommend opening another issue regarding the URL exclusion in https://github.com/open-telemetry/opentelemetry-java-instrumentation and reference this issue?

@Oberon00 Would it be sufficient then to create a non-recording span in the HTTP instrumentation and create / enable this sampler? If so, do you know how and where would I do this appropriately?

[2020-08-18 20:43] #1460 closed

[2020-08-18 20:51] jkwatson commented on #1552
yes, I think having an issue open for the instrumentation itself would be great.

There are configuration options in the agent to set the sampling setup; Configuration options are here: https://github.com/open-telemetry/opentelemetry-java-instrumentation#trace-config

[2020-08-18 21:04] jkwatson commented on #1547
I'm not saying this is a good idea, but could you use a git submodule for this? Or two git submodules, one for each project, and then have a separate build that ties them together?

[2020-08-18 23:20] jkwatson commented on #1439
Closing this, now that it's properly documented. We can open a new issue if/when we want to address a redesign which will make this a non-issue.

[2020-08-18 23:20] #1439 closed

[2020-08-18 23:59] adriancole commented on #1027
I had pushed this to be errata so the spec would change. It hasn't changed as far as I can tell, rather scheduled to change in some unknown version. https://www.w3.org/TR/trace-context/#list-members

Since many people on the spec are also here, I would get someone to ask someone to push errata or say what version of the spec will have this, so that folks know that this is fixed per pending spec er

[2020-08-19 00:03] adriancole commented on #575
I would summarize this as another key consumer/integration besides grpc-context. There is also https://github.com/alibaba/transmittable-thread-local which focuses on some of this even if we formerly mostly discussed RPC and reactive.

The main idea here was keeping the deps clear and knowing that while solving for gRPC is important, so is making other things possible, which share different depende

[2020-08-19 06:26] anuraaga commented on #1552
Just to clarify this point, currently we create IDs for all spans, even non-recording ones. I think this is to allow the IDs to be injected into logs, for example. If the spans weren't valid, they wouldn't be injected nor would children be created.

[2020-08-19 06:53] iNikem commented on #1552
I don't think we should create spans nor spanIds for "ignored" requests. I don't know if the correct way to that is via non-recording spans or with `TraceContext.sampled=false`

[2020-08-19 07:16] anuraaga commented on #1321
Thanks yeah will work on an extension module.

[2020-08-19 07:50] Oberon00 commented on #1543
That's not what I would consider a "big" win.

Converting a value class to an interface is a rather big undertaking. Or would you only do this to support auto-instrumentation, i.e. `create` stays the only way to create an instance and you would instrument that?

For SpanContext, TraceState, see also https://github.com/open-telemetry/opentelemetry-specification/issues/759#issuecomment-669739493

[2020-08-19 08:44] Oberon00 commented on #1543
OpenTracing and OpenCensus, to which OpenTelemetry wants to be compatible, also both support Java 7. So that is also a point to consider, and an argument to at least have one GA version support Java 7. Especially regarding breaking OpenCensus/OpenTelemetry bridge support for Java 7, I'd like the input of some OpenCensus maintainer (I think the OC bridge is maintained within OC).

[2020-08-19 10:41] anuraaga opened #1556 "ResourceConstants -> ResourceAttributes"
We should use the same `*AttributeSetter` pattern for Resource as we do for span attributes for consistency. Since it's public API we need to knock it out soonish.

[2020-08-19 12:35] #1496 closed

[2020-08-19 15:23] jkwatson commented on #1556
I'm going to bump down the priority on this to a p2, since it's not absolutely critical to be done first.

[2020-08-19 15:27] iNikem opened #1558 "JVM fails to exit"
After [this change](https://github.com/open-telemetry/opentelemetry-java/commit/d6b53e60f4b7251d7a5845f3e3f9b9e57a5dc8dc#diff-df5688a9dcb936f33790f852e8283adeR167) SDK starts a non-daemon thread which prevents JVM from exiting. This breaks auto-instrumentation tests and will break any other application with running Otel SDK.

[2020-08-19 15:54] jkwatson opened #1560 "Replace usages of java.util.Timer with a ScheduledExecutor in the BatchSpanProcessor"
The Timer has known issues with clock changes. We should use ScheduledExecutors as they are the more modern construct for doing timed executions.

[2020-08-19 15:55] #1558 closed

[2020-08-19 18:51] jkwatson opened #1562 "Update the Jaeger exporter to account for InstrumentationLibrary attributes"
See PR here:  https://github.com/open-telemetry/opentelemetry-specification/pull/801

[2020-08-20 01:16] trask commented on #1543
This is what we are proposing for the opentelemetry-java-instrumentation project:

[Rationale for not supporting Java 7](https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/1068)

[2020-08-20 02:05] anuraaga opened #1564 "Use Java 9+ APIs for better precision in ProcessResource"
Currently, we use de-facto, but not well defined APIs for extracting process information and are limited in what we can get. We should use reflection to access Java 9+ APIs when available to provide better information when running on modern JVM.

From https://github.com/open-telemetry/opentelemetry-java/pull/1555/files#diff-a802c9460480a3f888b7e6fa984c5686R32

[2020-08-20 04:05] anuraaga commented on #1564
Also at the same time it would be good to switch the current platform calls to reflection as well to unbreak Android support (though it'd be quite limited still).

[2020-08-20 07:02] iNikem commented on #1564
Anybody thinks that multi-release jar is a good way to do that?

[2020-08-20 07:03] iNikem commented on #1562
Zipkin too

[2020-08-20 07:03] anuraaga commented on #1564
Yeah MRJar would work well too :)

[2020-08-20 08:04] huntc opened #1566 "Leverage BatchSpanProcessor's span dropping functionality"
The [recent change to make the export methods async](https://github.com/open-telemetry/opentelemetry-java/pull/1428) appears to have introduced a situation where the `BatchSpanProcessor` can lose telemetry in the case where its `spansList` isn't drained fast enough.

While the `BatchSpanProcessor` is built to cater for spans being dropped, and therefore its usage must assume this as a possibility,

[2020-08-20 14:06] anuraaga commented on #1560
Is this a dupe of #729?

[2020-08-20 14:28] mateuszrzeszutek opened #1569 "Allow SpanProcessor#onStart to modify received Span"
**Is your feature request related to a problem? Please describe.**
There's an inconsistency with the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#onstartspan): it clearly states that `SpanProcessor#OnStart` should receive a read/write instance of Span. Current Java SDK implementation receives only a `ReadableSpan` which makes implement

[2020-08-20 16:22] jkwatson commented on #1569
This is relatively recent spec change, and yes, we need to get the implementation updated! Thanks for pointing it out!

[2020-08-20 16:25] jkwatson commented on #1569
I think we might want another interface for this which joins the readability of the ReadableSpan and the write-capability of the Span itself.

[2020-08-20 17:12] #1562 closed

[2020-08-20 17:23] #1487 closed

[2020-08-20 18:49] carlosalberto commented on #1569
(Or pass both)

[2020-08-20 19:13] jkwatson commented on #1569
I think passing both might be extra confusing for users, especially since we'll be passing the same implementation in for both parameters. :)

[2020-08-20 19:18] carlosalberto commented on #1569
Fair enough. Let's keep the idea of passing both as plan B ;)

[2020-08-20 19:58] jkwatson commented on #1569
I think it's as easy as this:
[code]

Then just have RecordEventsReadableSpan implement that, and change the onStart take the new interface.

I'll PR it. :)

[2020-08-20 19:58] tigrannajaryan opened #1570 "Populate implementation/spec compliance matrix"
In order to have a better understanding of where we stand in terms of implementing OpenTelemetry specification in various language SDKs we would like to have a compliance matrix that shows which features are implemented in which languages.

This will show how much work is remaining and tell us far away are we from being ready for GA.

The matrix is located here: https://github.com/open-telemetry/o

[2020-08-20 20:05] jkwatson commented on #1569
it's that easy except for the Disruptor async exporter which needs a new event type.

[2020-08-20 21:15] jarebudev commented on #1556
i can pick this one up

[2020-08-21 19:25] jkwatson opened #1572 "Rename ParentOrElse to ParentBased and generalize to support all cases"
See spec updates from this: https://github.com/open-telemetry/opentelemetry-specification/pull/610

[2020-08-21 19:28] jkwatson opened #1573 "Rename ProbabilitySampler to TraceIdRatioBasedSampler"
Also verify we're meeting the spec after this merge:
https://github.com/open-telemetry/opentelemetry-specification/pull/611

[2020-08-22 00:05] huntc opened #1575 "Rename SimpleSpanProcessor"
Naming anything “simple” is both subjective and uninformative. I propose that we rename SimpleBatchProcessor on this basis.

Some ideas for a new name:

* SpanProcessorStage
* StreamingSpanProcessor
* SameThreadSpanProcessor
* CurrentThreadSpanProcessor
* DirectSpanProcessor
* CallingThreadSpanProcessor
* SingleSpanProcessor

Criteria to consider:

* Threading and resources
* distinction of batch

[2020-08-22 00:22] #1575 closed, assigned to nobody

[2020-08-22 02:43] jkwatson opened #1576 "Could we use retrolambda for the building the API and use java 8 language features?"
Opening this issue so someone can do some research about the feasibility for doing this with the API.

[2020-08-23 16:45] jkwatson commented on #1576
I haven't looked into it carefully, but could use build a java7-friendly distribution of the OpenTelemetry APIs along side the java8 one that uses default methods, etc? Yes, the java7 would end up looking slightly differently, but they would end up with the same implementation in the SDK?

I honestly don't know if this is possible, or even makes sense, but I thought it was at least worth a thought

[2020-08-23 16:48] jkwatson commented on #1543
We really need some assistance/input from an Android maintainer/spokesperson. It may be that our SDK isn't particularly useful on Android anyway, and hence we could drop Android default SDK support. I don't know enough about Android to know.

[2020-08-23 16:52] #1027 closed

[2020-08-23 17:26] jkwatson opened #1580 "Proposal: Remove AttributeValue class and implement attribute value type-safety with a type-indicating Key."
**Is your feature request related to a problem? Please describe.**

1. Users have expressed some confusion about the way the Semantic conventions for Attribute keys/values are implemented. The usage of the AttributeSetter classes is awkward, and when you aren't using a pre-defined instance of the SemanticAttributes class, it's awkward for API users to have to define their own AttributeSetters to m

[2020-08-24 01:26] anuraaga commented on #1580
I like this idea since the API looks nicer in general. But just for clarity, can you describe why the allocations at runtime are different? Methods like `setAttribute(String key, long value)`, which are called by the setters right now, have the same performance characteristics right?

[2020-08-24 01:47] jkwatson commented on #1580
For longs, doubles and booleans, yes, the number of allocations is identical, assuming that you've statically pre-allocated your keys. For Strings, though, we have one less allocation, since we don't need to wrap the String in an additional AttributeValue wrapper.

This analysis assumes the same type of `List<Object>` storage that is being used today in the APIs `Attributes` implementation.

The b

[2020-08-24 01:50] anuraaga commented on #1580
Yeah but #1500 does that without replacing anything - which reading further in the issue you mention explicitly :) Pretty sure we're on the same page but just wanted to make sure they're technically somewhat independent improvements.

[2020-08-24 02:38] jkwatson commented on #1580
We're on the same page. I think this makes for a slightly nicer API, so I thought I'd at least write up the proposal. :)

[2020-08-24 03:56] anuraaga commented on #1576
`you must always do a clean build` makes me think the backporting uses random IDs or something since if it was deterministic that doesn't seem like it'd be the case. So yeah if it worked that would be awesome but don't have high hopes 😿

[2020-08-24 07:55] Oberon00 commented on #1543
Why would the SDK not be useful on Android?

[2020-08-24 12:52] kenfinnigan commented on #1580
+1 from me, the current API is a bit clunky from a developer experience perspective

[2020-08-24 14:11] carlosalberto opened #1581 "Rename `HttpTextPropagator` to `TextMapPropagator`."
See: https://github.com/open-telemetry/opentelemetry-specification/pull/793

[2020-08-24 14:24] thisthat commented on #1543
A problem raised during the last SIG meeting was that the current SDK might consume too much battery for an Android app.

[2020-08-24 14:28] Oberon00 commented on #1543
I guess the BatchSpanProcessor could be bad for Android with it's periodic timer, but the core SDK should be fine, it does not spawn any background threads or anything.

[2020-08-24 14:47] jkwatson commented on #1543
I think it's mostly that none of us are Android experts, so we really can't say one way or another. For instance, we recently got a bug report (https://github.com/open-telemetry/opentelemetry-java/issues/1531) that appears to be caused by ThreadLocalRandom not being properly initialized on Android.

[2020-08-24 14:47] #1553 closed

[2020-08-24 14:48] #1569 closed

[2020-08-24 14:52] jkwatson commented on #1580
If people are in favor of this issue, please put a 👍  on the PR itself, so we can track interest.

[2020-08-24 14:55] dengliming commented on #1581
Are you sure? It seems that this `repository` does not have classes with `HttpTextPropagator`  that name.

[2020-08-24 16:50] jkwatson commented on #1398
@luka223 thanks. If no one else picks this up, I'll try to take a look this week.

[2020-08-24 21:31] jarebudev commented on #1556
@jkwatson is this still required? (I just noticed the proposal in #1580 )

[2020-08-25 00:03] jkwatson commented on #1556
Let's get this done; if we decide that #1580 is a good idea, we can change lots of things all at once for that.

[2020-08-25 05:13] malafeev commented on #1581
`HttpTextFormat` -> `TextMapFormat`
`MultiHttpTextFormat` -> `MultiTextMapFormat`
`CustomHttpTextFormat` -> `CustomTextMapFormat`
`NoopHttpTextFormat` -> `NoopTextMapFormat`
?

[2020-08-25 05:19] malafeev commented on #1372
please assign to me

[2020-08-25 05:35] dengliming commented on #1581
I prefer `*Propagator`  this one.

[2020-08-25 05:48] malafeev commented on #1560
I can do it, please assign to me to proceed.

[2020-08-25 05:50] iNikem commented on #1560
There are already 2 PRs addressing this issue :)

[2020-08-25 05:51] malafeev commented on #1447
this one looks like done. javadoc updated by @anuraaga

[2020-08-25 06:09] malafeev commented on #1315
shouldn't be added `getKind()` to `ReadableSpan` interface?
what's the decision on the issue?

[2020-08-25 06:21] anuraaga commented on #1447
Yup, thanks!

[2020-08-25 06:21] #1447 closed

[2020-08-25 10:00] iNikem opened #1584 "Non-blocking SpanProcessor interface"
During code reviews of #1579 #1571 the opinion was expressed that `SpanProcessor` interface should allow for non-blocking usage. More precisely `SpanProcessor.forceFlush` and `SpanProcessor.shutdown` should return some sort of deferred result, such as `CompletableResultCode` or, if java8+ is available, `CompletableFuture`. This will allow for implementations more suitable for reactive environments

[2020-08-25 13:03] carlosalberto commented on #1581
I suggest we go with `Propagator` instead of `Format` as a suffix.

@open-telemetry/java-approvers opinions on this?

[2020-08-25 16:00] iNikem opened #1587 "BatchSpanProcessor performance goals"
During recent optimisations of `BatchSpanProcessor` several questions have arisen regarding further performance optimisations. But we don't currently have proper benchmarks that could clearly demonstrate the benefit of any performance gains as opposed to induced code complexity. E.g. we cannot it automatic way compare the percent of dropped spans.

We have to come up with such benchmarking setup a

[2020-08-25 16:27] #1570 closed

[2020-08-25 16:35] jkwatson commented on #1315
I'm fine with adding accessors for immutable data to the `ReadableSpan`, since that's an SDK class, not an API class.

[2020-08-25 16:40] jkwatson commented on #1587
Probably related to #1438 .

[2020-08-25 17:18] jkwatson opened #1588 "Deal with the TODOs in the BatchSpanProcessorTest"
They should either be resolved, or issues should be created for them.

[2020-08-25 18:40] jkwatson commented on #1398
@luka223 The issue with your code is that you're holding on to the Scope, and trying to close it on what appears to be a separate thread. The scope *must* only be created/close on the same thread.

Unless you're using automatic thread-local-based propagation, you don't technically need to ever put a span into the scope with a `tracer.withSpan()` call.

[2020-08-25 20:08] jkwatson commented on #1314
some comments about traceid/spanid:  https://github.com/open-telemetry/opentelemetry-java/pull/1374#issuecomment-680234892

[2020-08-26 04:08] #1556 closed

[2020-08-26 15:19] #1581 closed

[2020-08-26 15:22] #729 closed

[2020-08-26 15:22] #1560 closed

[2020-08-26 15:22] #1566 closed

[2020-08-26 16:22] jkwatson commented on #1530
This is now unblocked with updates to the spec:  https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/baggage/api.md

[2020-08-26 21:46] jkwatson commented on #1321
@anuraaga any update on this?

[2020-08-26 21:50] jkwatson commented on #1576
I'm closing this. Was a good thought experiment, but not a good idea.

[2020-08-26 21:50] #1576 closed

[2020-08-26 21:51] jkwatson commented on #1531
@jam0cam can you solve your issue here by implementing a custom IdGenerator?

[2020-08-26 23:04] jam0cam commented on #1531
I was, thanks for the suggestion

[2020-08-26 23:13] jkwatson commented on #1531
good to hear! closing this issue.

[2020-08-26 23:13] #1531 closed

[2020-08-27 11:47] luka223 commented on #1398
@jkwatson  I printed out thread ID in `onMessage` and `onHalfClose` methods and it is the same ID. In these methods Scope is opened and closed. Output is:
[code]

Also, removing `tracer.withSpan()` call from these methods doesn't give the exception anymore, but still doesn't work as I expect.

What I want is to get one trace that looks like:
[code]

But instead, it is separated into two traces:
[c

[2020-08-27 16:44] tylerbenson commented on #1580
I like the idea of having a typed key and not having to construct wrappers.  Something to consider is adding a construct of a mapper or serializer as a way to deconstruct complex objects outside of the critical path.  For example applying a `url` attribute is often the result of concatenating/parsing which can be relatively expensive, so better to postpone that work.  It's also possible that a sin

[2020-08-27 17:13] #1526 closed

[2020-08-27 17:26] jkwatson opened #1597 "Add an overload to the recordException method to support additional attributes"
This was recently added to the spec: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#record-exception

[2020-08-27 19:33] jkwatson commented on #1398
With the context association gone, your grpc_service no longer has a parent span in the context to use automatically. If you're going to try to propagate your trace through the payload, rather than using the standard implementation that uses headers, you're going to have to do all the work to stitch your trace together manually.  I don't think there's going to be an easy solution to using this app

[2020-08-27 23:48] jkwatson commented on #1580
Note: a very small demo of this here:  #1598

[2020-08-28 03:16] dengliming commented on #1597
@jkwatson I'm willing to do this.

[2020-08-28 06:35] rvowles commented on #1530
That spec is a bit odd? The description says it MUST use otcorrelations as the header and then the example uses otbaggages ?

[2020-08-28 09:04] anuraaga opened #1601 "Sampler should use `toString` to provide a debug String?"
**Is your feature request related to a problem? Please describe.**
Currently, `Sampler` has a separate method, `getDescription` to provide a debug string.

**Describe the solution you'd like**
Use `toString` instead, an API provided by Java for this exact purpose. Works well with everything, including IDE and unit test failure messages.

[2020-08-28 09:57] anuraaga commented on #1321
Sorry for the delay, still haven't gotten around to this, will prioritize for early next week.

[2020-08-28 17:37] jkwatson commented on #1530
I think there are still spec updates pending on this. If not, then logging an issue in the spec repo would be very helpful! Thanks!

[2020-08-28 17:40] jkwatson commented on #1601
I agree that we should definitely have toStrings for this, but the spec currently specifies additionally have the `getDescription` as a part of the sampler:  https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#getdescription

[2020-08-28 17:43] #1572 closed

[2020-08-28 17:51] #1584 closed

[2020-08-28 19:41] #1597 closed

[2020-08-28 19:45] jkwatson opened #1603 "Consider moving TraceFlags into the SpanContext"
It's a wrapper for a single `byte`, so it probably can be moved into the SpanContext without losing functionality or developer ergonomics.

[2020-08-28 19:48] jkwatson opened #1604 "Consider moving TraceState into the SpanContext"
TraceState a wrapper for a List of key-value pairs. Could we consider moving it into the SpanContext itself and providing a helper class to manipulate it?

The advantage would be to remove one more wrapper from the auto-instrumentation project.
The disadvantage would be that it would be more awkward to provide more advanced functionality, like lazily parsing it.

[2020-08-30 02:44] jkwatson commented on #1473
@anuraaga should I assign this to you?

[2020-08-30 03:01] anuraaga commented on #1473
Sure, but I don't think this is required for ga. It's a small point about the tests. And compared to the instrumentation repo where Groovy spams this seems pretty minor.

[2020-08-30 15:39] luka223 commented on #1398
Propagation via payload is not dictated by my service, that is the reason of using it. Thank you for the explanation! I'm closing the issue.

[2020-08-30 15:39] #1398 closed

[2020-08-31 12:13] malafeev commented on #575
from my MP CP review:
- MP CP is a set of interfaces to implement.
- MP CP is not a solution which we can take and use without doing own implementation of interfaces.
- MP CP is coupled to Executors. Threads should be managed by container...
- MP CP is java 8+. It’s based on java 8 concurrency api: completable future is a first citizen.
- MP CP must to be compatible with Java EE Concurrency model/

[2020-08-31 13:08] Oberon00 opened #1607 "RecordException overwrites additional attributes with generated ones instead of the other way round."
See code here:

https://github.com/open-telemetry/opentelemetry-java/blob/0024aa9beeafd512c935b5378d031963e0d4675b/sdk/tracing/src/main/java/io/opentelemetry/sdk/trace/RecordEventsReadableSpan.java#L440-L442

Spec at https://github.com/open-telemetry/opentelemetry-specification/blob/a6db328ada9bf30ba880b9cfab3296787c39fe67/specification/trace/api.md#record-exception

Also, I wonder if we should st

[2020-08-31 13:34] FroMage commented on #575
Well, there's SmallRye-ContextPropagation which implements it that you can use. I don't see the point in re-implementing it.

That's only the case for `ManagedExecutor` but not for `ThreadContext` which is what you will want to use.

Yes, that's the case.

This is only true of `ManagedExecutor`: a single class.

Do you want me to provide a complete example here?

[2020-08-31 14:02] malafeev commented on #575
@FroMage it would be nice, thanks

[2020-08-31 14:29] FroMage commented on #575
So, there's your test class:

[code]

And here's your context class:

[code]

This is typically where you'd put whatever context values you need.

You'll need to have this `src/main/resources/META-INF/services/org.eclipse.microprofile.context.spi.ThreadContextProvider` file too:

[code]

You'll want to use SmallRye-CP:

[code]

That's all. Now you can both propagate any number of contexts, and mak

[2020-08-31 14:44] jkwatson commented on #1607
@Oberon00 I think it's even a bit worse than the title of the bug. Currently, Attributes are not deterministic in which one will win, when the same key is provided. So, definitely an issue, and one that's been lurking for a bit. thanks for pointing out the spec that we're not in line with.

[2020-08-31 15:15] jkwatson opened #1608 "Flaky Test (3x): io.opentelemetry.exporters.otlp.OtlpGrpcMetricExporterTest > testExport_DeadlineSetPerExport()"
[code]

Instances:
* https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java/3053/workflows/6a3e0d38-b629-484b-8894-5dfb84b2aaf6/jobs/6193
* https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java/3075/workflows/fbdc466c-b6a2-4009-be4f-a23598504620/jobs/6238
* https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-java/3091/workflows/ac503067

[2020-08-31 15:54] dengliming commented on #1607
I'm a little confused about `take precedence`.  Does this mean that Attributes that the method has already generated can be overridden by additional Attributes?

[2020-08-31 15:59] Oberon00 commented on #1607
Exactly. Would changing the spec to "Attributes MUST NOT be added to the event by the function if an attribute with the same key is in the additional attributes." be more clear?