[2019-03-05 03:10] carlosalberto opened #1 "Context Propagation"
I'm creating this issue to provide initial insight into the Context propagation design.

### OT Tracers with custom propagation

One of the important questions has been what kind of custom propagation is done by Tracers. I reviewed [DataDog](https://github.com/DataDog/dd-trace-java/blob/master/dd-trace-ot/src/main/java/datadog/opentracing/scopemanager/ContextualScopeManager.java). This is a simpli

[2019-03-07 19:28] tylerbenson commented on #1
@carlosalberto Thanks for the review.  I'd like to clarify something...

I don't think the added complexity of what we have currently implemented is needed and we should stick to a simple thread local based context.

I originally implemented it the way you described to support using a custom context with frameworks that have a static context like Ratpack. The idea being a thread local context woul

[2019-03-07 19:53] tylerbenson commented on #1
I'd like to add... I think it would be valuable to add one thing to the OT scope api and that is a listener... something that can be used for things like MDC support.

[2019-03-08 05:48] yurishkuro commented on #1
We're talking about in-process propagation only here, correct? Maybe change the title accordingly.

[2019-03-09 18:02] carlosalberto commented on #1
@yurishkuro IIRC Bogdan doesn't like the term "in-process" ;)

[2019-03-09 18:02] carlosalberto commented on #1
@tylerbenson You mean an event listener layer?

[2019-03-09 23:15] tylerbenson commented on #1
Yeah. A way to receive callbacks when a span and scope starts and stops.

[2019-03-12 16:22] carlosalberto commented on #1
For reference, we are currently discussing this item in https://docs.google.com/document/d/1B9TDx1-ynlpD2IzYVUjIqN-ImV1Uu9_mfw0fT37rJyo/edit?usp=sharing ;)

[2019-03-19 02:32] tedsuo opened #2 "Finalize design of new interfaces"
## Step 1
All [issues]( https://github.com/bogdandrutu/openconsensus/issues?q=is%3Aissue+is%3Aopen+label%3A%22Terminology+alignment%22
) labeled `Terminology alignment` must be marked as `Agreed` in order to close this issue.

**Terminology:** https://github.com/bogdandrutu/openconsensus/issues?q=is%3Aissue+is%3Aopen+label%3A%22Terminology+alignment%22

## Step 2
All `Agreed` upon terminology must

[2019-03-19 02:34] tedsuo opened #3 "Rough port of OpenCensus for testing purposes"
- [x] Initial rough port of OC
- [ ] Review starting point
- [ ] Adjust terminology to match new terms for the new project

[2019-03-19 02:36] tedsuo opened #4 "Spike a bridge from new interfaces to current OpenTracing interfaces"
* the goal is backwards compatibility: prove that a new tracer – built only to support the new tracer interfaces – can consume existing OT instrumentation.
* The goal for the spike is to identify and understand any places where the new interface design will make backwards compatibility difficult.

[2019-03-19 02:37] tedsuo opened #5 "Documentation for new interfaces"
Includes at least docs for:
* New APIs
* Changes from OC/OT
* Rationale

[2019-03-19 02:39] tedsuo opened #6 "Port OpenCensus to create the new SDK"
Once we are clear on design, do a production ready port of OpenCensus.

[2019-03-19 02:40] tedsuo opened #7 "Bridge from the new SDK to current OT interfaces"
* maintains backwards compatibility.
* allows for progressive adoption of new interfaces.

[2019-03-19 16:21] tedsuo opened #8 "Set up CNCF CLA for this project"
* If we want to move this codebase into the CNCF, committers need to sign a CLA
* Users can't sign a CLA because we're not in the CNCF yet
* So we cannot accept 3rd party PRs until the CNCF acceptance process is complete.
* Once we have a project name, github org, etc, we can start accepting PRs
* We can still accept comments and suggestions.

TODO: Mention this situation in the README.

[2019-03-19 16:22] bhs commented on #4
@tedsuo @bogdandrutu to be clear, the goal here is to write an implementation of an `opentracing.Tracer` that calls into the OpenFoo machinery.

If so, I'd propose we rename this issue `Spike an OpenTracing Tracer that calls into the new merged project` (or anything else that's unambiguous about the "direction" of the adapter).

[2019-03-19 16:27] tedsuo opened #9 "Create README"
Blog post: https://medium.com/opentracing/merging-opentracing-and-opencensus-f0fe9c7ca6f0

- [ ] Rough Timeline
- [ ] Links to Milestones
- [ ] Description of release

We hope to have the Java Alpha release ready by Kubecon Barcelona.

What's in the Alpha release?
* Abstract Interfaces for all major components
* Standard SDK that works out of the box
* OpenTracing Bridge
* OpenCensus Bridge

[2019-03-20 02:38] bogdandrutu commented on #3
I think I done the initial port.

[2019-03-20 02:39] bogdandrutu commented on #3
Caveats:
* No propagation api for the moment.
* No tags yet (coming soon).
* No stats/metrics yet (coming soon).

[2019-03-21 06:44] SergeyKanzhelev commented on #3
@bogdandrutu looks good for me! I see you did a few movement of classes. Are those renames made with a commit that we can later track down?

Just checking on the feeling from the group. Would it be faster to bring all APIs from Open Census and work from there? I kind of missing tags and metrics, especially if we plan renames. And I fill it may be easier to track down changes later if we will start

[2019-03-21 14:31] bogdandrutu commented on #3
@SergeyKanzhelev I can do that if you think is easier, let me know what others think.

@tedsuo I fixed the javadoc issues.

[2019-03-22 03:07] carlosalberto commented on #3
Hey hey, thanks a lot for creating the initial code import :)

So I did a first quick pass and I have a few things to comment (wasn't sure on whether I should create an Issue per each, so I will mention these things here first ;) )

* Sampling - As per the "Important Merge Items" doc, it was mentioned that at the moment, DDog expects (as LS) all Spans to be send to the exporter, where the vendor s

[2019-03-22 17:20] SergeyKanzhelev commented on #3
@bogdandrutu let's start with the "as-is" copy of Open Census, please? Event for context propagation it's easier to make changes than writing brand new code.

[2019-03-22 17:22] SergeyKanzhelev commented on #3
Would it be enough to configure test exporter for tests?

[2019-03-22 17:25] SergeyKanzhelev commented on #3
@carlosalberto how do you want to use that separate artifact? Do you envision it can be used separately from the API? Or you just want a separate namespace?

The way I see it - BlankSpan can be internal. Per my understanding it is mostly used as a noop instrumentation to eliminate the need to have too many null checks.

[2019-03-23 20:52] tedsuo commented on #4
Thanks @bhs. I clarified this somewhat.

I would prefer that the bridge code takes in the new interface, and returns the old interface. So it will work with any new tracer, not just the SDK. Given that the OpenTracing API is very abstract, and generally does not have accessors, this should be possible.

So, something like this pseudocode:

[code]

[2019-03-26 02:51] carlosalberto commented on #3
Hey hey @SergeyKanzhelev

Probably it would work... I'm wondering how easy would it be for users to write tests based on such exporter. Something we can consider and test out, yes ;)

Only a separate namespace ;)

In OT having the no-op as public was helpful in case scenarios - not something important at this moment, but worth considering ;)

[2019-03-26 19:59] carlosalberto opened #10 "Testing & `MockTracer`"
In OT there is an in-memory `Tracer` instance called `MockTracer` (https://github.com/opentracing/opentracing-java/blob/master/opentracing-mock/src/main/java/io/opentracing/mock/MockTracer.java), used to test library instrumentation - essentially you provide a `Tracer` instance on which such instrumentation works.

Afterwards, finished `Span` objects can be checked (along with their operation name

[2019-03-26 22:27] yurishkuro commented on #10
I feel that in OT the mock tracer was a necessity because there was no reference implementation, but if we have OC reincarnation as OpenFoo default implementation, I would prefer not to have a separate mock tracer. Or, we can have it as a wrapper over default implementation, if we want the convenience of tracer.getFinishedSpans(). It would then hide the exporter.

[2019-03-27 15:08] carlosalberto commented on #10
I really like this idea (and it would be an alternative to the in-memory exporter).

[2019-03-27 15:44] SergeyKanzhelev opened #11 "API: Tags vs. Baggage"
from https://docs.google.com/document/d/1WhmNrl7ZGBTYAyo23OjTW7IXj2G4AtsTcwv3Zieg2tk/edit#

OT: Tied to the Span, and part of SpanContext (which is immutable).

OC: Exist independently, can be propagated without a Span.
Possible approaches:
Have Baggage/Tags decoupled from the Span/SpanContext and have it stand independently (NOTE: this seems to be the path we will take).
Advantage: Simplicity, de

[2019-03-27 15:44] SergeyKanzhelev opened #12 "Trace identifiers: strings vs. strongly typed"
SpanContext
OT:  SpanContext exposes Trace Identifiers as strings, hiding the native representation.

OC: SpanContext exposes the underneath Trace Identifiers implementation, as well as TraceState and sampling information.

[2019-03-27 15:45] SergeyKanzhelev opened #13 "Message Events"
OT: Nothing like this exists.

OC: Defines this additional API.
Possible approaches:
Implement this is a specialized form of log/annotation (NOTE: Bogdan doesn’t like this. Might need to do further research of how this is handled underneath).
Keep this as an additional/separated API, but keep it abstract, so each Tracer implementation can choose whatever way to handle they want.
Do not expose it a

[2019-03-27 15:50] SergeyKanzhelev opened #14 "Links vs. References"
From: https://docs.google.com/document/d/1gOjNl7nYardzaQJVtJCFJUBUIOwssKN-r9IGyL7HCJc/edit#heading=h.bk2at8j2ubk8

Links and references are equivalent concepts, acting as edges to connect spans into a directed graph.
OT Reference
[code]
Differences

OC Links can be added at any time; OT References must be added on Span creation.
Links can have Attributes; References cannot. (what is a link attribu

[2019-03-27 15:51] SergeyKanzhelev opened #15 "OC Attributes vs. OT Tags"
OC “Attributes” and OT “Tags” (not OC tags) are key value pairs used to decorate Spans with information.
OT Tag
public abstract class AbstractTag<T> implements Tag<T> {
    public String getKey();
    public abstract void set(Span span, T tagValue);
}
public class StringTag extends AbstractTag<String> {
    public StringTag(String key) {}

    @Override
    public void set(Span span, String tagVal

[2019-03-27 15:51] SergeyKanzhelev opened #16 "Annotations vs. Logs"
Annotations and logs are equivalents. However, annotations are more structured, with an explicit description field.
OT Log
public class Fields {
    public static final String ERROR_KIND = "error.kind";
    public static final String ERROR_OBJECT = "error.object";
   // etc
}
Span.log(Map<String, ?> fields);
Span.log(long timestampMicroseconds, Map<String, ?> fields);
Span.log(long timestampMicros

[2019-03-27 15:54] SergeyKanzhelev opened #17 "Metadata alignment"
Align on https://github.com/opentracing/specification/blob/master/semantic_conventions.md vs,

https://github.com/census-instrumentation/opencensus-specs/blob/master/trace/HTTP.md
https://github.com/census-instrumentation/opencensus-specs/blob/master/trace/gRPC.md
https://github.com/census-instrumentation/opencensus-specs/blob/master/resource/StandardResources.md

[2019-03-27 16:16] SergeyKanzhelev commented on #16
[ted] Idea of required string is great
[Yuri] Description may be a bad name. Perhaps Event with the string.

[2019-03-27 16:19] SergeyKanzhelev commented on #16
[Yuri] EventName instead of description
[sergey] everybody agree `log` is confusing.
[ted] Annotation -> `Event` + `description` -> `name`

[2019-03-27 16:20] SergeyKanzhelev commented on #16
Yay! closed

[2019-03-27 16:22] SergeyKanzhelev commented on #15
[sergey] everybody (bogdan, ted, Carlos, yuri) like attributes better

[2019-03-27 16:24] SergeyKanzhelev opened #18 "Attribute types"
OC has limited set of primitives, OT has more types even an object

[2019-03-27 16:25] SergeyKanzhelev commented on #15
Yay! closed

[2019-03-27 16:25] SergeyKanzhelev commented on #15
oops... we should revisit match pattern.

[2019-03-27 16:26] SergeyKanzhelev commented on #15
@carlosalberto will propose replacement for match pattern

[2019-03-27 16:30] SergeyKanzhelev commented on #14
[bogdan] Links are not the same as references. Links used for
- batching - like waiting for multiple writes before doing actual IO operation. Like multi-parenting
-

[yuri] - references are the same

[ted] follows from is for async. In OC it's separate traces. This is biggest difference

Need more discussions...

[2019-03-27 16:32] tedsuo commented on #14
Suggestion: can we write down examples of the different scenarios we are trying to model? This will help ensure we're all on the same page, and no edge cases get left behind.

[2019-03-27 16:56] bogdandrutu opened #19 "Interface vs Pure abstract class in the API"
* Pros for Abstract
  * Keep backwards compatibility between the API and implementation.
* Cons for Abstract
  * No support for multiple inheritance.
  * Interfaces may be consider cleaner for API than abstract classes.

[2019-03-27 17:02] yurishkuro commented on #16
Rationale: sometimes events are more semantically meaningful than just "log strings" or "description". For example, when tracing http request with Go (e.g. [this blog][1]), there is a well defined set of HTTP events attached to the span (the [ClientTrace interface][2]), e.g.
  * DNS start
  * DNS done
  * GotFirstResponseByte
  * ConnectStart, etc.

OpenTracing spec recommends an attribute `event`

[2019-03-27 17:51] yurishkuro commented on #19
I think a related question here is API vs. SPI. Currently Tracer abstract class has things like withRunnable(), which are simply util methods that normally don't require vendors overriding them.

Regarding backwards compatibility of the abstract class, it can still be achieved by providing both the interface (the basic API block) and an abstract implementation that vendors are encouraged to extend

[2019-03-28 02:22] bogdandrutu commented on #10
I think we agreed on this, it just needs to be implemented. I will add a label "Agreed".

[2019-03-28 16:02] SergeyKanzhelev commented on #17
https://docs.google.com/spreadsheets/d/1FTLt781AGU6wnWLy7ESoHR5rPpSyeSSB0G5VzJMj0N8/edit?usp=sharing

[2019-03-28 16:14] SergeyKanzhelev opened #21 "Match pattern for Attribute replacement"
See #15

[2019-03-28 16:16] bogdandrutu commented on #12
@carlosalberto has to talk to users if Tracestate + SpanBuilder (interface) is enough for them, if not please document why.

[2019-03-28 16:18] SergeyKanzhelev commented on #11
questions:

1. Common name
2. Do we have "Get" on baggage
3. Is Baggage on spans or separate API?

[2019-03-28 16:19] bogdandrutu commented on #11
* Everyone agrees having baggage/tags separate from the SpanContext.

[2019-03-28 18:34] carlosalberto opened #23 "Allow update of Span name."
In order to support a bridge to OT, we need to allow `Span`'s name to be updated.

The method that requires this, from the OT side, is `Span.setOperationName()`.

[2019-03-28 18:39] carlosalberto opened #24 "Allow explicit start/end timestamp for Span"
In order to support a OT bridge, we need to support explicit, optional values for start/end timestamp.

[2019-03-28 18:51] SergeyKanzhelev commented on #17
What changes we may need in current codebase:

- [ ] Add `component` or `type` attribute definition. (The software package, framework, library, or module that generated the associated Span. E.g., "grpc", "django", "JDBI".)
- [ ] Add DB metadata:  `db.instance`, `db.statement`, `db.type`, `db.user`
- [ ] Add `message_bus.destination`. (An address at which messages can be exchanged. E.g. A Kafka rec

[2019-03-28 19:00] SergeyKanzhelev commented on #17
For log attributes:

1. `error.kind`, `error.object`, `stack` - may be covered with exception type suport instead of log https://github.com/census-instrumentation/opencensus-specs/issues/154 Question - are those have to be annotations and not a separate event?
2. `event` and `message` are taken care of in https://github.com/bogdandrutu/openconsensus/issues/16

[2019-03-28 19:39] bogdandrutu commented on #23
I think we also discussed two things:
* How to enforce that the Span at the end() call has a name set.
* Consider maybe updateName and enforce start span to get a name and allow updating the name later.

[2019-03-28 19:43] SergeyKanzhelev commented on #24
In Open Census explicit start/end is only allowed for `SpanData` creation, not for a span. Overriding start and stop may result in inconsistent timing inside the span when start time is not aligned with message events and annotations inside it.

Would creation of SpanData work better for this scenario? Which scenarios would break and are those important for end users?

[2019-03-28 20:07] carlosalberto commented on #23
Yeah, was wondering about the `updateName()` as discussed in the call - it does *feel* weird, among the `set*()` methods though ;)

So at this moment, we are already requiring (from OT and the new API) that a `Span` has a name, no?When `SpanBuilder`s are created, this is required:

[code]

[2019-03-28 20:08] carlosalberto commented on #24
Correct, this is something the user has to take care of, in case he overrides that - sadly this is something we need to support, backwards-wise, for OT.

[2019-03-28 20:18] SergeyKanzhelev commented on #24
We can support a scenario when you construct an entire `SpanData` postfactum. Without even creating the `Span`. And pass it to the exporter. See how we do it in C#: https://github.com/census-instrumentation/opencensus-csharp/blob/2e9f34e452b04831ce65b5894748f8045fef77da/src/OpenCensus.Collector.StackExchangeRedis/StackExchangeRedisCallsCollector.cs#L115-L127

What will be broken if above scenario

[2019-03-28 20:19] SergeyKanzhelev commented on #23
Maybe `putName` to align with `putAttribute`?

@bogdandrutu - as Carlos said, builder already requires name on construction in both. So this part should be good. Do you have anything else in mind?

[2019-03-28 20:24] yurishkuro opened #25 "putAttribute vs. setAttribute"
I am just curious if there was some consideration behind the `put` name, and if so to document it here.

[2019-03-28 20:28] SergeyKanzhelev commented on #25
my understanding was always that `set` has a semantics of first and only write. `put` is used as "create or overwrite". But I never put much thoughts into it. So worth discussing.

Is it `set` in OT?

[2019-03-28 20:56] bogdandrutu commented on #25
I think this is very language specific. In Java we went with the "map" terminology of put, and it has the same semantics.

[2019-03-28 21:25] yurishkuro commented on #25
@SergeyKanzhelev yes, it's SetTag/setTag/set_tag in OT Go/Java/Python

@bogdandrutu are you saying the name would change in a different language? That will probably be rather confusing.

[2019-03-28 21:31] SergeyKanzhelev commented on #25
I'm fine either way

[2019-03-28 21:58] bogdandrutu commented on #25
@yurishkuro If we want to have generic names I am fine with that, though some java devs will get confused about terminology.

One option is to use standard terminology for all these "map" like operations (we use this in tags in golang):
* insert - If k already exists, doesn't update the value.
* update - If k doesn't exists, doesn't insert the value.
* upsert - It inserts the value if k doesn't ex

[2019-03-28 22:07] yurishkuro commented on #25
I prefer not over to complicate things. `set` is similar to classic setters, the upsert semantics of it seems universal. While `put` is very Java-centric, many other languages don't have an equivalent.

The one caveat from OT is that SetTag() had unspecified behavior if called more than once with the same key. This wasn't related to `set` vs `put`, more to the implementation and efficiency (e.g. J

[2019-03-28 22:13] tsloughter commented on #24
I like the construct entire SpanData postfactum idea. I had been struggling with how to support span creation for the Elixir database library Ecto which simply pushes events and this would allow to do that without any hassle. It means you won't have the context to send to the database if it were to actually support opencensus, but that seems like unlikely as most people are using postgres.

[2019-03-28 22:38] bogdandrutu commented on #25
I agree that the implementation can keep everything in an array, but when exported to you dedup?

[2019-03-28 22:44] yurishkuro commented on #25
You can, but it's still extra CPU cycles and memory allocations that become necessary if the API semantics require key uniqueness.

[2019-03-29 00:05] bogdandrutu commented on #25
Then we should say that attributes is a List<Pair<Key, Value>>, so a better name is "addAttribute" probably.

[2019-03-29 00:25] bogdandrutu commented on #17
For sampling.priority why do we need that in the Tracestate? That implies is propagated, and not everyone needs that.

[2019-03-29 01:49] bogdandrutu commented on #19
Based on my understanding users instrumentation code should not depend on SPI (SPI is intended to be used by the service provider (vendor) to implement the API). See https://en.wikipedia.org/wiki/Service_provider_interface

The abstract implementation that vendors should extend seems to be the SPI.

[2019-03-29 01:56] bogdandrutu commented on #24
I agree with @tsloughter and @SergeyKanzhelev. I think actually having the SpanData in the api, and on the Tracer have a "recordSpanData" (name can be better) makes more sense, because in case where we construct the Span from different events (source of data) api calls like addAnnotations (or log in OT) will have a wrong timestamp associated with that annotation/log (also if the implemenation of a

[2019-03-29 05:41] SergeyKanzhelev commented on #17
I think if one want `sampling.priority` - `tracestate` should be the mechanism to propagate it. @carlosalberto @yurishkuro is it used only for individual span in attributes or typically propagated?

[2019-03-29 06:40] SergeyKanzhelev commented on #24
https://github.com/census-instrumentation/opencensus-specs/issues/255

[2019-03-29 15:43] carlosalberto commented on #21
So I've been thinking about maybe having a XML-alike api - since it's already taken for granted the attributes are either boolean, numerical or strings, what about adding:

[code]

That would be enough if the current `match` API is used not for replacement, but for **extracting** values out of a list of `Attribute`s (which seems to be the case to me).

[2019-03-29 15:45] carlosalberto commented on #25
I agree on this one - I think we can either go with `addAttribute` or `setAttribute`, even if it's not so Java centric.

[2019-03-29 15:52] carlosalberto commented on #17
@SergeyKanzhelev `sampling.priority` is usually used per individual `Span`s, as far as I know. @yurishkuro happen to know more about this one?

[2019-03-29 15:57] SergeyKanzhelev commented on #21
Match pattern eliminates 4 `if` statements when you need to simply print the the value. With this proposal we will not need to do `instanceOf`, but still will have 4 `if` statements. Imagine we will add `DateTime` and `UUID` as additional data types - it's 6 now.

Perhaps if `asString` will not throw for boolean - situation may be better for the most common use cases.

Another alternative - have `

[2019-03-29 16:15] bogdandrutu commented on #25
Decision: setAttributes, the behavior is a List of attributes and if the backend dedups then the ordering should be guaranteed.

[2019-03-29 16:19] bogdandrutu commented on #11
Decision: Tags will support get by key, (maybe an iterator).

[2019-03-29 16:22] bogdandrutu commented on #11
Sergey: Proposed the default propagation to be local in the process.

[2019-03-29 16:26] bogdandrutu commented on #11
Decision: Everything limited (key, value), see OpenCensus as a starting point.

[2019-03-29 16:29] bogdandrutu commented on #11
Decision: Rename to baggage for the moment, may be revisited.

[2019-03-29 16:36] bogdandrutu commented on #21
Decision: We go with SergeyKanzhelev proposal, and enforce asX throws exception if not that type.

[2019-03-29 16:40] bogdandrutu commented on #24
Proposal: Try to see how SpanData + Report API would look like.

[2019-03-29 16:44] bogdandrutu commented on #23
Proposal: setName vs updateName

[2019-03-29 16:49] bogdandrutu commented on #23
Decision: Go with update, if strong opinions from community then we may revisit.

[2019-03-29 16:52] SergeyKanzhelev commented on #18
no objects. In OT it is theoretically possible, but it is a misuse

[2019-03-29 16:52] SergeyKanzhelev commented on #18
support double and int instead of Number

[2019-03-29 16:54] SergeyKanzhelev commented on #18
in future we may add lazyString attribute type.

[2019-03-29 17:27] bogdandrutu commented on #18
Remove from ot the generic interface that accepts template.

[2019-03-29 19:00] yurishkuro commented on #23
Does OC redo the sampling decision today once the span name is changed?

The Adaptive Sampling in Jaeger is done per span name (not per service), and having to support late binding of the span names was pretty painful.

[2019-03-29 19:29] SergeyKanzhelev commented on #23
@yurishkuro name update only available in C# I believe. We discussed whether we need to update sampling decision but decided against it. One of reasoning was that perhaps this kind of sampling should work on the pipe after all the data is collected. So customer will need to configure it differently when she knows that this update is probably happening.

[2019-03-29 20:19] yurishkuro commented on #23
If the service makes downstream calls, the sampling decision needs to be made before those calls. The typical use case for overriding span name is when instrumentation doesn't know the name immediately upon receiving the inbound request (e.g. if the span is created lower in the networking stack), but usually it is available and set long before the service handler is invoked and it can make downstr

[2019-03-29 22:29] SergeyKanzhelev commented on #16
Curiously, methods which checks whether annotations needs to be recorded were already called
`isRecordingEvents` and `setRecordEvents` =)

[2019-03-29 23:47] SergeyKanzhelev commented on #23
@yurishkuro, yes it is valid point. How did you solve it in Jaeger?

Perhaps we can only allow the change of span name via the method on tracer? So tracer will be able to re-apply sampling.

One big problem with `updateName` - it is typicaly that you don't know whether you will definitely need to update the name or not.

[2019-03-29 23:52] bogdandrutu commented on #23
What about having an attribute "displayName" that can be used by the backends to show better name? Or maybe a better attribute key name?

[2019-03-31 19:49] yurishkuro commented on #17
`sampling.priority` is usually used to programmatically force sampling for a given trace based on conditions known to application/instrumentation only (not to the tracer). It is theoretically can be used to disable sampling either, but I haven't seen that usage pattern (although do vaguely recall some discussion with one of the user groups).

[2019-04-01 15:58] SergeyKanzhelev commented on #17
@yurishkuro so if it forces decision for a trace - I'd assume you need to propagate it and `tracestate` should be a better place for it.

[2019-04-01 16:13] tedsuo commented on #14
TODO: For clarity, provide code examples from OT and OC modeling each scenario.

[2019-04-01 16:19] tedsuo commented on #13
Logs have now become Events. We would like `MessageEvent` to become a specialized type of `Event`, and to have events be extensible in the new project.

@bogdandrutu do you have a plan for the first iteration of this? I believe you had an idea as to how you would like to see this modeled.

[2019-04-01 16:27] tedsuo commented on #12
We want to recommend the new W3C standard, and have it be universally adopted. But we also want to support pre-existing context propagation schemes (such as B3).

**Agreed:** We would prefer exposing the strong (canonical) types for the new `Trace-Context` standard, and have that be the only supported form of in-process context propagation.

## Question for Review during  Release Candidate stage
I

[2019-04-01 16:39] tedsuo commented on #3
The remaining items in this issue are about finalizing the new interface, and covered by https://github.com/bogdandrutu/openconsensus/issues/2. I'm going to close this issue to show that we made progress to the point of having a running port of OpenCensus.

[2019-04-01 16:39] #3 closed

[2019-04-01 17:56] carlosalberto opened #28 "Rename Tracer.withSpan() to something more meaningful"
`Tracer.withSpan(Span)` sets the specified `Span` as the active/current instance - but personally I think the name is not meaningful enough.

Would it make sense to change it to `Tracer.activateSpan()` as we call it in OT? I'm open to alternatives too ;)

[2019-04-01 19:33] yurishkuro commented on #28
+1, perhaps even shorter, tracer.activate(span)

[2019-04-01 20:00] yurishkuro commented on #13
We already added `span.addEvent(Event)` API, so it's not that difficult to start adding specialized versions of the events.

[2019-04-02 15:25] carlosalberto commented on #28
`Tracer.activate()` would work for me ;)

[2019-04-02 15:38] yurishkuro commented on #18
In terms of the interface, I would prefer something like this:
[code]
The reason is that if we always insist on passing Attribute object, it means I always have to do memory allocations, even though the implementation of the API can be optimized to not require those.

[2019-04-02 15:43] carlosalberto opened #32 "Tracer implementing Closable"
In OT, `Tracer` implements `Closable`, which lets users flush pending `Span`s and dispose related resources.

Is there any point against this for the new API? I don't see any, but let me know ;)

[2019-04-02 15:53] carlosalberto opened #33 "Remove SpanBuilder.startScopedSpan()"
As part of OT 0.32 we deprecated a few members (https://github.com/opentracing/opentracing-java/issues/291 details the reasons to do this).

As part of this, I'd also like to see `startScopedSpan()` gone.

[2019-04-02 16:14] tedsuo commented on #19
For now, we are using Abstract implementation.

@carlosalberto will get feedback from implementors as to whether this is a workable choice..

[2019-04-02 16:16] SergeyKanzhelev commented on #32
https://github.com/census-instrumentation/opencensus-java/issues/646

[2019-04-02 16:20] tedsuo commented on #32
In OT, It was helpful to close the tracer without knowing the underlying implementation.

@bogdandrutu please add `Closable` unless you object.

[2019-04-02 16:22] tedsuo commented on #33
Need @bogdandrutu to make this call.

@carlosalberto can you add a TL DR as to the reasoning for it's removal?

[2019-04-02 16:29] tedsuo commented on #28
@bogdandrutu does `Tracer.activate()` work for you?

[2019-04-02 16:30] tedsuo opened #34 "How does activate/deactivate relate to context propagation?"
It is not clear how activate/deactivate relates to the underlying context propagation mechanism, given that they are separate.

[2019-04-02 16:32] carlosalberto commented on #33
So we are actually trying to prevent bad use of the API:

[code]

Instead, we are asking the users to do this:

[code]

The OC documentation **does** mention this, but nevertheless, we would go a little bit far and remove this one ;)

[2019-04-02 16:53] tedsuo commented on #5
Please add the Changelog to the ReadMe.

[2019-04-02 16:54] #1 closed

[2019-04-03 16:01] carlosalberto commented on #14
A small snippet for OT's `FOLLOWS_FROM` would be a `Promise` + callbacks usage:

[code]

[2019-04-03 16:14] tedsuo commented on #21
https://github.com/bogdandrutu/openconsensus/pull/31 addresses the `getType` portion of this issue.

[2019-04-03 16:15] tedsuo commented on #21
@bogdandrutu Should we go ahead and remove the `match` API? @carlosalberto and @SergeyKanzhelev are fine with removing it, for simplification.

[2019-04-04 15:30] carlosalberto opened #36 "Do not throw SpanContextParseException upon extraction"
Currently, the formats exposed by this API throw a `SpanContextParseException` upon `extract()` if the data is malformed - I think we should instead simply return `null` for this case.

[2019-04-04 15:31] carlosalberto opened #37 "Support timestamp for Span.addEvent()"
We need this to have the OT bridge - related to #22 it seems to be ;)

[2019-04-04 16:41] SergeyKanzhelev opened #41 "span attributes "error" cannot be set in SpanBuilder"
Creating an issue to confirm that we can safely ignore setting `error` status in `SpanBuilder`.

[2019-04-04 16:44] SergeyKanzhelev opened #42 "confirm we can ignore span.kind after Span was created"
`Span` doesn't allow to set `span.kind`. Confirm we OK with this and ok to ignore setting this tag in OT shim

[2019-04-04 21:40] yurishkuro commented on #41
not ignoring it would be less surprising behavior

[2019-04-04 21:42] yurishkuro commented on #42
hm, I see very often that tags are set on the span after creation

[2019-04-04 23:28] SergeyKanzhelev commented on #41
are there valid scenarios when you want to set `error` to `true` using `SpanBuilder`?

[2019-04-04 23:28] SergeyKanzhelev commented on #41
Do we need the way to do it for OpenFoo API surface?

[2019-04-04 23:29] SergeyKanzhelev commented on #42
should we expose setting the `Kind` on `Span` giving it's a strongly typed field? Would you always know the `Kind`?

[2019-04-05 05:55] SergeyKanzhelev commented on #16
closed via #26

[2019-04-05 05:55] #16 closed

[2019-04-05 05:57] #25 closed

[2019-04-05 15:33] carlosalberto opened #44 "Use ByteBuffer with Binary propagation instead of byte[]"
I'm wondering what are the reasons to not use `ByteBuffer` with the Binary injection/extraction.

I'm thinking using `ByteBuffer` could be a nice thing to use (you can even wrap a `byte[]` with it), with all its range/limit capabilities (and potential re-use).

[2019-04-05 16:58] carlosalberto commented on #41
@yurishkuro So the problem is with the new API, where you set an error directly on a `Span` through `setStatus()`, not through a tag (also, observe this is for the OT bridge only ;) ).

Maybe we could let the tag go in (`error`) for `SpanBuilder` and only do the proper `setStatus()` match when used for `Span`? This way we are **not** ignoring it at least.

(Logically speaking, I think a `Span` bei

[2019-04-08 14:55] carlosalberto opened #45 "Sampling on the API and exporter layer"
Based on previous feedback, some vendors wanted to have control of sampling at the exporter level - but sampling still exists at the API. I feel like we should probably do a clarification -for the users- on sampling at the api level AND (possible) sampling at the exporter level?

Also: for vendors subscribing to the API but not using the SDK, they might simply ignore the sampling info on our side.

[2019-04-08 15:20] bogdandrutu commented on #42
I think in all the implementations this detailed is known at the Span creation time. If that is not the case please show an example when that is not the case.

[2019-04-08 15:28] bogdandrutu commented on #44
I think using ByteBuffer everywhere is ok, the only downside is that it forces a new allocation every time you need to serialize, probably the JIT will optimize this.

[2019-04-08 15:34] bogdandrutu commented on #36
I think this is very language specific, and using exceptions vs returning an "error" is a long subject. The main reason to throw an exception is to distinguish between malformed encoding vs missing encoding, if that is not necessary we can drop the exception.

[2019-04-08 15:36] bogdandrutu commented on #37
Allowing users to set a timestamp for any event (start, event, end) will make hard for implementations to use a monotonic clock that can ensure ordering of events (you cannot control how the timestamp is retrieve when the user can provide it). Also allowing this functionality you cannot ensure that all the events timestamp are in the interval [start, end].

Can you give me some examples where this

[2019-04-08 15:39] bogdandrutu commented on #33
Fine to remove it in the first version of the API and revisit this for a newer version.

[2019-04-08 15:43] bogdandrutu commented on #32
I think close is not good because the Tracer is shared between multiple threads and race conditions can happen (users need to synchronize the close call, or make sure they close after all the usages of the Tracer). I probably suggest having a "Flush" method if that is needed for tests or for the shutdown hook. Also a good question is if the Flush should be a method on the Tracer implementation or

[2019-04-08 15:45] bogdandrutu commented on #28
I think withSpan is better in my opinion. It matches with other languages like go (where calling this activate would be an anti-pattern).

[2019-04-08 15:47] bogdandrutu commented on #21
I think removing the match pattern is good for me, I added a small comment on the PR that added getType but overall I am fine.

[2019-04-08 15:49] bogdandrutu commented on #18
@yurishkuro can you clarify on the difference, do you suggest to remove AttributeValue from the API and accept primitives?

[2019-04-08 15:58] SergeyKanzhelev commented on #42
another question - should it be a part of `SpanBuilder` constructor than? Same as a name

[2019-04-08 17:43] SergeyKanzhelev opened #46 "Remove all deprecations"
API should not have anything deprecated as it's new:

[code]

[2019-04-08 18:58] SergeyKanzhelev opened #48 "Remove match pattern for stats"
There is one more use of match pattern in API. Needs to be replaced with `getType` as well

[2019-04-08 19:20] bogdandrutu commented on #46
@SergeyKanzhelev if you take care of this (I saw the PR) please assign this to you so we don't duplicate the work.

[2019-04-08 19:21] bogdandrutu commented on #37
@carlosalberto I heard that this was resolved.

[2019-04-08 19:22] bogdandrutu opened #51 "I found that some libraries use Nop instead of Noop"
Any proposal on this? Should we use Nop?

[2019-04-08 19:39] SergeyKanzhelev commented on #48
This function will need to be removed after it:

[code]

[2019-04-08 19:42] bogdandrutu commented on #48
@songy23 can you help us with this?

[2019-04-08 20:07] bogdandrutu commented on #48
@songy23 see the AttributeValue example + the latest PR about moving type as a inner class to AttributeValue

[2019-04-08 20:27] songy23 commented on #48
@bogdandrutu can you add me as a collaborator to this repo? Currently I don't have write access and cannot assign issues/request reviews.

[2019-04-08 21:16] SergeyKanzhelev opened #56 "Should default for Span.Kind be Undefined or Client"
Sub. Also, should we ask for `spanKind` in a constructor of a `SpanBuilder`?

[2019-04-08 21:16] carlosalberto commented on #37
Closing this one.

[2019-04-08 21:16] #37 closed

[2019-04-08 21:17] SergeyKanzhelev commented on #42
created issue for this:

[2019-04-08 21:19] carlosalberto commented on #28
So if `activate` would sound bad for go, we can use something else.

Personally I think `withSpan()` totally lacks meaning (no mention about it becoming the current `Span` or anything.

[2019-04-08 21:28] carlosalberto commented on #36
So my impression is that, at least when doing instrumentation, you don't really care about whether it was a malformed or a missing context info - you care only about whether you got it or not.

[2019-04-08 21:29] carlosalberto commented on #32
A flush method is ok - essentially we need a way to let remaining `Span` instances be sent in case the service is about to shutdown.

[2019-04-08 21:31] carlosalberto opened #57 "Attributes in Links"
This is not something we support in OT at the moment, and don't think many vendors support this underneath either.

[2019-04-08 21:36] SergeyKanzhelev opened #58 "Add Tracestate to Link"

[2019-04-08 21:42] SergeyKanzhelev commented on #57
so this is a "new" feature for Open Tracing. Is it a problem?

[2019-04-08 21:45] SergeyKanzhelev opened #59 "Names of resource env variables may be revisited"
This may need to be re-visited:

https://github.com/bogdandrutu/openconsensus/blob/8535aabedcb0b5759047cdb2be2da285e9ca9279/api/src/main/java/openconsensus/resource/Resource.java#L44-L45

[2019-04-08 22:05] SergeyKanzhelev commented on #14
Another consideration to not forget - links has a limit of 20 per span. References are unlimited

[2019-04-08 22:27] SergeyKanzhelev opened #60 "Link.Attributes limit is not enforced"
`SpanData` uses `Link` class, same as `Span`. So `getAttributes` on `Link` returns the map of attributes and cannot return `droppedAttributesCount`. So the limit on number of allowed attributes in not enforced in runtime as for `Span` attributes and there is no way to express the fact that the number of attributes was limited when creating a `SpanData`.

[2019-04-08 22:27] SergeyKanzhelev commented on #60
should be able to construct `SpanData` and specify how many attributes were dropped for the `Link`

[2019-04-08 22:32] carlosalberto commented on #57
So as they are not the same feature (References and Links), I'm closing it indeed.

[2019-04-08 22:32] #57 closed

[2019-04-08 22:33] carlosalberto commented on #57
(Addressed by #14)

[2019-04-08 22:43] tedsuo commented on #13
Solution:
* `Event` is an interface which produces an `EventData` object (name plus attributes).
* `MessageEvent` conforms to `Event`, and it's `EventData` which includes standard attributes.
* `EventData` is not a finalized name yet.

[2019-04-08 22:57] tedsuo commented on #32
We need to gather use cases to better understand if `Close` and/or `Flush` should be on the `Tracer` interface.

Main use case:
* Shutdown code

[2019-04-08 23:09] SergeyKanzhelev opened #61 "Still many references to Open Census"
Clean this up: https://github.com/bogdandrutu/openconsensus/search?p=2&q=OpenCensus&type=&utf8=%E2%9C%93

[2019-04-09 00:55] bogdandrutu commented on #56
I think Undefined is better because most of the user constructed Spans will not be client or server (these will be constructed by our instrumentation).

[2019-04-09 00:57] bogdandrutu commented on #42
@SergeyKanzhelev should we close this issue?

[2019-04-09 00:57] #48 closed

[2019-04-09 01:30] bogdandrutu commented on #46
This is done now I think.

[2019-04-09 01:31] #46 closed

[2019-04-09 01:32] bogdandrutu opened #65 "Consistent Noop implementation"
Currently for stats/tags we use a noop class that implements all the api vs in trace every class implements it's own noop. We should be consistent.

[2019-04-09 01:33] bogdandrutu commented on #65
@songy23 wait for an agreement before coding this.

[2019-04-09 02:09] bogdandrutu opened #70 "The stats/metrics getType pattern does not allow access to the value."
1. Decide if the right pattern is to have a getValueX on the super class or every sub-class implements a getValue and user has to convert the class to the sub-class.

@songy23 please make sure that the classes you modified allow access to the value using the decision from this issue.

[2019-04-09 05:13] SergeyKanzhelev commented on #56
So Undefined for you means in-between of `client` and `server`? Should we give a better name?

[2019-04-09 05:40] bogdandrutu commented on #56
Maybe local span?

[2019-04-09 05:53] SergeyKanzhelev commented on #56
I was thinking the same. So we will not have value of `Undefined` that may mean not defined yet.

[2019-04-09 15:01] bogdandrutu commented on #15
This is done as it was written initially.

[2019-04-09 15:01] #15 closed

[2019-04-09 15:17] bogdandrutu opened #74 "Simplify SpanData"
Consider to be removed:
* Has remote parent

Currently SpanData is written as a result of the default implementation for the Span (including notions like dropped events). Maybe we should simplify this and the SpanData defined in the API does not include dropped events, and in the SDK (default implementation) we use directly the protos which include the notion of dropped events.

[2019-04-09 15:22] carlosalberto commented on #74
Makes sense to me.

[2019-04-09 16:15] yurishkuro commented on #56
Is it documented somewhere why span.kind is `required`?  Obviously, it is a very helpful attribute, but many analysis tools still work if it's not present.

[2019-04-09 16:34] #33 closed

[2019-04-09 16:39] #24 closed

[2019-04-09 16:45] tedsuo commented on #23
We've decided to go with `Span.updateName()` for this feature.

[2019-04-09 16:46] tedsuo commented on #23
TODO: include documentation describing the relationship between updating the operation name, and sampling decisions based on the operation name.

[2019-04-09 16:52] tedsuo commented on #19
Interface PRO: interfaces allow implementations to control their class hierarchy better. For example, an implementation that implements both `Span` and `SpanBuilder`.

We can still offer an Abstract class which implements each interface, for convenience.

TODO: switch to interfaces in Java.

[2019-04-09 16:53] tedsuo commented on #14
## LINKS
* Two use cases:
  * Batch processing
  * Restarting a trace
* Links are for joining multiple traces
* Links are NOT for joining spans within a trace
* Maybe do not need an Enum for this?
  * enums are more confusing that we thought initially
  * CHILD reference technically not necessary

## REFERENCES
* For span parentage only, not so much for  joining traces.
Key difference: is parent w

[2019-04-09 17:02] SergeyKanzhelev commented on #58
Should link just have a SpanContext on it? Instead of exposing `TraceId`, `SpanId` and `Tracestate`?

[2019-04-09 18:01] #61 closed

[2019-04-09 19:04] bogdandrutu commented on #14
Proposal:
Reference {  // or Link??
  SpanContext context;
  sync/async  // TBD - maybe deferred
  Attributes //
}

SpanData {
  Reference parent;  // must have the same traceId

  List<Reference> links; // can have different or same traceId
}

SpanBuilder {
  // Keep the same traceId
  parent(SpanContext);  //
  parent(Span);  //

  // Not necessary to keep the traceId, most likely not.
  link(Sp

[2019-04-09 19:07] tedsuo commented on #9
We'll integrate content from https://docs.google.com/document/d/1DDQU3vXTtDOTrrKZl_51GeIGrOyFliHJcIfZfZM3rko/ once it is ready.

[2019-04-09 19:07] #9 closed

[2019-04-09 19:21] tedsuo commented on #28
Let's go with `Tracer.with(span)`. This is very clear:

[code]

@carlosalberto @yurishkuro how do you feel about this?

[2019-04-09 19:21] SergeyKanzhelev commented on #58
I think we agreed on this in https://github.com/bogdandrutu/openconsensus/issues/14

[2019-04-09 19:22] tedsuo commented on #17
TODO: write these out as constants in code. :)

[2019-04-09 19:23] #12 closed

[2019-04-09 19:31] tedsuo commented on #74
This is a good separation between a logical description of a trace, and information describing the state of the tracing system.

Concern:
* If the tracing runtime is taking action to conserve resources, such as dropping events, do we need to convey this information to the exporter? Should we be doing this sort of resource management?

SpanData is used for data representation of API:
* Exporter con

[2019-04-09 21:43] tedsuo commented on #70
option 1: switch on Enum + cast + get Value
PRO:
* smaller public API
CON:
* casts everywhere

option 2: switch on Enum + getXValue
PRO:
* no cast
CON:
* larger surface area

[2019-04-09 21:47] tedsuo commented on #65
Conclusion:
* Noop will be part of main package

Question:
* Do we need to expose Noop for our users? What are the use cases?
* @carlosalberto will query the OT community.

[2019-04-09 21:49] tedsuo commented on #60
Conclusion: we'll track this in #74

[2019-04-09 21:49] #60 closed

[2019-04-09 21:51] SergeyKanzhelev opened #82 "Resource reference on SpanData"
SpanData may need to have it's own resource associated with it

[2019-04-09 21:56] SergeyKanzhelev opened #83 "Resource reference on Span"
Do we need an explicit resource reference on `Span`?

[2019-04-09 21:57] SergeyKanzhelev commented on #59
Perhaps make those names non-prefixed. Just `Resource_type` and `Resource_labels`?

[2019-04-09 21:59] tedsuo commented on #59
DOCS: https://github.com/census-instrumentation/opencensus-specs/tree/master/resource

TODO: Once we pick a new name, we need to update these ENV vars.

[2019-04-09 22:00] SergeyKanzhelev opened #84 "Resource reference on Tracer"

[2019-04-09 22:00] #58 closed

[2019-04-09 22:11] tedsuo commented on #56
Conclusion:
* `Internal` is a good name for the default.
* Add optional `SetSpanKind` method only on `SpanBuilder`.

[2019-04-09 22:13] tedsuo commented on #51
Conclusion: let's go with `Noop`.

[2019-04-09 22:13] #51 closed

[2019-04-09 22:19] tedsuo commented on #45
Conclusion: Clarify that the sampling option on the `SpanBuilder` is only a hint.

TODO: clarify documentation.

[2019-04-09 22:49] tedsuo opened #85 "What to do about GRPC context propagation?"
Link: https://github.com/grpc/grpc-java/blob/master/context/src/main/java/io/grpc/Context.java

Currently, our context propagation package is embedded as a resource in gRPC. This does not result in all of gRPC becoming a dependency, but it is a surprising package name. It would be better if context propagation was removed from gRPC, so that it can be used by both projects without a strange looking

[2019-04-09 23:21] songy23 opened #86 "Import MetricOptions which allows configuring Gauge and Cumulative APIs."
https://github.com/census-instrumentation/opencensus-java/blob/master/api/src/main/java/io/opencensus/metrics/MetricOptions.java.

[2019-04-10 00:15] songy23 opened #89 "Rename all occurrence of TagContext to TagMap."

[2019-04-10 00:23] #70 closed

[2019-04-10 02:44] yurishkuro commented on #28
I assume in Go it would be more like

ctx=tracing.WithSpan(ctx, span)

Which is (and much clearer) than tracer.with(span). I agree that the latter does not explain what happens.

I think this is one area where language parity is not the goal, eg in Python tracer.start_span() already activates it

[2019-04-10 15:37] #18 closed

[2019-04-10 16:32] #89 closed

[2019-04-10 16:50] #86 closed

[2019-04-10 17:03] #56 closed

[2019-04-10 17:52] yurishkuro commented on #12
Not sure what the conclusion is here, looks it it's still unresolved, but punted on later milestone.

There's also a consideration related to INVALID context (#75) - what does it return if it has no IDs?

[2019-04-10 18:08] carlosalberto commented on #12
So **I think** `SpanContext.INVALID` is meant to be used like this:

[code]

So, the user needs to check it like you do it for `null`. Is this correct @bogdandrutu ?

[2019-04-10 19:26] songy23 opened #99 "Add HTTP text serializer API for TagMap."

[2019-04-10 21:02] #99 closed

[2019-04-10 21:02] bogdandrutu commented on #65
@carlosalberto this is on you now.

[2019-04-10 21:32] bogdandrutu commented on #36
@carlosalberto please also do the same for tags (baggages).

[2019-04-10 22:11] carlosalberto commented on #36
Shall I do that in another PR? It seems they are also using another Exception(s).

[2019-04-10 23:44] songy23 opened #104 "Add opencensus-shim."
Import OpenCensus-Java APIs and try to redirect them to OpenConsensus APIs.

[2019-04-10 23:44] songy23 opened #105 "Import api-tests from OpenCensus."

[2019-04-11 02:50] yurishkuro commented on #36
+1 to no exception.

[2019-04-11 16:40] yurishkuro commented on #12
Per https://github.com/bogdandrutu/openconsensus/pull/75#issuecomment-482153732, I am opposed to `SpanContext.INVALID` in the API. But even if we had it, it does not prevent the user from accessing the id getters on the context before checking for this constant.

Anyway, my point is that this issue shouldn't be closed and marked Agreed since the comments say that it was NOT decided and deferred in

[2019-04-11 16:40] yurishkuro commented on #12
Per https://github.com/bogdandrutu/openconsensus/pull/75#issuecomment-482153732, I am opposed to `SpanContext.INVALID` in the API. But even if we had it, it does not prevent the user from accessing the id getters on the context before checking for this constant.

Anyway, my point is that this issue shouldn't be closed and marked Agreed since the comments say that it was NOT decided and deferred in

[2019-04-11 18:23] carlosalberto opened #107 "GlobalTracer implementation"
In order to not forget about this I'm creating this issue - this is regarding on whether we should use a `ServiceLoader` approach or a manual static registration (such as OT `GlobalTracer.register(Tracer tracer)`)

About the `ServiceLoader` approach:
* Defacto standard for SPI in Java
* Always works within the specific context of a classloader. Different classloader hierarchies sometimes make this

[2019-04-11 18:44] carlosalberto opened #108 "Rename Tracer.spanBuilderWithRemoteParent()"
As the remote info has been removed from `SpanData`, I'm wondering if it makes sense to rename `Tracer.spanBuilderWithRemoteParent()` to be simply `Tracer.spanBuilderWithExplicitParent()` (it would exist as an overload that takes a `SpanContext` instead of a `Span`).

[2019-04-11 19:05] carlosalberto commented on #108
On second thought: I realized that samplers take a `hasRemoveParent` parameter. So in that case we would need to keep the current `spanBuilderWithRemoteParent()` name.

[2019-04-12 05:52] yurishkuro commented on #107
I am not sure what "ServiceLoader approach" means for OpenFoo - just defining something like TracerFactory interface?

-1 to introducing global tracer, it received a lot of deserved criticism, I don't think it's worth it.

[2019-04-12 16:24] tedsuo commented on #108
Issue: we don't want spans with in-process parents to be created from a `SpanContext`, as we would like to use a monotonic clock. So if we have a builder that creates a Span parent from a `SpanContext`, we want to indicate it should only be used for edge spans. So we will leave the current message signature.

[2019-04-12 16:24] #108 closed

[2019-04-12 20:18] SergeyKanzhelev opened #112 "Rename Distribution to Histogram to match OpenMetrics teminology"

[2019-04-14 18:23] bogdandrutu opened #118 "Extend functionality of No-op implementation: w3c and context propagation"
Based on this https://github.com/bogdandrutu/openconsensus/pull/113#discussion_r275140182

[2019-04-14 18:24] bogdandrutu opened #119 "Support "MultiFormat" TextFormat"
See https://github.com/bogdandrutu/openconsensus/pull/113#issuecomment-482871188

[2019-04-15 15:39] SergeyKanzhelev commented on #119
I'd say it should be implemented in contrib or SDL package. Not in API.

[2019-04-15 15:42] SergeyKanzhelev commented on #118
I'd say we can discuss what API package should be capable of without SPI. I'd argue that basic context extraction, propagation and injection should be possible even when no SPI present.

[2019-04-15 20:18] carlosalberto commented on #41
Closing as #106 has been merged.

[2019-04-15 20:18] #41 closed

[2019-04-15 20:20] carlosalberto commented on #119
Having it in a contrib package sounds the best option to me.

[2019-04-15 20:21] carlosalberto commented on #45
Closing as #110 has been merged (#109 is rather a related polish item, not a requirement).

[2019-04-15 20:21] #45 closed

[2019-04-15 23:29] bogdandrutu commented on #74
@tedsuo I think Exporter will not consume SpanData. SpanData is just for users to describe out-of-band spans.

[2019-04-15 23:31] bogdandrutu commented on #65
Friendly ping on this.

[2019-04-15 23:32] #23 closed

[2019-04-15 23:33] bogdandrutu commented on #13
I think this is resolved.

[2019-04-15 23:33] #13 closed

[2019-04-15 23:34] bogdandrutu commented on #83
I think all the Spans started from a given Tracer belong to the same Resource as the Tracer.

[2019-04-15 23:35] bogdandrutu commented on #42
@SergeyKanzhelev ping on this one.

[2019-04-15 23:36] bogdandrutu commented on #7
@tedsuo what is the difference between this and https://github.com/bogdandrutu/openconsensus/issues/4???

[2019-04-16 14:55] carlosalberto commented on #65
Based on initial feedback, it looks like having a no-op `Tracer` would be a nice to have, with the rest of the components staying private.

About the scenarios, didn't get much info, other than having the option to 'force' the global Tracer to stay no-op for a given case (which was something we may not need if we go with the ServiceLoader-alike approach).

[2019-04-16 15:34] #42 closed

[2019-04-16 15:38] SergeyKanzhelev commented on #83
One minor issue here that we need to decide how to address is, let's say we have integration that collects HTTP client spans from multi-tenant app (multiple apps in a single process). That we need to inject proper tracer there somehow. It may be more natural in those cases take resource from the current context or somehting...

I'm not sure how important this right now. We can always get back to i

[2019-04-16 15:38] #83 closed

[2019-04-16 15:53] bogdandrutu opened #124 "Attributes data"
Currently we use `Map<String, AttributeValue>`, but we discussed that an alternative would be to use:

[code]

[2019-04-16 16:18] bogdandrutu opened #126 "Package name for sdk/default implementation"
Java 9 added modules which requires that 2 different modules cannot both expose classes in the same package.

The current API classes are in the `io.openconsensus` where should the sdk classes be?

[2019-04-16 16:40] tedsuo opened #127 "Do we need both HTTP and TEXT_MAP carrier types?"
TEXT_MAP is simply a less restrictive version of the HTTP carrier type. Since all systems must realistically be compatible with HTTP, this has not turned out to be a useful concept in practice. There are non-binary carriers other than HTTP headers which can have further restrictions (JMS for example). But a more open carrier type does not help handle these scenarios.

We propose to eliminate the s

[2019-04-16 16:40] tedsuo commented on #127
Action Item: change documentation to mention this restriction.

[2019-04-16 16:56] tedsuo commented on #65
We will expose Noop Tracer as a type, for situations when a component or function is requesting a Tracer reference.

Instead of Noop, we may want to have a "Propagation Only" tracer implementation, which propagates context only.

[2019-04-16 16:58] yurishkuro opened #128 "Fully separate context propagation"
Ideally, both in-process and inter-process propagation should be a standalone module that can operate without the involvement of the Tracer.

Placeholder for more discussion.

[2019-04-16 17:02] tedsuo commented on #126
Using the term `sdk` will help our users. `io.openconcensus.sdk` works well enough for languages that require this kind of separation of concerns.

[2019-04-16 17:18] songy23 commented on #65
Maybe file a separate issue to keep track of this?

[2019-04-16 19:02] bogdandrutu commented on #44
Can we please hold on to this, the main user of this API is gRPC which uses byte[], so extra unnecessary allocation after this change

[2019-04-16 22:41] yurishkuro commented on #14
NB: sync/async is not a particularly accurate distinction. Program may be using async programming style, in which case _all spans are async_, yet parent spans are waiting on children spans, which is what's important about the child-of / follows-from distinction in OT.

I think we need a different name for this (child-of / follows-from are not particularly good  names either).

[2019-04-17 14:58] carlosalberto commented on #44
@bogdandrutu Sure

[2019-04-17 16:49] #65 closed

[2019-04-17 17:00] SergeyKanzhelev commented on #65
Issue already filed: https://github.com/bogdandrutu/openconsensus/issues/118

[2019-04-17 17:33] bogdandrutu commented on #128
+1 for the in-process to be automatic and generic.

The inter-process is a bit dangerous to do it automatically, I suggest we separate the concept but we still let people decide what do they want to propagate by configuring the RPC/HTTP instrumentation.

[2019-04-17 21:54] bogdandrutu opened #143 "Span.Kind.LOAD_BALANCER (PROXY/SIDECAR)"
In some cases some of the sidecar/load_balancer implementations will generate only one span between a client and a server spans. Do we want to have a kind that describes this case so that backends will know this is an rpc like client -> proxie -> server?

[2019-04-17 21:56] SergeyKanzhelev commented on #143
I think we can defer this to later

[2019-04-17 21:56] bogdandrutu commented on #143
Sure, but want to track it.

[2019-04-17 21:58] bogdandrutu commented on #124
I think we agreed to go with the current behavior and use `Map<String, AttributeValue>`.

[2019-04-17 22:15] bogdandrutu opened #146 "For alpha review test the new API with 2-3 existing current instrumentation."

[2019-04-17 22:20] SergeyKanzhelev commented on #11
So we can keep the `Tags` name if we will make `local` TTL as a default

[2019-04-17 22:23] tedsuo commented on #11
@pavolloffay @carlosalberto @yurishkuro there has been a lot of push back against calling this `Baggage`, and we are considering sticking with `Tags` as the name for this. By making the default propagation context `local`, this should not be too bad.

[2019-04-17 22:31] bogdandrutu commented on #28
Conclusion: we stay with `withSpan` for the moment.

[2019-04-17 22:31] #28 closed

[2019-04-17 22:45] tedsuo commented on #107
One issue with a `ServiceLoader` is it is not possible to override once it has been set. I believe we have OpenTracing users who need to do this.... I will check.

For now, let's go with `ServiceLoader`.

[2019-04-17 22:47] #124 closed

[2019-04-17 22:47] #126 closed

[2019-04-17 22:48] SergeyKanzhelev commented on #85
Marking defferred as we moving it for after alpha

[2019-04-17 22:49] tedsuo opened #147 "Review Data Model (Protos)"
Everyone, please review the current protobuf and metadata definitions and leave comments here.

[2019-04-17 23:32] yurishkuro commented on #11
Can we make the push back public and with arguments?

Local-only tags do not overlap with baggage functionality, so I don't think it addresses the decision here.

Tentative name for baggage in w3c is correlation context, I'd be fine to go with this name as an abstraction, eg in Go it could be

ctx = corrctx.Set(ctx, key, value)

[2019-04-18 16:03] SevaSafris commented on #107
The `GlobalTracer` serves a different purpose than does the `SPI` mechanism.

The `SPI` mechanism is responsible for:

1. Instantiating a new `TracerFactory`, if a `TracerFactory` has been registered via `META-INF/services`.
1. Instantiating a new `Tracer`, if a `Tracer` has been registered via `META-INF/services`.

The `SPI` mechanism is used to create new instances.

The `GlobalTracer` is respon

[2019-04-18 16:17] tedsuo commented on #146
Create a demo app containing the following:
* New SDK
* 1 -2 OT plugins
* 1 - 2 OC plugins
* 1 - 2 New pieces of instrumentation

https://github.com/opentracing-contrib/java-opentracing-walkthrough could be a good starting point.

[2019-04-18 16:20] tedsuo commented on #128
Can you post a code example? It sounds good on the surface.

[2019-04-18 16:21] tedsuo commented on #128
Related to https://github.com/bogdandrutu/openconsensus/issues/118

[2019-04-18 16:25] tedsuo commented on #118
Agreement:
* Name this `Default` instead of `Noop`.
* Propagate W3C format
* Propagate Baggage
* Transparent forwarding: no change to trace-context or baggage

[2019-04-18 16:27] tedsuo commented on #112
Related proto discussion:
https://github.com/OpenObservability/OpenMetrics/pull/126

[2019-04-18 16:29] yurishkuro commented on #107
@SevaSafris your arguments are valid, but I am still not convinced of the need for GT, at least in the main API. There are many situations when a global registry is not needed because the application framework has a different mechanism for that (e.g. Spring). By providing GT in the main API we create murky situation where a Spring user is unsure if they should use GT or inject tracer as a bean. An

[2019-04-18 16:44] tedsuo commented on #107
There _is_ an issue with instrumentation relying on this, which forces the application developer to use it. We should define guidelines to instrumentation developers:

* Always accept a reference to a tracer at construction.
* Fall back to global tracer if no tracer reference is provided.

We need to have a review process for instrumentation listed in the Registry. and ensure best practices are be

[2019-04-18 16:54] yurishkuro commented on #14
Discussed:

we may need three-value state of the link:
  * parent depends on child outcome
  * parent does not depend
  * relationship is unknown

[2019-04-18 17:08] tedsuo commented on #11
Let's make sure there's alignment:

* Tags is a good name for metrics-related labeling
* But Baggage has more use cases than Tags.

[2019-04-18 17:13] yurishkuro commented on #14
@bogdandrutu what did you have in mind in terms of different post-processing between the last two link types? If there is no difference in processing, perhaps we don't need the third state.

[2019-04-18 17:33] yurishkuro commented on #11
My proposal was to keep Tags as an API layer for managing metrics-related labeling, but the inter-process context propagation mechanism should have more general name, preferably "correlation context" to be in sync with https://github.com/w3c/correlation-context

Here are a couple of examples of correlation context that don't make sense to be called tags:
  * tenancy of the request at Uber is encod

[2019-04-18 19:21] #82 closed

[2019-04-18 19:52] SergeyKanzhelev opened #156 "Do we need childSpanCount on SpanData"
What's the use case to have `childSpanCount` in API?

We eliminated scenario when span data produced by SDK can be re-consumed by API as we removed all the dropped events counts. Perhaps this is in the same category of non-needed for API surface

[2019-04-18 21:50] SergeyKanzhelev commented on #10
closing as we agreed and no action items required at this point

[2019-04-18 21:50] #10 closed

[2019-04-18 21:51] SergeyKanzhelev commented on #7
let's close. Seems to be a dup. @tedsuo, please re-open if it is not

[2019-04-18 21:51] #7 closed

[2019-04-18 21:53] bogdandrutu commented on #17
From Dynatrace I got this document which can be very useful as a starting point: https://docs.google.com/spreadsheets/d/1H0S0BROOgX7zndWF_WL8jb9IW1PN7j3IeryekhX5sKU/edit?usp=gmail#gid=0

[2019-04-18 23:51] bogdandrutu commented on #156
This can be used by the backends to determine when a trace is completed, if someone pushes spans this information may be needed.

[2019-04-18 23:53] tedsuo commented on #107
With the new approach, we will have multiple objects: tracer, metrics, tagger, logger, etc.

Can we have a wrapper object which contains a reference to all of these, which users can pass as a reference, and be the object that is registered globally?

@pavolloffay would you like to take a crack at this?

[2019-04-19 00:18] #36 closed

[2019-04-19 00:24] tedsuo commented on #11
### Conclusion
API: We want only one package, which includes getters, and supports both use cases (tagging metrics and user baggage).

Naming: This will stay Tags for now because we don't have time to pick a name before Monday. But the name is still under discussion, Tags is only a placeholder for now.

[2019-04-19 00:29] tedsuo commented on #74
@bogdandrutu ok, so this is a subset of the protobuf object, which only contains fields that the user can set (including timestamps in this case).

[2019-04-19 00:30] #74 closed

[2019-04-19 00:32] tedsuo commented on #127
Do we call this HTTP_TEXT_MAP? :)

[2019-04-19 00:36] tedsuo commented on #34
@yurishkuro are you clear on this now, or do you have more questions?

[2019-04-19 00:41] tedsuo commented on #14
@yurishkuro since this is an additive feature, perhaps we should defer this for now, and have a community discussion?

[2019-04-19 01:01] yurishkuro commented on #14
+1

[2019-04-19 01:05] yurishkuro commented on #34
We need to spike tags/baggage->context package, then we will see.

The idea is that the context will be immutable, so in order to add baggage, or in-process object, or a new active span, a new Scope needs to be created. So span activate/deactivate actually becomes scope push/pop.

[2019-04-19 02:42] bogdandrutu commented on #6
I think we still need this.

[2019-04-19 10:33] SevaSafris commented on #107
Technically speaking, the `GlobalTracer` is not a part of the main API. It it a part of the `opentracing-util` artifact, which is not a linked dependency from `opentracing-api`. To include it in the runtime, one would have to explicitly include it in the dependency graph.

I believe the right approach to answer the question: "Should we keep the `GlobalTracer` around?" is to identify the most commo

[2019-04-19 16:06] carlosalberto opened #167 "Remove ProbabilitySampler fro the trace package"
Ideally we should leave only the always/never samplers in the main API.

[2019-04-19 16:13] tedsuo commented on #156
Decision: This will be on the protobuf, but not on `SpanData`.

For out-of-band recording, it is generally not possible to know this information, so it is not useful in that scenario.

[2019-04-19 16:14] #167 closed

[2019-04-19 16:24] tedsuo commented on #34
## Current State
* We currently rely on gRPC context propagation
* We don't want a dependency on gRPC project are it weirds people out
* But we would like to share context propagation with them, and any other project which would like to use context propagation.
* So we would like to move context propagation to a neutral spot: an independent repo/project which every project can depend on.
* For now

[2019-04-19 16:34] #2 closed

[2019-04-19 16:36] tedsuo commented on #5
TODO: Generate Java Docs and host them on Github.

[2019-04-19 17:51] carlosalberto commented on #127
`HTTP_TEXT_MAP` sounds great to me.  `HTTP_MAP` is another alternative.

[2019-04-20 06:31] #156 closed

[2019-04-20 06:33] #112 closed

[2019-04-22 16:22] tedsuo commented on #107
## Conclusion:
* We will go with a `GlobalOpenConsensus` object for now, which contains a reference to every OpenConsensus component (tracer, metrics, context propagation).

## TODO
* How can we best provide guidance to users who do not want to use this?
* How can we provide guidance to instrumentation developers so that they do not force it on their users?

@SevaSafris I believe this is acceptabl

[2019-04-22 16:36] tedsuo opened #176 "Boolean field to set a Span as asynchronous"
In OpenTracing, we have `CHILD_OF` and `FOLLOWS_FROM`. In the new project, we are considering whether to include this concept as a flag on the `SpanBuilder` option when setting the span parent. The new naming is proposed to be `sync` and `async` children, to make the relationship more clear.

Reference PR: https://github.com/bogdandrutu/openconsensus/pull/130

Questions:
* Do we still want this at

[2019-04-22 17:00] SergeyKanzhelev opened #179 "Interface of binary injector depends on whether we will have a single of two fields for trace context"
Current implementation of binary context inject/extract expects that entire SpanContext can be encoded in a single field:

https://github.com/bogdandrutu/openconsensus/blob/42f90bf8196cc1e3913510160cdfdc3995a7119d/api/src/main/java/openconsensus/context/propagation/BinaryFormat.java#L26-L33

However current proposal lists `traceparent` and `tracestate` as separate headers. See https://github.com/w

[2019-04-22 18:09] SergeyKanzhelev opened #182 "Minor: disable warnings on proto-generated files"
proto-generated files in `sdk` folder generate a lot of warnings. Perhaps there is some gradle magic that will exclude these files from the validation

[2019-04-22 18:10] SergeyKanzhelev commented on #84
closed via #178

[2019-04-22 18:10] #84 closed

[2019-04-23 15:05] bogdandrutu opened #185 "Stats changes"
* Still need to support the Long measure/measurement for backwards compatibility with OC
* Move Measure creation to StatsRecorder to allow Measure to take a reference to the implementation for optimizations like no recording if Measure is not register with a view.

[2019-04-23 15:11] tedsuo opened #186 "Add high level description of top packages to README"
To help reviewers/new users, let's add a short description and a link to each top level package from the README.

[2019-04-23 15:13] SergeyKanzhelev commented on #14
should we close this issue in favor of https://github.com/bogdandrutu/openconsensus/issues/176?

[2019-04-23 15:18] #14 closed

[2019-04-23 15:30] bogdandrutu commented on #127
@carlosalberto can you fix this today?

[2019-04-23 15:51] carlosalberto commented on #127
Sure ;)

[2019-04-23 17:02] yurishkuro commented on #179
I am in favor of a single binary blob for trace context in w3c

[2019-04-23 17:19] bogdandrutu opened #189 "Use builder pattern for Metrics creation"
Currently to create a metric we use MetricOptions which is not that Java friendly (more into builders). The metrics API need to use builders for that to be Java friendly.

[2019-04-24 01:06] #105 closed

[2019-04-24 11:33] carlosalberto commented on #179
I'm in favor of a single binary blob as well.

[2019-04-24 11:44] carlosalberto commented on #19
Shall we switch to interfaces then?

[2019-04-24 12:48] carlosalberto commented on #34
So the OT bridge does work with the gRPC context package (https://github.com/bogdandrutu/openconsensus/blob/otshim_grpc_context/opentracing-shim/src/main/java/openconsensus/opentracingshim/ScopeManagerShim.java).

@yurishkuro I'm wondering if what you were worried was about consecutive calls to propagate tags/Spans - if that's the case, as `io.grpc.Context` inherits the values from the previously

[2019-04-24 16:02] SergeyKanzhelev commented on #179
@carlosalberto please comment on issue in W3C on benefits of a single blob over two blobs.

[2019-04-24 16:41] bogdandrutu opened #196 "Setup codecov for test coverage."

[2019-04-25 02:30] songy23 commented on #185
Fixed in https://github.com/bogdandrutu/openconsensus/pull/200.

[2019-04-25 02:30] #185 closed

[2019-04-25 02:34] yurishkuro commented on #34
lgtm

[2019-04-25 15:24] pavolloffay commented on #107
I have started looking into this. I definitely agree that `GlobalTracer` is a useful primitive singleton.

It's useful when:
* working in a non-CDI environment - e.g. tracing servlet filter registered via `web.xml`
* a fallback mechanism when initializing instrumentation - e.g. instrumentation provides a default constructor

Bad OpenTracing designs:
* missing API to reset tracer - e.g. useful when

[2019-04-25 15:52] #189 closed

[2019-04-25 17:57] bogdandrutu opened #213 "Gauge and DerivedGauge"
Same pattern applies for all the metrics (gauge, cumulative, double or long).

The use-cases are:
1. The case when users manually add values - e.g. DoubleGauge
1. The case when users install a callback - e.g. DerivedDoubleGauge

Options:
1. Keep the API as it is
  * pros: separates the two use-cases
  * cons: larger API
2. Merge DoubleGauge and DerivedDoubleGauge
  * pros: smaller API
  * cons: if

[2019-04-25 17:59] bogdandrutu opened #214 "Rename Gauge.Point to Gauge.TimeSeries"
Currently the APIs are named `addTimeSeries` but the API returns a Point, also point represents one moment when a TimeSeries is recorded/measured.

[2019-04-26 02:58] tedsuo commented on #147
### Current Protos:
https://github.com/bogdandrutu/openconsensus/tree/master/sdk/src/main/proto

### Related Metadata Discussions:
https://github.com/bogdandrutu/openconsensus/issues?q=metadata

[2019-04-26 17:29] pavolloffay commented on #107
@SevaSafris could you please have a look at https://github.com/bogdandrutu/openconsensus/pull/218?

[2019-04-26 21:30] bogdandrutu opened #220 "Comulative[Long|Double] rename to Counter[Long|Double] for consistency with OM"
https://github.com/bogdandrutu/openconsensus/pull/219#discussion_r279071007

[2019-04-26 21:32] bogdandrutu commented on #213
https://github.com/bogdandrutu/openconsensus/pull/219

[2019-04-26 21:32] #213 closed

[2019-04-26 21:32] bogdandrutu commented on #214
https://github.com/bogdandrutu/openconsensus/pull/217

[2019-04-26 21:32] #214 closed

[2019-04-28 22:54] carlosalberto commented on #34
Since this seems to be solved, shall we close this Issue? (the aforementioned branch doesn't *have* to be merged right away though IHMO).

(I know @bogdandrutu still is doing some prototyping around OC, but that could be tracked in another PR/Issue)

[2019-04-28 23:23] yurishkuro commented on #34
I was looking at this today and I am not seeing the implementation of Context or Scope, am I missing something?

I like the nested contexts in https://github.com/bogdandrutu/openconsensus/issues/34#issuecomment-486213446, but I am curious if we think Scope is the necessary thing (since it causes allocations, although can probably be pooled). E.g. grpc context uses attach/detach and gets away witho

[2019-04-29 11:39] discostu105 opened #223 "Proposal: Tracer Components"
Proposal: Instead of a global tracer singleton, every library needs to create it's own tracer, which also has a proper name that identifies the library/component that uses the tracer.

Motivation:
 * Identify the library/component that created a span
 * Be able to turn the instrumentation of a certain library/component on/off. This might be necessary if the instrumentation
 ** causes too much over

[2019-04-29 12:02] pavolloffay commented on #223
Some more thoughts, should every tracer in the registry support full configuration? For instance different sampling, reporting mechanism. Perf-wise I would prefer a cached registry and also a single instrumentation might use multiple instrumentation points - e.g. servlet filer and jaxrs interceptors.

This could be an iteration after #107 - if we allow a globally scoped tracer.

[2019-04-29 14:37] carlosalberto opened #225 "Out-of-band Spans for the OT Shim"
The OT shim needs to support for creating out-of-band Spans (Spans with explicit start and/or finish time). A way to go around this is to use `SpanData` directly, and rely on similar data when exposing a `io.opentracing.Span` shim.

However, if an `openconsensus.trace.Span` object needs to be passed down to the **actual** api, a 'fake' object backed by something similar to `SpanData` could be pass

[2019-04-29 14:45] carlosalberto commented on #34
Hey @yurishkuro

Yes, there's no actual `openconsensus.context.Scope` implementation - this was mostly done to make sure this would work fine for the OT Shim (it was suspected it would, but we needed an actual test ;) ).

The thing about `attach`/`detach` is how you need to keep around **both** the previous and current active `Context` objects, which can be simplified/abstracted by using `Scope`.

[2019-04-29 14:46] carlosalberto commented on #34
(And yeah, we shouldn't close this Issue yet - the OT shim part was prototyped out, but the rest of the bits need to be resolved ;) )

[2019-04-29 15:50] carlosalberto commented on #223
Something I'd be quite interested to know, is how common an application needs such specific scenario. I remembering seeing this pattern in HTrace, but haven't seen it much in other places. Depending on that, I'd be up to putting this in out `contrib/` artifact (as opposed to put it in the main API side).

[2019-04-29 16:02] yurishkuro commented on #223
Love the use case. However, I'm not sure tracer-per-component is necessary to address that. For example, if instrumentation follows the OpenTracing conventions and sets the "component" tag on span builder, then the tracer can compare it with configuration and decide to return a noop span with span context equal to the parent.

[2019-04-29 16:03] tedsuo commented on #223
We currently name components in OpenTracing via a tag:

| Span tag name | Type | Notes and examples |
|:--------------|:-----|:-------------------|
| `component` | string  | The software package, framework, library, or module that generated the associated Span. E.g., `"grpc"`, `"django"`, `"JDBI"`. |

I agree there should be a `component` scope, and it should be handled more directly – the tag app

[2019-04-29 20:26] #220 closed

[2019-04-29 21:26] bogdandrutu commented on #223
Am I understanding correctly that we want to have a notion of `component` at the `SpanBuilder` time is ok, I think this achieves the end result of having `Spans` grouped by the `component`.

@tedsuo I don't think we should propagate this between spans, maybe require instrumentation to set this when they create new Spans.

[2019-04-29 21:45] yurishkuro commented on #223
I can see pros and cons in inheriting component from parent span, but I think the con is bigger: if another layer doesn't set component then inheriting it is unexpected behavior. So I'd rather have it set on every span, which isn't too onerous for middleware for a given library/framework.

[2019-04-29 22:04] bogdandrutu commented on #223
Also a contrib `TracerWithComponent implements Tracer` that simply set the component when a SpanBuilder is return is easy to offer.

[2019-04-30 16:50] yurishkuro commented on #225
I would vote for the minimum work solution, i.e. option 2. It can be listed as an explicit limitation of the shim. If necessary, a better behavior could be added later. Or, if not too much work, do option 3 but log warnings that the explicit timestamps are ignored - it's still not the correct behavior, but it least it won't blow up user code.

[2019-04-30 19:09] #127 closed

[2019-04-30 19:09] #19 closed

[2019-05-01 13:52] tedsuo commented on #225
I agree with Yuri: I also prefer `option 2` for now. We can determine better behavior later, after the SDK is more complete.

Hopefully the SDK will have something like an event handler which can emit warnings like this (or we add a Log interface to the project). I would prefer `option 3` in that case, assuming the shim can access it. I don't think that just logging to `stdout` would be enough.

[2019-05-01 13:58] tedsuo commented on #223
@yurishkuro I'm not actually sure what the current inheritance behavior is with the `component` tag in OT.

@bogdandrutu that might be a good way to model the behavior @discostu105 was asking for. We could move it into core if it looks like a good pattern. Ideally, I would like "best practices" to not require contrib projects.

[2019-05-01 13:59] tedsuo commented on #196
I can start assigning more people to tasks like this, once we move the project and have a CLA.

[2019-05-01 14:01] tedsuo commented on #182
I can assign this to someone once me move the project.

[2019-05-01 14:10] carlosalberto commented on #225
As a matter of fact, I haven't been able to find much code that uses this functionality, so, yeah, lets go with 2) then.

3) is good but it's as @tedsuo said: we lack an event handler or common log that can be reachable from the OT shim.

So going for 2) for now.

Guess will be marking this issue as "Deferred" for the time being ;)

[2019-05-01 14:13] carlosalberto commented on #223
I agree with @yurishkuro on *not* inheriting component from the parent `Span`. Doing so could get tricky eventually, and I'd stick with simplicity for now.

[2019-05-01 14:24] tedsuo commented on #118
@pavolloffay do you mind tackling this one?

[2019-05-01 14:59] tedsuo commented on #223
This is a bit broader, but relevant. Please bear with me:

In general, each trace event can be modeled as if it is occurring in a nested namespace. So far, I have seen a lot of interest in the following namespaces:

Trace::Service::Component::Operation

Currently state of affairs (correct me if I am wrong):
* The `trace` is modeled as a SpanContext, with an ID but no name or attributes.
* The `ser

[2019-05-01 16:04] bogdandrutu commented on #118
Some related code here:
https://github.com/bogdandrutu/openconsensus/pull/232
https://github.com/bogdandrutu/openconsensus/pull/229

[2019-05-01 16:17] bogdandrutu opened #234 "Remove helper functions that deal with Runnable/Callable"

[2019-05-01 19:07] austinlparker commented on #223
Would some sort of `ComponentScope` that can be passed into the span builder help here?

[2019-05-01 20:08] bogdandrutu opened #235 "Move protos to opentelemetry-proto repo."

[2019-05-01 23:45] tylerbenson commented on #85
It does seem rather jarring having it as a dependency.  Perhaps work on the gRPC side could be started soon to get that split out?  It would be a shame  to have that end up being a blocker for GA.

[2019-05-01 23:57] tylerbenson commented on #234
Are you referring to those provided by https://github.com/open-telemetry/opentelemetry-java/blob/master/sdk/src/main/java/openconsensus/sdk/trace/internal/CurrentSpanUtils.java?  If so I'm curious why... Those seem somewhat useful.

[2019-05-01 23:58] bogdandrutu commented on #234
We are referring to remove from the Tracer the `withSpan(Span, Runnable)` and put them in a contrib package for the moment.

[2019-05-02 02:37] yurishkuro commented on #223
I am not sure Name/ID/Attributes applies to all 4 entities:
  * `Name` for a trace is quite vague
  * `ID` for service/component is counterproductive (high cardinality)
  * Attributes make sense across all four entities (realizing that operation == span), however semantically different: static for service/component, dynamic for trace/span.

service and component sound like two different levels of

[2019-05-02 10:48] pavolloffay commented on #118
Sounds fine I will tackle this.

[2019-05-02 16:02] tedsuo commented on #223
Thanks, I agree @yurishkuro, it's not clear that this needs to be fully normalized. But we have some holes, especially around attributes and the component scope.

[2019-05-02 19:35] tylerbenson opened #243 "Collecting stacktraces on error"
When an error occurs, we should capture the full stacktrace on the span, not just the message.  When trying to troubleshoot an error, the full stacktrace is far more useful in providing context than just the error message.

(See comment [here](https://github.com/open-telemetry/opentelemetry-java/pull/229#discussion_r280252988))

[2019-05-02 20:02] bogdandrutu opened #245 "Move schemas to opentelemetry-specifications"

[2019-05-02 21:26] tylerbenson commented on #176
@tedsuo How would you label server span with a parent propagated from an http request?

Perhaps a better name would be `direct`/`indirect`?
(Anything pulled directly from the current context would be direct otherwise indirect)

Perhaps that wouldn't give you the info required for critical path analysis you need...  part of the problem is only the caller really knows if they're blocking, where the

[2019-05-03 16:25] pavolloffay commented on #223
Instead of

`Tracer tracer = OpenConsensus.Tracing.getTracer("io.opensomething.contrib.mongo");` we could simply have one global instance

`Tracer tracer = OpenConsensus.Tracing.getTracer();` hen tracer could be converted something like a builder which would modify some of the configurations - tags, exporter, sampling.

[2019-05-03 17:27] kazimuth opened #248 "Add Rust to Language enum?"
Currently there are only a small number of languages in the LibraryInfo enum:

https://github.com/open-telemetry/opentelemetry-java/blob/898f81bf1ca81810061f766e909dad06e2cfb01c/sdk/src/main/proto/agent/common/v1/common.proto#L66-L77

I'd like to write a Rust implementation of OpenTelemetry once the Cross-Language Specification is released. It would be nice if that option were available.

[2019-05-03 18:23] bogdandrutu commented on #248
Extending the proto enum is possible at any moment. Happy to add Rust when the work starts.

[2019-05-03 18:29] bogdandrutu commented on #234
Closed by https://github.com/open-telemetry/opentelemetry-java/pull/246

[2019-05-03 18:29] #234 closed

[2019-05-03 20:10] tylerbenson commented on #28
I can accept `withSpan` and so won't reopen the issue, but just wanted to throw out one other idea:  `scoped` or `scopedWith`

[code]

and extending Yuri's example for go:
[code]

I like this because it has the properties of being short, not overly verbose given proper variable naming of `span`, and also better implicit indication of the behavior of the method.

[2019-05-06 00:54] yurishkuro commented on #85
Here is the document that I promised: https://docs.google.com/document/d/1UxrEYOaQlF_E4gtiPoFmcZ4YKKe1GxohvCvQDuwvD1I/edit#

Comments are welcome. Some parts of it still need work & agreement on the APIs.

[2019-05-06 16:12] tedsuo commented on #243
@tylerbenson this seems great to have. Once we get the SDK into working condition, we should address this.

[2019-05-06 16:15] tedsuo commented on #248
Thanks @kazimuth! I'm going to close this issue for now, since the protos are going to move to another repo. Please open it there once the rust project is underway.

[2019-05-06 16:15] #248 closed

[2019-05-07 05:31] jmacd commented on #223
I think developers want an API that lets them write concise instrumentation code, so that the weight of instrumentation doesn't overwhelm the code itself. The question is how individual modules of code will (concisely) declare their component in the source, at that point where spans are built.

This suggests making it possible to build spans and supply very few "component" arguments, potentially j

[2019-05-07 11:49] pavolloffay commented on #107
Adding TODOs

- [ ] Add global registry for Metrics and tags
- [ ] move resolution code to provider interfaces and change interfaces to abstract classes

[2019-05-07 11:56] pavolloffay opened #253 "API: Define noop as singletons"
Some of the noop implementations have factory method and some are defined as singletons.

Update: some classes defines `getInsance()` and some directly exposes `INSTANCE`.

[2019-05-08 16:07] bogdandrutu opened #259 "API: Package names consistency"
Currently we use singular (noun or verb) and plural (nouns):
* trace
* metrics
* tags

Should we go with only plurals?
* trace**s**
* metrics
* tags

Maybe resource**s** as well?

[2019-05-08 17:27] tedsuo commented on #223
Thanks @jmacd. I discussed this with @pavolloffay, @bogdandrutu, and @carlosalberto.

An updated proposal is as follows:

[code]

Main Notes:
* OpenTelemetry.getTracer() returns a `Tracer`. This `Tracer` is the base "Service Tracer" which was instantiated via a service loader, and contains the name and resources for the entire service.
* OpenTelemetry.getTracer().toBuilder() returns a `TracerBuild

[2019-05-08 17:29] tedsuo commented on #223
I don't know how the hell Github mis-ordered mine and @pavolloffay's comments, but it did.

[2019-05-08 18:21] bogdandrutu commented on #223
@tedsuo see the attachment :))), @pavolloffay came from the future :)))
![Pavol_Is_In_The_Future](https://user-images.githubusercontent.com/1373887/57398220-56a7c200-7183-11e9-8904-7fa594641f9d.png)

[2019-05-08 21:04] bogdandrutu opened #261 "API: Span parent/remote parent"
Currently on the Tracer we have 3 different APIs:
[code]

Proposal to simplify this by having the setParent and setRemoteParent on the Builder.
[code]

[2019-05-08 22:53] bg451 commented on #147
I chatted with @iredelmeier about the model and a concern about using protobuf came up.

If a language does not support protobuf or a user doesn't want to include the protobuf library due to size (e.g. browser javascript), there needs to be a common way to serialize spans and metrics using something like JSON. Clear mappings to JSON exist for most protobuf types, however, the protobuf definitions

[2019-05-08 23:20] jmacd commented on #223
I like it, @tedsuo. I always focus on concision, so I wonder if a ResourceBuilder might help with readability. For example, to construct a resource in the same line of code, you might like to write:

[code]

[2019-05-09 02:37] yurishkuro commented on #147
@bg451 good point, and it's not just JSON, in some languages mapping oneof to types is exceptionally ugly. In Jaeger protos we decided to live with minor possible ambiguities of the data rather than have to deal with oneof.

[2019-05-09 04:29] yurishkuro commented on #261
option 1

[2019-05-09 08:09] pavolloffay commented on #261
What is the difference between `spanBuilderWithExplicitParent` and `spanBuilderWithRemoteParent`?Does it use differnet relationshift/link between spans? If so API `Span.Builder setParent(@Nullable SpanContext remoteParent)` can be accidentally used with `spanBuilder.setParent(span.context())`. Perhaps keeping `remote` in name makes sense if it sues a different relationship.

We should also clarify

[2019-05-09 19:06] bogdandrutu commented on #261
remote in this case means a SpanContext coming from the wire, so users should never use spanBuilder.setParent(span.context()) for in-process parent-child relationship.

Implementation may treat the remote SpanContext as link if the incoming request is not trusted.

[2019-05-10 15:46] tedsuo commented on #261
Discusion:
* The main issue is monotonic clocks. We'd like to keep them on the Span, not the SpanContext
* In C++, SpanContext needs to stay small so that it can be passed on the stack.
* But in other languages, this matter less.
* So the monotonic clock _could_ move to the SpanContext if this proves necessary.

Use cases for setting parent via a SpanContext:
* Extracted SpanContext
* Synthetic Sp

[2019-05-10 16:00] tedsuo opened #263 "What should we call the Tags package?"
Current Issue:
* `Tags` in OpenTracing currently maps to `Attributes` in OpenTelemetry.
* `Tags` in OpenCensus are also slightly different: no getters, and they are only available for metrics.

There is a fair amount of evidence that using the name `Tags` to describe this package is confusing to existing users of the previous projects.

Potential names:
* `Baggage`
* `Labels`
* `???`
* Live with `

[2019-05-10 17:08] tylerbenson commented on #263
I thought there was also discussion about removing this concept and letting it be inherently part of the separate Context system?

[2019-05-10 17:13] tylerbenson commented on #261
@bogdandrutu if preventing usage like `setParent(span.getContext())` is a big concern, you could have a remote parent context be a distinct type from the context stored inside span.  Not sure this is worth the hassle though.

[2019-05-10 17:18] yurishkuro commented on #263
I don't think this decision contradicts that goal. If the Context system uses strongly typed keys for accessing context objects, then we do need this "baggage" layer on top of it that would provide access to  propagated baggage vs. just some random objects stashed by the application in the context.

[2019-05-10 18:57] tylerbenson commented on #263
I realize I'm trying to fight a battle I won't win, but I would much prefer for baggage/tags to be completely removed from the scope of this project.  I realize there are many use cases for it, but I don't think it needs to be coupled with the tracing systems and should be an independent project.

[2019-05-10 19:04] yurishkuro commented on #263
@tylerbenson did you see my article https://medium.com/jaegertracing/embracing-context-propagation-7100b9b6029a ?

Without support for baggage OpenTelemetry is not backwards compatible with OpenTracing. And without telemetry data being able to use propagated data it's not backwards compatible with OpenCensus either.

We still haven't decided where the context propagation will live (I actually rese

[2019-05-10 20:43] tylerbenson commented on #263
@yurishkuro I've read both.  I like the context api design and think we should formalize it.  with regards to your blog post, some (most?) of those use cases would probably be covered with my suggestion of a propagated attribute where the application doesn't need access to the propagated data.

I think both of the bridge/shim projects should implement this functionality directly against the contex

[2019-05-10 21:01] bogdandrutu commented on #263
We need to support this in the core API.

[2019-05-10 22:46] bogdandrutu commented on #261
That was our conclusion as well.

[2019-05-10 23:54] yurishkuro commented on #263
@tylerbenson most of use cases in my article actually explicitly require application's access to propagated metadata, or some custom framework in the application. If we only restrict access to baggage to internal telemetry functions, it's not a real universal context propagation framework. Not to mention that it would be impossible to do precisely what you're proposing - making propagation a stand

[2019-05-10 23:59] yurishkuro opened #268 "API: Are "views" actually required for metrics?"
Extracting from https://github.com/open-telemetry/opentelemetry-java/pull/226#issuecomment-488206616:

The requirement to define views seems very burdensome, especially because they need to reference the actual measure objects. In a complex, multi-layer system like Jaeger backend, the metrics defined by the individual components are usually encapsulated within those components, and it's not feasib

[2019-05-11 00:00] yurishkuro opened #269 "Raw vs. other metrics / measurements are unclear"
Re-posting questions from https://github.com/open-telemetry/opentelemetry-java/pull/226#issuecomment-488206616

* in many other metrics APIs that allow recording gauges, timers, and/or histograms, the recording API is still about recording the raw measure, but behind the scene the library may or may not perform some form of aggregation, like LastValue for gauges, or Histogram for timers. So the di

[2019-05-11 00:07] bogdandrutu commented on #263
@yurishkuro exactly on point. Trace may also consume tags/baggages for example by associating them at the start or end of the Span.

[2019-05-11 00:20] yurishkuro commented on #263
Amended:
* metrics / traces / logs typically don't need to _write_ to baggage, only read from it
* the application writes to baggage, either telemetry labels or general-purpose baggage
* both types of baggage reuse the same marshaling plugin (e.g. w3c Correlation-Context header)
* application may also write other stuff to context and provide custom marshaling (although this  is questionable since

[2019-05-11 04:36] SergeyKanzhelev commented on #263
Exceptions may be tracing that sets some context tags that can be used to slice metrics. Or logs framework setting log "scope" consumed by tracing. In both cases you can think of it as specialized frameworks. I'm not actually sure what specialized framework means.

[2019-05-11 05:42] #196 closed

[2019-05-12 01:44] bogdandrutu opened #270 "API: Sampler interface return sampling decision and details"
Based on what Jaeger defines, it will be good to have the Sampler return some attributes that will be added to the Span, consider maybe to add them only to the trace initiator (the span that flips the sampling bit).

https://github.com/jaegertracing/jaeger-client-java/blob/master/jaeger-core/src/main/java/io/jaegertracing/internal/samplers/SamplingStatus.java

/cc @yurishkuro - What do you think?

[2019-05-12 04:43] SergeyKanzhelev commented on #270
sampler may also need to add properties to `tracestate`. Should this object have a `tracestate` field as well?

[2019-05-13 09:18] jotak commented on #268
Hi,
I'm not a true user of open-telemetry / open-census so please note some of my assumptions may not always be correct/accurate about the telemetry API (tell me if I'm misunderstanding something...) However I've been looking quickly into the API and try to evaluate / compare it with micrometer in the context of the vertx-micrometer-metrics module ( https://github.com/vert-x3/vertx-micrometer-metr

[2019-05-13 15:57] yurishkuro commented on #268
@jotak could you provide more concrete example of the underlying measure and labels?

[2019-05-13 16:03] objectiser opened #275 "API: Multiple parent references"
Following on from the initial discussion about links vs references in #14, it appears that the current API supports links (to spans in other traces) but only a single parent span (reference).

OpenTracing does enable multiple parent references to be defined - which can be useful in identifying synchronization points (e.g. fork/join).

Will multiple parent references be supported? Both in the API a

[2019-05-13 16:18] bogdandrutu commented on #186
@carlosalberto is this done now?

[2019-05-13 16:20] yurishkuro commented on #275
@objectiser the multi-parent syntax in OpenTracing is actually rather vague because if you provide multiple references from different traces, the tracer has no way of knowing which trace the new span should belong to (it is left to a heuristic in the tracer). So I think having an explicit `setParent` is helpful.

The Links in OpenTelemetry are not restricted to be from the same or different traces

[2019-05-13 17:41] carlosalberto commented on #186
It should - @tedsuo feel free to re-open if you think something more needs to be added.

[2019-05-13 17:41] #186 closed

[2019-05-13 17:44] objectiser commented on #275
@yurishkuro That is not what the [current javadoc](https://github.com/open-telemetry/opentelemetry-java/blob/master/api/src/main/java/io/opentelemetry/trace/Link.java#L26) says, "A link to a {@link Span} from a different trace."

Even if this was changed to indicate it could be a link to spans in its own trace aswell, there would be an implied difference between the span that is provided as the pa

[2019-05-13 18:02] yurishkuro commented on #275
Javadoc is wrong, we discussed recently that there's no reason to limit links to different traces only.

Yes, but I think  it's a good thing, it makes it unambiguous in the general case from which span the child inherits its trace ID (instead of handling scenario where all links are from the same trace as a special case). Adding references as LINKs does not make those spans into "parents".

Also,

[2019-05-13 18:38] bogdandrutu commented on #275
I am also curious why the Span that does not wait (join) for the child Spans (forks)?

Some pseudo-code here:
[code]

Are you referring to the case where the async work is executed remotely (like cloud functions)? In that case where is the join point?

[2019-05-13 18:43] bogdandrutu opened #276 "SDK: Add SpanProcessor"
Interface that allows users to build frameworks like exporter/z-pages/etc. The SpanProcessor interface should allow intercepting Spans immediately after start and immediately after end.

Some requirements that are not clear at this point:
* Should the SpanProcessor allow different implementation to store data in the Span between start and end?

[2019-05-13 18:49] bogdandrutu opened #277 "SDK: Add trace/export sub-package."
- [x] Define a SpanExporter interface that allows exporters to push a List of Span protos.
   * Define a Composite SpanExporter that allows multiplexing multiple exporters.
- [x] Define some implementations of the SpanProcessor:
   * Batches ended Spans then pass them to the associated SpanExporter.
   * Simple processor that redirects every ended Spans to the associated SpanExporter.
- [ ] Implem

[2019-05-13 18:55] bogdandrutu opened #278 "SDK: Define SpanBuilderInterceptor"
Interface that allows different vendors to intercept different moments during the Span building time and change things like:
* Tracestate
* Maybe allow changing the Sampler
* Maybe allow vendors to provide TraceId generator (especially useful for X-Ray tracing).

The list of capabilities is not finalize and up for discussion.

[2019-05-13 19:01] bogdandrutu opened #279 "SDK: Implement Span (SpanSdk) interface"
The implementation of the Span should allow users to configure the maximum attributes, events, etc. to be kept and drop oldest data when these limits are hit.

Suggestion: Import the Span implementation from OpenCensus

[2019-05-13 19:02] bogdandrutu opened #280 "SDK: Implement SpanBuilder interface"
Suggestion: Import the SpanBuilder implementation from OpenCensus

[2019-05-13 19:04] bogdandrutu opened #281 "SDK: Implement Tracer (TracerSdk)"
Suggestion: Import the Tracer implementation from OpenCensus

[2019-05-13 19:05] bogdandrutu opened #282 "SDK: Implement the spi.TracerProvider"
Allow users to configure different parts of the TracerSdk via manifest files.

[2019-05-13 19:07] bogdandrutu opened #283 "SDK: Implement Tagger (TaggerSdk)"
Suggestion: Import the Tagger implementation from OpenCensus

[2019-05-13 19:07] bogdandrutu opened #284 "SDK: Implement TagMap (TagMapSdk)"
Suggestion: Import the TagMap implementation from OpenCensus

[2019-05-13 19:10] bogdandrutu opened #285 "API: Consider to rename NoopFoo to PropagationOnlyFoo"
For classes like Tracer/Tagger some of the functionality will be implemented like propagation:
1. Consider to maybe rename these classes from NoopTracer to PropagationOnlyTracer?
1. Consider to make these classes public and not final to allow TracerSdk implementation to inherit from them to avoid duplicate code?

[2019-05-13 19:20] bogdandrutu opened #287 "SDK: Implement the spi.TaggerProvider"

[2019-05-13 19:20] bogdandrutu opened #288 "SDK: Implement the spi.MeterProvider"

[2019-05-13 19:21] bogdandrutu commented on #147
I think the oneof implementation is as simple as in the JSON you enforce to send only one of these fields. I may be wrong but I can ask.

[2019-05-13 19:22] bogdandrutu opened #289 "SDK: Implement Meter (MeterSdk)"

[2019-05-13 20:12] #245 closed

[2019-05-13 21:33] bogdandrutu opened #290 "API: spi vs root package vs components package"
I kind of don't like the fact that we have spi pacakge and OpenTelemetry.java (in the main package).

I think we can combine the spi classes under every individual package, or maybe have a subpackage trace/spi/TracerProvider.java?

What do you think?

[2019-05-13 21:39] bogdandrutu opened #291 "SDK: Implement the Metric (Gauge, Counter, Distribution/Histogram)"

[2019-05-13 21:40] bogdandrutu opened #292 "SDK: Move the current stats/Views to metrics."

[2019-05-13 21:40] bogdandrutu opened #293 "SDK: Implement the raw metrics aggregation (using Views)"

[2019-05-13 21:41] bogdandrutu opened #294 "SDK: Define an export pipeline for metrics"

[2019-05-13 22:25] tylerbenson opened #295 "SDK: Lifecycle [Listener|Decorator|Interceptor] for [Scope|Span]"
We should have a way to be notified of state changes for these important objects such as:

Span
* afterStart(span)
* beforeFinish(span)

Scope
* updated(old, new)

Span Builder (maybe?)
* beforeStart(builder)

We may want to be able to define these on each span/scope instance, a span.builder, or on the tracer which would be applied to each individual instance automatically.

These types of hooks a

[2019-05-13 22:34] tylerbenson commented on #295
Partially defined in #278

[2019-05-13 23:26] bogdandrutu commented on #295
@tylerbenson why before end?

[2019-05-13 23:27] bogdandrutu commented on #295
Except the Scope the other two requests should go into the related issues that you linked.

[2019-05-14 00:00] tylerbenson commented on #295
@bogdandrutu (I admit I didn't see those other issues first but,) since they're closely related I think it makes sense to think of the proper design holistically, rather than each independently.

[2019-05-14 00:11] bogdandrutu commented on #295
We need an afterEnd API to implement exporters. See https://github.com/open-telemetry/opentelemetry-java/pull/264 for more details, also there is a link on how I plan to build the export framework on top of this API

[2019-05-14 00:30] #276 closed

[2019-05-14 09:06] objectiser commented on #275
Wasn't thinking specifically about a usecase, but the general pattern. Maybe as Yuri mentioned it just needs clarity about how certain patterns should be represented.

The immediate issue though was the `Link` description - which sounds like it needs updating.

[2019-05-14 11:39] pavolloffay commented on #285
Related to #118

[2019-05-14 12:22] pavolloffay commented on #290
`component/spi/` lgtm

[2019-05-14 12:23] pavolloffay commented on #290
Let's merge #299 and them move around.

[2019-05-14 13:45] bogdandrutu opened #300 "API: Update Links description to not enforce "different traces"."
This is as a result of https://github.com/open-telemetry/opentelemetry-java/issues/275

[2019-05-14 13:46] #275 closed

[2019-05-14 14:14] bogdandrutu commented on #268
@yurishkuro the most useful example for applications that we build are RPC/HTTP stats, and stats about a shared resource like disk spindles.

For RPC/HTTP stats there are couple of benefits/use-cases:
1. With views user can define their own histogram buckets.
1. Add extra labels:
   * One very good example is, in the frontend (expect a microservice infrastructure) add tags about this requests (e.g

[2019-05-14 14:34] pavolloffay commented on #285
Are also various javadocs have to be updated to reflect the change in #118

[2019-05-14 15:20] yurishkuro opened #302 "OT/OC backwards compatibility requirements"
One of the primary goal of OpenTelemetry was to allow easy upgrade path for existing users of OT/OC, which involved the ability to combine different styles of instrumentation in the same application

  * OpenTracing instrumentation should work with OpenTelemetry library via OpenTracing-Shim (suggestion to use testbed from OpenTracing)
  * OpenCensus instrumentation should work with OpenTelemetry l

[2019-05-15 07:32] #290 closed

[2019-05-15 15:53] pavolloffay commented on #107
Tracer, tagger and metrics have been moved to `OpenTelemetry`

[2019-05-15 15:53] #107 closed

[2019-05-15 16:15] bogdandrutu commented on #259
Any thought on this?

[2019-05-15 16:20] pavolloffay opened #308 "API: Global registry in application server with multiple deployments"
Application servers allow deploying multiple applications. Each application can potentially use different tracer, for example set a different service name, report data differently.

Related issues #218

We should provide a way for the application server to instantiate multiple tracers.

[2019-05-15 16:29] #300 closed

[2019-05-15 16:42] bogdandrutu commented on #285
Another proposal was "DefaultTracer"

[2019-05-15 16:50] bogdandrutu opened #309 "API: How to expose singletons or special instances of classes"
Currently we use static constant values like `INSTANCE` (for BlankSpan) or `INVALID` (TraceId/SpanId based on the w3c definition).

Alternative we can use static methods, these have more flexibility on how to construct the objects.

[2019-05-15 16:51] bogdandrutu opened #310 "API: Class name BlankSpan vs NoopSpan?"

[2019-05-15 19:14] bogdandrutu opened #312 "API: Apply same logic for parent to TagMap as we do for Span"
Currently we have 3 ways to start a TagMapBuilder, probably we should do the same think as we do for SpanBuilder.

https://github.com/open-telemetry/opentelemetry-java/blob/master/api/src/main/java/io/opentelemetry/tags/Tagger.java#L45

[2019-05-16 00:00] bogdandrutu commented on #295
@tylerbenson can you explain about the Scope interceptor?

[2019-05-16 04:42] bogdandrutu opened #319 "API: Change addLink API on the Span to be similar with addEvent"
Currently we have:

[code]

Consider to have:
[code]

Questions:
1. Do we need the version `addLink(Link)`?
1. Should we do the same for SpanBuilder API?
1. Do we need the `addLinks(List<Link>)` in the SpanBuilder?

[2019-05-16 11:29] pavolloffay commented on #118
It seems like everything is done. Closing,  renaming is traced in #258

[2019-05-16 11:29] #118 closed

[2019-05-16 15:51] carlosalberto commented on #285
IHMO "DefaultTracer" sounds better.

[2019-05-16 15:53] carlosalberto commented on #310
`NoopSpan` sounds better to me ;)

[2019-05-16 16:21] tylerbenson commented on #295
There's pretty detailed discussion about it [here](https://github.com/opentracing/opentracing-java/issues/324) and [here](https://github.com/opentracing/opentracing-java/pull/336), but the gist is it would be useful to have this functionality to support things like MDC coordination and JFR reporting.  (I think the best consensus proposal from that discussion was [this one](https://github.com/opent

[2019-05-16 23:33] yurishkuro commented on #285
+1 "default"

[2019-05-17 09:05] bogdandrutu commented on #310
And for the what we called blankspan.INSTANCE, what is the suggestion? Related to https://github.com/open-telemetry/opentelemetry-java/issues/309

[2019-05-17 09:07] bogdandrutu commented on #270
@carlosalberto can you please take this? We need an interface proposal to agree on.

[2019-05-17 12:16] pavolloffay commented on #310
If we do with `Xdefault` then why not to call span also `DefaultSpan`? Related to #285

[2019-05-17 14:12] pavolloffay commented on #309
`OpenTelemetry` will probably have to stick to a method/`getInstance` as we want lazy loading and accessing a member field would look weird.

`private static final Tracer tracer = OpenTelemetry.TRACER`

[2019-05-17 14:31] arminru opened #323 "Wrong package referenced in TracerProvider"
https://github.com/open-telemetry/opentelemetry-java/blob/7f4d9536ad99d38f48b423bf0bc356a90191dfe4/api/src/main/java/io/opentelemetry/trace/spi/TracerProvider.java#L22-L24

I think this should say `META-INF/services/io.opentelemetry.trace.spi.TracerProvider` (trace, not trace**r**) in order to be picked up by `ServiceLoader.load(io.opentelemetry.trace.spi.TracerProvider.class)`.

[2019-05-17 14:40] pavolloffay commented on #323
Thanks, there was a typo

[2019-05-17 15:03] carlosalberto opened #325 "SpanId/TraceId generation"
While testing out the `testbed` for the OT Shim (and its related in-memory `Tracer`), I realized that random generation of `SpanId` and `TraceId` is gone (it's part of the main API in OC).

Any reason to truly remove it, other than reducing the exposed API? That being said, I'd like to at least have access to something like `SpanId.create(long)`.

[2019-05-17 15:04] carlosalberto opened #326 "API: Clarify that extract() cannot return `null`."
This is something already expected, but we need to make it super clear in the inline docs.

[2019-05-17 16:03] #323 closed

[2019-05-17 17:53] #326 closed

[2019-05-19 19:30] yurishkuro commented on #270
indeed, capturing the actual sampling probability as tags has been very useful at Uber

[2019-05-20 07:25] #253 closed

[2019-05-20 21:39] SergeyKanzhelev opened #329 "This repo need to have CODEOWNERS file to follow the best practices"
See https://github.com/open-telemetry/community/blob/master/docs/how-to-configure-new-repository.md

[2019-05-20 21:42] SergeyKanzhelev commented on #329
sorry, missed it's in different location https://github.com/open-telemetry/opentelemetry-java/blob/master/.github/CODEOWNERS Perhaps consider moving it.

[2019-05-20 23:06] songy23 commented on #329
I think CODEOWNERS file needs to be under `.github/` so that Github can auto-assign reviewers accordingly, though I could be wrong. /cc @bogdandrutu

[2019-05-21 07:58] pavolloffay commented on #329
It can be in any of `root/.github/docs` directories https://help.github.com/en/articles/about-code-owners#codeowners-file-location

[2019-05-21 08:01] bogdandrutu commented on #329
Happy to move this into the root to follow the best practices.

[2019-05-21 11:30] bogdandrutu commented on #325
The random generation of the Trace/Span id will be in the SDK. Main reason is that for example to support Amazon X-Ray the TraceID needs to be a specific format for example, also that is an implementation detail.

[2019-05-21 11:33] #285 closed

[2019-05-21 11:36] #329 closed

[2019-05-21 16:25] carlosalberto commented on #312
I've been thinking about the names here, as, when building a new `TagMap` based on an existing one, it does **not** feel like a parent-child relationship. Anyway, what about:

[code]
?

This is kinda verbose (specially the last method), but it slightly feels like a better name. Thoughts? (alternative names: `setInitial()`, `setBasedOn()`)

[2019-05-22 00:26] tylerbenson commented on #319
If we remove `addLink(Link)` and `addLinks(List<Link>)`, we might be able to move `Link` to the SDK.

[2019-05-22 00:45] tylerbenson commented on #308
Usually those applications have their own classloaders.  Just throwing an idea out there... maybe we should rely on classloaders each having independent instances of `OpenTelemetry`'s static fields?

[2019-05-22 00:50] tylerbenson commented on #8
I think this might be done...  New PRs seem to have the CLA check.

[2019-05-22 00:59] tylerbenson commented on #128
I'm curious how we would accomplish the automatic in-process propagation without an agent...

[2019-05-22 01:04] tylerbenson commented on #259
I'm leaning towards the plural for everything (including resources) since I think consistency is nice and `metric` and `tag` sound weird.

[2019-05-22 08:25] #8 closed

[2019-05-22 09:03] bogdandrutu commented on #319
Not really, we need it for SpanData to report spans created from other sources.

[2019-05-22 13:39] fmhwong commented on #308
MicroProfile OpenTracing supports automatic instrumentation of JAX-RS calls.  The instrumentation code resides in the app server.  The application does not need to have any OpenTracing instrumentation.  Relying on application class loaders in this case may not work.

[2019-05-22 14:25] bogdandrutu commented on #312
I personally like more "parent". I was also thinking to implement this as:

[code]

More about implementation when we do that, but the main idea is that this is chained to avoid de-dup all the time a tag is added. I know that the chain can get long but we can have a limit of the levels and if that level is hit we flatten the chain for example.

[2019-05-22 14:30] bogdandrutu opened #333 "Avoid duplicate code for Scope implementation"
Currently in Default[Tracer|Tagger] we have an implementation of the Scope as well as in the SDK. I think this is not ideal and I would suggest that we remove the duplicated code.

I will suggest that we remove this duplicated code, the options that I see are:
1. We change Default[Tracer|Tagger] to not be final and [Tracer|Tagger]Sdk inherit from the Default.
1. We move the Scope implementation in

[2019-05-22 14:33] bogdandrutu commented on #333
Links:
https://github.com/open-telemetry/opentelemetry-java/blob/master/api/src/main/java/io/opentelemetry/trace/DefaultTracer.java#L182
https://github.com/open-telemetry/opentelemetry-java/blob/master/sdk/src/main/java/io/opentelemetry/sdk/trace/TracerSdk.java#L80
https://github.com/open-telemetry/opentelemetry-java/blob/master/api/src/main/java/io/opentelemetry/tags/DefaultTagger.java#L154
https

[2019-05-22 14:36] bogdandrutu commented on #284
@tylerbenson see some idea about how this should be implemented here:
https://github.com/open-telemetry/opentelemetry-java/issues/312#issuecomment-494826135

See some existing tests:
https://github.com/census-instrumentation/opencensus-java/blob/master/impl_core/src/test/java/io/opencensus/implcore/tags/TagMapImplTest.java#L32

[2019-05-22 15:33] pavolloffay commented on #308
@fmhwong do you have any suggestions on how to resolve this issue?

[2019-05-22 16:04] rochdev commented on #176
I don't think `sync` and `async` are the correct semantics for this. My understanding of `ChildOf` and `FollowsFrom` is that `ChildOf` is the previous operation that directly created the new span, and `FollowsFrom` is any previous operation that indirectly caused the new span. This is unrelated to the references being asynchronous or not. Both potentially have value but they are conceptually diffe

[2019-05-22 22:15] songy23 opened #335 "SDK: Add TraceConfig, TraceParams."

[2019-05-22 22:16] songy23 commented on #279
IMO to be able to do that we need to import `TraceConfig` first, so I created https://github.com/open-telemetry/opentelemetry-java/issues/335 as a prerequisite.

[2019-05-23 07:06] pavolloffay commented on #333
I lean more towards 2. as 1. forces using the same key for different impls.

[2019-05-23 07:25] pavolloffay commented on #308
@fmhwong does OpenLiberty support at the moment a different tracer per deployment?

* `OpenTelemetry` would hold singletons of  `Tracer|Meter|TaggerProvider`
* `getTracer|Meter|Tagger` would always call the provider for an object
* The providers should be resolved via SPI (like now) with they would always use the highest available implementation (we will iterate to the highest class loader)

The p

[2019-05-23 10:14] bogdandrutu commented on #333
Even the first version forces that because we call into the unsafe anyway. But I also kind of like more the second.

[2019-05-23 11:57] bogdandrutu commented on #279
Sure, the config I think should be part of the TracerSdk.

[code]

[2019-05-23 12:19] bogdandrutu opened #340 "Proposal: Not use test prefix"
Prefixing all test methods with "test" is legacy and I prefer to not use that anymore, any thoughts about that?

[2019-05-23 12:21] #282 closed

[2019-05-23 14:26] pavolloffay commented on #287
@bogdandrutu Why was this closed? We have only TracerProvider in place at the moment.

[2019-05-23 14:32] bogdandrutu commented on #287
Because I am tired and read Tracer :))

[2019-05-23 14:56] pavolloffay opened #344 "SDK: Javadoc since tags"
Related to https://github.com/open-telemetry/opentelemetry-java/pull/342#discussion_r286982773

In the API all public APIs are documented with `@since` javadocs.

Should we do the same in SDK? For the interfaces it does not makes much sense as the since tag is in the API and SDK will have the same version.

[2019-05-23 14:58] yurishkuro commented on #344
We should, but maybe  we should defer that until we have a stable API?

[2019-05-23 23:45] fmhwong commented on #308
@pavolloffay
Sounds like this may work.  I need to build a prototype later to confirm.  If `getTracer()` always calls the provider for a `Tracer` object, what is the purpose of keeping the singletons?

[2019-05-24 08:25] pavolloffay commented on #308
The SDK implementation would always return a singleton tracer. To keep the current behavior.

[2019-05-24 08:55] #287 closed

[2019-05-24 12:32] #288 closed

[2019-05-24 12:33] pavolloffay commented on #340
Sounds fine to me. But it is just a test method and for newcomers, it might be overwhelming to rename all test methods just to keep the convention.

[2019-05-24 12:46] pavolloffay commented on #310
I also like more `Noop` than `Blank` but maybe I just get used to it from OpenTracing.

`Default` also makes sense for consistency reasons. Noop is not entirely noop bc it propagates the context.

[2019-05-24 13:21] carlosalberto commented on #309
+1 on static methods.

[2019-05-24 14:37] bogdandrutu commented on #340
Let's try to keep this rule for the new tests. We may fix the already submitted once later if we feel like.

[2019-05-24 14:50] #292 closed

[2019-05-24 14:52] #335 closed

[2019-05-24 16:58] songy23 opened #347 "SDK: Decide which default sampler to use."
When a `Span` is built, if no `sampler` is provided, SDK should provide a default sampler.
https://github.com/open-telemetry/opentelemetry-java/blob/c8f0f7cf9c32a3d172439ab713eb0f84b7135e87/api/src/main/java/io/opentelemetry/trace/Span.java#L361

Currently we have a few options:
1. Probability sampler of 1/10000, which is [the default in OpenCensus](https://github.com/census-instrumentation/opence

[2019-05-24 19:21] songy23 commented on #104
Stale as of https://github.com/open-telemetry/opentelemetry-java/pull/341.

[2019-05-24 19:21] #104 closed

[2019-05-24 20:36] tylerbenson commented on #333
@bogdandrutu I submitted my PR to cover this issue, but I'm not quite clear about this point:

Is this what you were asking for: https://github.com/open-telemetry/opentelemetry-java/pull/348/commits/94e305df162e9bb7cab94f959f7fa4fe75a3b189?

[2019-05-25 15:23] carlosalberto commented on #347
At leas initially, I'm heading towards 100% Sampler.

That being said, for the two (or more) modes, what other options/configuration would be included, besides the sampler?

[2019-05-25 15:24] carlosalberto commented on #340
Agreed on both points. We can 'fix' the submitted tests although that shouldn't be a priority.

[2019-05-25 15:26] carlosalberto commented on #325
I'm wondering if it would be helpful to expose the constructors, nevertheless - otherwise, user will most likely have to use `UUID` + string manipulation to pass a `byte []` to `SpanId`/`TraceId` to create new ids ;)

[2019-05-25 16:35] SergeyKanzhelev commented on #259
Maybe:

- trace**ing**
- metrics
- tags

I'm good with `traces` though. Agree about consistency

[2019-05-26 23:17] yurishkuro commented on #128
Related dicsussion: https://github.com/open-telemetry/opentelemetry-specification/issues/9#issuecomment-491459867

[2019-05-26 23:17] yurishkuro commented on #85
Related discussion: #128

[2019-05-26 23:18] yurishkuro commented on #128
Related discussion: #85

[2019-05-27 12:34] pavolloffay commented on #308
I have submitted #350 which caches providers inside `OpenTelemetry` and providers are used to every time when an object has to be returned.

@fmhwong could you please test it?

[2019-05-27 12:34] #270 closed

[2019-05-27 12:41] bogdandrutu commented on #333
@tylerbenson but we need same thing in Trace.

[2019-05-27 12:58] pavolloffay commented on #243
We could also consider adding `Span.error(Throwable throwable)` method. The implementation can derive message/stacktrace based on the configuration (if need to be disabled for perf reasons).

[2019-05-27 13:41] pavolloffay commented on #278
@bogdandrutu I can have a look at this one.

The vendor mentioned in this issue confuses me. Do we want to define it in the SDK or API?

[2019-05-28 16:44] carlosalberto opened #353 "API: Should SpanBuilder.setNoParent() clear any explicit parent?"
I'm wondering if, upon calling `SpanBuilder.setNoParent()`, any explicit parent registered through `SpanBuilder.setParent()` should be cleared. Im inclined to a YES.

But would like to hear any opinion on this one @yurishkuro @bogdandrutu

(In OT things worked differently, as the related method was `ignoreActiveSpan()`, which mentioned nothing about any explicit parent interaction ;) )

[2019-05-28 16:46] carlosalberto commented on #325
Hey @bogdandrutu any opinion on this last comment? If you **really** think we don't need this, lets close this Issue (and perhaps discuss it in the future if/as needed)

[2019-05-29 03:35] tedsuo commented on #347
I would strongly be in favor of 100% as the default.

[2019-05-29 13:14] bogdandrutu commented on #353
I would say yes. If `setNoParent()` is called after any `setParent()` we should clear all previous calls, same for `setParent()` being called twice, the last call overwrites previous calls.

[2019-05-29 13:26] bogdandrutu commented on #333
Based on a private IM, see:
https://github.com/open-telemetry/opentelemetry-java/blob/master/api/src/main/java/io/opentelemetry/trace/DefaultTracer.java#L182
https://github.com/open-telemetry/opentelemetry-java/blob/master/sdk/src/main/java/io/opentelemetry/sdk/trace/TracerSdk.java#L104

Please do this in a separate PR.

[2019-05-29 15:14] SergeyKanzhelev opened #357 "Sampling `Decision` may need to update tracestate, not only attributes"

[2019-05-29 15:15] tedsuo commented on #347
## Video Discussion 5/29
* Default will 100% sampling.
* We want to add backpressure: Should have an algorithm for dropping spans in an explicit manner. @SergeyKanzhelev will make a spec proposal for this.
* `remote-sampler` can be added into the spec, and implemented as `up-for-grabs` (not on critical path).

[2019-05-29 15:16] tedsuo commented on #347
Additionally: Add a section to README to warn user about default sampling, and explain how to configure sampling.

[2019-05-29 15:23] tedsuo commented on #319
## Discussion
* Attributes, Links, and Events should have similar APIs. Let's give them all the same polymorphic options.
* Remove `addLinks(List<Link>)` for now, since it's not needed and doesn't fit the pattern.

[2019-05-29 15:46] tedsuo commented on #310
## 5/29 Discussion

* We are going to remove blankspan.INSTANCE; instead, users should start a span with no parent.
* What is the default behavior of the API when no SDK/Tracer is installed?
* We need to identify the situations where we need a unique SpanID.
* Do we need BlankSpan exposed at all? Does not appear to be useful, but we should investigate.

[2019-05-29 15:49] tedsuo commented on #309
## 5/29 Discussion
Agreed:
* Static methods are more future proof than variables.
* Want to be consistent across API. Don't expose any singleton variables; only static methods.

[2019-05-29 15:54] tedsuo commented on #268
Action Item:
* @bogdandrutu will write a proposal for this, and we'll have a meeting including @jmacd and other interested parties.
* Respond to this thread if you are interested in discussing.

[2019-05-29 15:59] tedsuo commented on #259
## 5/29 Discussion

Let's stick with what we have, but pluralize resources.

* trace
* metrics
* tags
* resources

[2019-05-29 17:44] jparsana opened #358 "Need write access to this repo"
Trying to create a kanban board to track the release of the Java reference candidate, however I dont see a 'Create Project' button on the Projects tab of this repo. Can you please give me write access to create the board?

[2019-05-29 17:59] bogdandrutu commented on #358
Done.

[2019-05-29 17:59] #358 closed

[2019-05-30 03:49] bogdandrutu commented on #268
I am not ready with this because the jetlag hit me too bad.

[2019-05-30 15:17] bogdandrutu commented on #340
So we have agreement here. I will try to comment on PRs about this.

[2019-05-30 15:17] #340 closed

[2019-05-30 15:22] tedsuo commented on #353
## 5/30 Discussion
* Agreed this should remove previous call to setParent().

[2019-05-30 15:28] tedsuo commented on #357
@SergeyKanzhelev can you show an example of the API you would like, or the requirements it needs . to have?

Do we want the sampler to modify TraceState directly? Or return it?

(Personally, I think this should be done under the hood, at least if there is only "one right way" to do this.)

[2019-05-30 15:42] tedsuo commented on #325
If TraceID() and SanID() generators are on the Tracer interface, we can defer the the implementation's choice of ID schemes.

[2019-05-30 15:43] SergeyKanzhelev commented on #310
with ASP.NET Core the idea was that the platform will read headers, begin span context and propagate it further out of the box. Basically - only with "API". The idea than is to use span context for all sorts of diagnostics as a unique identifier of the request. Typical examples are: showing error page to the customer with the ID of a request. Logging - associating request ID with custom logs. Taki

[2019-05-30 15:45] #261 closed

[2019-05-30 17:53] #333 closed

[2019-05-30 18:27] tylerbenson commented on #333
@bogdandrutu I think I already did that in #348.  Let me know if I missed something.

[2019-05-30 21:10] SergeyKanzhelev commented on #357
Typical example of such need is when sampler need to read and set if missing some tracestate key/value pair that indicates details of sampling decision. Like a sampling rate that was used by this sampler at this point of time.

Currently the decision sampler returns contain a set of attributes associated with the decision. However, those attributes would not be propagated down the downstream servi

[2019-05-30 23:04] tylerbenson commented on #312
@bogdandrutu how should `TagMap.Builder.remove(TagKey)` work in relation to the parent?  Do I need to maintain a placeholder value that signifies it was deleted?  Is it worth the additional complexity to avoid the copying?

[2019-05-30 23:10] bogdandrutu commented on #312
Remove can be treated as adding with a null value.

[2019-05-30 23:25] tylerbenson commented on #312
I was originally going to have `Builder put(TagKey key, TagValue value, TagMetadata tagMetadata)` assert null for each of the arguments, but from your comment it seems like maybe it should be ignored if key/value are null?  In that case, should remove ignore the parent and only apply to the current map?

[2019-05-30 23:44] tylerbenson commented on #312
Also, how should that deduping work?  Should that happen in the builder or when constructing the iterator?

(Does this new separation really benefit us much?)

[2019-05-30 23:48] bogdandrutu commented on #353
@carlosalberto Please clarify this in the documentation.

[2019-05-31 00:02] bogdandrutu commented on #312
@tylerbenson are you probably talking about the implementation here, so probably we should move this discussion to a different issue, because the initial issue was about https://github.com/open-telemetry/opentelemetry-java/pull/356.

Based on our experience not copying helps (especially in non-gc languages like C++ where you literally have to copy the entire memory).

De-dup happens during iterati

[2019-05-31 00:04] #312 closed

[2019-05-31 00:05] bogdandrutu commented on #284
@tylerbenson let's continue the discussion from https://github.com/open-telemetry/opentelemetry-java/issues/312 here.

[2019-05-31 02:08] yurishkuro commented on #11
Corresponding discussion in Specification repo: https://github.com/open-telemetry/opentelemetry-specification/issues/9

[2019-05-31 02:13] yurishkuro commented on #11
It seems we agreed more than once that "tags" is very misleading name. I suggested "correlation context"  earlier https://github.com/open-telemetry/opentelemetry-java/issues/11#issuecomment-484604871, even though I have not seen any stated arguments against "baggage" (except for some thumbs-down, which I don't consider an "argument").

[2019-05-31 02:30] yurishkuro commented on #268
@bogdandrutu I feel that "raw vs. fully defined" metrics is a false dichotomy, as I explained in #269, because the basic counter doesn't fit in either category.

Views double as both an enrichment layer (extra labels) and an aggregation layer (computing histogram from raw observations), which is fine as long as they are optional. There needs to be an encapsulation principle - if I instantiate a co

[2019-05-31 15:16] tylerbenson commented on #284
@bogdandrutu I'll see what I can do about the deduping on iteration.

[2019-05-31 15:18] bogdandrutu commented on #59
Are we good with OTEL_RESOURCE_LABELS?

[2019-05-31 15:19] bogdandrutu commented on #34
@carlosalberto what is the status of this issue?

[2019-05-31 15:20] bogdandrutu commented on #6
Split into multiple issues.

[2019-05-31 15:20] #6 closed

[2019-05-31 15:26] bogdandrutu commented on #284
@tylerbenson that is just an idea, if you think doing dedup at build time is faster and simpler in Java (just some benchmarks would be good so that if somebody tries the parent version we can compare the results), happy to accept a PR with that.

[2019-05-31 15:31] bogdandrutu commented on #11
Correlation context sounds like a long name, I would like to see a proposal that includes the name of:
* Package - current tags
* The map of elements - current TagMap
* The element - current Tag

It will be good to have all of these, for "correlation context" I have a hard time finding these names.

[2019-05-31 15:41] SergeyKanzhelev commented on #59
I'd suggest `TELEMETRY_RESOURCE_LABELS`. Drop Open, make it readable with the full word `telemetry`

[2019-05-31 18:08] SergeyKanzhelev commented on #357
@bogdandrutu  Any opinions on this?

I also want to add that the approach of moving the `Tracestate` manipulation to separate callback (which is also a common request) has a problem that now sampler that needs `Tracestate` manipulation will need to exchange information with that callback. And there actually no means to carry any information from one sampler to that callback except, maybe, attribut

[2019-05-31 19:46] SergeyKanzhelev opened #368 "API: Comment needs to be corrected"
https://github.com/open-telemetry/opentelemetry-java/blob/cadf603cc1b3f6d50fd0967ab5f256445864e0ef/api/src/main/java/io/opentelemetry/trace/Span.java#L193

[code]

"with the default options" sounds like an artifact from the past

[2019-05-31 19:50] SergeyKanzhelev opened #369 "API: Comment needs correction"
Comment here:

https://github.com/open-telemetry/opentelemetry-java/blob/cadf603cc1b3f6d50fd0967ab5f256445864e0ef/api/src/main/java/io/opentelemetry/trace/Span.java#L141-L142

refers to non-existent method `setAttributes`.

[2019-05-31 19:55] #259 closed

[2019-05-31 19:56] bogdandrutu commented on #353
Fixed by https://github.com/open-telemetry/opentelemetry-java/pull/364

[2019-05-31 19:56] #353 closed

[2019-06-03 16:25] SergeyKanzhelev commented on #310
There are also cases when SPA and client apps re-using `traceid` for the entire session. Which will break some debuggability problems

[2019-06-03 20:13] carlosalberto commented on #310
Btw, forgot to comment on this part:

In OpenTracing we have the invariant `Tracer.activeSpan() == null` if there's no active instance, compared to the implicit `BlankSpan` value in OTel. And in order for the OT Bridge to work, we need a way to detect this case:

[code]

We could simply return a 'fake' `Span` here for the OT Bridge, but that would break the invariant, as instrumentation code and t

[2019-06-03 20:57] carlosalberto commented on #34
I think this code was not meant to be merged, but to validate that the `grpc.Context` code could work fine with tags/baggage and the rest of the API, which I think was proved.

Fine if we close this Issue, @yurishkuro ?

[2019-06-03 21:02] carlosalberto commented on #176
@rochdev Hey, sorry for the late answer.

Agreed with what you wrote - but what names you think we should use? @tylerbenson already mentioned `direct`/`indirect` as options, and if you have something in mind feel free to propose it.

[2019-06-03 22:29] rochdev commented on #176
I think `ChildOf` and `FollowsFrom` made a lot of sense. To be honest, semantic-wise I think OpenTracing got a lot of things right.

How was this relationship called in OpenCensus?

[2019-06-03 22:43] bogdandrutu commented on #176
@rochdev I am worried that the understanding that of childOf and followsFrom is different for you than for others. I think what you explained is different than what others explained to me, I am very confused now about what is the correct meaning of childOf vs followsFrom.

[2019-06-03 22:57] SergeyKanzhelev commented on #176
Moving to the API revision milestone on specification. We need more feedback collected

[2019-06-03 22:59] #369 closed

[2019-06-03 22:59] #368 closed

[2019-06-03 23:00] SergeyKanzhelev commented on #319
@tylerbenson is it moving along? if you are not working on it - can you please un-assign from yourself

[2019-06-03 23:01] SergeyKanzhelev commented on #310
@tedsuo and @carlosalberto mentioned on the call today that they'd also prefer new ID to be generated.

@yurishkuro @bogdandrutu @pavolloffay can you comment?

[2019-06-04 02:51] #34 closed

[2019-06-04 07:16] tedsuo commented on #310
I'm concerned that systems will exhibit surprising behavior – and may be hard to reason about – if spans do not always have unique IDs.

[2019-06-04 15:30] tedsuo commented on #11
## Discussion 6/4

* we want a name that is clear
* we don't want "metaphorical names" like "mailman" or "baggage"
* Tags is too metrics-specific, and a confusing re-mapping of an OpenTracing term.
* The View object is where observability comes in. It is a metrics-specfic application of this more general propagation mechanism. So this package should not have a metrics-specfic name.
* This is relat

[2019-06-04 16:00] tedsuo commented on #128
## Discussion 5/4

In the first version, we would like to keep context propagation and observability together in the same repo, under OpenTelemetry.

In the future, we believe we want a cleaner separation between observability and context propagation. But for the first version, that is a bridge too far.

In the future, something like:
* A Propagation API package should provide Inject/Extract, so t

[2019-06-04 18:44] bogdandrutu commented on #85
Closing based on the discussion in https://github.com/open-telemetry/opentelemetry-java/issues/128

[2019-06-04 18:44] #85 closed

[2019-06-04 18:51] SergeyKanzhelev commented on #310
- So we will call it `Default` span.
- `Default` will generate a new span ID. There will be built-in random algorithm.
- We may need `Invalid` span to mark thread as dis-associated from the Trace

[2019-06-04 20:05] bogdandrutu commented on #278
SDK

[2019-06-04 20:36] bogdandrutu opened #375 "Enforce errorprone warnings to be errors"
Currently we still have few errorprones warnings in the API and SDK (ignoring the proto generated files). We should be errorprone clean.

[2019-06-05 04:26] SergeyKanzhelev opened #378 "Comment about no-op formatter is misleading"
This comment is misleading:

https://github.com/open-telemetry/opentelemetry-java/blob/60013e3de6092d906bf19ddd72452337d08c4a7a/api/src/main/java/io/opentelemetry/trace/Tracer.java#L185-L188

Perhaps do not say no-op, say default at least

[2019-06-05 04:26] SergeyKanzhelev commented on #378
Same for Text formatter

[2019-06-05 15:34] pavolloffay commented on #280
I have started looking into this.

[2019-06-05 16:16] SergeyKanzhelev commented on #319
@carlosalberto can you please close on this today

[2019-06-05 16:17] SergeyKanzhelev commented on #309
@bogdandrutu can you please send PR today

[2019-06-05 16:19] bogdandrutu commented on #11
What about ObservabilityContext, TelemetryContext?

[2019-06-05 16:20] SergeyKanzhelev commented on #308
I'm removing "API Complete" milestone as this is java-specific and should not block cross-reference implementation.

[2019-06-05 17:00] songy23 commented on #309
I'll take care of this in https://github.com/open-telemetry/opentelemetry-java/pull/376.

[2019-06-05 19:04] yurishkuro commented on #11
@bogdandrutu I think the main idea is that DistributedContext (correlation context) is a general  mechanism, not specific to telemetry. The needs of telemetry can be limited to views that read data from general context.

[2019-06-05 20:12] bogdandrutu commented on #268
@yurishkuro not sure I understand what you mean by "basic counter", do you refer to a pre-computed counter like for example cpu-usage? If that is the case see how I exported cpu-usage https://github.com/open-telemetry/opentelemetry-java/blob/master/contrib/src/main/java/io/opentelemetry/contrib/metrics/runtime/GarbageCollector.java, otherwise please explain me a bit more what you have in mind.

I

[2019-06-05 20:14] #310 closed

[2019-06-05 20:28] songy23 opened #380 "API: SpanContext.Blank vs. SpanContext.Invalid?"
From https://github.com/open-telemetry/opentelemetry-java/pull/379/files#r290914237.

[2019-06-05 22:53] SergeyKanzhelev commented on #268
Views are in SDK. Should we move this out of this milestone and defer for later?

[2019-06-05 22:53] SergeyKanzhelev commented on #269
@yurishkuro is it somehting we need to finalize before API Complete milestone or we can change later?

[2019-06-05 23:47] yurishkuro commented on #269
@SergeyKanzhelev I don't have a strong preference. I think improving metrics API is not in scope of v1, so I just wrote my concerns since I haven't used OpenCensus metrics API before, but it's not a blocker.

[2019-06-05 23:50] yurishkuro commented on #268
What I mean by basic counter is something that has Inc(delta) method. The absolute value is completely meaningless for it

[2019-06-06 00:19] bogdandrutu commented on #268
@yurishkuro what about this API https://github.com/open-telemetry/opentelemetry-java/blob/master/api/src/main/java/io/opentelemetry/metrics/Meter.java#L138? Is this what you look for?

[2019-06-06 00:25] yurishkuro commented on #268
more like this one: https://github.com/open-telemetry/opentelemetry-java/blob/master/api/src/main/java/io/opentelemetry/metrics/CounterLong.java#L82

[2019-06-06 00:26] bogdandrutu commented on #268
Via the API I pointed you, you create a Counter, then you get to the timeseries from there.

[2019-06-06 12:37] pavolloffay commented on #380
+1 on invalid

[2019-06-06 16:12] tedsuo commented on #325
For now, we are going to keep these methods private/protected, as we know we need to support customer TraceID's in the future (AWS xray, etc).

[2019-06-06 16:12] #325 closed

[2019-06-06 16:15] tedsuo commented on #268
@yurishkuro I'm closing this issue for now, as it is not a blocker. Please reopen if this is still an issue.

[2019-06-06 16:15] #268 closed

[2019-06-06 16:21] tedsuo commented on #11
Update:
* changed the name of `Attribute` to `Entry`, as their signature is different from Span Attributes.
* clarified package name.

* Package - dctx or distributedcontext, depending on the language norms.
* Map of elements - DistributedContext
* The elements - Entry

[2019-06-06 17:59] tylerbenson commented on #319
@SergeyKanzhelev sorry for the delay, I've been heads down on a different task.

[2019-06-06 18:31] bogdandrutu commented on #319
Closing this one and I will open a new one.

[2019-06-06 18:31] #319 closed

[2019-06-06 18:32] bogdandrutu opened #389 "API: Change Link to be interface"
Similar with Event, we need Link to be an interface and move the default implementation in the SpanData.

[2019-06-06 19:35] bogdandrutu opened #390 "API: Provided Samplers in the API"
Currently we in the API we provide implementation of the Samplers with alwaysOn and alwaysOff (neverSample).

Proposing:
1. Change the name to more clear names as defined in https://github.com/open-telemetry/opentelemetry-proto/blob/master/src/opentelemetry/proto/trace/v1/trace_config.proto#L53
2. Add the AlwaysParent sampler which probably should be the default Sampler when no implementation link

[2019-06-06 19:37] bogdandrutu opened #391 "API: Move Samplers to util package under trace"
Following the same mode as Collections, Arrays do in java lang we should probably move the Samplers under an util sub-package under trace.

Also for Event and Link interfaces the default implementation can be under Events, Links classes that will expose a create static method. Events and Links can also be in util.

[2019-06-06 19:48] #380 closed

[2019-06-06 19:57] bogdandrutu opened #392 "API: Finish default (also called no-op implementation) for Trace"
So far what we decide on this:
1. The default implementation will provide the w3c propagators.
1. The default Span will propagate the parent SpanContext, but will generate a new spanId for every new Span.
1. [Not decided] The default sampler will be to keep the sampling decision from the parent.
1. [Not decided] Tracestate will not be modified.
1. All recorded events, attributes, status, links wil

[2019-06-06 20:10] songy23 opened #393 "API: Decide whether to make DefaultSpan public or package-private."
From https://github.com/open-telemetry/opentelemetry-java/pull/383#issuecomment-499525065.

Pros of making it public:
- `DefaultSpan` is being used in a different package (`trace.unsafe`). Without it we'll have to add a noop span implementation in `trace.unsafe`.
- Convenient in unit tests of end users. Otherwise users will need to mock the `Span` interface or have a fake implementation for test.

[2019-06-06 20:14] songy23 commented on #392
Note if a default span is a root span, it will also generate a new (and valid) trace ID.

[2019-06-06 20:21] bogdandrutu commented on #392
Correct, so we need a Default SpanBuilder which should do the id generation.

[2019-06-06 21:38] songy23 commented on #393
Looks like I had some misunderstanding about the original comment at https://github.com/open-telemetry/opentelemetry-java/pull/383#issuecomment-499525065, and that has been resolved with https://github.com/open-telemetry/opentelemetry-java/pull/394. (In another word this issue was created by mistake.) I'm going to close it, but feel free to reopen if you think this needs more discussion.

[2019-06-06 21:38] #393 closed

[2019-06-07 08:04] arminru commented on #378
Should this comment be read as "If no implementation *of OpenTelemetry* is provided then the default implementation *of [Binary|HttpText]Format* is used."? I.e., if the user is using the blank API without any tracing vendor configured, they get whatever `DefaultTracer` provides?

In that case, for binary it would (currently) indeed be a no-op impl (`DefaultTracer.NoopBinaryFormat`) and for `HttpTe

[2019-06-07 08:33] carlosalberto commented on #391
You mean getting them out from `SpanData` and put them there?

[2019-06-07 11:11] pavolloffay commented on #392
I can have a look at this issue.

What would `SpanContext.getSpanId()` return? The newly generated spanId or parentId?

[2019-06-07 13:42] kaushikchaubal commented on #235
Looks like changes for this was merged, right? Is it worth closing the issue?

[2019-06-07 13:50] pavolloffay commented on #235
The protos have been copied but they are still here https://github.com/open-telemetry/opentelemetry-java/tree/master/sdk/src/main/proto. Maybe it would be better to consume them as a git submodule.

[2019-06-07 14:31] kaushikchaubal commented on #235
Do you want me to create a git submodule for https://github.com/open-telemetry/opentelemetry-java/tree/master/sdk/src/main/proto then? If so, I can aim to create a PR for that.

[2019-06-07 14:39] pavolloffay commented on #235
Let's see what others say, I think it's a good idea.

[2019-06-07 15:13] SergeyKanzhelev commented on #269
deferring discussion for later

[2019-06-07 15:16] bogdandrutu commented on #392
@SergeyKanzhelev:
I think child.getContext().getSpanId() will return a newly generated spanId

[2019-06-07 15:17] pavolloffay commented on #392
Then how would `HttpTextFormat` know the original parent id?

[2019-06-07 16:42] bogdandrutu commented on #309
@songy23 please also update the tags and other packages.

[2019-06-07 16:43] bogdandrutu commented on #391
@carlosalberto I was thinking about that :)

[2019-06-07 16:45] #389 closed

[2019-06-07 16:50] songy23 commented on #235
+1 to git submodule.

[2019-06-07 17:11] jmacd commented on #11
My objections to the name "DistributedContext" are:

(1) It looks like it does not contain a SpanContext. It's not a complete distributed context without a span context included. If we include the SpanContext, or establish a 1:1 correspondence between a structured tag value and a span context, then it would be at least accurate.

For example, if we adopted structured values (https://github.com/ope

[2019-06-07 20:22] #309 closed

[2019-06-07 21:28] #391 closed

[2019-06-07 23:33] SergeyKanzhelev commented on #390
should we put this in the next milestone?

[2019-06-08 00:57] bogdandrutu commented on #390
We can

[2019-06-10 15:18] carlosalberto opened #400 "API: Consider removing TagMap.Builder.buildScoped()"
We removed `Span.Builder.buildScoped()`, as the try-with pattern made it hard to report errors on finished `Span`s. Out of uniformity we should consider removing this one too.

[2019-06-10 15:22] carlosalberto opened #401 "API: Return Collection when iterating over TagMap's items."
At this moment we return them as:

[code]

Lets consider changing it to:

[code]

[2019-06-10 18:12] bogdandrutu commented on #401
I think collection is better because we can save an extra allocation (every time we need to create a new iterator). Also it is easier to use (size, iterator can be easily created, etc).

[2019-06-10 18:15] bogdandrutu commented on #400
I understand that it does not have side effect but still if for example an exception is thrown and then logged (and assume we do have a log plugin where we dump the tags/dctx with every log statement) the newly added tags/entries will miss from that log statement (same problem with spans).

[2019-06-10 18:24] bogdandrutu commented on #11
We do rename this for the moment, but we want to make it clear that this is an initial proposal and we are open to discuss a better name in the specs repo and specs SIG meetings.

We are doing the renaming to close the initial API proposal milestone.

[2019-06-10 18:25] #11 closed

[2019-06-10 21:33] carlosalberto commented on #400
Fine by me to remove it - we can add it later if actually needed.

[2019-06-11 19:02] tylerbenson commented on #284
Closing since the PR was merged.

[2019-06-11 19:02] #284 closed

[2019-06-11 22:25] tylerbenson opened #402 "Identify classes that are Thread Safe vs not with Annotations"
This might be over doing it, but do we want to have annotations on classes to indicate the expected "thread safetyness"?
For example: https://aalmiray.github.io/jsr-305/apidocs/javax/annotation/concurrent/package-summary.html

[2019-06-12 16:07] tylerbenson commented on #243
@pavolloffay my one concern with that is sometimes it's nice to attach a stacktrace that isn't really an "error".

Making it more generic, while also providing improved flexibility in the future, I'd suggest the following:

[code]

[2019-06-13 17:29] carlosalberto commented on #378
I think we should state clearly that this **will be** the W3C Context, instead of "usually" (remember this is when **no tracer** was provided).

I think we can mention the Binary protocol at this moment, even if it's not marked as final. Right, @SergeyKanzhelev ?

[2019-06-13 17:52] SergeyKanzhelev commented on #378
@carlosalberto makes sense. It will be clearer if we call it what it is.

[2019-06-14 14:11] bogdandrutu commented on #402
Yes I think we should use Immutable (implies ThreadSafe because nothing changes) and ThreadSafe annotations to identify these classes.

[2019-06-14 14:12] bogdandrutu commented on #401
Do we have a decision here? I think nobody complained, anyone has an opinion about this?

[2019-06-14 14:13] bogdandrutu commented on #392
I am confused, can you clarify a bit?

[2019-06-14 15:51] tylerbenson opened #406 "Implement our own ThreadLocalRandom"
The API should be compatible with older versions of Android, which haven't implemented some classes found in the standard JDK.  `ThreadLocalRandom` is one of these classes.

This new class should replace what is currently being used in `DefaultSpan` for ID generation.

Things to consider:
* Is there a backport we can use instead of creating our own?
* Separate seeds should be used for each thread

[2019-06-14 15:53] tylerbenson commented on #402
Is this something that can be required in the checkstyle config?

[2019-06-14 15:57] bogdandrutu commented on #402
Unfortunately not because the developer decides which classes are ThreadSafe or immutable. Or maybe I miss something.

[2019-06-14 16:11] tylerbenson commented on #402
No, I mean having a checkstyle enforce the presence of one of those annotations... not verifying the accuracy of such declaration.

[2019-06-17 12:06] pavolloffay commented on #392
A component receives valid span context. Then it creates 2 new descendant spans and makes a downstream call. How would the `HttpTextFormat` get the original spanId from the incoming context?

[2019-06-17 12:45] pavolloffay commented on #401
+1 on the collection.

[2019-06-17 17:05] #378 closed

[2019-06-17 17:06] carlosalberto commented on #378
Closing it for now. Feel free to reopen otherwise @SergeyKanzhelev ;)

[2019-06-17 17:08] carlosalberto commented on #401
I'm fine with it as well. @yurishkuro anything against this one?

[2019-06-17 19:41] yurishkuro commented on #401
Collection or Map?

[2019-06-18 19:26] SergeyKanzhelev opened #410 "Minor: default type of Measure should be defined first"
This collection defines the Measure types. It's not logical that Double is a default, but defined second.

https://github.com/open-telemetry/opentelemetry-java/blob/8520de558133c2e09f9f0de8b07f36c377b3555d/api/src/main/java/io/opentelemetry/metrics/Measure.java#L34-L37

[2019-06-19 07:09] major2015 opened #412 "Can share the architecture design ?"
Dear all authors,
     I am very interested in your open source projects. Are there any design documents that help to quickly understand the architectural design of this project?

[2019-06-19 14:51] pavolloffay commented on #412
Hi @major2015, the design docs are in specification repository https://github.com/open-telemetry/opentelemetry-specification.

[2019-06-19 16:09] major2015 commented on #412
Thx, I will read the documents in the next days

[2019-06-19 16:09] #412 closed

[2019-06-19 20:30] songy23 commented on #293
Anyone actively working on this issue? If not I'd like to take it.

[2019-06-20 01:09] #182 closed

[2019-06-20 01:50] songy23 commented on #375
Reopen - I need to add a config to enforce warnings as errors (fail the build on warnings).

[2019-06-20 03:00] #375 closed

[2019-06-20 21:39] songy23 opened #421 "API: `record` should take a generic `Attachment` class instead of having tracing dependency."
See https://github.com/open-telemetry/opentelemetry-java/blob/70a7ce19d48b978c333f196a0f0a32af134b2a23/api/src/main/java/io/opentelemetry/metrics/Meter.java#L194

It would be problematic for `Metrics` APIs to depend on `Tracing`, and that's why we added the [`AttachmentValue`](https://github.com/census-instrumentation/opencensus-java/blob/master/api/src/main/java/io/opencensus/metrics/data/Attachm

[2019-06-20 21:45] SergeyKanzhelev commented on #421
Probably need to file it in specs first

[2019-06-20 21:45] #279 closed

[2019-06-20 22:48] bogdandrutu commented on #421
This is how it was in OpenCensus, and because this is not available anywhere I think we are fine. But happy to to it in specs.

[2019-06-21 14:48] carlosalberto opened #424 "OT Shim: Use the SDK Tracer for testing"
Currently we are using a new, basic `InMemoryTracer`, but we should switch to the SDK + a processor that bumps `SpanData` into memory.

[2019-06-24 20:35] pavolloffay opened #431 "SDK: Allow to specify resource"

[2019-06-24 20:35] pavolloffay opened #432 "SDK: Allow to specify clock"

[2019-06-24 21:37] bogdandrutu commented on #431
We decided to allow that via envvar https://github.com/open-telemetry/opentelemetry-java/blob/master/sdk/src/main/java/io/opentelemetry/sdk/resources/EnvVarResource.java#L50

[2019-06-24 21:38] bogdandrutu commented on #424
Already available :)

[2019-06-25 16:19] arminru opened #436 "SDK: DistributedContextSdk.Builder should use current DistributedContext as implicit parent"
see https://github.com/open-telemetry/opentelemetry-java/pull/428#discussion_r297252224

[2019-06-25 18:01] #400 closed

[2019-06-26 08:09] pavolloffay opened #437 "API: Change Sampler signature shouldSample to accept list of span contexts"
Created from https://github.com/open-telemetry/opentelemetry-java/pull/430#discussion_r296905082

Change signature of `Sampler.shouldSample` to accept `List<SpanContext>`. The reason being span builder has only list of `Links` which wrap `SpanContext` and not `Span`.

https://github.com/open-telemetry/opentelemetry-java/blob/ed42237b6c71052bbffe4d849647c53fae81b246/api/src/main/java/io/opentelemet

[2019-06-26 08:11] pavolloffay opened #438 "SDK: return DefaultSpan if not recording events"
Created from https://github.com/open-telemetry/opentelemetry-java/pull/430#discussion_r296911812 and https://github.com/open-telemetry/opentelemetry-java/pull/430#discussion_r297307504

[2019-06-26 14:43] carlosalberto opened #440 "SDK: Make InMemoryExporter more testing friendly"
At the moment, `InMemoryExporter` exposes the `Span` data as the low-level protobuf representation - which is nice if you want to inspect what you want right before you move it through the wire, but not truly friendly if you want to write tests against it.

For example, for testing a given Trace Id, you need to get the Protobuf `ByteString`, get its underlying `byte[]`, create a `TraceId`, and the

[2019-06-26 19:15] bogdandrutu commented on #440
I think the major concerns are around IDs, all the other fields are Strings or Event or Attributes. We have two options:

Return a TestingSpan that wraps the proto representation and exposes `assertHas(TraceId /* from API*/ traceId)`, `assertHas(Event /* from API*/ event)`.

Other option is to expose helper functions traceIdFromProto, spanIdFormProto etc. in a testing artifact.

In all these cases

[2019-06-27 16:18] carlosalberto commented on #440
Fair enough. I had already started doing this, so I only need to wrap up the effort ;)

[2019-06-27 17:28] #280 closed

[2019-06-27 17:28] #431 closed

[2019-06-27 17:38] #401 closed

[2019-06-27 19:00] songy23 opened #442 "SDK: Implement ReadableSpanData"
https://github.com/open-telemetry/opentelemetry-java/blob/bff193d4622ceed37acf80c5e5d28b58268b2734/sdk/src/main/java/io/opentelemetry/sdk/trace/TracerSdk.java#L70.

[2019-06-27 19:00] songy23 opened #443 "SDK: Add implementation for BinaryFormat<SpanContext>."
https://github.com/open-telemetry/opentelemetry-java/blob/bff193d4622ceed37acf80c5e5d28b58268b2734/sdk/src/main/java/io/opentelemetry/sdk/trace/TracerSdk.java#L74

[2019-06-27 19:01] songy23 opened #444 "SDK: Implement TracerSdk.shutdown()."
https://github.com/open-telemetry/opentelemetry-java/blob/bff193d4622ceed37acf80c5e5d28b58268b2734/sdk/src/main/java/io/opentelemetry/sdk/trace/TracerSdk.java#L91

After `shutdown` is called, `startSpan` should only return `DefaultSpan`.

[2019-06-27 19:02] songy23 commented on #281
Splitting into separate issues: #442, #443, #444.

[2019-06-27 19:02] #281 closed

[2019-06-27 21:20] #436 closed

[2019-06-28 16:17] #443 closed

[2019-06-28 16:21] #442 closed

[2019-06-28 16:59] #438 closed

[2019-06-28 16:59] #444 closed

[2019-07-01 18:02] bogdandrutu commented on #437
Should we use the List<Link> instead?

[2019-07-01 23:44] #437 closed

[2019-07-01 23:45] bogdandrutu opened #457 "Implement JSON logging exporter"
The list will be defined in open-telemetry/opentelemetry-specification#6

This is the work left from https://github.com/open-telemetry/opentelemetry-java/issues/277.

[2019-07-01 23:45] #277 closed

[2019-07-01 23:47] bogdandrutu commented on #283
Done, https://github.com/open-telemetry/opentelemetry-java/blob/master/sdk/src/main/java/io/opentelemetry/sdk/distributedcontext/DistributedContextSdk.java

[2019-07-01 23:47] #283 closed

[2019-07-01 23:53] bogdandrutu commented on #421
@songy23 do we have a specs issue/pr for this?

[2019-07-01 23:55] songy23 commented on #421
Spec: https://github.com/open-telemetry/opentelemetry-specification/issues/144

[2019-07-03 18:41] #410 closed

[2019-07-16 16:09] tylerbenson opened #466 "Migrate to CircleCI"
We can use [this](https://github.com/DataDog/dd-trace-java/blob/master/.circleci/config.yml) config as an example, though we may be limited here unless we get a paid account.

[2019-07-16 16:12] tylerbenson opened #467 "Publish SNAPSHOT builds"
We should publish snapshot builds to a snapshot repo (like Jfrog's).  Here is documentation on how to do that: https://www.jfrog.com/confluence/display/RTF/Deploying+Snapshots+to+oss.jfrog.org

[2019-07-17 16:22] carlosalberto commented on #424
Closed via #427

[2019-07-17 16:22] #424 closed

[2019-07-19 15:16] pavolloffay opened #469 "SDK: Implement Jaeger exporter"
Implement span exporter for Jaeger server.

hint: import from OpenCencus.

[2019-07-23 07:55] jpkrohling commented on #469
I'm working on this one.

[2019-07-23 10:24] jpkrohling commented on #469
We have a few options here.

1. The easiest for a first implementation is probably to add a dependency on the Jaeger Client for Java. A new OpenTelemetry `SpanExporter` would then create a Jaeger Span, which gets reported to Jaeger Agent/Collector via its own client;
1. For the long term, it might make sense to avoid a dependency to the Jaeger Client for Java. In the name of maintainability, we'd

[2019-07-23 10:29] jpkrohling commented on #469
cc @objectiser, @yurishkuro

[2019-07-23 13:42] bogdandrutu commented on #469
Please for the moment put it in a separate gradle subproject under `exporters/` directory, so that SDK does not depend on this.

[2019-07-24 13:35] ohpauleez commented on #467
Food for thought:

What about cutting stable "alpha" releases to maven central, instead of SNAPSHOT versions.
For example, you can release "1.0.0-alpha1", from there you could release "1.0.0-RC1" for release candidate versions, and finally release "1.0.0".

This let's people work against stable targets as they sort out integration concerns without the release shifting from underneath them.  People

[2019-07-24 15:14] jpkrohling commented on #469
@bogdandrutu, what's the preferred approach from other maintainers? Should we attempt to avoid a dependency to the Jaeger Client, or should we reuse the Jaeger Client when possible (making sure to isolate this as its own module)?

[2019-07-24 16:15] bogdandrutu commented on #469
I think we aim to become the official client for Jaeger or (recommended), so I think we need to directly implement the wire protocol. Also we already have all the batching logic etc, so no point in using the client unless they have a raw client that is a helper to just talk to the server.

[2019-07-24 17:43] carlosalberto commented on #467
@ohpauleez

We will definitely have stable targets down the road - having snapshots would help developers to try out the ongoing effort/features.

And yes, we will also have (eventually, that is) alpha releases, as well as release candidates.

[2019-07-25 08:03] jpkrohling commented on #469
There's a reporter+sender that could be directly used, but we might want to start supporting gRPC only, as we were already looking to phase out the Thrift channels. And for gRPC, it's quite easy to build the client. The biggest "problem" is to get the proto files, or their outcomes (generated client/models).

[2019-07-25 16:13] Jokser opened #472 "Add ability to distinguish traces from different services located in the same JVM"
The issue is coming from a discussion https://github.com/census-instrumentation/opencensus-java/issues/1952

There is a problem about how to distinguish traces from different services located in the same JVM. I mean service in terms of Zipkin exporter configuration. As I see the exporter has "service" field which represents a logical separation between some business and internal processes.
Let's s

[2019-07-26 00:05] adriancole commented on #472
if you go with exporter dispatch approach, you should probably implement
localRoot so that the service label can be applied consistently through the
subtree. that's what it was made for (in brave)

On Fri, Jul 26, 2019 at 12:13 AM Pavel Kovalenko <notifications@github.com>
wrote:

[2019-07-26 09:31] pavolloffay commented on #472
hi @Jokser, It seems what you are describing is related to https://github.com/open-telemetry/opentelemetry-java/issues/308 and PR https://github.com/open-telemetry/opentelemetry-java/pull/350.

The PR https://github.com/open-telemetry/opentelemetry-java/pull/350 adds the ability to have multiple tracers.

[2019-07-26 10:31] Jokser commented on #472
@pavolloffay @adriancole Thank you for the responses. Does it mean that the approach described in the issue you mentioned will only way to resolve the problem described here?
If you have the ability to create multiple tracers do we really need the ability to filter spans in exporters? Or it may be a useful feature anyway?

[2019-07-27 01:11] adriancole commented on #472
multiple tracers will work if similarly scoped down the tree of requests and don't make local calls to things handled by other traces. if all tracers share the same exporter, you can increase the effectiveness of the batching handled there. If they share the same sampling impl, this can help avoid overrunning the policy you want because otherwise a rate is increased by tracer count (unless the sam

[2019-08-02 15:39] jpkrohling opened #475 "Define Link attributes"
I'm currently working on #469 and I'm writing a translator, from OpenTelemetry Span to Jaeger Span, and I can't seem to find out how to properly convert the `SpanLinks` into `SpanRefs`, as I couldn't find where the link attributes are defined.

It looks like the SDK currently has no distinction about the types of Links that a span can have. I'm not sure if it's defined already by OpenTelemetry, bu

[2019-08-05 17:46] carlosalberto commented on #475
@jpkrohling correct, it's safe to assume Links are parent references (only).

[2019-08-06 09:32] jpkrohling commented on #475
Thanks for the clarification, @carlosalberto!

[2019-08-06 09:32] #475 closed

[2019-08-07 21:26] bogdandrutu commented on #467
@carlosalberto can you take this issue and setup snapshot releases?

[2019-08-08 11:17] carlosalberto commented on #467
I will take it, yes.

[2019-08-08 14:06] #466 closed

[2019-08-09 13:02] carlosalberto commented on #440
Closing. Will open a new ticket about creating an artifact to expose the `InMemoryExporter` for testing purposes.

[2019-08-09 13:02] #440 closed

[2019-08-09 13:05] carlosalberto opened #485 "Testing-friendly InMemoryExporter artifact"
As mentioned in #440 we want a friendly way to expose `io.opentelemetry.sdk.trace.export.InMemoryExporter` for testing purposes, similar to the spirit of OpenTracing's `MockTracer`.

Perhaps will include this to cover metrics and related bits.

[2019-08-12 11:19] jpkrohling commented on #475
As per https://github.com/open-telemetry/opentelemetry-java/pull/481/files#r312577862 , those links should be `FOLLOWS_FROM` when converted to Jaeger.

[2019-08-12 12:49] carlosalberto commented on #475
(It could still change to CHILD_FROM if we ever support different parent-child relationships in OTel in the future ;) )

[2019-08-13 07:45] jpkrohling opened #486 "SDK: Determine how to convert OpenTelemetry::Resources into Jaeger"
During the review for #481, the topic about converting OpenTelemetry Resources into Jaeger came up. Once it's clear what's to be done, the Adapter's `toJaeger` method needs to incorporate this conversion.

Context:
https://github.com/open-telemetry/opentelemetry-java/pull/481#discussion_r312575248

[2019-08-13 18:02] bogdandrutu opened #487 "MultipleCallbacksTest is flaky"
io.opentelemetry.opentracingshim.testbed.multiplecallbacks.MultipleCallbacksTest > test FAILED
    org.junit.ComparisonFailure: expected:<[parent]> but was:<[subtask]>
        at org.junit.Assert.assertEquals(Assert.java:115)
        at org.junit.Assert.assertEquals(Assert.java:144)
        at io.opentelemetry.opentracingshim.testbed.multiplecallbacks.MultipleCallbacksTest.test(MultipleCallbacksTe

[2019-08-13 18:04] bogdandrutu commented on #487
See https://circleci.com/gh/open-telemetry/opentelemetry-java/31

[2019-08-14 01:17] bogdandrutu opened #490 "LateSpanFinishTest is flaky"
io.opentelemetry.opentracingshim.testbed.latespanfinish.LateSpanFinishTest > test FAILED
    org.junit.ComparisonFailure: expected:<task[1]> but was:<task[2]>
        at org.junit.Assert.assertEquals(Assert.java:115)
        at org.junit.Assert.assertEquals(Assert.java:144)
        at io.opentelemetry.opentracingshim.testbed.latespanfinish.LateSpanFinishTest.test(LateSpanFinishTest.java:56)

See h

[2019-08-14 11:57] arminru opened #493 "Add bug reporting guidelines and issue templates"
We want to be prepared for the unlikely event that a bug ever has to be reported for opentelemetry-java :wink:

Some examples from our friends at .NET and JS:
* https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/CONTRIBUTING.md#report-a-bug-or-requesting-feature
* https://github.com/open-telemetry/opentelemetry-js/blob/master/CONTRIBUTING.md#report-a-bug-or-requesting-feature
* htt

[2019-08-14 22:04] carlosalberto commented on #487
Damn, thanks.

I had implemented earlier today a way to sort Spans by their end time (to mimic the OT testing behavior), but it seems that the nano conversion being done (when converting to proto data) messes them up **sometimes**:

[code]

I will fill a bug report once I can cook a proper, reproducible test case for this ;)

[2019-08-15 13:24] pavolloffay commented on #486
The resource is set on only on tracer at the moment. We can treat it as process information which maps to `Process` struct in Jager. We could get the resource from the first span and merge it with the process created at exporter startup. We do the same in Jaeger client exporters.

[2019-08-15 16:38] #469 closed

[2019-08-16 09:12] jpkrohling opened #498 "End to end tests"
As the complexity of the client grows, it's necessary to have end-to-end tests to make sure all the pieces are integrated correctly. @pavolloffay suggested using [testcontainers](https://github.com/testcontainers/testcontainers-java) with jaeger all-in-one distribution based on the following examples:

* https://github.com/opentracing-contrib/java-spring-jaeger/blob/master/opentracing-spring-jaege

[2019-08-21 13:26] #487 closed

[2019-08-21 13:26] #490 closed

[2019-08-22 16:08] pavolloffay opened #506 "SDK: Switch proto submodule to open-telemetry/proto repository"
PR https://github.com/open-telemetry/opentelemetry-java/pull/504/files#diff-8903239df476d7401cf9e76af0252622R3 uses my fork of proto. We should switch to https://github.com/open-telemetry/opentelemetry-proto once https://github.com/open-telemetry/opentelemetry-proto/pull/26 is merged

[2019-08-24 22:41] kbrockhoff commented on #406
I suggest providing a strategy interface for id generation. Then a different approach could be used on Android. It would also help when coding for a particular backend system. An example would be AWS X-Ray which uses a 128 bit trace id and 64 bit span id like the defaults but the first 32 bits of the trace id is the Unix epoch seconds when the trace started. I am guessing they use the trace id as

[2019-08-25 00:25] adriancole commented on #406
fwiw in brave we dont have a strategy except 64 vs 128 bit. due to the AWS
issue mentioned we simply inherited their scheme. all of our 128 bit ids
are generated like that as no one had strong feelings otherwise. this has
been the case for at least a couple of years and no complaints I can recall
either.

On Sun, Aug 25, 2019, 6:41 AM Kevin Brockhoff <notifications@github.com>
wrote:

[2019-08-29 16:25] #506 closed

[2019-08-30 14:01] pavolloffay opened #515 "CI build for java11"
Add java11 build to CI.

@bogdandrutu is there a reason why we build with Java9 at the moment? Java11 is the next LTS version. Java9 public updates ended `March 2018`. https://www.oracle.com/technetwork/java/java-se-support-roadmap.html

[2019-09-04 13:06] kbrockhoff opened #517 "Enhance SDK Configuration Options"
Enhancements fall into 2 categories.

1. Configuration should work like logging frameworks configuration. It can either be accomplished by use of a standard name configuration file loaded from the classpath or else done programmatically. Programmatically will be especially useful in creating a Spring Boot actuator for OpenTelemetry.
2. Additional configuration items would be useful such as:
    a.

[2019-09-04 13:11] kbrockhoff opened #518 "Provider Mechanism for Resource"
Add a provider interface for Resource for use with ServiceLoader. This would enable the runtime platform to provide its own implementation. Some use cases where this would be useful would be JEE application servers where the server itself is best positioned to provide the correct information. Another use case would be the Spring Cloud vendor-specific libraries which are already loading most of the

[2019-09-04 13:22] kbrockhoff opened #519 "Move Metrics Aggregation to Metrics Callback or Processor"
Instead of the OpenCensus approach for Stats and Views, consider making this functionality pluggable as part of the processing pipeline. This would enable the use of third-party implementations and encourage innovation in the area of efficiency improvements which is always a challenge for histograms. For the initial release, the Micrometer library could be used to provide the functionality which w

[2019-09-04 13:24] kbrockhoff opened #520 "Logging Only Exporters"
Provide logging-only exporters for tracing and metrics. This would be very useful in the early stages of instrumenting an existing system or in new application development where suitable backend(s) are not yet deployed.

[2019-09-04 13:27] kbrockhoff opened #521 "Expose Duration by Completed Span"
Many development teams will want the ability to log or further process the duration of a particular remote call. It would be helpful to have this exposed by the public Span API.

[2019-09-04 13:31] kbrockhoff opened #522 "Provide Basic Contrib Libraries As Part of Early Releases"
Providing the equivalent of some of the OpenCensus contribs libraries would be useful in testing the usability of the APIs and the specification documentation while the APIs are still in alpha. I have already started this work and found a number of issues. See contribs-http branch here: https://github.com/kbrockhoff/opentelemetry-java/tree/contribs-http

[2019-09-10 17:42] songy23 commented on #486
FYI in opentelemetry-service we translate resource into Jaeger process tags: https://github.com/open-telemetry/opentelemetry-service/pull/325.

[2019-09-11 19:14] songy23 opened #525 "Support Bill of Materials pom.xml"
BOM helps keep working versions across artifacts. With BOM lots of issues caused by incompatible transitive dependencies can be avoided, e.g https://github.com/census-instrumentation/opencensus-java/issues/1215, https://github.com/census-instrumentation/opencensus-java/issues/1220.

Original issue in OpenCensus: https://github.com/census-instrumentation/opencensus-java/issues/1117.

/cc @suztomo

[2019-09-12 16:14] elharo opened #529 "Truth or AssertJ: Pick one"
Truth and AssertJ do basically the same thing. It's weird to depend on both. At least one, probably AssertJ, should be removed.

https://googlecloudplatform.github.io/cloud-opensource-java/JLBP-1.html

[2019-09-13 15:36] bogdandrutu commented on #529
Please go with Truth :) as a lot of the code is using truth :)

[2019-09-13 15:40] bogdandrutu commented on #522
This is a great suggestion. let's start building a small list of contribs that we want to verify alpha:
* gRPC
* some HTTP - please help enumerate the frameworks

[2019-09-13 15:43] bogdandrutu commented on #521
It is very interesting to me to understand why logging this when you have tracing (probably I don't understand very well the use-case). I am moving this to specs because this affects the public API capabilities.

[2019-09-13 19:22] carlosalberto opened #531 "Exercise the API with some instrumentation/integration."
We need to exercise the API against some actual instrumentation code, and porting instrumentation for a component like Spring or OkHttp would help with that (in OpenTelemetry Python we are doing this , for example).

[2019-09-13 19:25] carlosalberto opened #532 "API: Implement OTEP 6 (Sampling)"
See https://github.com/open-telemetry/oteps/blob/master/text/0006-sampling.md

[2019-09-13 19:25] carlosalberto opened #533 "API: Implement OTEP 7 (Out-of-band update)"
See https://github.com/open-telemetry/oteps/blob/master/text/0007-no-out-of-band-reporting.md

[2019-09-13 19:26] carlosalberto opened #534 "SDK: Port the OC Zipkin exporter"

[2019-09-13 19:26] carlosalberto opened #535 "SDK: Implement/port exporter for Prometheus"

[2019-09-14 21:30] kbrockhoff commented on #521
There are two use cases I can think of.

1. When creating a MeasureBatchRecorder at the end of span, recording a duration value that exactly matches the duration being used by the tracing system.

2. Application developers wanting to log duration along with other application specific info to their application's logs.

The typical enterprise developer will choose to write their own understanding la

[2019-09-14 22:25] kbrockhoff commented on #522
HTTP:
1. Common support library (equivalent of OpenCensus http_util) - I completed this today.
2. Java Servlet Filter
3. JAX-RS Client Filter
4. JAX-RS Container Filter
5. JAX-WS Client Handler
6. JAX-WS Server Handler
7. Spring ClientHttpRequestInterceptor
8. Spring AsyncClientHttpRequestInterceptor
9. AWS SDK RequestHandler2

gRPC:
1. ClientInterceptor
2.ServerInterceptor

JDBC:
Wrappers for Dri

[2019-09-14 22:30] kbrockhoff commented on #521
I am thinking about how to write an enhancement proposal to enable optional recording of full message payloads. This will be important to enterprise developers wanting to prove that their team is not at fault for a particular issue. This is kind of the same category as use case number 2 above.

[2019-09-14 22:42] kbrockhoff opened #536 "In-memory Exporter shutdown behavior"
I was surprised that calling shutdown on the exporter called shutdown on the tracer. On my first pass, I created an exporter per test class and then called shutdown at the end of the test run for cleanup. The objective being to keep each test clean of side effects.

It took hours to figure out the problem. When I ran single classes inside the IDE no problems but running a command line build of the

[2019-09-14 22:43] kbrockhoff commented on #531
I am working on this. See issue #522 and my clone of the project.

[2019-09-17 11:13] pavolloffay commented on #531
+1

We should also document and bootstrap how to add instrumentations to the official release stream (assuming we agree on the package maintenance).

[2019-09-17 11:22] pavolloffay commented on #522
@kbrockhoff could you please share/brainstorm any ideas on integration with MicroProfile metrics and fault tolerance?

[2019-09-17 11:24] pavolloffay commented on #522
We should also provide instrumentation for core java libraries (like https://github.com/opentracing-contrib/java-concurrent provides):
* executor services
* callable, runnable

[2019-09-18 00:41] #529 closed

[2019-09-18 12:45] kbrockhoff commented on #522
MicroProfile integration could include the export of metrics and events like those displayed in the Hystrix Dashboard such as RED, current circuit breaker status, bulkhead requests in waiting, retry counts, fallback counts.

Aggregated metrics from OpenTelemetry could also be read and used by circuit breaker open strategies and retry backoff strategies.

[2019-09-19 00:53] carlosalberto commented on #533
@bogdandrutu Shall I do the explicit time for start/end as part of this issue? To me it sounds like we should do in another one, and close this one. Sounds ok?

[2019-09-19 01:09] carlosalberto opened #545 "API: Implement the remaining of OTEP 2 (Removal of SpanData)"
See https://github.com/open-telemetry/oteps/blob/master/text/0002-remove-spandata.md

Although `SpanData` is already removed, we need to wrap up the effort, and add explicit timestamp for start/end of `Span`s.

[2019-09-19 01:15] carlosalberto commented on #533
Never mind - I created another issue for that item. Shall we create this Issue or is there something missing?

[2019-09-19 01:28] carlosalberto opened #546 "OT Bridge: Decide whether to activate DistContext/TagMap or not"
OpenTracing's `SpanContext` contains **Baggage**, which is backed up internally by an instance of `DistributedContext` (previously called `TagMap`), which works seamlessly underneath.

One thing to decide is whether we want to also set this aforementioned `DistributedContext` object as active when its 'parent' `Span` is set as the active instance:

[code]

There are a few possible challenges here,

[2019-09-19 01:37] carlosalberto opened #547 "OT Bridge: Properly handle SpanContext Baggage along threads"
OpenTracing's `SpanContext` contains **Baggage**, which is backed up internally by an instance of DistributedContext (previously called TagMap).

One of the challenges is how to keep this extra relationship available at all moments (and in all threads), including any updates caused by entries being added/overwritten. An easy way to see this need is through the usage of the current `Span`:

[code]

[2019-09-20 14:57] carlosalberto commented on #467
This is done as part of #523 - feel free to re-open if/as needed ;)

[2019-09-20 14:57] #467 closed

[2019-09-20 15:59] jkwatson opened #551 "Current Span API doesn't meet the requirements of the Resources specification"
Specification here: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-resources.md

Here is the relevant paragraph in the spec:
[code]

Currently, the only way to get a Resource associated with a Tracer is via a legacy `OC_*` environment variable. And, there is no API to associate a Resource with a Span directly. I'm not sure what "Note, that association o

[2019-09-20 20:29] jkwatson commented on #551
Just a note...I chatted offline with @mwear and he said that parts of this spec might be being superceded by https://github.com/open-telemetry/oteps/blob/master/text/0007-no-out-of-band-reporting.md#resource-changes

[2019-09-20 20:33] songy23 commented on #535
This is blocked by https://github.com/open-telemetry/opentelemetry-java/issues/294.

[2019-09-20 20:33] jkwatson opened #552 "Provide a programmatic configuration mechanism for the OpenTelemetry instance."
Currently, the only way to configure the `io.opentelemetry.OpenTelemetry` instance is via system property specified Service Providers (SPI). OT should provide a simple, programmatic means for configuring an `OpenTelemetry` instance (for example, with a Builder).

[2019-09-20 20:36] jkwatson commented on #531
New Relic has a simple sample application that we're using to exercise OT via the API (i.e. no instrumentation, just manually using the API to create Spans, etc). Is there a good place to contribute that?

[2019-09-20 20:38] jkwatson commented on #552
ah, this might be a dupe of #517 . They should probably be merged together.

[2019-09-20 20:43] jkwatson commented on #518
It would be even better if there was also a java code (eg. builder) way to do this, rather than requiring a particular configuration option.

[2019-09-20 20:52] bogdandrutu commented on #518
I think we can have a "SetResource" on the SDK. So if the SDK was loaded you can configure the Resource as one of the first thing in your main function.

[2019-09-20 21:03] jkwatson commented on #518
That seems like a fine alternative, although I get nervous with having the SDK be mutable like that.

[2019-09-21 18:52] bogdandrutu commented on #551
We do not want to allow in the API users to configure the Resource:
1. The instrumentation/library developer does not know information about the environment where the final application will run.
1. The information about the Resource is only known by the SRE (or the person who deploys/runs the binary in production). So it cannot be hardcoded in Code.

So I think supporting a config file and environ

[2019-09-21 19:03] jkwatson commented on #551
The current environment variable method leaves a lot to be desired. Rather than having that environment variable (which has the old open census name right now), be required to be a strange comma/equals format, why not leave the configuration up to the engineer who is using Open Telemetry? Why would we want to restrict the ways that people can use these libraries? We should support the most flexibl

[2019-09-24 15:13] jkwatson opened #557 "Change exporters to consume SpanData, rather then protobuf Spans"

[2019-09-24 21:34] breedx-nr opened #562 "Allow tracestate to begin with a digit"
The tracestate spec changed to allow tracestate identifier to begin with a digit.  Reference https://www.w3.org/TR/trace-context/#key and corresponding fix merged in this PR:
https://github.com/w3c/trace-context/pull/332

The Open Telemetry Tracestate should change its verification to allow start digits in tracestate identifiers.  It currently results in an exception like:

[code]

[2019-09-25 00:24] adriancole commented on #562
wow numbers and '@' signs now. I'm sure shell scripted will love having to
single quote.

On Wed, Sep 25, 2019, 5:34 AM Jason Plumb <notifications@github.com> wrote:

[2019-09-25 00:34] adriancole commented on #562
anyway it is less a shell script issue vs generally questionable to choose
to allow characters that routinely require escaping in key names in a new
spec.

[2019-09-25 01:21] breedx-nr commented on #562
That's fair.  I don't have much insight at the moment on the why of the choice of `@`, but the spec creators needed something to denote the vendor prefix...and all the standard chars were taken 🤷‍♂ ?

[2019-09-25 02:06] adriancole commented on #562
rigor is limited to a few companies. almost never amazon for example. in
fact amazon ARN permits * but primarily uses colons as a delimiter

https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html

I dont have the time or patience to try again to push w3c back into shape
but if you or someone else could get things more rigorous, less calamity
for others

[2019-09-26 18:52] breedx-nr commented on #534
Relevant source: https://github.com/census-instrumentation/opencensus-java/tree/c960b19889de5e4a7b25f90919d28b066590d4f0/exporters/trace/zipkin

[2019-09-26 21:41] jkwatson commented on #534
@breedx-nr and I are going to tackle this one, after we've gotten the exporters reworked to use `SpanData`

[2019-09-27 17:54] bogdandrutu opened #573 "Implement 0016-named-tracers.md"
https://github.com/open-telemetry/oteps/blob/master/text/0016-named-tracers.md

[2019-09-29 03:12] adriancole opened #575 "remove grpc-context dependency from the api package"
I understand why opentelemetry has a bias towards google's gRPC library. This codebase primarily borrows from work that started internally, became google's instrumentation-java, later renamed to opencensus, and now mostly copy/pasted from that. The original primary customer was not just gRPC protocol, but specifically google's library. For example, gRPC is the most primary user of the prior work,

[2019-09-29 03:25] adriancole commented on #575
here are some related issues from grpc-context:

* 2016 [pulling grpc-context into a different library](https://github.com/grpc/grpc-java/pull/2226), but still in grpc repo
* 2017 [modularity problems master issue](https://github.com/grpc/grpc-java/issues/2727) including Java 9 modules and also OSGi

[2019-09-29 03:47] adriancole commented on #575
It may also not be obvious why removing it from the api package is important besides bloat. grpc-context is not even an optional dependency. strict dependencies not only cause bloat and pin versions, but they also obscure what apis are actually powering the software.  This means it hides abstraction leaks. For example, you can't tell if an instrumentation site requires grpc-context or not by looki

[2019-09-29 03:56] adriancole opened #576 "opentelemetry-sdk has toxic dependencies"
opentelemetry-sdk is aimed to be the highest point of re-use, fulfilling the uniform implementation promise formerly promised by census, while opentelemetry-api aims to forward the promises made by OpenTracing. However, it includes some dependencies which will certainly create conflicts in applications and pin versions. While #575 is the most important to watch,  `opentelemetry-sdk` is an empty pr

[2019-09-29 03:56] adriancole commented on #575
See also #576 as the SDK package is far worse

[2019-09-29 15:56] bogdandrutu commented on #576
* Guava starting with version 20 made good progress in keeping backwards compatibility, but I do agree before was chaos.
* The annotation artifacts (auto, errorprone, jsr) should be made "comipleOnly" - see https://github.com/open-telemetry/opentelemetry-java/pull/577
* Protobuf will be removed after https://github.com/open-telemetry/opentelemetry-java/issues/557.

So I think this issue will be cl

[2019-09-30 00:17] adriancole commented on #576
Thanks for looking into this Bogdan. It is true that inside applications that can move their dependencies forward, that going guava 20+ will help avoid known compat problems. This is an instrumentation library, though. You can't make such assumptions. For example, this supports Java 7 runtime. It is asymmetric to suggest all apps are going to have compatible versions of guava.

If you desire to ke

[2019-10-02 01:49] jkwatson opened #585 "Clean up the thread-safety/synchronization in RecordEventsReadableSpan class"
Since we're publishing a library for the SDK, we should be extra careful about how we implement synchronization. Currently, we use `synchronized(this)` for all synchronization, which can lead to potential deadlocks if external calls decide to synchronize on a `ReadableSpan` instance.

We should clean up the thread-safety model in this class, either using a private lock `Object` instance, or implem

[2019-10-02 18:03] songy23 commented on #347
This is already done as part of https://github.com/open-telemetry/opentelemetry-java/pull/336/files#diff-9cb90b7f1ecf8f5be35e2e769b18936bR35.

[2019-10-02 18:03] #347 closed

[2019-10-04 10:06] z1c0 opened #588 "Implement "Named Meters""
The "Named Tracers and Meters" RFC (https://github.com/open-telemetry/oteps/blob/master/text/0016-named-tracers.md) has been approved and was added to the specification (open-telemetry/opentelemetry-specification#264).

OpenTelemetry language repositories now need to implement this mechanisms.

Please make sure to also update the documentation if necessary (tracer, meter creation).

This issue is

[2019-10-04 16:37] #562 closed

[2019-10-04 16:57] jkwatson commented on #520
This will also be very useful for self-contained example applications, so we don't require any other back-end to accept the data.

[2019-10-05 01:52] jkwatson commented on #552
A configuration use-case: User is building an AWS lambda and wishes to monitor it with opentelemetry traces and metrics.

[2019-10-05 02:34] bogdandrutu opened #589 "Move sdk_contrib/inmemory_export to exporters/inmemory"

[2019-10-05 04:02] jkwatson opened #590 "Clean up TimestampConverter implementation"
We should remove the protobuf portions of it, and keep it clean and lean.

[2019-10-05 04:25] jkwatson opened #591 "Move TraceProtoUtils to a commonly available export module"
Something like an `exporters/otproto` module which can be used by multiple exporters that convert to protobufs.

[2019-10-05 04:39] #557 closed

[2019-10-08 20:41] jkwatson opened #594 "OpenTracing shim throws an IllegalArgumentException when an incoming request has no traceparent header"
I believe, from the javadoc on the OpenTracing `Tracer.extract()` method, it should return a null when there is no context, rather than throwing an exception:

[code]

For example, when using the specialagent with the shim provided as the tracer, we get this on a bare http request:

[code]

[2019-10-10 17:03] #520 closed

[2019-10-10 19:07] carlosalberto commented on #536
Hey @kbrockhoff

Sorry for the late answer - so I went and check our exporters, and couldn't reproduce this. Also, I went through the code - `InMemorySpanExporter`, `DisruptorAsyncSpanProcessor`, `BatchSpansProcessor` do not even have a reference to their parent `Tracer`, so this shouldn't be possible.

However, let me know if you still have a test case - maybe there's something indirectly (involu

[2019-10-10 19:10] carlosalberto commented on #536
(Unless you are talking about `InMemoryTracing` and its `shutdown()` method, which indeed closes its `Tracer`. Let me know if this is the case, as this is the expected behavior, and it would mean we need to expand the docs for it ;) )

[2019-10-10 19:40] carlosalberto commented on #485
This is now done ;)

[2019-10-10 19:40] #485 closed

[2019-10-11 03:56] #589 closed

[2019-10-11 17:05] jkwatson opened #605 "Distributed Tracing is not currently fully implemented."
We took the open tracing special agent demo application (reference here: https://github.com/opentracing-contrib/java-specialagent-demo) and wired up an opentelemetry tracer with the OT shim. When using the demo app, we see this when trying to submit an order:

[code]

[2019-10-11 20:22] bogdandrutu opened #609 "Add tests for TraceProtoUtils.toProtoTimestamp"

[2019-10-11 22:50] #591 closed

[2019-10-11 23:09] #576 closed

[2019-10-12 14:40] kbrockhoff commented on #536
I am talking about the shutdown() method. Since this is working as designed, expanding the docs is the solution.

[2019-10-14 15:44] #605 closed

[2019-10-14 20:37] KrzysztofKowalczyk commented on #457
Can I suggest adding a standard JSON format definition and potentially consider standard JSON exporter?

Many organisation have existing infrastructure to collect logs in ELK, Splunk or other. It is sometimes hard to introduce another sidecar/agent/collector talking in another protocol to another service. Also those tools in future could recognise standard Open Telemetry data, store them in effici

[2019-10-16 15:36] jkwatson opened #617 "Add library resources to named tracers in the SDK"
See this portion of the spec: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-tracing.md#tracer-creation

The instrumentation name/version should be captured via a LibraryResource on spans, and available to exporters.

[2019-10-23 01:12] #590 closed

[2019-10-23 01:13] bogdandrutu commented on #573
Duplicate with other more granular issues.

[2019-10-23 01:13] #573 closed

[2019-10-24 15:21] bogdandrutu opened #628 "Consider to change SpanContext to use autovalue"

[2019-10-24 18:06] bogdandrutu opened #629 "Revisit the way we create Spans in tests with a configured Sampler"
For more details see https://github.com/open-telemetry/opentelemetry-java/pull/625#discussion_r338352615

[2019-10-24 23:22] #533 closed

[2019-10-24 23:23] bogdandrutu commented on #551
Resource was moved to the SDK. Probably worth closing this and opening another issue that is related to the SDK.

[2019-10-25 16:37] bogdandrutu opened #633 "SDK must use provided timestamps for start/end/events."

[2019-10-28 00:25] ptravers commented on #588
@z1c0 Would this be a reasonable first contribution? If so I would like to pick up this issue.

[2019-10-28 07:26] z1c0 commented on #588
@ptravers Sure, that would be really helpful!
AFAIK this would be the first implementation of "Named Meters" - so if have questions or input on the specification, please bring those up.

[2019-10-28 17:37] bogdandrutu opened #642 "Clean logic in RandomIdsGenerator."
Context: https://github.com/open-telemetry/opentelemetry-java/pull/640/files#r339639316

[2019-10-28 20:14] #633 closed

[2019-10-28 20:48] bogdandrutu commented on #515
@pavolloffay Happy to see a PR to build Java 11 :)

[2019-10-28 22:40] ptravers commented on #588
Awesome cheers!

[2019-10-28 23:24] #545 closed

[2019-10-28 23:25] bogdandrutu commented on #521
We do have a duration exposed in the SDK but not in the API, is that enough to cover all your use-cases?

[2019-10-28 23:26] bogdandrutu commented on #146
Duplicate https://github.com/open-telemetry/opentelemetry-java/issues/531

[2019-10-28 23:26] #146 closed

[2019-10-28 23:27] bogdandrutu commented on #32
We do have a shutdown method on the SDK. I think the shutdown belongs to the implementation that is used.

[2019-10-28 23:27] #32 closed

[2019-10-28 23:28] bogdandrutu commented on #225
This is already implemented and we support custom start/end/events timestamps.

[2019-10-28 23:28] #225 closed

[2019-10-28 23:29] #235 closed

[2019-10-28 23:29] bogdandrutu commented on #421
Obsolete

[2019-10-28 23:29] #421 closed

[2019-10-28 23:33] bogdandrutu commented on #551
@jkwatson do we still need this issue, if yes please explain what is left

[2019-10-29 02:31] jkwatson commented on #551
yeah, let's close this. The issue is now in the SDK, rather than the API.

[2019-10-29 02:31] #551 closed

[2019-10-29 02:51] #609 closed

[2019-10-29 13:00] kbrockhoff commented on #521
My objective is to have the duration recorded for the span exactly match the duration pushed to the metrics system. The change to end span which enables passing in the end timestamp provides a solution. The process is to record a timestamp, pass it to end span and then subtract the captured start timestamp to calculate the duration to record a measurement for.

Fixed by #571

[2019-10-29 13:01] kbrockhoff commented on #518
I agree

[2019-10-29 16:19] arminru opened #650 "Adapt tests to use TracerFactory rather than public TracerSdk ctor"
Follow-up from #632 and #641

https://github.com/open-telemetry/opentelemetry-java/blob/ce1cd9c3bd740017e72e1c6896688e4031543113/sdk/src/main/java/io/opentelemetry/sdk/trace/TracerSdk.java#L37-L40